@charset "utf-8";

.checkout .step-title .edit:hover,.nearby-self-pickup .pickup-title .no-fare-arr:hover,.nearby-self-pickup .show-all a:hover,.new-user .delivery-way-bd a.no-fare:hover {
	text-decoration: none
}

.label-tips {
	position: fixed;
	left: 50%;
	margin-left: -56px;
	top: 50%;
	margin-top: -12px;
	width: 112px;
	height: 24px;
	border: 1px solid #ffb84c;
	box-shadow: 2px 2px 3px #eee;
	line-height: 24px;
	text-align: center;
	z-index: 10;
	background-color: #fff5e5
}

.checkout {
	margin-bottom: 40px
}

.m-date-input {
	padding: 4px 20px 2px 1px;
	background-position: 130px -108px
}

input.on {
	padding: 3px 20px 3px 0;
	background-position: 129px -109px
}

.checkout .step {
	margin-bottom: 10px
}

.checkout .step-title {
	height: 36px;
	overflow: hidden
}

.checkout .step-title b {
	font: 700 16px/36px "Microsoft YaHei";
	color: #221814
}

.checkout .step-title .edit {
	margin-left: 10px;
	padding-top: 11px
}

.checkout .step-content {
	padding: 20px;
	background-color: #fff;
	border: 1px solid #e0e0e0
}

.checkout .step-current .step-content {
	padding: 20px 17px
}

.checkout .step-btn {
	padding-left: 20px
}

.checkout .step-current .step-btn {
	padding-left: 17px
}

.yellow-info-box {
	float: left;
	border: 1px solid #F90;
	padding: 0 10px;
	background: #FFF;
	line-height: 24px
}

.yellow-info-box .tip-icon {
	float: left;
	margin: 4px 10px 0 0
}

.yellow-info-box a {
	color: #2272c8
}

.w100 {
	width: 100%
}

.left-tip-r1 {
	position: relative;
	display: inline-block
}

.left-tip-r1 i {
	display: inline-block;
	position: relative;
	z-index: 1;
	margin-right: -6px;
	width: 10px;
	height: 26px;
	background: url(../images/cart2-icon.png?v=67b125c2b22d9098e1bfe992c42f45b0) -62px -74px no-repeat;
	+margin-right: -3px
}

.left-tip-r1 span {
	display: inline-block;
	padding: 0 10px;
	width: auto;
	height: 24px;
	line-height: 24px;
	border: 1px solid #FC6;
	border-left: none;
	background: #fefef2;
	vertical-align: top
}

.cart-table .second-column,.cart-table .second-one-column {
	border-right: 1px solid #ebeae6;
	border-left: 1px solid #ebeae6
}

.ui-tooltip-left .ui-tooltip-arrow-front,.ui-tooltip-right .ui-tooltip-arrow-front,.ui-tooltip-top .ui-tooltip-arrow-front {
	color: ivory
}

.ui-tooltip-arrow-back {
	color: #FC6
}

.new-user .step-content {
	padding: 0 0 20px
}

.new-user .content-title {
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	font-weight: 700;
	background-color: #f8f8f8;
	border-bottom: 1px solid #e0e0e0
}

.address-container {
	position: relative
}

.step-current .new-user .step-content {
	padding: 30px 17px 15px
}

.new-user .delivery-item-title {
	height: 40px;
	padding-left: 80px;
	margin-bottom: 2px;
	line-height: 40px
}

.new-user .delivery-way-hd {
	margin-right: 11px
}

.new-user .delivery-way-bd {
	margin-right: 10px;
	cursor: pointer
}

.new-user .delivery-way-bd .cart-radio {
	position: relative;
	margin: 13px 5px 0 0
}

.new-user .delivery-way-bd .no-fare {
	margin-left: 5px;
	padding: 0 1px;
	background-color: #F90;
	color: #fff;
	font-family: arial,tahoma,\5b8b\4f53
}

.new-user .delivery-way-bd .tip-icon {
	margin: -2px 0 0 5px;
	vertical-align: middle
}

.new-user .delivery-way-checked .cart-radio label {
	background-position: 0 -81px
}

.new-user dt {
	transition: background .6s ease
}

.new-user .delivery-item-title input {
	float: left;
	height: 13px;
	margin: 12px 10px 0 0;
	margin: 11px 10px 0 0\9
}

.new-user .delivery-item-title label {
	float: left;
	width: 85px
}

.new-user .delivery-item-desc {
	color: #999
}

.new-user .delivery-item-selected .delivery-item-desc {
	display: none
}

.new-user .delivery-item-content {
	padding-left: 67px
}

.new-user .save-addr {
	width: 810px;
	padding-left: 162px
}

.root1200 .new-user .save-addr {
	width: 990px
}

.m-lion-dialog .new-user .save-addr,.root1200 .m-lion-dialog .new-user .save-addr {
	width: 548px
}

.new-user .save-addr a {
	display: inline-block;
	width: 62px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-family: "microsfot yahei";
	text-align: center
}

.new-user .save-addr .save-loading {
	width: 106px;
	height: 29px;
	line-height: 28px;
	text-align: center;
	background-color: #eee;
	color: #bbb;
	font-size: 12px;
	font-family: simsun
}

.new-user .save-addr .save-loading b {
	display: inline-block;
	width: 18px;
	height: 22px;
	background: url(../images/loading.gif?v=785ad4e90e688ed84047261268e239ec) 0 4px no-repeat;
	vertical-align: top;
	*vertical-align: middle;
	margin: 1px 8px 0 4px
}

.new-user .save-addr .tip-icon {
	margin-right: 4px;
	vertical-align: middle
}

.address-form .row {
	line-height: 26px;
	padding: 4px 0;
	border: 1px solid #FFF;
	margin-bottom: 2px
}

.address-form .label {
	float: left;
	width: 84px;
	height: 26px;
	margin-right: 11px;
	line-height: 26px;
	text-align: right
}

.address-form .label em,.delivery-way-hd span em {
	margin-right: 2px;
	color: #D00;
	font-family: sans-serif
}

.address-form .row .cart-checkbox {
	width: auto;
	height: 26px;
	margin: 0 5px 0 0
}

.address-form .row .cart-checkbox label {
	width: auto;
	height: 26px;
	background: 0;
	line-height: 26px
}

.address-form .row .cart-checkbox label .check-icon {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 5px 5px 0 0;
	vertical-align: middle
}

.m-lion-dialog .save-addr {
	font-family: simsun
}

.m-lion-dialog .address-form .row .cart-checkbox label .check-icon {
	margin-top: -2px
}

.ie6 .m-lion-dialog .address-form .row .cart-checkbox label .check-icon {
	margin-top: 0
}

.ie6 .m-lion-dialog .address-form .row .cart-checkbox label .span {
	line-height: 26px
}

.address-form .field {
	float: left;
	width: 810px
}

.root1200 .address-form .field {
	width: 990px
}

.m-lion-dialog .address-form .field,.root1200 .m-lion-dialog .address-form .field {
	width: 548px
}

.delivery-way-hd span em {
	margin-right: 5px
}

.address-form .address-txt {
	float: left;
	margin-right: 10px;
	line-height: 26px;
	overflow: hidden
}

.address-form .ui-text {
	display: inline-block;
	width: 148px;
	margin-right: 10px;
	padding: 5px 10px;
	text-align: left;
	vertical-align: middle
}

.address-form .detial-address {
	width: 364px
}

.address-form .tip-address-message,.address-form .tip-message {
	display: inline-block;
	line-height: 26px;
	color: #333
}

.address-form .tip-address-message .tip-icon,.address-form .tip-message .tip-icon {
	margin: -3px 5px 0 0;
	vertical-align: middle
}

.address-form .field-tip {
	display: inline-block
}

.address-form .addr-sel {
	margin-top: 4px
}

.address-form .tel .field em {
	margin: 0 2px;
	font-family: sans-serif;
	line-height: 26px
}

.address-form .area-number {
	width: 45px
}

.address-form .ext-number,.address-form .tel-number {
	width: 98px
}

.address-form .area-number,.address-form .tel-number {
	margin-right: 0
}

.address-form .citySelect .cityboxbtn {
	height: 24px;
	line-height: 24px
}

.address-form .citySelect .cityboxbtn b {
	top: 7px
}

.address-form .field .field-tip .tip-icon {
	margin: -3px 5px 0 0;
	vertical-align: middle
}

.address-form .address-input-box {
	height: auto
}

.address-form .citySelect {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle
}

.ie6 .address-form .citySelect,.ie7 .address-form .citySelect {
	display: inline
}

.address-finish {
	padding-bottom: 0
}

.address-finish .step-content {
	padding: 10px 19px;
	line-height: 20px
}

.address-finish .addr-list {
	position: relative;
	width: 950px;
	padding-top: 12px;
	overflow: hidden;
	height: 114px
}

.root1200 .address-finish .addr-list {
	width: 1150px
}

.address-finish .addr-list ul {
	width: 970px
}

.root1200 .address-finish .addr-list ul {
	width: 1170px
}

.address-finish .addr {
	position: relative;
	display: inline;
	float: left;
	width: 187px;
	height: 92px;
	margin: 0 20px 2px 0;
	background: url(../images/addr.png?v=9c4840116448399c3cfcb98850ed0015) no-repeat;
	padding: 4px 21px 14px 14px;
	cursor: pointer
}

.address-finish .addr-self-top {
	margin-top: 12px
}

.root1200 .address-finish .addr {
	margin: 0 10px 10px 0
}

.root1200 .address-finish .addr-self-top {
	margin-top: 12px
}

.address-finish .add-addr {
	background: url(../images/add-addr.png?v=695a4fa6e0de163acf981e3f468afb8f) no-repeat
}

.address-finish .add-addr .add-addr-text {
	position: absolute;
	left: 0;
	top: 55px;
	padding-left: 68px;
	text-align: center;
	color: #999
}

.address-finish .addr-cur,.address-finish .addr-selected {
	background: url(../images/addr-cur.png?v=311ff21b63eb2118fbd0b7ba75fe128f) no-repeat
}

.address-finish .inner {
	position: relative;
	width: 187px;
	height: 100px;
	overflow: hidden;
	z-index: 3
}

.address-finish .addr .addr-hd {
	width: 100%;
	border-bottom: 1px dashed #e8e8e8;
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.address-finish .addr .addr-hd span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.address-finish .addr .addr-hd .name {
	width: 50px
}

.address-finish .addr .addr-bd {
	height: 44px;
	line-height: 22px;
	padding-top: 3px;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word
}

.address-finish .addr-cur a.del {
	position: absolute;
	right: 4px;
	top: 4px;
	width: 18px;
	height: 18px;
	background: url(../images/cart2.png?v=cf026710dead1015ff4a21559ecf63bf) -26px -19px no-repeat;
	font-size: 0
}

.address-finish .addr-selected .selected {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 23px;
	height: 23px;
	background: url(../images/cart2.png?v=cf026710dead1015ff4a21559ecf63bf) no-repeat
}

.address-finish .addr .addr-flag {
	position: absolute;
	left: 0;
	top: -12px;
	width: 76px;
	height: 32px;
	background: url(../images/cart2.png?v=cf026710dead1015ff4a21559ecf63bf) -44px 0 no-repeat;
	color: #fff;
	text-align: center;
	line-height: 16px
}

.address-finish .addr-cur .addr-flag,.address-finish .addr-selected .addr-flag {
	background-position: -44px -34px
}

.address-finish .addr .addr-opt a {
	display: none
}

.address-finish .addr .addr-opt .default-addr,.address-finish .addr-cur .addr-opt a {
	float: left;
	display: block;
	margin-left: 10px
}

.address-finish .addr-cur .addr-opt a {
	color: #28E
}

.address-finish .addr-cur .addr-opt a:hover {
	text-decoration: none;
	color: #f60
}

.nearby-self-pickup .pickup-title {
	float: left;
	line-height: 23px
}

.nearby-self-pickup .pickup-title .name {
	font-weight: 700;
	cursor: pointer
}

.nearby-self-pickup .pickup-title .no-fare-arr .plus {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: -2px 10px 0 0;
	background: url(../images/cart2.png?v=cf026710dead1015ff4a21559ecf63bf) -20px -38px no-repeat;
	overflow: hidden;
	vertical-align: middle
}

@-moz-document url-prefix() {
	.nearby-self-pickup .pickup-title .no-fare-arr .plus {
		margin-top: -1px
	}
}

.ie6 .nearby-self-pickup .pickup-title .no-fare-arr .plus {
	height: 34px;
	background-position: -20px -30px
}

.nearby-self-pickup .pickup-title .no-fare-arr span {
	background-color: #F90;
	color: #fff;
	padding: 1px
}

.nearby-self-pickup .pickup-title .pickup-info {
	color: #999;
	margin-left: 8px
}

.nearby-self-pickup .pickup-title .pickup-info .arr {
	padding: 0 5px;
	color: #ccc;
	font-family: \5b8b\4f53
}

.nearby-self-pickup .show-all {
	float: right;
	line-height: 23px
}

.nearby-self-pickup .show-all a {
	color: #28E
}

.nearby-self-pickup .show-all a:hover {
	color: #f60
}

.update-loading {
	float: left;
	height: 18px;
	border: 1px solid #ffb84c;
	padding: 4px 8px 4px 32px;
	background: url(../images/loading.gif?v=785ad4e90e688ed84047261268e239ec) 8px 4px no-repeat #FFF;
	line-height: 18px
}

.step-btn .error-message {
	float: left;
	height: 28px;
	line-height: 28px
}

.step-btn .error-message .tip-icon {
	margin: -3px 5px 0 0;
	vertical-align: middle
}

.ie6 .step-btn .error-message .tip-icon,.ie7 .step-btn .error-message .tip-icon {
	margin: 5px 5px 0 0;
	vertical-align: middle
}

.dialog-error-box table {
	margin: 0 auto
}

.dialog-error-box .text {
	height: 56px;
	margin-top: 25px;
	padding-left: 78px;
	background: url(../images/cart2-icon.png?v=67b125c2b22d9098e1bfe992c42f45b0) 0 -20px no-repeat;
	line-height: 56px
}

.dialog-error-box .close {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 12px;
	height: 12px;
	background: url(../images/cart2-icon.png?v=67b125c2b22d9098e1bfe992c42f45b0) -14px 0 no-repeat;
	cursor: pointer
}

.step-btn .save-coupon-btn {
	float: left;
	width: 88px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	text-align: center;
	font-family: "Microsoft YaHei"
}

.payment-container .step-content {
	padding: 19px 0 5px 18px;
	+padding-bottom: 19px;
	_padding-bottom: 19px
}

.payment-container .pay-list {
	position: relative
}

.payment-container .pay-list .ui-tooltip-bottom .ui-tooltip-arrow {
	left: 28px
}

.payment-container .pay-list .tip-product-dom1 {
	margin-left: -6px
}

.payment-container .pay-list .tip-product-dom1 .ui-tooltip-arrow {
	left: 34px
}

.payment-container .pay-list .tip-product-dom2 {
	margin-left: -199px
}

.payment-container .pay-list .tip-product-dom2 .ui-tooltip-arrow {
	left: 227px
}

.payment-container .pay-list .pay-item {
	position: relative;
	float: left;
	width: 178px;
	height: 38px;
	margin-right: 13px;
	margin-bottom: 14px;
	text-align: center;
	border: 1px solid #ddd;
	cursor: pointer
}

.root1200 .payment-container .pay-list .pay-item {
	margin-right: 14px
}

.payment-container .pay-list .pay-item .pay-way {
	font-family: "Microsoft YaHei";
	line-height: 38px;
	font-size: 15px
}

.payment-container .pay-list .pay-complex .pay-way {
	font-size: 12px
}

.payment-container .pay-list .pay-item .pay-way-line {
	display: block;
	height: 18px;
	font-size: 12px;
	line-height: 18px
}

.payment-container .pay-list .pay-hover .pay-way {
	line-height: 36px
}

.payment-container .pay-list .pay-checked .pay-way-line,.payment-container .pay-list .pay-hover .pay-way-line {
	height: 18px;
	line-height: 18px
}

.payment-container .pay-list .pay-item .pay-way-first {
	padding-top: 1px
}

.payment-container .pay-list .pay-checked .pay-way-first,.payment-container .pay-list .pay-hover .pay-way-first {
	padding-top: 0
}

.payment-container .pay-list .pay-checked,.payment-container .pay-list .pay-hover {
	width: 176px;
	height: 36px;
	border: 2px solid #f90;
	line-height: 36px
}

.payment-container .pay-list .pay-checked .pay-way {
	line-height: 36px
}

.payment-container .pay-list .pay-checked .pay-way-line {
	line-height: 18px
}

.payment-container .pay-list .pay-checked .check {
	position: absolute;
	right: 0;
	bottom: 0;
	display: inline-block;
	width: 17px;
	height: 17px;
	overflow: hidden;
	background: url(../images/cart2.png?v=cf026710dead1015ff4a21559ecf63bf) -25px 0 no-repeat
}

.payment-container .pay-list .pay-item .tip-icon {
	display: none;
	position: absolute;
	right: 5px;
	top: 11px;
	cursor: pointer;
	z-index: 3
}

.payment-container .pay-list .tip-shop-dom .ui-tooltip-arrow {
	left: 140px
}

.payment-container .pay-list .short-icon-item .tip-icon {
	right: 10px
}

.payment-container .pay-list .long-icon-item .tip-icon {
	right: 0
}

.payment-container .pay-list .pay-hover .tip-icon {
	display: block
}

.payment-container .pay-list .pay-info-box {
	padding: 2px 0;
	line-height: normal
}

.payment-container .pay-list .pay-info-box1 {
	width: 356px
}

.payment-container .pay-list .pay-info-box2 {
	width: 446px
}

.payment-container .pay-list .pay-info-box3 {
	width: 154px
}

.payment-container .pay-list .pay-info-box4 {
	width: 406px
}

.payment-container .pay-list .pay-info-box5 {
	width: 332px
}

.payment-container .pay-list .pay-item .ui-tooltip-arrow {
	left: 28px
}

.payment-container .pay-list .pay-item .tip-ui-left-show .ui-tooltip-arrow {
	left: auto;
	right: 6px
}

.ie7 .payment-container .pay-list .pay-hover {
	z-index: 20
}

.ie6 .payment-container .pay-list .pay-hover {
	height: 36px;
	z-index: 20
}

.ie6 .payment-container .pay-list .pay-hover .pay-way {
	line-height: 36px
}

.ie6 .payment-container .pay-list .pay-hover .pay-way-line {
	line-height: 18px
}

.payment-container .weixin {
	display: inline-block;
	margin-right: 6px;
	width: 16px;
	height: 13px;
	background: url(../images/pay-way.png?v=4d19977cc651aaf1e80bf9947aa648a6) no-repeat
}

.payment-container .hebao {
	display: inline-block;
	margin-right: 6px;
	width: 13px;
	height: 13px;
	background: url(../images/pay-way.png?v=4d19977cc651aaf1e80bf9947aa648a6) -18px 0 no-repeat
}

.payment-container .pay-ensure {
	padding-left: 0
}

.view-pro-list .title {
	position: relative;
	height: 28px;
	padding-left: 10px;
	margin-bottom: 10px;
	line-height: 28px
}

.view-pro-list .title .close {
	position: absolute;
	right: 5px;
	top: 6px;
	width: 16px;
	height: 28px;
	background: url(../images/closeSelector.png?v=346161ffe2bd1062a7378512f53c8c72) no-repeat;
	cursor: pointer
}

.view-pro-list ul {
	width: 200px;
	margin: 0 auto
}

.view-pro-list li {
	float: left;
	margin: 0 2px 5px
}

.view-pro-list li img {
	display: block;
	width: 60px;
	height: 60px;
	border: 1px solid #e4e4e4
}

.view-pro-list-body {
	height: 68px;
	overflow: auto
}

.ui-tooltip-flag-view-list {
	margin-top: -20px;
	margin-left: 10px
}

.ui-tooltip-flag-view-list .ui-tooltip-inner {
	padding: 0
}

.ui-tooltip-flag-view-list .ui-tooltip-arrow {
	top: 20px
}

.ui-tooltip-flag-unpay-tip {
	margin-top: -30px;
	margin-left: 85px
}

.ui-tooltip-flag-unpay-tip .ui-tooltip-inner {
	padding: 5px
}

.ui-tooltip-flag-unpay-tip .ui-tooltip-arrow {
	left: 50px
}

.ui-tooltip-finish-view-list .ui-tooltip-inner {
	padding: 0
}

.payment-container .store-shop-step-box {
	display: none;
	position: relative;
	top: -3px;
	padding-bottom: 2px;
	color: #666;
	*top: 0;
	*padding-top: 12px
}

.payment-container-store-tip-show .store-shop-step-box {
	display: block
}

.payment-container-store-tip-show .step-content {
	*padding-bottom: 12px
}

.payment-container .store-shop-step-box .store-shop-step-icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: -2px 5px 0 0;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) -69px -104px no-repeat;
	vertical-align: middle;
	*margin-top: 0
}

.payment-container .store-shop-step-box .store-shop-step-icon-two {
	background-position: -86px -104px
}

.payment-container .store-shop-step-box .store-shop-step-icon-three {
	background-position: -69px -120px
}

.payment-container .store-shop-step-box .store-shop-step-triangle {
	width: 6px;
	height: 9px;
	margin-left: 5px;
	background-position: -86px -120px
}

.ui-tooltip-inner {
	word-break: break-all
}

.gride .coupon-number span {
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center
}

.goods-info-container {
	margin-top: 10px
}

.goods-info-container .step-content {
	padding: 0;
	border: 0;
	background-color: transparent
}

.store {
	border: 1px solid #DDD;
	border-bottom: 0 none;
	background-color: #FFF
}

.goods-info-container .store-title {
	position: static;
	height: auto;
	border-bottom: 1px solid #e4e4e4;
	line-height: normal
}

.cart-table {
	width: 100%
}

.cart-table .pb10 {
	padding-bottom: 10px
}

.cart-table .first-column {
	width: 308px;
	padding-left: 20px
}

.root1200 .cart-table .first-column {
	width: 488px;
	padding-left: 30px
}

.cart-table .vta-mid {
	vertical-align: middle
}

.cart-table .second-column {
	width: 352px
}

.cart-table .second-one-column {
	width: 176px
}

.cart-table .second-two-column {
	width: 175px;
	border-right: 1px solid #ebeae6
}

.cart-table .store-title .second-column {
	border-left: 0 none;
	border-right: 0 none
}

.cart-table .third-column {
	width: 100px
}

.cart-table .third-column .sn-price {
	display: block;
	word-break: break-all
}

.cart-table .fourth-column {
	width: 72px
}

.cart-table .fifth-column {
	width: 118px;
	padding-right: 16px
}

.root1200 .cart-table .fifth-column {
	width: 118px;
	padding-right: 26px
}

.cart-table .fifth-column,.cart-table .fourth-column,.cart-table .second-column,.cart-table .second-one-column,.cart-table .second-two-column,.cart-table .third-column {
	word-break: break-all
}

.cart-table .store-title .fifth-column,.cart-table .store-title .fourth-column,.cart-table .store-title .second-column,.cart-table .store-title .third-column {
	color: #999;
	font-weight: 400
}

.cart-table .no-border-bottom {
	border-bottom: 0 none
}

.cart-table th {
	height: 40px;
	background: #f8f8f8
}

.cart-table .store-title .ship-price,.cart-table .store-title .store-name {
	line-height: 29px
}

.cart-table td {
	border-bottom: 1px solid #DDD
}

.cart-table .end-bottom-line {
	border-bottom: 0 none
}

.cart-table .end-column-style {
	height: 41px;
	color: #999
}

.cart-table .product-boxes {
	padding: 13px 0 10px
}

.cart-table .first-column .product-box {
	margin: 15px 0 10px
}

.cart-table .group-box .first-column .product-box {
	margin-top: 0
}

.cart-table .first-column .product-box .product-img-box {
	float: left;
	display: block;
	position: relative;
	width: 60px;
	height: 60px
}

.cart-table .first-column .product-box .product-img {
	display: block;
	width: 60px;
	height: 60px;
	overflow: hidden
}

.cart-table .first-column .product-box .product-promo {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 18px;
	background-color: #2abf5c;
	color: #FFF;
	line-height: 18px;
	text-align: center;
	font-family: arial,tahoma,'Microsoft Yahei',\5b8b\4f53
}

.cart-table .first-column .product-title-box {
	margin: 15px 0 12px
}

.cart-table .first-column .product-title-box .product-name {
	padding-left: 10px
}

.cart-table .first-column .product-title {
	width: 37px;
	height: 28px;
	line-height: 28px;
	background-color: #FA0;
	color: #FFF;
	text-align: center
}

.cart-table .product-detail {
	padding-left: 10px;
	font-family: arial
}

.cart-table .product-extra {
	margin-bottom: 7px
}

.cart-table .product-attr,.cart-table .product-name {
	width: 226px;
	height: 18px;
	overflow: hidden;
	word-break: break-all
}

.root1200 .cart-table .product-attr,.root1200 .cart-table .product-name {
	width: 404px
}

.cart-table .product-attr {
	padding-bottom: 4px;
	color: #999
}

.cart-table .tui-content a {
	color: #999
}

.cart-table .tui-content a:hover {
	color: #F60
}

.cart-table .product-extra-content {
	position: relative;
	padding-bottom: 3px;
	color: #666
}

.cart-table .icon-promo,.cart-table .icon-promo-price {
	display: inline-block;
	border: 1px solid #ffddd1;
	color: #ff4000;
	text-align: center
}

.cart-table .product-extra-content .icon-promo {
	position: absolute;
	top: 1px;
	left: 0
}

.cart-table .product-extra-content .pres-name {
	width: 258px;
	height: 18px;
	padding-left: 38px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.root1200 .cart-table .product-extra-content .pres-name {
	width: 438px
}

.cart-table .product-extra-content .pres-name-x {
	padding: 0 4px
}

.cart-table .icon-promo {
	padding: 0 2px;
	height: 14px;
	line-height: 26px;
	background-color: #fff
}

.cart-table .icon-promo-price {
	height: 28px;
	padding: 0 5px;
	background-color: #fff9f5;
	line-height: 16px
}

.cart-table .first-column .tm {
	margin-top: 6px
}

.cart-table .m-date-input {
	border-color: #2272c8
}

.cart-table .m-date-input.on {
	border-color: #F60
}

.c-store .store-title .abroad-store-icon {
	margin-top: 5px
}

.cart-table .no-margin-bottom {
	margin-bottom: 0
}

.cart-table .fifth-column .or-sn-price {
	display: block;
	color: #999;
	text-decoration: line-through
}

.cart-table .td-name .txt-cut {
	display: inline-block;
	max-width: 287px;
	_width: expression(this.clientWidth>287 ? "287px":"auto");
	height: 24px;
	overflow: hidden
}

.cart-table .store-message-box .end-column {
	position: relative;
	height: 83px;
	padding-left: 19px;
	border-right: 1px solid #DDD;
	color: #999
}

.cart-table .store-message-box textarea {
	width: 450px;
	height: 45px;
	padding: 0 5px 5px;
	border: 1px solid #DDD;
	line-height: 20px;
	color: #999
}

.cart-table .store-message-box .end-column .message-length {
	margin: 38px 0 0 10px;
	color: #333
}

.cart-table .store-message-box .end-column .tip-info {
	position: absolute;
	left: 564px;
	top: 12px
}

.cart-table .subsidy-box {
	margin-top: 2px;
	padding-left: 26px;
	text-align: left;
	zoom: 1
}

.cart-table .subsidy-box .cart-checkbox {
	float: none;
	display: inline-block;
	margin: 0;
	vertical-align: middle
}

.ie6 .cart-table .subsidy-box .cart-checkbox,.ie7 .cart-table .subsidy-box .cart-checkbox {
	margin: 4px 4px 0 0
}

.cart-table .subsidy-box .cart-checkbox .check-icon {
	float: none;
	display: block
}

.cart-table .subsidy-box .subsidy-box-promo {
	padding: 2px 4px;
	margin-right: 4px;
	background-color: #2abf5c;
	color: #FFF;
	zoom: 1
}

.ie7 .cart-table .subsidy-box .subsidy-box-promo {
	padding: 0 4px
}

.cart-table .subsidy-box .tip-icon {
	margin-top: -2px;
	vertical-align: middle
}

.cart-table .subsidy-checked .first-column,.coupon-title li a {
	vertical-align: top
}

.cart-table .col-td .subsidy-warning {
	display: none;
	width: 199px;
	height: 46px;
	margin: 4px 0 4px 44px;
	padding: 4px 10px;
	background-color: #faf9f5;
	border: 1px solid #ebeae6;
	line-height: 15px;
	text-align: left;
	*margin: 4px auto;
	*margin-left: 45px
}

.cart-table .subsidy-checked .col-td {
	padding-top: 14px;
	vertical-align: top
}

.ie7 .cart-table .subsidy-checked .col-td {
	padding-top: 14px
}

.ie6 .cart-table .subsidy-checked .col-td {
	padding-top: 12px
}

@-moz-document url-prefix() {
	.cart-table .subsidy-checked .col-td {
		padding-top: 15px
	}
}

.cart-table .group-box-title .col-td-box {
	height: auto
}

.cart-table .col-td-box .fourth-column {
	height: 19px
}

.ie8 .cart-table .col-td-box .third-column {
	height: 19px;
	line-height: 19px
}

.ie8 .cart-table .col-td-box .fifth-column .sn-price {
	display: block;
	height: 19px;
	line-height: 19px
}

.cart-table .group-subsidy-checked .col-td {
	padding-top: 7px
}

.ie7 .cart-table .group-subsidy-checked .col-td {
	padding-top: 6px
}

.ie6 .cart-table .group-subsidy-checked .col-td {
	padding-top: 5px
}

.cart-table .guarantee-box .col-td-box {
	height: auto
}

.cart-table .col-td-box .fifth-column {
	padding-right: 0
}

.subsidy-tooltip-dom {
	width: 636px;
	margin-left: -271px
}

.subsidy-tooltip-dom .ui-tooltip-arrow {
	margin-left: 263px
}

.subsidy-tooltip-dom .subsidy-tip-dom {
	padding: 5px 10px 10px;
	color: #333
}

.subsidy-tooltip-dom .subsidy-tip-blank {
	margin-bottom: 8px;
	color: #333;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	font-family: arial,tahoma,'Microsoft Yahei',\5b8b\4f53
}

.invoice-form .row-line {
	position: relative;
	padding: 4px 0;
	border: 1px solid #FFF;
	margin-bottom: 2px;
	line-height: 26px
}

.invoice-form .row-line .cart-radio {
	margin: 7px 5px 0 0
}

.invoice-form .label {
	height: 26px
}

.invoice-form .ui-text {
	margin-right: 10px
}

.invoice-type dd li {
	position: relative;
	float: left;
	margin-right: 10px;
	cursor: pointer
}

.invoice-type dd li.selected .cart-radio label {
	background-position: 0 -81px
}

.invoice-type dd .no-margin-r {
	margin-right: 0
}

.invoice-type input {
	float: left;
	height: 13px;
	margin: 8px 5px 0 0;
	margin: 7px 5px 0 0\9
}

.invoice-type li label {
	float: left;
	margin-right: 10px;
	line-height: 29px;
	cursor: pointer
}

.invoice-type li label .single-tooltip {
	line-height: 22px
}

.invoice-type li .invoice-tip {
	cursor: pointer
}

.invoice-type .field {
	zoom: 1;
	_margin-left: 140px
}

.invoice-content {
	display: none;
	zoom: 1
}

.invoice-form .save-as-default {
	float: left;
	margin-right: 10px;
	line-height: 26px
}

.invoice-form .checkbox {
	margin-top: 7px;
	margin-top: 7px\9
}

.checkout .invoice-current .step-btn {
	padding: 20px 0 0 150px
}

.invoice-finish .step-content {
	padding: 19px
}

.root1200 .invoice-finish .step-content {
	padding-left: 29px;
	padding-right: 29px
}

.invoice-finish .invoice-finish-content {
	color: #999
}

.invoice-finish .invoice-finish-content span {
	color: #333;
	padding-right: 30px
}

.invoice-form .row {
	height: 26px;
	padding: 4px 0;
	border: 1px solid #FFF;
	margin-bottom: 2px;
	overflow: hidden
}

.invoice-form .label {
	float: left;
	width: 130px;
	margin-right: 5px;
	line-height: 26px;
	text-align: right
}

.invoice-form .row-blank .field {
	padding-top: 7px;
	line-height: normal
}

.ie7 .invoice-form .row-blank .field {
	padding-top: 8px
}

.invoice-form .label em {
	margin-right: 5px;
	color: #D00;
	font-family: sans-serif
}

.invoice-form .taker-info {
	font-size: 14px;
	margin-right: 5px
}

.invoice-form .ui-text {
	float: left;
	width: 144px;
	padding: 5px 10px;
	text-align: left
}

.invoice-form .ui-text-unable {
	background: #DDD;
	border: 1px solid #BBB;
	color: #999
}

.invoice-form .tip-message {
	float: left;
	margin-left: 10px;
	line-height: 26px;
	color: #666
}

.invoice-form .tel .field em {
	float: left;
	margin: 0 2px;
	font-family: sans-serif;
	line-height: 26px
}

.invoice-form .area-number {
	width: 45px
}

.address-form .ext-number,.invoice-form .tel-number {
	width: 98px
}

.step-current .address-container .step-btn {
	padding-left: 135px
}

.invoice-form .error-row .tip-message {
	white-space: nowrap
}

.invoice-form .tip-message .tip-icon {
	float: left;
	margin-top: 5px;
	margin-right: 5px
}

.checkout .gif-card-content .save-gift-card-btn,.invoice-container .save-invoice-btn {
	float: left;
	width: 115px;
	height: 28px;
	font: 700 14px/28px simsun;
	color: #FFF;
	text-align: center
}

.invoice-container .no-invoice-btn {
	background-color: #EEE;
	color: #555;
	border-radius: 3px
}

.invoice-container .no-invoice-btn:hover {
	background-color: #F70;
	color: #FFF;
	text-decoration: none
}

.invoice-form .agreement .cart-checkbox {
	margin: 6px 4px 0 0
}

.save-as-default {
	position: relative
}

.save-as-default .tip-box {
	position: absolute;
	bottom: 25px;
	left: -5px;
	line-height: 30px;
	display: none;
	padding: 0 10px;
	width: 150px;
	border: 1px solid #FC6;
	margin-bottom: 10px;
	background: ivory
}

.save-as-default .tip-box .arrow {
	float: left;
	display: inline;
	padding-right: 6px;
	white-space: nowrap;
	position: absolute;
	bottom: -7px;
	left: 22px;
	z-index: 1;
	overflow: hidden;
	width: 62px;
	height: 7px
}

.save-as-default .tip-box .arrow .b1,.save-as-default .tip-box .arrow .b2 {
	overflow: hidden;
	display: block;
	height: 12px;
	font-size: 12px;
	font-family: SimSun;
	line-height: 12px
}

.save-as-default .tip-box .arrow .b1 {
	z-index: 1;
	margin-top: -5px;
	color: #FC6
}

.save-as-default .tip-box .arrow .b2 {
	position: relative;
	z-index: 12;
	margin-top: -13px;
	padding: 0;
	color: ivory
}

.voicemsg {
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
	margin-left: 20px;
	padding-bottom: 5px;
	width: 586px;
	border: 1px solid #ffdaa2;
	background: #fff3df
}

.voicemsg p {
	margin: 11px 20px 0;
	color: #333;
	word-wrap: break-word;
	line-height: 1.7;
	word-break: break-all
}

.yellow-info-box span {
	float: left
}

.yellow-info-box .second {
	width: 794px;
	margin-left: 60px
}

.invoice-form .mul-section1 {
	float: none;
	padding: 10px 40px;
	margin-bottom: 10px!important
}

.invoice-form .mul-section2 {
	text-indent: 24px
}

.invoice-form .mul-section3 {
	float: none;
	width: 320px;
	padding: 10px;
	margin-left: 136px
}

.invoice-form .mul-section3 dt {
	float: left
}

.invoice-form .mul-section3 dd {
	margin-left: 26px
}

.invoice-form .mul-section4 {
	float: left;
	margin: 5px 10px 0 0
}

.invoice-form .w355 {
	width: 355px
}

.invoice-tip1 .ui-tooltip-arrow {
	margin-left: -159px
}

.invoice-tip2 .ui-tooltip-arrow {
	margin-left: -109px
}

.ml26 {
	margin-left: 26px
}

.coupon-container .toggle-content {
	display: none;
	padding: 10px 0 0 22px
}

.coupon-container .ui-text {
	float: left;
	width: 150px;
	padding: 5px 10px;
	margin-right: 5px;
	text-align: left
}

.ui-tooltip-view-detail .ui-tooltip-arrow-back {
	color: #DDD
}

.gride-head th {
	height: 28px;
	background: #EEE;
	font-weight: 400
}

.coupon-container .toggle-content .cart-checkbox {
	float: none;
	display: block;
	margin: 0 auto
}

.coupon-container .step-content {
	padding: 19px 19px 28px 10px
}

.root1200 .coupon-container .step-content {
	padding-left: 29px;
	padding-right: 29px
}

.add-coupon-form .row {
	height: 26px;
	padding: 4px 4px 4px 10px;
	border: 1px solid #FFF
}

.add-coupon-form .tip-message {
	line-height: 26px;
	color: #666
}

.add-coupon-form .tip-message .tip-icon {
	float: left;
	margin-top: 5px;
	margin-right: 5px
}

.add-coupon-form .error-row .tip-message {
	color: red;
	white-space: nowrap
}

.coupon-container .toggle-title {
	margin-top: 8px;
	height: 16px
}

.coupon-container .toggle-title i {
	float: left;
	width: 12px;
	height: 12px;
	margin: 3px 10px 0 0;
	background: url(../images/toggle-arrow.png?v=d616f320764ba9a41f4af8b8b88caaa6) no-repeat;
	font-size: 0
}

.ie6 .coupon-container .toggle-title i {
	margin-top: 2px
}

.coupon-container .open i {
	background-position: 0 -12px
}

.add-coupon-box .add-coupon-btn .btn {
	height: 18px;
	padding-left: 10px;
	color: #333
}

.add-coupon-box .add-coupon-btn .btn:hover {
	color: #F60
}

.add-coupon-box .add-coupon-btn .icon {
	display: inline-block;
	height: 8px;
	width: 8px;
	padding-left: 4px;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) -9px -112px no-repeat
}

.coupon-title li,.coupon-title ul {
	position: relative;
	height: 33px
}

.ie7 .add-coupon-box .add-coupon-btn .icon {
	background-position: -9px -115px
}

.add-coupon-box .add-coupon-btn .btn-up .icon {
	background-position: 2px -112px
}

.add-coupon-form .label {
	line-height: 26px
}

.coupon-title {
	position: relative;
	border-bottom: 1px solid #DDD;
	margin-bottom: -1px
}

.coupon-title li {
	float: left;
	_display: inline;
	margin-right: -1px
}

.coupon-title li a {
	display: inline-block;
	border: 1px solid #DDD;
	padding: 0 35px;
	line-height: 32px;
	background: #FFF
}

.coupon-title li .selected {
	position: relative;
	border-top: 3px solid #F90;
	height: 31px;
	line-height: 30px;
	border-bottom: 0 none;
	_bottom: -1px
}

.coupon-content {
	clear: both;
	border: 1px solid #DDD;
	border-top: 0 none;
	padding: 10px 15px
}

.coupon-store-title {
	height: 25px;
	padding: 3px 0;
	border-bottom: 1px solid #DDD;
	margin: 1px 0;
	line-height: 24px;
	font-weight: 700
}

.coupon-category-title {
	height: 30px;
	padding-left: 10px;
	line-height: 30px;
	color: #999;
	font-weight: 700
}

.coupon-content .gride td {
	height: 48px;
	line-height: 48px
}

.coupon-content .gride .coupon-store-label td {
	height: 24px;
	line-height: 24px
}

.coupon-content .gride .coupon-category-label td {
	height: 30px;
	line-height: 30px
}

.coupon-content .gride input {
	float: left;
	margin-left: 11px
}

.coupon-content .gride tr.selected td,.coupon-content .hover td {
	background: #fff1da
}

.coupon-content .gride .freeze td {
	background: #fafafa;
	color: #999
}

.coupon-content .gride .freeze .view-detail {
	color: #999;
	cursor: default
}

.coupon-content .gride .freeze .view-detail:hover {
	text-decoration: none
}

.coupon-content .gride .freeze .check-icon {
	background-position: -107px -103px;
	cursor: auto
}

.checkout .coupon-content .step-btn {
	padding: 10px
}

.coupon-finish-list-box .title {
	padding: 0 15px;
	background: #EEE;
	line-height: 30px;
	font-weight: 700
}

.coupon-finish-list-box .title .num {
	margin: 0 5px;
	color: #F70
}

.coupon-finish-list-box .title .promotion-price {
	margin: 0 5px;
	color: #F40
}

.coupon-finish-list-box .title .change {
	margin-left: 40px;
	font-weight: 400
}

.coupon-finish-list-box .title .cancel {
	margin-left: 10px;
	font-weight: 400
}

.cloud-diamond-item .toggle-content {
	margin: 10px 0;
	padding: 10px 10px 10px 22px;
	border: 1px solid #DDD
}

.cloud-diamond-form {
	line-height: 26px;
	height: 26px;
	overflow: hidden
}

.cloud-diamond-form input {
	text-align: right
}

.cloud-diamond-form .btn-ok,.coupon-container .btn-ok {
	float: left;
	width: 50px;
	height: 26px;
	font: 700 14px/26px simsun;
	color: #FFF;
	text-align: center
}

.cloud-diamond-form .cart-btn-disable:hover {
	background-color: #BBB
}

.cloud-diamond-desc {
	padding: 10px 0;
	border-top: 1px solid #EEE
}

.cloud-diamond-desc b,.cloud-diamond-finish b {
	margin: 0 5px
}

.cloud-diamond-desc .total-number,.cloud-diamond-finish .total-number {
	color: #333
}

.add-gift-card-form .row {
	height: 26px;
	padding: 4px 4px 4px 10px;
	border: 1px solid #FFF
}

.add-gift-card-form .tip-message {
	line-height: 26px;
	color: #666
}

.add-gift-card-form .tip-message .tip-icon {
	float: left;
	margin-top: 5px;
	margin-right: 5px
}

.add-gift-card-form .error-row .tip-message {
	color: red;
	white-space: nowrap
}

.add-gift-card-box .add-gift-card-btn-box .btn {
	height: 18px;
	padding-left: 10px;
	color: #333
}

.add-gift-card-box .add-gift-card-btn-box .btn:hover {
	color: #F60
}

.add-gift-card-box .add-gift-card-btn-box .icon {
	display: inline-block;
	height: 8px;
	width: 8px;
	padding-left: 4px;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) -9px -112px no-repeat
}

.ie7 .add-gift-card-box .add-gift-card-btn-box .icon {
	vertical-align: middle
}

.add-gift-card-box .add-gift-card-btn-box .btn-up .icon {
	background-position: 2px -112px
}

.add-gift-card-form .label {
	line-height: 26px
}

.gif-card-content {
	position: relative;
	padding: 10px 15px;
	border: 1px solid #DDD;
	clear: both
}

.gif-card-content table {
	position: relative
}

.gif-card-content .gride td {
	height: 30px;
	line-height: 30px
}

.gif-card-content .gride .checkbox {
	float: left;
	margin-left: 11px
}

.ui-text {
	padding: 4px 10px;
	width: 80px
}

.gif-card-content .gride tr.selected td,.gif-card-content .hover td {
	background: #fff1da
}

.gif-card-content .freeze td {
	background: #fafafa;
	color: #999
}

.gif-card-content .gride .ui-text {
	float: none;
	margin: 0 5px;
	width: 80px
}

.check-valid-code dt {
	float: left;
	width: 100px;
	text-align: right
}

.get-check-btn {
	float: left;
	width: 86px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	font-size: 12px;
	overflow: hidden
}

.check-valid-code .cart-btn-disable:hover {
	background-color: #bbb
}

.ie .get-check-btn {
	line-height: 25px
}

.get-check-btn:hover {
	background-position: 0 -472px;
	color: #333;
	text-decoration: none
}

.get-check-btn-disable,.get-check-btn-disable:hover {
	background-position: 0 -496px;
	color: #999
}

.check-valid-code .phone {
	float: left
}

.check-valid-code {
	overflow: hidden;
	zoom: 1;
	line-height: 22px;
	padding: 5px 0
}

.check-valid-code .label {
	width: 120px
}

.check-valid-code .row {
	height: 28px;
	padding: 4px 4px 4px 10px
}

.check-valid-code .tip-message {
	line-height: 28px;
	color: #333
}

.check-valid-code .tip-message .tip-icon {
	float: left;
	margin-top: 5px;
	margin-right: 5px
}

.check-valid-code .error-row .tip-message {
	white-space: nowrap
}

.check-valid-code .ui-text {
	padding: 4px 10px
}

.checkout .gif-card-content .step-btn {
	padding: 10px
}

.gift-cart-finish-list-box .title {
	padding: 0 15px;
	background: #EEE;
	line-height: 30px;
	font-weight: 700
}

.gift-cart-finish-list-box .title .num {
	margin: 0 5px;
	color: #F70
}

.gift-cart-finish-list-box .title .promotion-price {
	margin: 0 5px;
	color: #F40
}

.gift-cart-finish-list-box .title .change {
	margin-left: 40px;
	font-weight: 400
}

.gift-cart-finish-list-box .title .cancel {
	margin-left: 10px;
	font-weight: 400
}

.other-coupon-item .title .btn {
	height: 18px;
	padding: 0 20px 0 10px;
	background: url(../images/coupon-arrow.png?v=d1dc94c95a311d3c1d08c9525ad1c85a) right 3px no-repeat
}

.union-phone-content {
	border: 1px solid #DDD;
	padding: 10px
}

.other-coupon-item .label {
	line-height: 26px
}

.other-coupon-item .row {
	height: 28px;
	padding: 4px 4px 4px 10px
}

.other-coupon-item .tip-message {
	line-height: 26px;
	color: #333
}

.other-coupon-item .tip-message .tip-icon {
	float: left;
	margin-top: 5px;
	margin-right: 5px
}

.other-coupon-item .error-row .tip-message {
	white-space: nowrap
}

.union-phone-list th {
	height: 32px;
	background: #EEE;
	font-size: 12px;
	font-weight: 400
}

.union-phone-list .gride td {
	height: 30px;
	line-height: 30px
}

.union-phone-list .gride tr.selected td,.union-phone-list .hover td {
	background: #fff1da
}

.union-phone-list .gride .checkbox {
	float: left;
	margin-left: 11px
}

.checkout .union-phone-content .step-btn {
	padding: 10px
}

.union-phone-finish-content .sn-price {
	color: #F40
}

.checkout-promotion .checkout-promotion-item {
	padding: 3px 0;
	color: #999;
	font-family: SimSun
}

.checkout-promotion .checkout-promotion-item .checkBox {
	vertical-align: middle
}

.checkout-promotion .checkout-promotion-item .input-box {
	width: 86px;
	height: 24px;
	margin-right: 4px;
	line-height: 24px;
	text-align: center;
	vertical-align: middle
}

.checkout-promotion .checkout-promotion-item .input-box::-ms-clear {
	display: none
}

.checkout-promotion .checkout-promotion-item .input-box::-ms-reveal {
	display: none
}

.checkout-promotion .checkout-promotion-item .cart-checkbox {
	float: none;
	display: inline-block;
	margin: -2px 6px 0 0
}

.checkout-promotion .checkout-promotion-input-item {
	position: relative
}

.checkout-promotion .checkout-promotion-input-item .ui-input-box {
	left: auto;
	right: 52px
}

.checkout-promotion .sn-price {
	display: inline-block;
	width: 110px;
	font-weight: 700;
	color: #000
}

.checkout-promotion .sn-price-box {
	display: inline-block;
	width: 118px
}

.checkout-promotion .cloud-diamond-can-use {
	width: 156px;
	padding-right: 100px;
	color: #999;
	text-align: center
}

.checkout-bar-box-fix {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 251;
	width: 100%;
	background-color: #FFF;
	border-top: 2px solid #DDD
}

.checkout-bar,.checkout-promotion-input-box,.voi-item {
	position: relative
}

.checkout-bar {
	border: 1px solid #e0e0e0;
	border-top: 0 none;
	padding: 12px 19px;
	background-color: #FFF;
	color: #999;
	font-size: 14px;
	font-family: "Microsoft YaHei"
}

.checkout-bar-box-fix .checkout-bar {
	width: 952px;
	margin: 0 auto;
	border: 0
}

.root1200 .checkout-bar {
	padding-left: 29px;
	padding-right: 29px
}

.root1200 .checkout-bar-box-fix .checkout-bar {
	width: 1132px;
	margin: 0 auto;
	border: 0
}

.checkout-bar .order-address .content {
	width: 476px;
	height: 22px;
	line-height: 22px;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.root1200 .checkout-bar .order-address .content {
	width: 650px
}

.checkout-bar .sum-pay-price .sn-price {
	color: #F40;
	font-size: 22px;
	font-weight: 700
}

.checkout-bar .sum-pay-price {
	margin-top: -2px
}

.checkout-bar .sum-pay-price-sp {
	margin-top: 7px
}

.checkout-bar .capricious-pay {
	margin-top: -7px;
	text-align: right
}

.checkout-submit-btn {
	width: 105px;
	height: 40px;
	margin: 5px 0 0 10px;
	color: #FFF;
	line-height: 40px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	overflow: hidden;
	line-height: 38px\9
}

.ie8 .checkout-submit-btn {
	line-height: 40px
}

.checkout-bar .cart-btn-disable:hover {
	background-color: #BBB;
	cursor: not-allowed
}

.checkout-submit-btn-load {
	display: block;
	width: 113px;
	height: 38px;
	margin-top: 5px;
	border: 1px solid #DDD;
	background: url(../images/loading.gif?v=785ad4e90e688ed84047261268e239ec) 10px center no-repeat #BBB;
	text-align: left;
	border-radius: 2px
}

.checkout-submit-btn-load span {
	padding-left: 35px;
	line-height: 38px;
	font-size: 18px
}

.checkout-submit-btn-load:hover {
	color: #FFF;
	text-decoration: none
}

.checkout-promotion .diamond-check {
	display: none
}

.checkout-promotion-input-box .ui-input-box {
	left: auto;
	right: 52px
}

.ui-tip-checkout-bar-box {
	margin-left: -60px
}

.ui-tip-checkout-bar-box .ui-tooltip-arrow {
	margin-left: 60px
}

.checkout-promotion .other-pay-box {
	color: #333;
	text-align: right
}

.checkout-promotion .other-pay-box .tip-help {
	margin-top: -2px;
	vertical-align: middle;
	cursor: pointer
}

.checkout-promotion .other-pay-box-disable .check-icon {
	background-position: -107px -84px;
	cursor: auto
}

.other-pay-help-tip {
	margin-left: -3px
}

.other-pay-help-tip .ui-tooltip-arrow {
	margin-left: -5px
}

.other-pay-help-tip2 {
	margin-left: -45px
}

.other-pay-help-tip2 .ui-tooltip-arrow {
	margin-left: 37px
}

.other-pay-box .sn-price {
	display: inline;
	width: auto
}

.float-ins,.other-pay-box .hide,.voi-item div.float-ins .spc-col {
	display: none
}

.checkout-promotion .other-pay-box .cart-checkbox {
	margin: -2px 0 0 8px
}

.ie6 .checkout-promotion .other-pay-box .cart-checkbox,.ie7 .checkout-promotion .other-pay-box .cart-checkbox {
	margin: 0 6px 0 8px
}

.other-pay-box-disable .spc-col {
	color: #999
}

.voice-control {
	width: 620px;
	height: auto;
	line-height: 30px
}

.voice-control .tip-warning {
	margin: 7px 5px 0
}

dd .voice-control input.chk {
	margin-right: 0
}

.voi-item {
	float: left;
	margin-bottom: 10px;
	width: 342px;
	height: 28px;
	border: 1px solid #DDD;
	cursor: pointer;
	_overflow: hidden
}

.voi-current,.voi-select {
	width: 340px;
	height: 26px;
	border: 2px solid #F90
}

.voi-item .voi-ipt,.voi-item .voi-ipt-style {
	float: left;
	width: 330px;
	padding: 4px 0;
	background: #FFF;
	border: 0;
	cursor: pointer;
	_float: none;
	_position: absolute;
	_top: 0;
	_left: 0
}

.float-ins {
	_width: 180px
}

.voi-select .float-ins {
	position: absolute;
	right: 0;
	display: block;
	line-height: 24px;
	background: #FFF;
	z-index: 1
}

.voi-select .float-ins a {
	display: none
}

.voi-select .float-ins .ins-ico {
	position: absolute;
	top: 14px;
	right: 0;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../images/small-ico.png?v=e3eebc221b8ee9f396447972f838847d) -100px 0 no-repeat;
	overflow: hidden
}

.voi-hov .float-ins {
	position: absolute;
	right: 0;
	padding-left: 5px;
	display: block;
	line-height: 24px;
	background: #FFF;
	z-index: 1;
	_right: -1px
}

.voi-hov .float-ins a {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	z-index: 1
}

.voi-hov .float-ins span {
	float: left;
	padding-left: 6px;
	white-space: nowrap
}

.voi-hov div.float-ins .spc-col {
	display: block;
	margin-right: 9px;
	color: #9a9a9a;
	width: 48px
}

.voi-add {
	float: left;
	width: 342px;
	border: 1px dashed #DDD;
	text-align: center;
	cursor: pointer;
	_padding: 6px 0
}

.add-hov {
	border-color: #F90;
	color: #F90
}

.voi-add .add-ico {
	position: relative;
	top: 2px;
	margin-right: 5px;
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/small-ico.png?v=e3eebc221b8ee9f396447972f838847d) -119px 0 no-repeat
}

.add-hov .add-ico {
	background-position: -138px 0
}

.voi-showall {
	float: left;
	margin-bottom: 16px;
	width: 340px;
	line-height: 16px
}

.invoice-form .normal-invoice-content {
	height: auto;
	overflow: hidden
}

.invoice-form .invoice-content dd input {
	margin: 0 6px
}

.invoice-form .invoice-content .voice-control input {
	vertical-align: -2px
}

.invoice-form .normal-invoice-content .cart-checkbox {
	width: auto;
	height: auto;
	margin: 2px 10px 0
}

.invoice-form .normal-invoice-content .cart-checkbox .check-icon {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: -2px 4px 0 0;
	vertical-align: middle
}

.invoice-form .normal-invoice-content .cart-checkbox label {
	width: auto;
	height: auto;
	background: 0;
	line-height: 26px
}

.tip-word {
	width: 508px;
	height: 24px;
	margin-top: 15px;
	background-color: ivory;
	border: 1px solid #fc6;
	line-height: 24px;
	color: #333
}

.tip-word .suona {
	display: inline-block;
	width: 16px;
	height: 12px;
	margin: 6px 6px 0;
	background: url(../images/lion-dialog.png?v=438b2da27d375f270c7365c427882990) -82px 0 no-repeat;
	overflow: hidden
}

.tip-word .why-hover .reasons {
	display: block
}

.tip-word .reasons {
	display: none;
	position: absolute;
	top: 31px;
	left: -1px;
	width: 488px;
	height: 72px;
	padding: 7px 10px;
	border: 1px solid #ddd;
	background-color: #fcfcfc
}

.tip-word .reasons p {
	line-height: 18px
}

.tip-word .reasons .ui-tooltip-arrow {
	top: -6px;
	right: 93px
}

.tip-word .reasons .ui-tooltip-arrow .ui-tooltip-arrow-front {
	color: #fcfcfc;
	z-index: 2;
	font: 400 14px/1 simsun
}

.tip-word .reasons .ui-tooltip-arrow .ui-tooltip-arrow-back {
	color: #ddd;
	top: -1px;
	font: 400 14px/1 simsun
}

.tip-word .why-idcard {
	color: #337ccb
}

.idcard-form {
	margin-top: 25px
}

.confirm-row {
	margin-top: 10px;
	line-height: 24px
}

.confirm-row dt {
	float: left;
	width: 156px;
	text-align: right
}

.confirm-row dt em {
	padding-right: 6px;
	color: #f60
}

.confirm-row dd {
	float: left
}

.confirm-row dd input {
	width: 186px;
	padding-left: 10px;
	text-align: left
}

.confirm-row dd .tip-icon-orange {
	display: inline-block;
	width: 16px;
	height: 28px;
	margin-left: 10px;
	margin-right: 6px;
	vertical-align: middle;
	background: url(../images/lion-dialog.png?v=438b2da27d375f270c7365c427882990) -82px -62px no-repeat
}

.address-form .pick-self-box {
	position: relative;
	width: 418px;
	height: 115px;
	padding: 10px 16px 10px 12px;
	background-color: #fff;
	border: 1px solid #ddd;
	overflow-x: hidden;
	overflow-y: auto;
	*width: 433px;
	_width: 445px
}

.address-form .pick-self-box ul {
	position: relative
}

.address-form .pick-self-box li {
	position: relative;
	width: 401px;
	cursor: pointer;
	line-height: 24px
}

.address-form .pick-self-row {
	height: auto
}

.address-form .pick-self-box li .cart-radio {
	position: relative;
	margin: 5px 5px 0 0
}

.address-form .pick-self-box li.selected .cart-radio label {
	background-position: 0 -81px
}

.address-form .pick-self-box li .radio-box {
	float: left;
	width: 13px;
	height: 13px;
	margin-top: 6px;
	margin-right: 5px;
	vertical-align: 0
}

.address-form .pick-self-box li span {
	width: 380px
}

.address-form .pick-self-box li.selected span {
	color: #fa0
}

.address-form .pick-self-box li.cursor {
	background-color: #fffbf2
}

.pick-self-box li.full-disable {
	cursor: default
}

.pick-self-box li.full-disable .cart-radio label {
	background-position: 0 -96px;
	cursor: default
}

.elec,.tip-common-hover-fn-btn {
	cursor: pointer
}

.pick-self-box li.full-disable span {
	color: #999
}

.coupon-item-name {
	padding: 0 10px;
	line-height: 20px
}

.elec {
	position: relative;
	float: left;
	height: 26px;
	width: 198px;
	margin: 0 6px 10px;
	border: 2px solid #F90
}

.elec .voi-ipt-style {
	float: left;
	padding: 4px 0;
	width: 186px;
	background: #fff;
	border: 0;
	cursor: pointer
}

.elec .float-ins .ins-ico {
	position: absolute;
	top: 14px;
	right: 0;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../images/small-ico.png?v=e3eebc221b8ee9f396447972f838847d) -100px 0 no-repeat
}

.elec .float-ins {
	display: block
}

.cart-checkbox {
	position: relative
}

.cart-checkbox .check-icon {
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) 0 -20px
}

.cart-checkbox-checked .check-icon {
	background-position: 0 -36px
}

.single-tooltip .ui-tooltip-inner,.ui-tooltip-inner {
	padding: 4px;
	overflow: hidden
}

.ui-tooltip-top .ui-tooltip-arrow-front {
	top: 0;
	left: 0;
	color: #FFF
}

.ui-tooltip-invoice-tip1,.ui-tooltip-invoice-tip2 {
	background-color: #FFF
}

.ui-tooltip-top .ui-tooltip-arrow-back {
	left: 0
}

.pay-ensure {
	padding-left: 33px
}

.pay-ensure .ensure-desc {
	width: 265px;
	height: 30px;
	line-height: 30px;
	overflow: hidden
}

.pay-ensure .ensure-desc span {
	color: #64b100
}

.pay-ensure .pay-ensure-item {
	position: relative;
	width: 266px;
	height: 144px;
	padding: 0 32px;
	margin-top: 10px;
	overflow: hidden
}

.pay-ensure .ensure-list {
	position: relative;
	width: 266px;
	height: 82px;
	overflow: hidden
}

.pay-ensure .ensure-list ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 999em
}

.pay-ensure .ensure-list li {
	float: left;
	width: 80px;
	height: 80px;
	border: 1px solid #eee;
	margin-right: 10px
}

.pay-ensure .ensure-list li img {
	display: block;
	width: 80px;
	height: 80px
}

.pay-ensure .ensure-sum {
	width: 266px;
	height: 30px;
	line-height: 30px;
	overflow: hidden
}

.pay-ensure .ensure-sum .sn-price em {
	font-weight: 700
}

.pay-ensure .pay-ensure-item .arr {
	display: none;
	position: absolute;
	width: 12px;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	background-image: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241);
	background-repeat: no-repeat;
	text-align: center;
	color: #666;
	line-height: 24px;
	transition: all .4s ease .1s
}

.m-lion-dialog .del-address .ok-btn,.pay-ensure .close {
	height: 26px;
	line-height: 26px
}

.pay-ensure .pay-ensure-item .prev {
	left: 0;
	background-position: -79px -59px
}

.pay-ensure .pay-ensure-item .next {
	right: 0;
	background-position: -93px -59px
}

.pay-ensure .pay-ensure-item a.prev:hover {
	background-position: -79px -81px;
	text-decoration: none
}

.pay-ensure .pay-ensure-item a.next:hover {
	background-position: -93px -81px;
	text-decoration: none
}

.pay-ensure .close {
	display: inline-block;
	width: 75px;
	margin-left: 127px;
	text-align: center
}

.cart2-fail .poor-lion,.ie6 .cart2-fail .poor-lion {
	width: 325px
}

.cart2-fail .tip-opt,.ie6 .cart2-fail .tip-opt {
	width: 250px
}

.m-lion-dialog .del-address .cancel-btn,.m-lion-dialog .del-address .ok-btn {
	display: inline-block;
	width: 67px;
	border-radius: 2px
}

.m-lion-dialog .del-address .cancel-btn {
	height: 24px;
	line-height: 24px;
	border: 1px solid #ddd;
	background-color: #fff;
	color: #333
}

.g-loading {
	position: absolute;
	top: 40%;
	left: 50%;
	width: 280px;
	margin-left: -140px
}

.limit-buy .tips {
	padding: 20px 0
}

.limit-nogoods .return-cart {
	margin-left: 105px
}

.checkout-bar .sum-pay-price {
	text-align: right
}

.checkout-bar .checkout-warning {
	text-align: right;
	color: #F90;
	clear: both
}

.checkout-bar .checkout-warning .tip-warning {
	margin-top: -2px;
	vertical-align: middle
}

.ie6 .checkout-bar .checkout-warning {
	padding-top: 4px
}

.ie6 .checkout-bar .capricious-pay {
	margin-top: 0;
	padding-top: 0
}

.ie7 .checkout-bar .checkout-warning .tip-warning {
	margin-top: 0
}

.cart-table .fifth-column .booking-promo {
	display: inline-block;
	width: 26px;
	height: 14px;
	margin: -2px 3px 0 0;
	background: url(../images/cart2.png?v=cf026710dead1015ff4a21559ecf63bf) -142px -36px no-repeat;
	vertical-align: middle
}

.cart-table .fifth-column .booking-content {
	color: #333;
	font-family: arial,tahoma,SimSun,\5b8b\4f53
}

.checkout-bar-boxes .booking-check-box .cart-checkbox {
	float: none;
	display: inline-block
}

.root1200 .checkout-bar-boxes .booking-check-box .cart-checkbox {
	margin: -1px 6px 0 0
}

.ie7 .root1200 .checkout-bar-boxes .booking-check-box .cart-checkbox {
	margin-top: 2px
}

.checkout-bar-boxes .booking-check-box .cart-checkbox label {
	float: none;
	display: block
}

.checkout-bar-boxes .checkout-float-warning {
	position: absolute;
	right: 29px;
	top: -24px;
	height: 18px;
	padding: 2px 10px;
	border: 1px solid #ffc670;
	color: #221814;
	font-size: 12px;
	font-family: arial,tahoma,SimSun,\5b8b\4f53
}

.ie6 .checkout-bar-boxes .checkout-float-warning {
	background-color: #fff5e5
}

.checkout-bar-boxes .checkout-float-warning .checkout-float-warning-content {
	position: relative;
	z-index: 3
}

.checkout-bar-boxes .checkout-float-warning .checkout-float-warning-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 22px;
	background: #fff5e5;
	filter: alpha(opacity=80);
	opacity: .8
}

.ie6 .checkout-bar-boxes .checkout-float-warning .checkout-float-warning-bg {
	display: none
}

.ie8 .cart-table .col-td-box .fifth-column .booking-content .sn-price {
	display: inline
}

.payment-container .booking-phone-num-box {
	display: none
}

.booking-payment-container-phone-show .booking-phone-num-box {
	display: block
}

.payment-container .booking-phone-num-box .tip-icon {
	margin: -2px 4px 0 0;
	vertical-align: middle
}

.ie6 .payment-container .booking-phone-num-box .tip-warning-16 {
	margin-top: 0
}

.payment-container .booking-phone-num-box .booking-phone-num-reset {
	color: #28E
}

.ie6 .payment-container .booking-phone-num-box .booking-phone-num-reset {
	padding-left: 4px;
	zoom: 1
}

.ie6 .payment-container .booking-phone-num-box .booking-phone-content,.ie6 .payment-container .booking-phone-num-box .booking-phone-num i {
	zoom: 1
}

.payment-container .booking-phone-num-box .booking-phone-num-reset:hover {
	color: #F90;
	text-decoration: none
}

.payment-container .booking-phone-num-box .booking-reset-box {
	display: none
}

.ie6 .payment-container .booking-phone-num-box .booking-reset-box,.ie7 .payment-container .booking-phone-num-box .booking-reset-box {
	vertical-align: middle
}

.payment-container .booking-phone-num-box .booking-enter-num {
	width: 94px;
	height: 18px;
	padding: 0 2px;
	border: 1px solid #F90;
	line-height: 18px;
	color: #333
}

.payment-container .booking-phone-num-box .booking-enter-num::-ms-clear {
	display: none
}

.payment-container .booking-phone-num-box .booking-enter-num::-ms-reveal {
	display: none
}

.payment-container .booking-phone-num-box .reset-warning {
	display: none;
	margin-left: 4px;
	color: red
}

.booking-payment-container .step-content {
	padding-bottom: 19px
}

.booking-payment-container .pay-list .pay-item {
	margin-bottom: 0
}

.booking-payment-container-phone-show .step-content {
	padding-bottom: 13px
}

.booking-payment-container-phone-show .booking-phone-num-box {
	padding-top: 15px
}