.m-date-input {
	width: 130px;
	padding: 4px 25px 2px 6px;
	border: 1px solid #b7b7b7;
	height: 18px;
	line-height: 18px;
	background: url(../images/cart_calender_icon.png?v=9c15ade505b1f8ec9360e918cd5e7c7b) right -108px no-repeat #fff;
	text-align: center;
	text-indent: 0;
	cursor: pointer;
	margin-top: 2px
}

input.on {
	border: 2px solid #F60;
	border-bottom: 0;
	padding: 3px 25px 3px 5px;
	position: relative;
	z-index: 2;
	background-position: right -109px;
	margin-right: -1px
}

input.on:focus {
	box-shadow: none
}

.cart-calendar-box {
	border: 2px solid #F60;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 35px;
	z-index: 1;
	width: 550px;
	background: #fff
}

.cart-calendar-box .item_select .top,.cart-calendar-box .tit_select li {
	background: #EEE;
	text-align: center
}

.cart-calendar-box .tit_select .night {
	padding: 8px 0;
	height: 14px;
	line-height: 14px;
	overflow: hidden
}

.cart-calendar-box .tit_select .night p {
	height: 14px;
	padding-left: 20px;
	background: url(../images/cart_calender_icon.png?v=9c15ade505b1f8ec9360e918cd5e7c7b) 10px -92px no-repeat
}

.cart-calendar-box .tit_select {
	width: 142px;
	margin-right: 1px
}

.cart-calendar-box .item_select {
	margin-right: -2px
}

.cart-calendar-box .item_select .weekend {
	color: #F70
}

.cart-calendar-box .item_select ul {
	float: left;
	width: 50px;
	margin-right: 1px;
	margin-bottom: -1px
}

.cart-calendar-box .item_select li,.cart-calendar-box .tit_select li {
	margin-bottom: 1px
}

.cart-calendar-box .item_select a:hover {
	background: #deecff
}

.cart-calendar-box .item_select .disabled i {
	background-position: 0 -18px
}

.cart-calendar-box .top {
	height: 36px;
	padding: 7px 0;
	line-height: 18px
}

.cart-calendar-box .tit_select .top {
	line-height: 40px
}

.cart-calendar-box li {
	height: 30px;
	line-height: 30px;
	text-align: center
}

.cart-calendar-box li a {
	display: inline-block;
	margin: 0 auto;
	height: 23px;
	padding-top: 7px
}

.cart-calendar-box li a i {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/cart_calender_icon.png?v=9c15ade505b1f8ec9360e918cd5e7c7b) no-repeat;
	margin: 0 auto
}

.cart-calendar-box .item_select .selected a i {
	background-position: 0 -36px
}

.cart-calendar-box .date-type-box {
	margin-bottom: 10px
}

.cart-calendar-box .date-type-box li {
	position: relative;
	float: left;
	margin-right: 10px
}

.cart-calendar-box .date-type-box li i {
	position: absolute;
	overflow: hidden
}

.cart-calendar-box .date-type-box a {
	height: 20px;
	border: 1px solid #DDD;
	padding: 4px 9px;
	line-height: 20px;
	color: #333
}

.cart-calendar-box .date-type-box a:hover {
	border-color: #76abf3;
	background: #f1f7ff;
	text-decoration: none
}

.cart-calendar-box .date-type-box .current a {
	padding: 3px 8px;
	border: 2px solid #F60
}

.cart-calendar-box .date-type-box .current a:hover {
	background: 0
}

.cart-calendar-box .date-type-box .current i {
	width: 11px;
	height: 11px;
	right: 2px;
	bottom: 2px;
	background: url(../images/cart_calender_icon.png?v=9c15ade505b1f8ec9360e918cd5e7c7b) 0 -54px no-repeat
}

.cart-calendar-box .date-type-content {
	padding: 30px 0 40px
}

.cart-calendar-box .date-type-content table {
	margin: 0 auto;
	width: auto;
	min-width: 0
}