@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,textarea,th,td {
	margin: 0;
	padding: 0;
}

body,button,input,select,textarea {
	font: 12px/1.5 arial,tahoma,\5b8b\4f53;
}

body {
	background: #FFF;
	color: #333;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

em,i {
	font-style: normal;
}

fieldset,img {
	border: 0;
}

ul,ol,li {
	list-style: none;
}

button,input,select,textarea {
	font-size: 100%;
	outline: none;
}

textarea {
	resize: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #333;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #F60;
	text-decoration: underline;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.hide {
	display: none;
}

img.err-product {
	background: url../images/blankbg.gif) no-repeat 50% 50%;
}

.wrapper {
	width: 990px;
	min-width: 990px;
	margin: 0 auto;
}

.l {
	float: left;
}

.r {
	float: right;
}

.mt10 {
	margin-top: 10px!important;
}

.mr10 {
	margin-right: 10px!important;
}

.mb10 {
	margin-bottom: 10px!important;
}

.ml10 {
	margin-left: 10px!important;
}

.w1190 {
	width: 1190px;
	margin: 0 auto 10px;
	min-width: 1190px;
}

#floorWarp {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.g-footer {
	background: #FFF;
	margin-top: 18px;
}

.g-footer .serverbox {
	clear: both;
	width: 100%;
	min-width: 990px;
	border-top: 1px solid #E5E5E5;
	background-color: #E7E6E5;
}

.g-footer .sn-server {
	width: 990px;
	height: 190px;
	margin: 0 auto;
	overflow: hidden;
}

.g-footer .sn-server .serverlist {
	float: left;
	margin-top: 15px;
}

.g-footer .sn-server .serverlist dl {
	display: inline;
	float: left;
	margin: 0 40px 0 40px;
}

.g-footer .sn-server .serverlist dl dt {
	padding-bottom: 7px;
	color: #333;
	font: 700 14px/1.5 'Microsoft YaHei';
}

.g-footer .sn-server .serverlist dl dd a,.g-footer .sn-server dl dd a:link {
	color: #666;
	line-height: 22px;
}

.g-footer .sn-server .serverlist dl dd a:hover {
	color: #F60;
	text-decoration: underline;
}

.g-footer .sn-server .otherinfo {
	display: inline;
	float: right;
	height: 175px;
	margin-top: 15px;
}

.g-footer .sn-server dl {
	display: inline;
	float: left;
}

.g-footer .sn-server dl.netserver {
	width: 205px;
}

.g-footer .sn-server dl.netserver dt {
	padding-bottom: 7px;
	color: #333;
	font: 700 14px/1.5 'Microsoft YaHei';
}

.g-footer .sn-server dl.netserver dd {
	color: #666;
	line-height: 22px;
}

.g-footer .sn-server dl.searchsn {
	width: 100px;
	margin: 20px 30px 0 30px;
	overflow: hidden;
}

.g-footer .sn-server dl.searchsn dt a {
	display: block;
	width: 87px;
	height: 87px;
	margin: 0 auto;
	text-indent: -200%;
	overflow: hidden;
}

.g-footer .sn-server dl.searchsn dt a:hover {
	background-position: -139px -163px;
}

.g-footer .sn-server dl.searchsn dd {
	padding-left: 3px;
	margin-top: 5px;
	color: #666;
}

.g-footer .specialbox {
	width: 100%;
	min-width: 990px;
	height: 46px;
	background-color: #3B87EE;
}

.g-footer .sn-specialbox {
	width: 990px;
	margin: 0 auto;
	overflow: hidden;
}

.g-footer .specialbox a {
	display: inline;
	float: left;
	height: 46px;
	text-indent: -200%;
	overflow: hidden;
}

.g-footer .specialbox a.slink1 {
	width: 271px;
	margin-left: 20px;
	background-position: right -253px;
}

.g-footer .specialbox a.slink2 {
	width: 271px;
	margin-left: 44px;
	background-position: right -299px;
}

.g-footer .specialbox a.slink3 {
	width: 320px;
	margin-left: 44px;
	background-position: right -345px;
}

.g-footer .copyrightbox {
	width: 100%;
	min-width: 990px;
	background-color: #FFF;
}

.g-footer .copyrightbox .copyright {
	width: 990px;
	height: 100%;
	margin: 0 auto;
	padding: 15px 0 20px;
}

.g-footer .copyrightbox .copyright .sncompany,.g-footer .copyrightbox .copyright .snlinks,.g-footer .copyrightbox .copyright .rights,.g-footer .copyrightbox .copyright .subfooter {
	text-align: center;
}

.g-footer .copyrightbox .copyright dl dt,.g-footer .copyrightbox .copyright dl dd {
	display: inline;
	line-height: 2em;
}

.g-footer .copyrightbox .copyright dl dt {
	color: #999;
}

.g-footer .copyrightbox .copyright dl dd a,.g-footer .copyrightbox .copyright .snlinks a {
	color: #666;
	line-height: 24px;
}

.g-footer .copyrightbox .copyright dl dd a:hover,.g-footer .copyrightbox .copyright .snlinks a:hover {
	color: #F60;
}

.g-footer .copyrightbox .copyright .rights {
	color: #999;
	line-height: 2em;
}

.g-footer .copyrightbox .copyright .sncompany span,.g-footer .copyrightbox .copyright .snlinks span {
	color: #DDD;
	padding: 0 10px;
}

.g-footer .copyrightbox .copyright .subfooter {
	margin-top: 10px;
}

.g-footer .copyrightbox .copyright .subfooter a {
	padding: 0 10px;
}

.root1200 .wrapper {
	width: 1190px;
}

.root1200 .g-search {
	width: 550px;
	margin: 25px 86px 0 0;
}

.root1200 .g-search .search-keyword {
	width: 434px;
}

.root1200 .g-main-nav {
	width: 969px;
}

.root1200 .g-ac-results {
	width: 442px;
}

.root1200 .g-channel-nav {
	min-width: 1190px;
}

.root1200 .g-footer .serverbox,.root1200 .g-footer .specialbox,.root1200 .g-footer .copyrightbox {
	min-width: 1190px;
}

.root1200 .g-footer .sn-server {
	width: 1190px;
}

.root1200 .g-footer .sn-server .serverlist dl {
	margin: 0 90px 0 40px;
}

.root1200 .g-footer .sn-specialbox {
	width: 1190px;
}

.root1200 .g-footer .specialbox a.slink1 {
	margin-left: 54px;
}

.root1200 .g-footer .specialbox a.slink2 {
	margin-left: 114px;
}

.root1200 .g-footer .specialbox a.slink3 {
	margin-left: 111px;
}

.snActive {
	position: relative;
	background: #ea2340;
	z-index: 10002;
}

.snActive .topWrap {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.snActive img {
	display: block;
}

.snActive a.snImgclose {
	position: absolute;
	left: 450px;
	bottom: -13px;
	_bottom: -17px;
	display: block;
	width: 67px;
	height: 13px;
	cursor: pointer;
	z-index: 10005;
}

.root1200 .snActive .topWrap {
	width: 1190px;
}

.root1200 .snActive a.snImgclose {
	left: 526px;
}

#snSideTools {
	position: fixed;
	_position: absolute;
	width: 44px;
}

#snSideTools li {
	margin-bottom: 5px;
}

#snSideTools li a {
	display: block;
	width: 42px;
	height: 42px;
	border: 1px solid #c6c6c6;
	border-radius: 2px;
}

#snSideTools li a.sntool2 {
	background: #e7e7e7 url(../images/public.sprite.png) no-repeat -200px -200px;
}

#snSideTools li a.sntool3 {
	background: #e7e7e7 url(../images/public.sprite.png) no-repeat -200px -248px;
}

.wrap {
	min-width: 960px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.cart-step-wrap,.cart-step-wrap li {
	background-image: url(../images/cartcom.png?v=20130730);
	background-repeat: no-repeat;
}

.cart-header {
	height: 74px;
	margin: 15px auto 0;
	border-bottom: 3px solid #ff9400;
	position: relative;
	z-index: 0;
}

.snlogo {
	display: inline;
	float: left;
	width: 200px;
	overflow: hidden;
	margin-top: 10px;
}

.cart-header .snlogo {
	margin-top: 0;
}

.snlogo img {
	display: block;
}

.cart-header-msg {
	float: right;
	margin: 42px 0 0 0;
	width: 220px;
	height: 32px;
	line-height: 32px;
	text-align: left;
	color: #f60;
	overflow: hidden;
}

.cart-step-wrap {
	position: absolute;
	left: 50%;
	margin-left: -235px;
	bottom: 0;
	cursor: default;
	float: left;
	width: auto;
	padding: 0 26px 0 0;
	overflow: hidden;
	background-position: right 0;
}

.cart-step-wrap li {
	display: block;
	float: left;
	padding-left: 26px;
	background-position: 0 -75px;
}

.cart-step-wrap .I {
	background-position: 0 -147px;
}

.cart-step-wrap strong {
	text-shadow: #fff 0 1px 0;
	display: block;
	width: 122px;
	height: 32px;
	line-height: 33px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #333;
	border-top: 1px solid #cdcbcd;
	background-color: #f7f7f7;
}

.cart-step-wrap a {
	color: #333;
}

.cart-step-wrap a:hover {
	color: #f60;
}

.cart-step-wrap strong a,.cart-step-wrap strong a:hover {
	color: #333;
}

.flow-stepI .I strong,.flow-stepII .II strong,.flow-stepIII .III strong {
	text-shadow: none;
	color: #fff;
	border-color: #ff9600;
	background-color: #ff9600;
}

.flow-stepI li {
	background-position: 0 -39px;
}

.flow-stepI .I {
	background-position: 0 -184px;
}

.flow-stepI .III {
	background-position: 0 -75px;
}

.flow-stepII li {
	background-position: 0 -39px;
}

.flow-stepII .II {
	background-position: 0 -111px;
}

.flow-stepIII {
	background-position: right -219px;
}

.flow-stepIII li {
	background-position: -109px -169px;
}

.flow-stepIII .II {
	background-position: 0 -75px;
}

.flow-stepIII .III {
	background-position: 0 -111px;
}

hr {
	border: 1px inset #FFF;
	height: 1px;
	opacity: .3;
	filter: Alpha(opacity=30);
}

.wrapper {
	min-width: 960px;
	width: 960px;
}

.g-main-nav {
	width: 739px;
}

.reports-tline {
	display: none;
}

html {
	color: #000;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	_background-image: none;
	_background-attachment: fixed;
	_overflow-x: hidden;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,address {
	margin: 0;
	padding: 0;
}

article,aside,details,address,footer,header,menu,nav,section {
	display: block;
}

body,button,input,select,textarea {
	font: 12px/1.5 Arial,Tahoma,\5b8b\4f53;
}

input,select,textarea {
	outline: medium none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

::selection {
	background: #369;
	color: #fff;
}

::-moz-selection {
	background: #369;
	color: #fff;
}

::-webkit-selection {
	background: #369;
	color: #fff;
}

::-o-selection {
	background: #369;
	color: #fff;
}

hr {
	border: 1px inset #FFF;
	height: 1px;
	opacity: .3;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

th {
	text-align: inherit;
}

fieldset,img {
	border: 0;
}

li {
	list-style: none;
}

iframe {
	display: block;
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

del {
	text-decoration: line-through;
}

address,caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: 500;
}

ol,ul {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 500;
}

q:before,q:after {
	content: '';
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

a {
	color: #08c;
}

a:hover {
	text-decoration: underline;
}

ins,a {
	text-decoration: none;
}

html a {
	color: #08C;
	outline: medium none;
	transition: color .1s linner 0s;
}

div.prolist ul {
	margin: 20px 0 10px 0;
	zoom: 1;
}

.prolist ul:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.prolist li {
	border: 1px solid #eee;
	padding: 8px 1px 12px 1px;
	box-shadow: 0 2px 3px #fff;
	transition: all .2s ease-in 0s;
}

.prolist li:hover {
	border: 1px solid #D1D1D1;
	box-shadow: 0 2px 3px #D5D5D5;
}

.Vermeil {
	color: #F00;
}

.vhide {
	visibility: hidden;
}

.cf00 {
	color: #f00;
	zoom: 1;
}

.txt-L-7:link,.txt-L-7:visited {
	font-size: 12px;
	color: #08C;
	font-weight: 400;
	font-family: 'verdana';
}

.txt-L-7 font {
	color: #08C;
	font-family: '宋体';
	padding: 0 1px;
}

a.txt-L-7:hover {
	text-decoration: none;
	color: #f60;
}

a.txt-L-7:hover font {
	color: #f60;
	text-decoration: underline;
}

table.tbuto {
	table-layout: inherit;
	min-width: inherit;
	width: inherit;
	+min-width: auto;
	+width: auto;
}

.set2em {
	text-indent: 2em;
	display: inline-block;
}

.set1em {
	text-indent: 1em;
	display: inline-block;
}

.input {
	border: 1px solid #B7B7B7;
	box-shadow: 0 1px #E1E1E1 inset;
	padding: 5px 0 1px 0;
	text-indent: 4px;
	line-height: 18px;
	height: 18px;
}

.input-error {
	border-color: #EE5A5A;
}

.input-success {
	border-color: #50AA50;
}

.input:focus,.input-focus {
	border-color: #0af;
	box-shadow: -1px -1px #eee,1px 1px #eee;
}

.input-disabled,.input-disabled:focus {
	background: none repeat scroll 0 0 #F5F5F5;
	border-color: #DDD;
	box-shadow: 0 1px #E6E6E6 inset,0 2px #ECECEC inset;
}

.input-large {
	height: 18px;
	line-height: 18px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	zoom: 1;
}

.cl {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

img {
	vertical-align: middle;
	transition: all .2s ease-out 0s;
}

em,i {
	font-style: normal;
}

input,select {
	vertical-align: -2px;
}

@media screen and(-webkit-min-device-pixel-ratio:0) {
	* {
		-webkit-text-size-adjust: none;
	}
}

body {
	background: #fff;
}

a {
	outline: medium none;
	-moz-transition: color .2s ease-out 0s;
	-webkit-transition: color .2s ease-out 0s;
	-o-transition: color .2s ease-out 0s;
}

a:hover {
	color: #f60;
}

a:focus {
	outline: none;
}

.pr {
	position: relative;
}

.pa {
	position: absolute;
}

.fl,.fr {
	_display: inline;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.tr {
	text-align: right;
}

.hide {
	display: none;
}

.vta-m {
	vertical-align: middle;
}

a .more {
	font-family: \5b8b\4f53;
}

.yahei {
	font-family: "Microsoft Yahei";
}

.mt15 {
	margin-top: 15px;
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb20 {
	margin-bottom: 20px;
}

.mtb10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mtb15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.pt10 {
	padding-top: 10px;
}

.pt5 {
	padding-top: 5px;
}

.tc {
	text-align: center;
}

.ti10 {
	text-indent: 10px;
}

.mr10 {
	margin-right: 10px;
}

.c0 {
	color: #000;
}

.c3 {
	color: #333;
}

.c6 {
	color: #666;
}

.c9 {
	color: #999;
}

.cr {
	color: #D00;
}

.cb {
	color: #1353af;
}

.cw {
	color: #fff;
}

.co {
	color: #f60;
}

.cg {
	color: #390;
}

.cd00 {
	color: #D00;
}

.f14 {
	font-size: 14px;
}

.f16 {
	font-size: 16px;
}

.fwb {
	font-weight: 700;
}

.wrap,.seller,.attice,.attice-head,.myenjoy,.reports,.prolist,.buydalist,.buyhot,.headwidth,#subFooter {
	min-width: 960px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	overflow: visible;
}

.snPrice {
	color: #D00;
	text-shadow: #f9f9f9 0 1px 0;
}

s.snPrice {
	text-shadow: #f9f9f9 0 0 0;
}

.snPrice i {
	font-weight: 700;
	padding-right: 2px;
	font-weight: 700;
	font-family: Arial;
	font-size: 12px;
}

.snPrice em {
	font-weight: 700;
	font-family: Tahoma;
	font-size: 12px;
}

q.snPrice i,q.snPrice em {
	font-size: 12px;
	font-weight: 400;
}

img.err-product {
	background: url../images/blankbg.gif) no-repeat 50% 50%;
}

.cart-sprites,.carTip i,.attice td .shopsun,.ui-tip-b01 {
	background-image: url(../images/CartSprites.png?v=20140402);
	background-repeat: no-repeat;
}

.seller {
	padding: 6px 0 7px;
	text-indent: 15px;
	height: 20px;
	line-height: 20px;
	color: #333;
	border: 1px solid #d9d9d9;
	background: #f6f6f6;
	z-index: 0;
	zoom: 1;
	overflow: hidden;
}

.seller:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.seller input {
	vertical-align: -3px;
	*vertical-align: -2px;
	margin-right: 5px;
	cursor: pointer;
}

.seller strong {
	margin-right: 15px;
	position: relative;
	top: 0;
	*top: 1px;
	_top: 3px;
	text-shadow: #fff 0 1px 0;
	zoom: 1;
	overflow: hidden;
}

.seller-details {
	position: relative;
	top: 1px;
	*top: 2px;
	display: inline;
	float: right;
	font-size: 12px;
	font-weight: normal;
	text-shadow: 0 1px 0 #FFF;
}

a.tm {
	display: inline-block;
	text-decoration: none;
	height: 21px;
	padding: 0 0 0 8px;
	line-height: 21px;
	background: #ff9123;
	white-space: nowrap;
	zoom: 1;
	background: url(../images/askBar.gif?v=20130709) 0 3px no-repeat;
}

a.tm,a.tm span {
	text-decoration: none;
	color: #08c;
}

a.tm:hover span {
	text-decoration: underline;
	color: #f60;
}

a.tm span {
	position: relative;
	top: 1px;
	*top: 2px;
}

div.ui-tipbox {
	cursor: default;
	display: inline-block;
	border: none 0;
	height: 26px;
	left: -22px;
	position: absolute;
	background-color: transparent;
	top: inherit;
	bottom: 42px;
	z-index: 2;
}

.ico-loading .ui-tipcont {
	text-indent: 2em;
}

.ico-loading blockquote.ico-proxy {
	background-image: url("images/loading.gif");
	background-repeat: no-repeat;
	background-position: 10px 7px;
}

.input-cbx s,.input-cbx dfn {
	width: 14px;
	height: 14px;
	line-height: 14px;
	font-size: 0;
	display: block;
	zoom: 1;
}

.sub-list {
	background: white;
	border: 1px solid #9B9B9B;
	-moz-box-shadow: 1px 1px 2px #ccc;
	-webkit-box-shadow: 1px 1px 2px #CCC;
	box-shadow: 1px 1px 2px #CCC;
	filter: progid:DXImageTransform.Microsoft.Shadow(strength=2,direction=135,color="#cbcbcb") 9;
}

.ui-ico-v {
	display: block;
	width: 34px;
	height: 34px;
	margin-left: 38px;
	overflow: hidden;
	background: url(../images/sprite.gif?v=20130709) no-repeat -560px -210px;
}

.uitext {
	border: 1px solid #ccc;
	color: #333;
}

.uitext.focus,.uitext:focus {
	border-color: #78B9D9;
}

.uitext-h20 {
	padding: 2px 5px 0 5px;
}

.uitext-h38 {
	padding: 10px 2px;
}

.b-s-r-chose {
	position: relative;
	margin-left: -1px;
}

.b-s-r-chose,.b-s-r-chose span {
	height: 22px;
}

.b-s-r-chose span {
	padding-right: 22px;
}

.uiselect-race {
	position: relative;
	z-index: 10;
}

.uiselect-race .b-s-r-chose .uiselect-race-arrow {
	position: absolute;
	width: 10px;
	height: 7px;
	top: 8px;
	right: 7px;
	overflow: hidden;
}

.uiselect-race .b-s-r-chose.up .uiselect-race-arrow {
	background-position: -19px 0;
}

.uiselect-race-list {
	width: 220px;
	padding: 13px 0 1px 18px;
}

.uiselect-race-list li {
	float: left;
	width: 110px;
	height: 29px;
	line-height: 29px;
	color: #333;
}

.uiselect-race-list span {
	display: inline-block;
	width: 54px;
	height: 17px;
	line-height: 16px;
	+line-height: 17px;
	margin: 0 5px 0 4px;
	color: #fff;
	text-align: center;
	overflow: hidden;
}

.uiselect-race-box {
	position: absolute;
	width: 240px;
	top: 22px;
	left: 0;
	padding-bottom: 14px;
	border: 1px solid #C93;
	background-color: #FFFBF2;
	*left: 1px;
}

.uiselect-race-box p {
	padding-top: 6px;
}

.uiselect-race-box .b-t-g {
	margin: 0 6px;
}

.uiselect {
	padding: 2px;
	border: 1px solid #ccc;
}

.ui-text {
	height: 18px;
	padding: 5px 4px;
	border: 1px solid #CCC;
	color: #333;
	line-height: 18px;
}

.ui-text-error {
	border: 1px solid #F55;
}

.ui-text-focus {
	border: 1px solid #0AF;
}

.ui-text-disabled {
	background: #EEE;
}

.ui-tip-b01,.ui-button {
	float: left;
	display: inline;
	text-align: center;
	height: 18px;
	overflow: hidden;
	line-height: 18px;
	color: #333;
	_zoom: 1;
}

.ui-tip-b01:hover,.ui-button:hover {
	color: #f60;
	text-decoration: none;
}

.ui-tip-b01 {
	width: 46px;
	padding: 2px 0;
	background-position: 0 -487px;
}

.ui-tip-b01:hover {
	background-position: 0 -487px;
}

.ui-pop-wrap {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 99999;
}

.ui-pop-full-mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	opacity: .3;
	filter: Alpha(Opacity=30)\0;
	z-index: 998;
}

.ui-pop-full-mask iframe {
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: Alpha(Opacity=0)\0;
}

.ui-dialogbox-wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	_position: absolute;
	z-index: 999;
}

.ui-dialogbox-mask {
	width: 100%;
	height: 100%;
	_padding: 0 6px;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	opacity: .3;
	filter: Alpha(Opacity=30)\0;
	z-index: 0;
	zoom: 1;
}

* html .ui-dialogbox-mask {
	position: static;
	margin-top: -80%;
}

.ui-dialogbox {
	height: auto;
	width: 450px;
	padding: 6px;
	margin: 0 auto;
	display: block;
	position: relative;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	z-index: 999;
	zoom: 1;
}

.ui-dialogbox-head {
	position: relative;
	height: 16px;
	padding: 10px;
	font: bold 14px/16px \5b8b\4f53;
	color: #666;
	background: #eee;
	overflow: hidden;
	z-index: 1;
}

.ui-dialogbox-head:after,ui-dialogbox-body:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
	overflow: hidden;
}

.ui-dialogbox-body {
	position: relative;
	width: 100%;
	height: 100%;
	border-top: 1px solid #CCC;
	background: #fff;
	overflow: hidden;
	z-index: 1;
	zoom: 1;
}

.ui-pop-close {
	display: block;
	color: #666;
	font: 400 24px/16px tahoma;
	position: absolute;
	top: 6px;
	right: 6px;
}

.ui-pop-close:hover {
	text-decoration: none;
}

.ui-dialogbox-title {
	font-size: 14px;
	font-weight: 700;
}

.popTitle {
	height: 32px;
	padding-left: 19px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 700;
}

.messageBox {
	padding-top: 47px;
	padding-bottom: 47px;
	padding-right: 150px;
	float: right;
}

.messageBox .done {
	font-size: 14px;
	font-weight: 700;
}

.messageBox .my_fav a {
	color: #06C;
	text-decoration: underline;
}

.messageBox .my_fav a:hover {
	color: #F60;
}

.icon {
	position: absolute;
	top: 84px;
	left: 109px;
	width: 32px;
	height: 32px;
}

.submit {
	display: block;
	width: 54px;
	height: 26px;
	margin-top: 23px;
	text-align: center;
	line-height: 26px;
	color: #333;
	overflow: hidden;
}

.submit:hover {
	color: #333;
	text-decoration: none;
}

.iframe-login .ui-dialogbox {
	width: 530px;
	height: 600px;
	padding: 0;
	box-shadow: none;
}

.iframe-login .ui-dialogbox-head {
	background: transparent none;
	top: 36px;
	left: -2px;
	z-index: 20;
}

.iframe-login .ui-dialogbox-body {
	background: none;
	border: none 0;
}

.ui-poptip {
	position: absolute;
	bottom: 0;
	left: 0;
	cursor: default;
	z-index: 1;
}

.ui-poptip a {
	cursor: pointer;
}

.ui-poptip td {
	padding: 5px 8px;
	line-height: 18px;
	height: 18px;
}

.ui-poptip th {
	text-align: center;
	padding: 0 0 6px 8px;
}

.ui-poptip .ui-arrow {
	position: absolute;
	width: 13px;
	height: 6px;
	overflow: hidden;
	z-index: 1;
	left: 45%;
	bottom: -5px;
	*bottom: -3px;
}

.ui-poptip-main {
	border: 1px solid #FC6;
	background: #FFFFF0;
	box-shadow: 1px 1px 2px #E3E2E0;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#E3E2E0');
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#E3E2E0');
	zoom: 1;
}

.ui-ico-proxy {
	float: left;
	width: 16px;
	height: 18px;
	margin-right: 6px;
}

.ui-poptip-tit {
	text-align: left;
}

.tip-loading {
	background: url("images/launch.gif") no-repeat 2px center;
}

.tip-icon {
	display: inline-block;
	background-image: url(../images/tipsIcon.png);
	background-repeat: no-repeat;
}

.tip-ok,.tip-ok-16,.tip-tip,.tip-tip-16,.tip-alert,.tip-alert-16,.tip-error,.tip-false-16,.tip-help,.tip-help-16 {
	width: 16px;
	height: 16px;
}

.tip-ok,.tip-true-16 {
	background-position: -155px 0;
}

.tip-tip,.tip-tip-16 {
	background-position: -155px -70px;
}

.tip-alert,.tip-alert-16 {
	background-position: -155px -140px;
}

.tip-error,.tip-error-16 {
	background-position: -155px -210px;
}

.tip-help,.tip-help-16 {
	background-position: -155px -280px;
}

.tip-ok-64,.tip-tip-64,.tip-alert-64,.tip-error-64,.tip-help-64 {
	width: 64px;
	height: 64px;
	background-position: 0 0;
}

.tip-tip-64 {
	background-position: 0 -70px;
}

.tip-alert-64 {
	background-position: 0 -140px;
}

.tip-error-64 {
	background-position: 0 -210px;
}

.tip-help-64 {
	background-position: 0 -280px;
}

.tip-ok-48,.tip-tip-48,.tip-alert-48,.tip-false-48,.tip-help-48 {
	width: 48px;
	height: 48px;
	background-position: -70px 0;
}

.tip-tip-48 {
	background-position: -70px -70px;
}

.tip-alert-48 {
	background-position: -70px -140px;
}

.tip-error-48 {
	background-position: -70px -210px;
}

.tip-help-48 {
	background-position: -70px -280px;
}

.tip-error-48 {
	background-position: -120px -70px;
}

.tip-ok-32,.tip-tip-32,.tip-alert-32,.tip-error-32,.tip-help-32 {
	width: 32px;
	height: 32px;
	background-position: -120px 0;
}

.tip-tip-32 {
	background-position: -120px -70px;
}

.tip-alert-32 {
	background-position: -120px -140px;
}

.tip-error-32 {
	background-position: -120px -210px;
}

.tip-help-32 {
	background-position: -120px -280px;
}

.tip-ok-12,.tip-tip-12,.tip-alert-12,.tip-error-12,.tip-help-12 {
	width: 12px;
	height: 12px;
	background-position: -175px 0;
}

.tip-tip-12 {
	background-position: -175px -70px;
}

.tip-alert-12 {
	background-position: -175px -140px;
}

.tip-error-12 {
	background-position: -175px -210px;
}

.tip-help-12 {
	background-position: -175px -280px;
}

.proimg .light {
	*display: none;
	position: absolute;
	left: -68px;
	top: 0;
	width: 55px;
	height: 62px;
	background-image: linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
	transform: skewx(-25deg);
	-o-transform: skewx(-25deg);
	-moz-transform: skewx(-25deg);
	-webkit-transform: skewx(-25deg);
	-moz-transition: 0s;
	-o-transition: 0s;
	-webkit-transition: 0s;
	transition: 0s;
}

@media screen and(-webkit-min-device-pixel-ratio:0) {
	.proimg .light {
		background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
	}
}

.attice-goods:hover .light {
	left: 54px;
	transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-webkit-transition: .5s;
}

.prolist .proimg {
	width: 100px;
	height: 100px;
	position: relative;
	margin: 0 auto;
	display: block;
	background: #FFF;
	overflow: hidden;
}

.prolist .light {
	left: -90px;
	height: 116px;
	width: 64px;
}

.prolist .proimg:hover .light {
	left: 90px;
	transition: .6s;
	-moz-transition: .6s;
	-o-transition: .6s;
	-webkit-transition: .6s;
}

.pop-box .uiText {
	padding: 2px;
	height: 18px;
	line-height: 18px;
}

.pop-box .tipmessage {
	padding: 18px 20px 10px;
	font-size: 14px;
}

.pop-box .ul-radio {
	padding: 0 30px;
}

.pop-box .ul-radio p {
	height: 24px;
	line-height: 24px;
	overflow: hidden;
}

.pop-box .ul-radio p input {
	position: relative;
	top: 2px;
	width: 20px;
	outline: none;
}

.pop-box .pop-func {
	height: 80px;
	overflow: hidden;
	padding: 20px 0 0 40px;
}

.pop-box .pop-func a {
	float: left;
	width: 44px;
}

.pop-box .warmtip {
	margin: 0 20px;
	padding: 10px 0 20px 0;
	border-top: 1px solid #eee;
}

.pop-box .warmtip h5 {
	color: #666;
	line-height: 30px;
}

.pop-box .warmtip p {
	color: #999;
}

.pop-box-success .maindetail {
	height: 24px;
	overflow: hidden;
	margin-top: 50px;
	margin-left: 87px;
	padding-left: 30px;
	font-size: 14px;
	line-height: 24px;
	color: #666;
	font-weight: bold;
}

.pop-box-success .pop-func {
	padding: 8px 0 0 100px;
	clear: both;
}

.success-tip {
	height: 24px;
	overflow: hidden;
	margin-top: 10px;
	margin-left: 50px;
	padding-left: 30px;
	font-size: 14px;
	line-height: 24px;
	color: #666;
	font-weight: bold;
}

.pop-box-paragraph .noCollect {
	margin: 40px 0 0 70px;
	width: auto;
	zoom: 1;
}

.pop-box-paragraph .noCollect:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.pop-box-paragraph .noCollect-tip {
	clear: both;
	display: inline;
	margin-top: -30px;
	margin-left: 44px;
	margin-right: 80px;
	_margin-right: 40px;
}

.pop-box-paragraph .bw77 a {
	width: 77px;
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	text-align: center;
}

.pop-box-paragraph .bw77 a b {
	font-size: 12px;
}

.pop-func a {
	margin-right: 10px;
}

.btn {
	display: block;
	text-decoration: none;
	cursor: pointer;
}

.btn em {
	display: block;
	text-align: center;
	font-weight: 700;
	line-height: 38px;
}

.btn-h40 {
	padding-left: 16px;
	height: 40px;
	font-size: 20px;
	font-family: "MicroSoft YaHei";
	line-height: 40px;
}

.btn-h40 em {
	padding-right: 16px;
	height: 40px;
}

.h40-height {
	height: 40px;
}

.launch {
	display: inline-block;
	margin: 0 -8px;
	background: url("images/launch.gif") no-repeat scroll 0 12px;
	text-indent: 1.5em;
}

.h40-orange {
	background: url(url("images/CartSprites.png?v=20140402")) no-repeat <0></0>0;
	color: #FFF;
}

.h40-orange:hover {
	background-position: left -40px;
	color: #FFF;
	text-decoration: none;
}

.uiText {
	overflow: hidden;
	overflow: hidden;
	margin-right: 10px;
	padding: 4px 0;
	padding-top: 7px\9;
	border: 1px solid #CCC;
	background: #FFF;
	color: #999;
	text-indent: 5px;
	font-family: arial,tahoma,\5b8b\4f53;
	*margin-right: 2px;
}

.uiText:hover {
	border-color: #AAA;
}

.uiText:focus,.ui-focus {
	border-color: #0AF;
	color: #333;
}

.uiText.uiWrong {
	border: 1px solid #F55;
	background: #fff4f4;
}

.layout-btnWrap {
	width: auto;
}

.uiInput-layout td {
	position: relative;
	z-index: 0;
	padding: 0;
	text-align: left;
}

.uiInput-layout .label {
	padding: 8px 0;
	vertical-align: 0;
	text-align: right;
	font: 12px/18px SimSun;
}

.uiInput-layout .label em {
	padding-right: 5px;
	color: #f00;
}

.unit-line-field {
	position: relative;
	top: -1px;
	overflow: hidden;
	margin-top: 0;
	padding: 6px 0 6px 0;
	color: #333;
	vertical-align: 0;
	text-align: right;
	font: 12px/18px SimSun;
}

.address-select-field {
	position: static;
}

.uiInput-layout .uiText {
	float: left;
	display: inline;
	line-height: 17px;
}

.uiInput-layout .tip-wrap .tip {
	float: left;
	margin: 0;
}

.uiInput-layout .w276 {
	width: 276px;
}

.uiInput-layout .w198,.w198 {
	width: 198px;
}

.uiInput-layout .w106 {
	width: 106px;
}

.uiInput-layout .w175 {
	width: 175px;
}

input.uiText {
	overflow: hidden;
	overflow: hidden;
	margin-right: 10px;
	padding: 5px 0;
	padding-top: 7px\9;
	height: 16px;
	border: 1px solid #CCC;
	background: #FFF;
	color: #999;
	text-indent: 5px;
	font-family: arial,tahoma,\5b8b\4f53;
	*margin-right: 2px;
}

input.uiText:hover {
	border-color: #AAA;
}

input.uiText:focus,input.ui-focus {
	border-color: #0AF;
	color: #333;
}

input.uiText.uiWrong {
	border: 1px solid #F55;
}

.uiInput-layout .tip {
	padding: 4px 10px 0 5px;
}

.layout-btnWrap {
	width: auto;
}

.address-input input.uiText {
	margin-top: 2px;
	padding: 4px 0;
	height: 16px;
}

.uiInput-layout td {
	position: relative;
	z-index: 0;
	text-align: left;
	line-height: 18px;
}

.uiInput-layout .label {
	padding: 8px 0;
	vertical-align: 0;
	text-align: right;
	font: 12px/18px SimSun;
}

.uiInput-layout .label em {
	padding-right: 5px;
	color: #f00;
}

.unit-line-field {
	position: relative;
	top: -1px;
	overflow: hidden;
	margin-top: 0;
	padding: 6px 0 6px 0;
	color: #333;
	vertical-align: 0;
	text-align: right;
	font: 12px/18px SimSun;
}

.address-select-field {
	position: static;
}

.uiInput-layout .uiText {
	float: left;
	display: inline;
	line-height: 17px;
}

.uiInput-layout .tip-wrap .tip {
	float: left;
	margin: 0;
}

.uiInput-layout .w276 {
	width: 276px;
}

.uiInput-layout .w198 {
	width: 198px;
}

.uiInput-layout .w106 {
	width: 106px;
}

.uiInput-layout .w175 {
	width: 175px;
}

.uiSelect {
	overflow: hidden;
	height: 26px;
	*height: 24px;
}

.uiSelect label.uiText {
	padding-top: 4px;
	padding-bottom: 6px;
	*text-indent: 5px;
}

.uiSelect .ui-select-btn {
	*left: -3px;
}

.uiSelect {
	*margin-left: -3px;
	*margin-top: -3px;
	_margin-top: 0;
}

.uiSelect select.uiText {
	left: 0;
}

.uiSelect {
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
	float: left;
	overflow: hidden;
	margin: auto;
	zoom: 1;
}

.uiSelect:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: " ";
	font-size: 0;
}

.uiSelect label.uiText {
	float: left;
	margin-right: 0;
	padding-top: 4px\9;
	padding-right: 24px;
	padding-bottom: 6px\9;
	height: 14px;
	width: auto;
	line-height: 18px;
	_display: none;
}

.uiSelect select {
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: 3;
	padding: 4px 0;
	height: auto;
	border: none 0;
	opacity: 0;
	cursor: pointer;
	zoom: 1;
	filter: Alpha(Opacity=0);
	*top: 5px;
	_position: static;
}

.uiSelect {
	_overflow: visible;
	_filter: Alpha(Opacity=0);
	_position: static;
	_margin-right: 0;
}

.ui-select-btn {
	position: relative;
	top: 2px;
	left: -2px;
	z-index: 0;
	float: left;
	margin-left: -20px;
	width: 18px;
	height: 18px;
	border: 1px solid #fff;
	background: #f1f1f1 url("images/CartSprites.png?v=20140402") no-repeat -96px -195px;
	opacity: .7;
	-webkit-transition: background .2s ease-out 0s;
	-moz-transition: background .2s ease-out 0s;
	-o-transition: background .2s ease-out 0s;
	filter: Alpha(Opacity=70);
	_display: none;
}

.uiSelect .ui-arrow {
	bottom: 2px;
	left: 5px;
	cursor: pointer;
	-webkit-transition: color .2s ease-out 0s;
	-moz-transition: color .2s ease-out 0s;
	-o-transition: color .2s ease-out 0s;
}

.uiSelect .ui-arrow-bg {
	color: #8D8D8D;
}

.uiSelect .ui-arrow-bd {
	color: #f1f1f1;
}

.uiSelect:hover label.uiText {
	border-color: #AAA;
	color: #333;
}

.uiSelect:hover .ui-select-btn {
	opacity: 1;
	filter: Alpha(Opacity=100);
}

.cardPost {
	overflow: hidden;
	width: 960px;
	zoom: 1;
}

.uiField {
	float: left;
	margin-top: 1px;
	margin-top: 3px\9;
	_margin-top: 1px;
}

.launching {
	background: url("images/launch.gif") no-repeat scroll 8px 5px #FFF;
	border: 1px solid #F8D497;
	height: 16px;
	line-height: 16px;
	padding: 5px 10px;
	text-align: center;
	width: 180px;
	text-indent: .5em;
}

.launch {
	background: url("images/launch.gif") no-repeat scroll 0 12px transparent;
	display: inline-block;
	margin: 0 -8px;
	text-indent: 1.5em;
}

.textarea-hide {
	display: none;
	visibility: hidden;
	overflow: hidden;
	height: 0;
	line-height: 0;
	font-size: 0;
}

.shopCarbill .billtext {
	width: 160px;
}

.ui-btn,.ui-btn span {
	background-color: #FFA400;
	background-image: url("images/btn_bg.png");
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
}

.ui-btn {
	padding-left: 1em;
}

.ui-btn span {
	background-position: right 0;
	font-family: SimSun;
	overflow: hidden;
	padding-right: 1em;
	text-align: center;
	word-wrap: break-word;
}

.ui-btn span b {
	font-weight: 700;
	line-height: 30px;
	font-size: 14px;
}

.ui-btn:hover {
	text-decoration: none;
}

.ui-btn.b1 {
	background-position: 0 0;
	font-size: 14px;
	height: 28px;
}

.ui-btn.b1 span {
	background-position: right 0;
	color: #FFF;
	height: 28px;
	line-height: 28px;
}

.ui-pop-wrap .pop-func .ui-btn.once {
	position: relative;
	left: 74px;
}

.noCollect {
	width: 256px;
	margin: 126px auto 0;
}

.noCollect-icon {
	display: inline-block;
	margin-right: 5px;
	float: left;
	width: 36px;
	height: 36px;
	background: url("images/tipsIcon.png?v=20130806") no-repeat -119px -210px;
}

.noCollect-tip {
	display: inline-block;
	float: left;
	margin-top: 6px;
	font: 700 14px/1.5 arial,tahoma,\5b8b\4f53;
	color: #666;
	padding-bottom: 40px;
}

.bw77 a.once {
	position: relative;
	z-index: 0;
	left: 70px;
	font-size: 14px;
}

.ui-btn.once span {
	width: 58px;
}

.ui-btn.b1:hover {
	background-position: 0 -28px;
}

.ui-btn.b1:hover span {
	background-position: right -28px;
}

.ui-btn.b2 {
	background-position: 0 -56px;
	color: #666;
	font-size: 14px;
	height: 28px;
}

.ui-btn.b2 span {
	background-position: right -56px;
	height: 28px;
	line-height: 28px;
}

.ui-btn.b2:hover {
	color: #F60;
}

.ui-btn.b2:hover span {
	color: #F60;
}

.ui-btn.b3 {
	background-position: 0 -84px;
	font-size: 12px;
	height: 22px;
}

.ui-btn.b3 span {
	background-position: right -84px;
	color: #333;
	height: 22px;
	line-height: 22px;
}

.ui-btn.b3 span b {
	font-weight: 400;
}

.ui-btn.b3:hover span {
	color: #F60;
}

.ui-btn.b3.noActive {
	background-position: 0 -106px;
	cursor: not-allowed;
}

.ui-btn.b3.noActive span {
	background-position: right -106px;
	color: #999;
	cursor: not-allowed;
}

.cart-progress {
	margin-top: 26px;
}

.cart-progress li {
	float: left;
	width: 144px;
	background: url(../images/steps.png?v=20150519) no-repeat 0 0;
	text-align: center;
}

.cart-progress li i {
	display: block;
	width: 24px;
	height: 24px;
	margin: 0 auto 6px;
	line-height: 24px;
	font-weight: 700;
	color: #BBB;
}

.cart-progress li span {
	color: #333;
	font-family: "Microsoft YaHei";
	font-size: 14px;
}

.cart-progress .finish i {
	color: #FFF;
}

.cart-progress .finish {
	background-position: right top;
}