@charset "utf-8";

.rel,.rel-zx {
	position: relative
}

.btn-h28-1:hover,.btn-w50-h26:hover,.btn-w68-h28:hover,.cart-btn-cancel:hover,.cart-btn-ok:hover,.store-title .tm,a.cart-btn-disable:hover,a.cart-btn:hover {
	text-decoration: none
}

.present-cont .present-name,.present-cont li {
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all
}

html {
	overflow-y: scroll
}

body {
	background-color: #f0f0f0
}

a {
	outline: 0
}

.cart a,.link-box a {
	color: #28E
}

.cart a:hover,.link-box a:hover {
	color: #F60
}

a.cart-btn {
	background-color: #F90;
	border-radius: 2px;
	color: #FFF
}

a.cart-btn-disable {
	background-color: #bbb;
	border-radius: 2px;
	color: #fff
}

a.cart-btn:hover {
	background-color: #F70;
	color: #FFF
}

.c3 {
	color: #333
}

.c6 {
	color: #666
}

.c9 {
	color: #999
}

.c-f70 {
	color: #F70
}

.c-f00 {
	color: red
}

.c-f60 {
	color: #F60
}

.c-f90 {
	color: #F90
}

.c-ff4400 {
	color: #f40
}

.c-ff6600 {
	color: #f60
}

.c-error {
	color: #fd0000
}

.c-333333 {
	color: #333
}

.c-2288ec {
	color: #2288ec
}

.red {
	color: #D00
}

.lh20 {
	line-height: 20px
}

.lh28 {
	line-height: 28px
}

.song {
	font-family: simsun
}

.mt2 {
	margin-top: 2px
}

.mt5 {
	margin-top: 5px
}

.mr5 {
	margin-right: 5px
}

.mt20 {
	margin-top: 20px
}

.mt30 {
	margin-top: 30px
}

.ml20 {
	margin-left: 20px
}

.mr20 {
	margin-right: 20px
}

.pt10 {
	padding-top: 10px
}

.pl10 {
	padding-left: 10px
}

.pl20 {
	padding-left: 20px
}

.pr10 {
	padding-right: 10px
}

.tl {
	text-align: left
}

.tc {
	text-align: center
}

.tr {
	text-align: right
}

.f14 {
	font-size: 14px
}

.form .label,.form button,.form input,.form label,.form select,.form textarea {
	float: left;
	vertical-align: top
}

.ui-tooltip-inner td .tip-icon,.vta-mid {
	vertical-align: middle
}

.break {
	word-wrap: break-word;
	word-break: break-all
}

.rel-zx {
	z-index: 2
}

.fl {
	float: left
}

.fr {
	float: right
}

.nowrap {
	white-space: nowrap;
	zoom: 1
}

.gride {
	clear: both
}

.zdx10 {
	z-index: 10
}

.zdx5 {
	z-index: 5
}

input.verifica {
	background: #DDD
}

:-ms-input-placetext {
	color: #999
}

.font-bold {
	font-weight: 700
}

.tip-icon {
	display: inline-block;
	width: 16px;
	height: 28px;
	background: url(../images/tipIcon.png?v=fdda005124ebb574ac9ef3afa32f847d) -182px 0 no-repeat
}

.tip-error-12,.tip-help-12,.tip-info-12,.tip-ok-12,.tip-warning-12 {
	width: 12px;
	height: 12px;
	background-position: -156px 0
}

.tip-info-12 {
	background-position: -200px -70px
}

.tip-warning-12 {
	background-position: -200px -140px
}

.tip-error-12 {
	background-position: -200px -210px
}

.tip-help-12 {
	background-position: -200px -280px
}

.tip-ok,.tip-ok-16 {
	background-position: -182px 0
}

.tip-info,.tip-info-16 {
	background-position: -182px -70px
}

.tip-warning,.tip-warning-16 {
	background-position: -182px -140px
}

.tip-error,.tip-error-16 {
	background-position: -182px -210px
}

.tip-help,.tip-help-16 {
	background-position: -182px -280px
}

.tip-error-24,.tip-help-24,.tip-info-24,.tip-ok-24,.tip-warning-24 {
	width: 24px;
	height: 24px;
	background-position: -156px 0
}

.tip-info-24 {
	background-position: -156px -70px
}

.tip-warning-24 {
	background-position: -156px -140px
}

.tip-error-24 {
	background-position: -156px -210px
}

.tip-help-24 {
	background-position: -156px -280px
}

.tip-error-32,.tip-help-32,.tip-info-32,.tip-ok-32,.tip-warning-32 {
	width: 32px;
	height: 32px;
	background-position: -120px 0
}

.tip-info-32 {
	background-position: -120px -70px
}

.tip-warning-32 {
	background-position: -120px -140px
}

.tip-error-32 {
	background-position: -120px -210px
}

.tip-help-32 {
	background-position: -120px -280px
}

.tip-error-48,.tip-help-48,.tip-info-48,.tip-ok-48,.tip-warning-48 {
	width: 48px;
	height: 48px;
	background-position: -70px 0
}

.tip-info-48 {
	background-position: -70px -70px
}

.tip-warning-48 {
	background-position: -70px -140px
}

.tip-error-48 {
	background-position: -70px -210px
}

.tip-help-48 {
	background-position: -70px -280px
}

.tip-error-64,.tip-help-64,.tip-info-64,.tip-ok-64,.tip-warning-64 {
	width: 64px;
	height: 64px;
	background-position: 0 0
}

.tip-info-64 {
	background-position: 0 -70px
}

.tip-warning-64 {
	background-position: 0 -140px
}

.tip-error-64 {
	background-position: 0 -210px
}

.tip-help-64 {
	background-position: 0 -280px
}

.single-tooltip,.ui-tooltip {
	position: absolute;
	border: 1px solid #ffb84c;
	background: #FFF;
	box-shadow: 0 0 3px #f1f1f1;
	z-index: 250
}

.single-tooltip {
	border-color: #FC6;
	box-shadow: 0 0 3px #fce9c4
}

.ui-tooltip-close {
	position: absolute;
	right: 10px;
	top: 0;
	color: #CCC;
	cursor: pointer;
	font-size: 20px
}

.ui-tooltip-inner {
	overflow: hidden
}

.single-tooltip .ui-tooltip-inner {
	padding: 3px 8px
}

.ui-tooltip-arrow {
	position: absolute;
	width: 16px;
	height: 16px
}

.ui-tooltip-top .ui-tooltip-arrow {
	left: 50%;
	bottom: -8px;
	margin-left: -8px
}

.ui-tooltip-right .ui-tooltip-arrow {
	top: 50%;
	left: -8px;
	margin-top: -8px
}

.ui-tooltip-bottom .ui-tooltip-arrow {
	left: 50%;
	top: -8px;
	margin-left: -8px
}

.ui-tooltip-left .ui-tooltip-arrow {
	top: 50%;
	right: -8px;
	margin-top: -8px
}

.ui-tooltip-left .ui-tooltip-arrow-back,.ui-tooltip-right .ui-tooltip-arrow-front {
	right: -1px
}

.ui-tooltip-arrow-back,.ui-tooltip-arrow-front {
	position: absolute;
	font: 400 16px/1 simsun
}

.ui-tooltip-arrow-back {
	color: #ffb84c
}

.m-tooltip .ui-tooltip-arrow-front,.ui-tooltip-left .ui-tooltip-arrow-front,.ui-tooltip-right .ui-tooltip-arrow-front,.ui-tooltip-top .ui-tooltip-arrow-front {
	color: #fff;
	z-index: 2
}

.ui-tooltip-bottom .ui-tooltip-arrow-front {
	color: #fff;
	z-index: 2;
	top: 1px
}

.ui-tooltip-top .ui-tooltip-arrow-back {
	top: 1px
}

.ui-tooltip-inner table {
	margin: 0 auto
}

.ui-tooltip-inner td {
	padding: 4px 0
}

.ui-tooltip-inner .little-close-icon {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 9px;
	height: 9px;
	background: url(../images/little-close-icon.png?v=ce6c9bef1bd8ef7620c095a1223deedc) no-repeat;
	cursor: pointer
}

.m-tooltip {
	position: absolute;
	top: -38px;
	left: 0;
	border: 1px solid #DDD;
	width: 150px;
	background: #FFF;
	box-shadow: 0 0 3px #f1f1f1
}

.m-tooltip .ui-tooltip-inner {
	padding: 5px
}

.m-tooltip .ui-tooltip-arrow {
	left: 20px;
	bottom: -8px
}

.m-tooltip .ui-tooltip-arrow-back {
	top: 1px
}

.m-tooltip .ui-tooltip-inner td {
	padding: 0
}

.cart-progress {
	margin-top: 26px;
	background: url(../images/steps-bg.png?v=cf33e972e140c67405b83dc8e45112ec) 60px 0 no-repeat
}

.cart-progress li {
	position: relative;
	float: left;
	width: 144px;
	text-align: center
}

.cart-progress li i {
	position: relative;
	display: block;
	width: 24px;
	height: 24px;
	margin: 0 auto 6px;
	line-height: 24px;
	font-weight: 700;
	color: #BBB;
	z-index: 10
}

.cart-progress li span {
	color: #333;
	font-family: "Microsoft YaHei";
	font-size: 14px
}

.cart-progress .finish i {
	color: #FFF
}

.cart-progress .finish b {
	position: absolute;
	display: inline-block;
	height: 24px;
	top: 0;
	background: url(../images/steps-new.png?v=62a138530a7cf6376f9bb272e0bb65dd) no-repeat
}

.cart-progress .finish-01 b {
	width: 25px;
	left: 60px;
	background-position: 0 0
}

.cart-progress .finish-02 b,.cart-progress .finish-03 b,.cart-progress .finish-04 b {
	width: 158px;
	left: -74px;
	background-position: -10px -26px
}

.sn-price i {
	font-family: Arial
}

.ff-tahoma,.sn-price em {
	font-family: tahoma
}

.sn-price em {
	margin-left: 1px
}

.price-color {
	color: #ff4000
}

input.ui-text {
	height: 28px;
	border: 1px solid #CCC;
	line-height: 26px;
	text-align: center;
	transition: all .3s ease
}

input.focus {
	border-color: #76aaf3;
	box-shadow: 0 0 4px #afccf4
}

.checkbox,.radio {
	float: left;
	margin-right: 8px;
	margin-top: 3px;
	margin-top: 2px\9;
	height: 13px
}

.ie7 .checkbox,.ie7 .radio {
	margin-right: 6px
}

.ie6 .checkbox,.ie6 .radio {
	margin-left: -3px;
	margin-right: 2px
}

.cart-btn-cancel,.cart-btn-ok {
	display: inline-block;
	width: 50px;
	height: 22px;
	text-align: center;
	border-radius: 2px;
	line-height: 22px;
	overflow: hidden
}

.cart-btn-cancel {
	width: 48px;
	height: 20px;
	background-color: #FFF;
	border: 1px solid #DDD;
	line-height: 20px;
	color: #000
}

.cart-btn-cancel:hover {
	color: #000
}

.btn-h28-1 {
	float: left;
	width: 115px;
	height: 28px;
	background: url(../images/cart-btn.png?v=1e3f9c862b0456f19a545de394040a48) 0 -174px no-repeat #F70;
	font: 700 14px/28px simsun;
	color: #FFF;
	text-align: center
}

.ie .btn-h28-1 {
	line-height: 30px
}

.btn-h28-1:hover {
	background-position: 0 -204px;
	color: #FFF
}

.disable-btn-h28-1,.disable-btn-h28-1:hover {
	background-position: 0 -234px;
	color: #BBB
}

.unable-btn-h28-1 {
	float: left;
	padding: 0 15px;
	width: auto;
	height: 26px;
	background: #f5f5f5;
	border: 1px solid #BBB;
	font: 700 14px/28px simsun;
	color: #333
}

.ie6 .unable-btn-h28-1 {
	line-height: 26px
}

.btn-w68-h28 {
	display: inline-block;
	width: 68px;
	height: 28px;
	background: url(../images/cart-btn.png?v=1e3f9c862b0456f19a545de394040a48) 0 -264px no-repeat #F70;
	font: 700 14px/28px simsun;
	color: #FFF;
	text-align: center
}

.ie .btn-w68-h28 {
	line-height: 30px
}

.btn-w68-h28:hover {
	color: #FFF
}

.btn-w50-h26 {
	float: left;
	width: 50px;
	height: 26px;
	font: 700 14px/26px simsun;
	color: #FFF;
	text-align: center
}

.ie .btn-w50-h26 {
	line-height: 28px
}

.btn-w50-h26:hover {
	color: #FFF
}

.btn-w50-h26-disable {
	background-position: -60px -294px;
	color: #BBB
}

.btn-w50-h26-disable:hover {
	text-decoration: none;
	color: #BBB
}

.g-loading {
	padding: 27px 0
}

.g-loading table {
	margin: 0 auto
}

.loading-message {
	padding-left: 24px;
	background: url(../images/loading.gif?v=785ad4e90e688ed84047261268e239ec) 0 no-repeat
}

.g-loading .loading-fail,.g-loading .loading-lion {
	height: 135px;
	padding-left: 146px;
	line-height: 135px
}

.g-loading .loading-lion {
	background: url(../images/cart-loading.gif?v=febc4a882eab8525ef9f3de87f7df07a) 0 no-repeat
}

.g-loading .loading-fail {
	background: url(../images/loading-sad.gif?v=51397801ba77a75d6437fded06e2d73c) 0 no-repeat
}

.g-error-message-16 {
	padding-left: 24px
}

.g-error-message-24 {
	padding-left: 32px
}

.store-title {
	position: relative;
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #f0f0f0
}

.store-title .checkbox {
	margin: 7px 10px 0 16px;
	margin: 6px 10px 0 16px\9;
	height: 13px
}

.ie .store-title .checkbox {
	margin: 6px 7px 0 14px
}

.store-title .tm {
	height: 19px;
	margin-top: 12px;
	padding-left: 20px;
	background: url(../images/askBar.gif?v=07bbcd62e6a9407f34fae61b2c5750b3) no-repeat;
	line-height: 18px;
	color: #2272c8;
	white-space: nowrap
}

.store-title .tm:hover {
	color: #F70;
	text-decoration: underline
}

.store-title .c-store-icon {
	width: 16px;
	height: 28px;
	margin: 5px 8px 0 0;
	background: url(../images/sprite-cart1.png?v=615329779b2740d19ec752c0f22cdcb3) -134px -24px no-repeat
}

.store-title .abroad-store-icon {
	width: 61px;
	height: 18px;
	margin: 11px 8px 0 0;
	background: url(../images/abroad-ico.jpg?v=da4638e92838664f41703a4125d28ec0) no-repeat
}

.g-logo {
	position: relative;
	float: left;
	width: 400px;
	height: 100px;
	overflow: hidden
}

.g-logo img {
	margin-top: 20px
}

.cart-header {
	border-bottom: 1px solid #FA0;
	min-width: 990px;
	background-color: #fff
}

.root1200 .cart-header {
	min-width: 1190px
}

.cart-header .head-delivery {
	height: 34px
}

.cart-header .city-select {
	float: left;
	position: relative;
	z-index: 30
}

.cart-header .city-select .delivery-desc {
	margin-right: 7px;
	line-height: 26px
}

.cart-header .login-tips {
	line-height: 26px
}

.cart-header .login-tips a {
	color: #2687f0
}

.ui-city-toggle {
	padding: 4px 5px 4px 6px!important
}

.ui-city-group {
	top: 23px!important
}

.ng-footer {
	background-color: #fff;
	min-width: 990px
}

.root1200 .ng-footer {
	min-width: 1190px
}

.cart-error-wrapper {
	padding: 30px
}

.cart-error-wrapper table {
	margin: 0 auto
}

.cart-error-wrapper table .title {
	color: #333;
	font: 700 16px/30px "Microsoft YaHei"
}

.cart-error-wrapper .mt20 {
	margin-top: 20px
}

.cart-error-wrapper td a {
	color: #2471c9
}

.cart-error-wrapper td i {
	color: #ddd;
	margin: 0 10px
}

.cshop-ico,.self-ico {
	vertical-align: middle;
	cursor: pointer;
	margin-left: 5px
}

.cart-error-wrapper .face-404 {
	width: 156px;
	height: 156px;
	background: url(../images/face-404.gif?v=0e79d9a2b0a5ae5a8fde79b24c214ad3) no-repeat
}

.store-icon {
	display: inline-block;
	width: 18px;
	height: 24px;
	background: url(../images/cart2-icon.png?v=67b125c2b22d9098e1bfe992c42f45b0) no-repeat
}

.self-ico {
	background-position: -62px 2px
}

.cshop-ico {
	background-position: -86px 2px
}

.transport {
	background-position: -32px -77px;
	+background-position: -30px -78px
}

.ico-reset1 {
	height: 28px;
	background-position: -65px -24px;
	vertical-align: middle
}

.m-lion-dialog {
	position: fixed;
	_position: absolute;
	top: 50%;
	left: 50%;
	z-index: 8003;
	font-family: "Microsoft YaHei"
}

.m-lion-dialog .lion {
	position: absolute;
	top: -32px;
	left: 50%;
	margin-left: -34px;
	display: inline-block;
	width: 68px;
	height: 32px;
	background: url(../images/dialog-lion-new.png?v=3d6c04ac3cfcabee2d582673921565c9) no-repeat
}

.m-lion-dialog .container {
	display: none;
	padding: 2px 20px 20px;
	background-color: #fff;
	border: 2px solid #fa0;
	overflow: hidden
}

.m-lion-dialog .btn,.m-lion-dialog .semi-circle {
	position: absolute;
	cursor: pointer;
	display: inline-block
}

.m-lion-dialog .title h3 {
	font: 700 14px/34px 'microsoft yahei';
	color: #231815;
	border-bottom: 1px solid #eee
}

.m-lion-dialog .btn {
	right: -8px;
	top: 5px;
	width: 17px;
	height: 17px;
	background: url(../images/dialog-lion-new.png?v=3d6c04ac3cfcabee2d582673921565c9) -68px 0 no-repeat;
	z-index: 9999
}

.m-lion-dialog .semi-circle {
	right: -13px;
	top: 0;
	width: 15px;
	height: 27px;
	background: url(../images/dialog-lion-new.png?v=3d6c04ac3cfcabee2d582673921565c9) -87px 0 no-repeat;
	z-index: 9998
}

.m-lion-dialog .lt {
	margin-left: -4px
}

.m-lion-dialog .btn:hover {
	color: #666;
	text-decoration: none
}

.m-lion-dialog .content {
	background: #fff
}

.m-lion-dialog-overlay .lay {
	display: none
}

.m-lion-dialog-overlay .close {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .3;
	filter: Alpha(opacity=30) \9;
	cursor: pointer
}

.m-lion-dialog-overlay .overlay {
	background: #000;
	z-index: 8002;
	cursor: default
}

.m-lion-dialog-overlay .frame {
	z-index: 8001
}

.dialog-action {
	padding-left: 180px
}

.dialog-action a {
	display: inline-block;
	float: left;
	line-height: 20px;
	text-align: center
}

.dialog-action a:hover {
	text-decoration: none
}

.dialog-action .confirm-btn {
	width: 69px;
	height: 26px;
	background-color: #f90;
	border-radius: 2px;
	line-height: 26px;
	text-align: center;
	color: #fff
}

.dialog-action .cancel-btn,.tip-word {
	height: 24px;
	line-height: 24px;
	color: #333
}

.dialog-action .confirm-btn:hover {
	background-color: #F70
}

.dialog-action .cancel-btn {
	width: 67px;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid #e0e0e0
}

.tip-word {
	width: 508px;
	margin-top: 15px;
	background-color: ivory;
	border: 1px solid #fc6
}

.tip-word .suona {
	display: inline-block;
	width: 16px;
	height: 12px;
	margin: 6px 6px 0;
	background: url(../images/lion-dialog.png?v=438b2da27d375f270c7365c427882990) -82px 0 no-repeat;
	overflow: hidden
}

.tip-word .why-hover .reasons {
	display: block
}

.tip-word .reasons {
	display: none;
	position: absolute;
	top: 31px;
	left: -1px;
	width: 488px;
	height: 72px;
	padding: 7px 10px;
	border: 1px solid #ddd;
	background-color: #fcfcfc
}

.tip-word .reasons p {
	line-height: 18px
}

.tip-word .reasons .ui-tooltip-arrow {
	top: -6px;
	right: 93px
}

.tip-word .reasons .ui-tooltip-arrow .ui-tooltip-arrow-front {
	color: #fcfcfc;
	z-index: 2;
	font: 400 14px/1 simsun
}

.tip-word .reasons .ui-tooltip-arrow .ui-tooltip-arrow-back {
	color: #ddd;
	top: -1px;
	font: 400 14px/1 simsun
}

.tip-word .why-idcard {
	color: #337ccb
}

.idcard-confirm {
	width: 508px;
	margin: 0 auto
}

.idcard-form {
	margin-top: 25px
}

.confirm-row {
	margin-top: 10px;
	line-height: 24px
}

.confirm-row dt {
	float: left;
	width: 156px;
	text-align: right
}

.confirm-row dt em {
	padding-right: 6px;
	color: #f60
}

.confirm-row dd {
	float: left
}

.confirm-row dd input {
	width: 186px;
	padding: 4px 10px;
	text-align: left
}

.confirm-row dd .tip-icon-orange {
	display: inline-block;
	width: 16px;
	height: 28px;
	margin-left: 10px;
	margin-right: 6px;
	vertical-align: middle;
	background: url(../images/lion-dialog.png?v=438b2da27d375f270c7365c427882990) -82px -62px no-repeat
}

.lion-self-icon {
	float: left;
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 6px;
	overflow: hidden;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) no-repeat
}

.service-icon {
	float: left;
	width: 14px;
	height: 14px;
	margin: 0 2px;
	overflow: hidden;
	background: url(../images/service-icon.png?v=c04f48fbf6cec4d382a2e8414dbb652a) no-repeat
}

.service-ziti {
	background-position: 0 0
}

.service-tui {
	background-position: -16px 0
}

.service-money {
	background-position: -32px 0
}

.present-cont {
	position: relative;
	max-height: 120px;
	*height: 100px;
	overflow: auto;
	overflow-x: hidden
}

.present-cont li {
	height: 20px;
	margin-top: 4px;
	width: 270px;
	text-align: left;
	overflow: hidden
}

.present-cont .pre-first {
	background: #F90;
	color: #FFF;
	padding: 0 6px;
	margin-right: 10px;
	float: left;
	_margin-right: 5px
}

.present-cont .bg-over {
	background: #dedede
}

.present-cont .has-over {
	padding-right: 5px;
	color: #666
}

.present-cont .remain {
	padding-right: 5px;
	color: #f60
}

.present-cont .present-name {
	color: #666;
	width: 166px;
	display: inline-block;
	overflow: hidden;
	vertical-align: bottom;
	*padding-top: 1px
}

.ie7-auto {
	*height: auto
}

.in-list li {
	width: auto
}

.in-list .total {
	color: #666
}

.in-list .total span {
	margin-right: 5px;
	font-family: arial;
	font-size: 11px
}

.in-list .present-name {
	width: 220px
}

.layer_present {
	padding-bottom: 30px
}

.layer_present .tc {
	text-align: center
}

.layer_present .pl95 {
	padding-left: 95px;
	*text-align: left
}

.layer_present .wd300 {
	width: 300px;
	margin: 0 auto
}

.layer_present .wd420 {
	width: 420px;
	margin: 0 auto
}

.layer_present .wd290 {
	width: 290px;
	margin: 0 auto;
	position: relative;
	left: 10px
}

.layer_present .main2 {
	padding-top: 30px
}

.layer_present .warn {
	padding: 25px 0 10px 30px
}

.layer_present .fcl {
	color: #343233
}

.layer_present .warn2 {
	height: 70px
}

.layer_present .warn_icon {
	position: absolute;
	left: -34px;
	top: -4px;
	width: 24px;
	height: 24px;
	background: url(../images/tipIcon.png?v=fdda005124ebb574ac9ef3afa32f847d) -156px -140px no-repeat;
	_top: -2px
}

.layer_present .warn_text {
	position: relative;
	display: inline-block;
	width: 330px;
	font-size: 14px;
	font-weight: 700;
	text-align: left
}

.layer_present .present-btn {
	margin-top: 30px;
	margin-left: 129px
}

.continue-acc {
	display: inline-block;
	width: 69px;
	height: 26px;
	margin-right: 10px;
	background-color: #f90;
	border-radius: 2px;
	line-height: 26px;
	text-align: center;
	color: #fff
}

.continue-acc:hover {
	background-color: #F70;
	color: #fff;
	text-decoration: none
}

.abandon-acc {
	display: inline-block;
	width: 67px;
	height: 24px;
	background-color: #fff;
	border-radius: 2px;
	text-align: center;
	line-height: 24px;
	border: 1px solid #e0e0e0;
	color: #333
}

.pop-content h4,.pop-content h4.spc1 {
	font-size: 14px;
	height: 32px;
	line-height: 32px
}

.abandon-acc:hover {
	text-decoration: none
}

.abandon-acc1 {
	display: inline-block;
	width: 95px;
	padding: 3px 0 2px;
	background: url(../images/present-btn.png?v=7b3bbcfe4acfaae9c797c1dec4397486) 0 -52px no-repeat;
	text-align: center;
	font-size: 14px;
	color: #FFF
}

.abandon-acc1:hover {
	background: url(../images/present-btn.png?v=7b3bbcfe4acfaae9c797c1dec4397486) 0 -78px no-repeat;
	text-decoration: none;
	color: #FFF
}

.ml30 {
	margin-left: 30px
}

.pt25 {
	padding-top: 25px
}

.ie7 .top21 {
	top: 21px
}

.pop-car-win {
	padding: 15px
}

.pop-content h4 {
	margin: 30px 0 5px 90px
}

.pop-content h4 span {
	display: block;
	width: 220px;
	margin-left: 40px
}

.pop-content h4.spc1 {
	margin: 30px 0 5px 50px
}

.pop-content h4.spc1 span {
	display: block;
	width: 285px;
	margin-left: 40px
}

.pop-content b {
	display: inline-block;
	width: 33px;
	height: 33px;
	position: absolute;
	margin-right: 10px;
	background: url(../images/tipsBg.png?v=5c52242050432c5f98002db9e6111f2e) -120px -139px no-repeat;
	vertical-align: -10px;
	*vertical-align: -8px;
	+margin-left: -38px;
	_margin-left: -38px
}

.pop-content b.wrong {
	background-position: -120px -69px
}

.pop-content p {
	width: 240px;
	margin-left: 142px;
	color: #666
}

.pop-content .pop-success h4 {
	margin: 0 0 -40px 160px
}

.pop-content .pop-success b {
	background: url(../images/tipsBg.png?v=5c52242050432c5f98002db9e6111f2e) -120px 0 no-repeat
}

.pop-content .btn-box {
	height: 30px;
	margin: 55px 0 20px 142px
}

.pop-content .close-btn {
	display: inline-block;
	margin: 0 10px 0 20px;
	background: url(../images/pop_win_btn.png?v=9cf92fda5620234b0ca2d15281924cb3) 0 -119px no-repeat #FFF;
	font-size: 14px;
	color: #FFF;
	font-weight: 700;
	overflow: hidden
}

.pop-content .close-btn:hover {
	text-decoration: none;
	background: url(../images/pop_win_btn.png?v=9cf92fda5620234b0ca2d15281924cb3) 0 -181px no-repeat #FFF;
	color: #FFF
}

.pop-content .close-btn:hover span {
	text-decoration: none;
	background: url(../images/pop_win_btn.png?v=9cf92fda5620234b0ca2d15281924cb3) right -212px no-repeat #FFF;
	color: #FFF
}

.pop-content .close-btn span {
	display: inline-block;
	height: 14px;
	margin-left: 10px;
	padding: 4px 10px 10px 0;
	background: url(../images/pop_win_btn.png?v=9cf92fda5620234b0ca2d15281924cb3) right -151px no-repeat #FFF;
	cursor: pointer
}

.pop-content .close-btn span.spc {
	margin-left: 30px;
	width: 60px;
	letter-spacing: 12px
}

.system-busy .poor-lion {
	width: 253px;
	margin: 36px auto 0;
	padding-bottom: 52px;
	overflow: hidden
}

.ie6 .system-busy .poor-lion {
	width: 265px
}

.system-busy .poor {
	float: left;
	width: 59px;
	height: 81px;
	background: url(../images/poor.png?v=ce63687ea6ec78dd608b91d039b2c3e1) no-repeat
}

.system-busy .tip-opt {
	float: left;
	width: 179px;
	margin-left: 15px
}

.ie6 .system-busy .tip-opt {
	width: 191px
}

.system-busy .tip-opt p {
	padding: 16px 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 22px
}

.system-busy .tip-opt .close {
	display: inline-block;
	width: 75px;
	height: 26px;
	line-height: 26px;
	text-align: center
}

.system-busy .more-font-lion {
	width: 302px;
	padding-bottom: 12px
}

.ie6 .system-busy .more-font-lion {
	width: 302px
}

.system-busy .more-font-lion .tip-opt {
	width: 228px
}

.system-busy .more-font-lion .tip-opt p {
	line-height: 22px
}

.system-busy .more-font-lion .tip-opt .cart-btn {
	margin: 37px 0 0 25px
}

.limit-buy {
	position: relative;
	width: 395px;
	padding-top: 5px
}

.limit-buy .tips {
	padding: 14px 0;
	height: 24px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-align: center
}

.limit-buy .tips-more {
	height: 48px
}

.limit-buy .tip-no-stock {
	padding-left: 12px
}

.add-cart-prompt .tips,.system-error .tips {
	text-align: center;
	padding: 19px 0;
	font-weight: 700;
	font-size: 14px
}

.limit-buy .auto-height {
	height: auto
}

.limit-buy .tips i {
	display: inline-block;
	margin-right: 10px;
	margin-top: -4px;
	vertical-align: middle
}

.limit-buy .tips .go {
	color: #28E
}

.limit-buy .list-pro-box {
	position: relative;
	width: 254px;
	height: 162px;
	margin-left: 71px;
	overflow: hidden
}

.limit-buy .arr {
	position: absolute;
	width: 12px;
	height: 20px;
	top: 50%;
	margin-top: -16px;
	background-image: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241);
	background-repeat: no-repeat;
	text-align: center;
	color: #666;
	line-height: 24px;
	transition: all .4s ease .1s
}

.limit-buy .prev {
	left: -10px;
	background-position: -79px -59px
}

.limit-buy .next {
	right: -10px;
	background-position: -93px -59px
}

.limit-buy a.prev:hover {
	background-position: -79px -81px;
	text-decoration: none
}

.limit-buy a.next:hover {
	background-position: -93px -81px;
	text-decoration: none
}

.limit-buy .list-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 1000em
}

.limit-buy .list-box li {
	float: left;
	width: 105px;
	display: inline;
	margin-right: 45px
}

.limit-buy .list-box li.one {
	margin-left: 73px
}

.limit-buy .list-box li img {
	display: block;
	width: 100px;
	height: 100px;
	overflow: hidden;
	border: 1px solid #eee
}

.limit-buy a.close {
	display: inline-block;
	width: 75px;
	height: 26px;
	margin-left: 160px;
	background-color: #f90;
	line-height: 26px;
	text-align: center;
	color: #fff;
	border-radius: 2px
}

.limit-buy a.close:hover {
	background-color: #F70;
	text-decoration: none
}

.limit-buy .pro-name {
	width: 105px;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	margin-top: 5px
}

.limit-nogoods .list-pro-box {
	height: 122px
}

.limit-nogoods .return-cart {
	float: left;
	width: 104px;
	height: 26px;
	margin-left: 71px;
	text-align: center;
	line-height: 26px
}

.limit-nogoods a.close {
	float: left;
	margin-left: 10px;
	width: 67px;
	height: 24px;
	line-height: 24px;
	background-color: #fff;
	color: #333;
	border: 1px solid #ddd;
	border-radius: 2px
}

.limit-nogoods a.close:hover {
	background-color: #fff
}

.limit-nogoods .arr {
	margin-top: 16px
}

.add-cart-prompt .tips {
	height: 24px;
	line-height: 24px
}

.add-cart-prompt .tips-more {
	height: 48px
}

.add-cart-prompt .tips i {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px
}

.add-cart-prompt .know {
	text-align: center
}

.add-cart-prompt .close {
	display: inline-block;
	width: 75px;
	height: 26px;
	line-height: 26px;
	text-align: center
}

.cart-checkbox,.cart-radio {
	vertical-align: middle;
	display: inline
}

.cart-list .checkbox {
	left: 53px;
	top: 20px
}

.cart-checkbox {
	float: left;
	width: 15px;
	height: 15px;
	margin: 14px 10px 0 15px;
	overflow: hidden
}

.root1200 .cart-checkbox {
	margin: 14px 10px 0 20px
}

.cart-checkbox input,.cart-radio input {
	position: absolute;
	top: -28px;
	left: -38px;
	opacity: 0;
	filter: alpha(opacity=0)
}

.cart-checkbox label,.cart-radio label {
	cursor: pointer;
	position: relative;
	z-index: 1;
	float: left;
	overflow: hidden
}

.cart-checkbox label {
	width: 14px;
	height: 14px;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) 0 -20px
}

.cart-radio {
	float: left;
	width: 15px;
	height: 15px;
	margin: 23px 10px 0 0;
	overflow: hidden
}

.cart-radio label {
	width: 13px;
	height: 13px;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) 0 -66px
}

.system-error .tips {
	margin-top: 10px;
	line-height: 24px
}

.system-error .tips .tip-icon {
	display: inline-block;
	margin-right: 10px;
	margin-top: -4px;
	vertical-align: middle
}

.system-error .cart-btn {
	display: inline-block;
	width: 75px;
	height: 26px;
	margin-left: 160px;
	margin-top: 20px;
	line-height: 26px;
	text-align: center
}

.service-warming-product-img-box {
	width: 100px;
	height: 100px;
	background: url(../images/service.jpg?v=9864755ba6296b36e3c317ef83d23b53) no-repeat
}

.cart-float-bar {
	position: absolute;
	right: 10px;
	top: 0
}

.cart-float-bar .bar-item {
	display: block;
	width: 38px;
	height: 38px;
	border: 1px solid #cecece;
	border-radius: 2px;
	background: #EEE
}

.cart-float-bar .bar-item em {
	display: none;
	width: 24px;
	height: 32px;
	margin: 5px auto 0;
	text-align: center;
	color: #FFF;
	line-height: 26px;
	cursor: pointer
}

.cart-float-bar .bar-item i {
	background: url(../images/cart2.png?v=cf026710dead1015ff4a21559ecf63bf) -146px 0 no-repeat;
	display: block;
	width: 26px;
	height: 26px;
	margin: 6px 0 0 6px
}

.cart-float-bar .bar-item:hover {
	background: #F60;
	border-color: #F60;
	text-decoration: none
}

.cart-float-bar .bar-item:hover em {
	display: block
}

.cart-float-bar .bar-item:hover i {
	display: none
}