@charset "UTF-8";

.cart-list input.ui-text {
	height: 14px
}

.citySelect {
	height: 22px;
	margin-top: 4px;
	line-height: 20px
}

.citySelect .cityboxbtn b {
	top: 4px
}

.citySelect .cityboxbtn {
	height: 19px;
	line-height: 19px;
	padding: 0 15px 0 5px
}

.cart-table-header {
	white-space: nowrap
}

.cart-table-header .inner-box {
	height: 46px
}

.cart-table-header .th {
	float: left;
	height: 46px;
	line-height: 46px;
	text-align: left
}

.cart-table-header .th-chk {
	position: relative;
	width: 226px;
	text-align: left;
	overflow: hidden
}

.root1200 .cart-table-header .th-chk {
	width: 250px
}

.cart-table-header .th-item {
	width: 169px
}

.root1200 .cart-table-header .th-item {
	width: 218px
}

.cart-table-header .th-specs {
	width: 135px
}

.root1200 .cart-table-header .th-specs {
	width: 145px
}

.cart-table-header .th-price {
	width: 120px
}

.root1200 .cart-table-header .th-price {
	width: 153px
}

.cart-table-header .td {
	float: left
}

.cart-table-header .th-amount {
	width: 95px
}

.root1200 .cart-table-header .th-amount {
	width: 130px
}

.cart-table-header .th-sum {
	width: 145px
}

.root1200 .cart-table-header .th-sum {
	width: 190px
}

.cart-table-header .th-op {
	width: 70px
}

.root1200 .cart-table-header .th-op {
	width: 100px
}

.cart-checkbox .label-disable {
	cursor: not-allowed
}

.add-on-container .list li.pro-checked label {
	background-position: 0 -81px
}

.add-on-container .list li.item-checked label,.cart-list .item-checked .cart-checkbox label,.cart-table-header .cart-checkbox-checked label,.store-checked label {
	background-position: 0 -36px
}

.store-title .cart-checkbox {
	float: left;
	margin-top: 13px
}

.store-title .lion-self-icon {
	float: left;
	margin-top: 10px
}

.store-title .c-name {
	color: #333
}

.cart-list .item .cart-checkbox,.meet-suit .cart-checkbox {
	margin-top: 30px
}

.store-title .ship-desc {
	display: inline;
	margin-right: 18px
}

.root1200 .store-title .ship-desc {
	display: inline;
	margin-right: 57px
}

.meet-cut {
	position: relative;
	display: inline-block;
	margin-left: 12px;
	margin-top: 10px;
	width: 61px;
	height: 18px;
	padding-left: 4px;
	border: 1px solid #F60;
	line-height: 18px;
	color: #ff6500;
	border-radius: 2px;
	_margin-top: 15px
}

.store-title .gather .meet-cut {
	color: #F60;
	_margin-top: 10px
}

.meet-cut .arr {
	position: absolute;
	top: 7px;
	right: 4px;
	display: inline-block;
	width: 7px;
	height: 5px;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) -9px -52px no-repeat;
	overflow: hidden
}

.meet-cut:hover {
	text-decoration: none
}

.store-title .coupon-bg {
	position: relative;
	display: inline-block;
	width: 57px;
	height: 24px;
	margin: 8px 0 0 10px;
	padding-left: 8px;
	line-height: 24px;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) -20px 0 no-repeat;
	color: #fff;
	cursor: pointer
}

.store-title .coupon-bg .arr {
	position: absolute;
	top: 10px;
	right: 8px;
	display: inline-block;
	overflow: hidden;
	width: 7px;
	height: 5px;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) 0 -52px no-repeat;
	transform-origin: 50% 48%;
	-webkit-transform-origin: 50% 50%;
	transition: -webkit-transform .2s ease-in;
	transition: transform .2s ease-in
}

.store-title .coupon-bg:hover {
	text-decoration: none;
	color: #FFF
}

.store-title .coupon-bg-acitive .arr {
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg)
}

.cart-list .item {
	margin: 0 20px;
	padding: 20px 0;
	border-bottom: 1px solid #ebeae6
}

.cart-list .item-last {
	border-bottom: 0 none
}

.cart-list .item-extra {
	padding: 10px 0 0 49px
}

.cart-list .item-remark {
	position: absolute;
	left: 95px;
	bottom: 0
}

.cart-list .item-remark .alike {
	margin-left: 10px
}

.cart-list .td {
	float: left
}

.cart-list .td-chk {
	width: 47px;
	position: relative
}

.cart-list .td-chk .fail-icon {
	float: left;
	height: 16px;
	padding: 0 2px;
	margin-top: 32px;
	margin-left: 12px;
	line-height: 16px;
	color: #999;
	overflow: hidden;
	background-color: #dedede
}

.cart-list .td-item {
	position: relative;
	width: 313px;
	overflow: hidden
}

.cart-list .td-item a.suit-name {
	float: left;
	color: #333;
	width: 216px;
	height: 54px;
	overflow: hidden
}

.root1200 .cart-list .td-item a.suit-name {
	width: 272px
}

.cart-list .td-item a.suit-name:hover {
	color: #f70
}

.root1200 .cart-list .td-item {
	width: 392px
}

.cart-list .td-specs {
	width: 83px;
	overflow: hidden
}

.cart-list .specs-line p {
	color: #999
}

.cart-list .td-item .item-pic {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 15px;
	background: #fff;
	overflow: hidden
}

.cart-list .td-item .item-img-box {
	display: block;
	position: relative;
	width: 80px;
	height: 80px
}

.cart-list .td-item .item-img-box .product-promo {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 80px;
	height: 18px;
	background-color: #2abf5c;
	line-height: 18px;
	color: #FFF;
	text-align: center
}

.cart-list .td-item .item-pic img {
	display: block;
	width: 80px;
	height: 80px
}

.cart-list .td-item .item-info {
	float: left;
	width: 179px;
	line-height: 16px
}

.root1200 .cart-list .td-item .item-info {
	width: 239px
}

.cart-list .td-item .item-service {
	float: left;
	width: 179px
}

.root1200 .cart-list .td-item .item-service {
	width: 265px
}

.cart-list .td-item .item-title {
	display: block;
	clear: both;
	margin-bottom: 2px;
	max-height: 36px;
	line-height: 18px;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden
}

.ie6 .cart-list .td-item .item-title {
	height: expression(this.scrollHeight>36 ? "36px":"auto")
}

.cart-list .td-item .item-title:hover {
	color: #F70
}

.cart-list .td-price {
	width: 126px;
	text-align: right
}

.cart-list .td-price .price-original {
	color: #BBB;
	text-decoration: line-through
}

.cart-list .td-amount {
	position: relative;
	width: 116px;
	text-align: center
}

.root1200 .cart-list .td-amount {
	width: 177px
}

.cart-list .td-amount .item-amount {
	width: 70px;
	padding-left: 40px;
	height: 22px;
	overflow: hidden;
	text-align: center
}

.root1200 .cart-list .td-amount .item-amount {
	padding-left: 76px
}

.ie6 .root1200 .cart-list .td-amount .item-amount,.ie7 .root1200 .cart-list .td-amount .item-amount {
	padding-left: 40px
}

.cart-list .td-amount .amount-busy span {
	display: block;
	width: 100%;
	background-color: #fff9f5;
	color: #ff4000
}

.cart-list .td-amount a {
	float: left;
	width: 22px;
	height: 22px;
	background-image: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241);
	background-repeat: no-repeat;
	background-color: #f1f1f1;
	line-height: 100px;
	overflow: hidden
}

.cart-list .td-amount .minus {
	background-position: -87px 0
}

.cart-list .td-amount .no-minus {
	background-position: -87px -24px;
	cursor: no-drop
}

.cart-list .td-amount .plus {
	margin-right: -3px;
	background-position: -111px 0
}

.cart-list .td-amount .no-plus {
	margin-right: -3px;
	background-position: -111px -24px;
	cursor: no-drop
}

.cart-list .td-amount .text-amount {
	float: left;
	width: 26px;
	padding: 3px 0;
	border: 1px solid #dedddc;
	border-width: 1px 0;
	color: #666;
	transition: none
}

.cart-list .td-amount .amount-msg,.cart-list .td-amount .amount-tip {
	margin-left: 34px;
	text-align: center;
	color: #999;
	line-height: 16px
}

.cart-list .td-amount .amount-msg {
	margin-top: 5px
}

.cart-list .td-amount .c-ff7700 {
	color: #F70
}

.root1200 .cart-list .td-amount .amount-msg,.root1200 .cart-list .td-amount .amount-tip {
	margin-left: 46px
}

.cart-list .td-sum {
	width: 98px;
	text-align: right;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden
}

.root1200 .cart-list .td-sum {
	width: 110px
}

.cart-list .td-op {
	width: 58px;
	padding-left: 73px;
	text-align: left
}

.root1200 .cart-list .td-op {
	padding-left: 123px
}

.cart-list .td-op a {
	color: #666
}

.cart-list .td-op a:hover {
	color: #F70
}

.cart-list .item-event-list {
	color: #666;
	margin-bottom: 8px
}

.cart-list .item-event-list-last {
	color: #666;
	margin-bottom: 0
}

.cart-list .suit .item-sub {
	padding: 10px 0 0 47px
}

.cart-list .suit .item-sub-last {
	padding-bottom: 10px
}

.cart-list .suit .suit-item-list {
	margin: 0 20px;
	border-bottom: 1px solid #eaebe6;
	padding: 8px 0
}

.cart-list .suit-last .suit-item-list {
	border-bottom: 0 none
}

.cart-list .meet-suit .item {
	border-bottom: 0 none;
	border-left: 1px dashed #dedede;
	_border-left: 0 none
}

.cart-list .meet-suit .meet-cut {
	color: #F60
}

.cart-list .meet-suit .item-checked {
	border-left: 1px dashed #f5b349;
	_border-left: 0 none
}

.cart-list .meet-suit .suit {
	border-left: 0 none
}

.cart-list .meet-suit .suit .suit-item-list {
	border-left: 1px dashed #dedede;
	border-bottom: 0 none
}

.cart-list .meet-suit .item-checked .suit-item-list {
	border-left: 1px dashed #f5b349;
	_border-left: 0 none
}

.cart-list .meet-suit .item-last {
	border-left: 0 none
}

.cart-list .meet-suit .item-header {
	line-height: 54px
}

.cart-list .meet-suit .item-header a.name-info {
	max-width: 539px;
	height: 55px;
	overflow: hidden;
	color: #333;
	cursor: pointer
}

.cart-list .meet-suit .item-header a.name-info:hover {
	text-decoration: none
}

.root1200 .cart-list .meet-suit .item-header .name-info {
	max-width: 631px
}

.cart-list .meet-suit .suit .item-header {
	border-left: 1px dashed #dedede
}

.cart-list .meet-suit .item-checked .item-header {
	border-left: 1px dashed #f5b349;
	_border-left: 0 none
}

.cart-list .meet-suit .item-fail,.cart-list .meet-suit .suit-last .item-header,.cart-list .meet-suit .suit-last .suit-item-list {
	border-left: 0 none
}

.cart-list .meet-suit .suit-last .main-line-alone {
	bottom: 8px;
	height: 38px
}

.cart-list .meet-suit .item-header .td-name {
	width: 680px;
	overflow: hidden
}

.root1200 .cart-list .meet-suit .item-header .td-name {
	width: 802px
}

.cart-list .meet-suit .item-sub-last {
	padding-bottom: 10px
}

.cart-list .meet-suit .meet-suit-line {
	width: 894px;
	height: 1px;
	margin-left: 67px;
	background-color: #ebeae6;
	font-size: 0
}

.root1200 .cart-list .meet-suit .meet-suit-line {
	width: 1105px
}

.cart-list .meet-suit .meet-suit-line-last {
	width: 950px;
	margin-left: 20px
}

.root1200 .cart-list .meet-suit .meet-suit-line-last {
	width: 1150px
}

.cart-list .meet-suit .main-line {
	position: absolute;
	width: 1px;
	left: -2px;
	border-right: 1px dashed #dedede;
	_display: none
}

.cart-list .meet-suit .item-checked .main-line {
	border-right: 1px dashed #f5b349
}

.cart-list .meet-suit .item-fail .main-line {
	border-right: 1px dashed #dedede
}

.cart-list .meet-suit .main-line-01 {
	height: 15px;
	bottom: 104px
}

.cart-list .meet-suit .suit .main-line-01 {
	bottom: 36px
}

.cart-list .meet-suit .main-line-03 {
	height: 58px;
	bottom: 42px;
	left: -1px
}

.cart-list .meet-suit .main-line-alone {
	height: 58px;
	bottom: 42px;
	left: -2px
}

.cart-list .meet-suit .suit .main-line-03 {
	bottom: 8px;
	height: 26px
}

.cart-list .meet-suit .line-this {
	position: absolute;
	left: 1px;
	bottom: 42px;
	width: 20px;
	height: 1px;
	border-bottom: 1px dashed #dedede;
	_display: none
}

.cart-list .meet-suit .suit .line-this {
	bottom: 8px
}

.cart-list .meet-suit .item-checked .line-this {
	border-bottom: 1px dashed #f5b349
}

.cart-list .meet-suit .item-fail .td-sum .sn-price {
	color: #BBB
}

.cart-list .item-fail .td-amount span,.cart-list .item-fail .td-item .item-title,.cart-list .item-fail .td-price .sn-price,.cart-list .item-fail .td-specs p,.cart-list .item-fail .td-sum .sn-price,.cart-list .suit-fail .td-amount span,.cart-list .suit-fail .td-item,.cart-list .suit-fail .td-item .item-title,.cart-list .suit-fail .td-item .suit-name,.cart-list .suit-fail .td-price .sn-price,.cart-list .suit-fail .td-specs p,.cart-list .suit-fail .td-sum .sn-price {
	color: #bbb
}

.cart-list .suit-fail,.cart-list .suit-fail .item-header {
	background: #fafafa
}

.cart-list .suit-fail .item-header .fail-icon {
	margin-top: 19px
}

.cart-list .suit-fail .icon-promo-title {
	background-color: #dedede
}

.cart-list .suit-fail .td-amount {
	margin-top: 0
}

.cart-list .item-fail {
	position: relative;
	margin: 0;
	background: #f7f7f7;
	border-bottom: 0 none;
	zoom: 1
}

.cart-list .item-fail .item-main {
	padding-left: 20px
}

.cart-list .item-fail .item-fail-line {
	position: absolute;
	left: 20px;
	bottom: 0;
	width: 950px;
	height: 1px;
	background-color: #ebeae6;
	line-height: 1px;
	font-size: 0
}

.root1200 .cart-list .item-fail .item-fail-line {
	width: 1150px
}

.cart-list .item-last .item-fail-line {
	display: none
}

.ui-tooltip-reduce {
	background: #f0fff0;
	border: 1px solid #9C9;
	color: #666
}

.ui-tooltip-reduce .ui-tooltip-arrow {
	display: none
}

.pres-name,.pres-price {
	vertical-align: middle;
	display: inline-block
}

.ui-tooltip-reduce .ui-tooltip-inner {
	padding: 3px
}

.pres-name {
	width: 205px;
	white-space: nowrap;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden
}

.amount-tooltip {
	position: absolute;
	top: -38px;
	left: -30px;
	border: 1px solid #DDD;
	width: 150px;
	background: #FFF;
	box-shadow: 0 0 3px #f1f1f1
}

.amount-tooltip .ui-tooltip-inner {
	padding: 5px
}

.amount-tooltip .ui-tooltip-arrow {
	left: 50%;
	bottom: -8px;
	margin-left: -8px
}

.amount-tooltip .ui-tooltip-arrow-front {
	color: #fff;
	z-index: 2
}

.amount-tooltip .ui-tooltip-arrow-back {
	top: 1px
}

.amount-tooltip .ui-tooltip-inner td {
	padding: 0
}

.cart-list .suit .suit-line {
	width: 882px;
	height: 1px;
	margin-left: 67px;
	border-bottom: 1px dashed #ebeae6;
	font-size: 0
}

.root1200 .cart-list .suit .suit-line {
	width: 1060px
}

.cart-list .suit .cart-checkbox {
	margin-top: 18px
}

.cart-list .item-header {
	margin: 0 0 0 20px;
	height: 54px;
	background-color: #FFF;
	line-height: 22px
}

.cart-list .item .td,.cart-list .item-sub .td {
	height: 80px
}

.cart-list .item-header .td {
	min-height: 22px
}

.cart-list .item-header .td-amount,.cart-list .item-header .td-item,.cart-list .item-header .td-op,.cart-list .item-header .td-sum {
	line-height: 54px
}

.cart-list .item-header .td-name {
	font-family: simsun
}

.cart-list .item-header .td-amount {
	margin-top: 16px
}

.cart-list .item-header .td-amount-tip {
	margin-top: 5px;
	line-height: 22px
}

.cart-list .item-header .td-amount-tip .amount-msg {
	width: 131px
}

.cart-list .item-header .td-price-two {
	line-height: 22px
}

.cart-list .item-header .td-price-one {
	line-height: 54px
}

.cart-list .item-header .td-money {
	width: 104px;
	display: inline;
	text-align: right;
	margin-left: 0
}

.root1200 .cart-list .item-header .td-money {
	width: 134px
}

.cart-list .item-header .td-benefits {
	margin-left: 10px
}

.cart-list .item-header .suit-benefits {
	padding: 1px 5px;
	background-color: #2abf5c;
	color: #fff;
	text-align: center;
	*line-height: 55px;
	white-space: nowrap
}

.cart-list .item-header .td-benefits .sn-price {
	vertical-align: middle
}

.cart-list .item-sub {
	position: relative;
	padding: 18px 0;
	margin-bottom: -1px
}

.icon-promo-title {
	float: left;
	height: 18px;
	margin-top: 18px;
	padding: 0 8px;
	line-height: 18px;
	background-color: #FA0;
	color: #FFF;
	text-align: center
}

.icon-promo,.icon-promo-price {
	display: inline-block;
	text-align: center;
	color: #ff4000;
	border: 1px solid #ffddd1
}

.ie6 .cart-collect .save-ship,.ie6 .cart-toolbar .cart-total-price {
	float: right
}

.meet-suit .icon-promo-title {
	position: relative;
	margin-right: 15px
}

.icon-promo {
	padding: 0 2px;
	height: 14px;
	margin-right: 8px;
	line-height: 14px;
	background-color: #fff
}

.icon-promo-price {
	padding: 0 5px;
	height: 16px;
	margin: 2px 0 0;
	line-height: 16px;
	background-color: #fff9f5
}

.cart-toolbar-box,.cart-total {
	margin-top: 30px
}

.cart-collect,.cart-total {
	text-align: right
}

.icon-promo-end {
	background-color: #f8f8f8;
	border-color: #d3d3d3;
	color: #999
}

.icon-promo-reduce {
	background-color: #6c8;
	border-color: #6c8;
	color: #fff;
	margin-right: 0
}

@keyframes jump {
	0% {
		top: -6px;
		opacity: 0
	}

	20% {
		top: 3px;
		opacity: .5
	}

	100%,30% {
		top: 0;
		opacity: 1
	}
}

@-webkit-keyframes jump {
	0% {
		top: -6px;
		opacity: 0
	}

	20% {
		top: 3px;
		opacity: .5
	}

	100%,30% {
		top: 0;
		opacity: 1
	}
}

.meet-suit .meet-suit-icon {
	-webkit-animation-name: jump;
	animation-name: jump;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
	-webkit-animation-direction: normal;
	animation-direction: normal
}

.cart-total {
	position: relative;
	padding: 10px;
	line-height: 20px;
	border: 1px solid #DDD;
	border-bottom: 0
}

.cart-total .sn-price {
	display: inline-block;
	width: 80px
}

.cart-toolbar {
	width: 970px;
	padding: 10px;
	height: 52px;
	background: #FFF;
	line-height: 52px
}

.cart-toolbar .toolbar-box {
	width: 970px;
	margin: 0 auto
}

.root1200 .cart-toolbar .toolbar-box {
	width: 1170px
}

.cart-toolbar .toolbar-box .del-selected {
	color: #666
}

.cart-toolbar .toolbar-box .del-fail {
	color: #bcbcbc
}

.ie6 .cart-collect {
	width: 350px
}

.cart-collect .save-ship {
	overflow: hidden
}

.root1200 .cart-toolbar {
	width: 1170px
}

.cart-toolbar-fix {
	position: fixed;
	bottom: 0;
	left: -10px;
	width: 100%;
	z-index: 255;
	border-top: 2px solid #DDD
}

.root1200 .cart-toolbar-fix {
	width: 100%
}

.ie-cart-toolbar-fix {
	position: absolute;
	bottom: 0;
	width: 1168px;
	z-index: 2;
	border-top: 2px solid #DDD
}

.cart-toolbar .l-column .cart-checkbox {
	position: relative;
	width: auto;
	height: 18px;
	margin-top: 17px
}

.cart-toolbar .l-column label {
	width: auto;
	height: 18px;
	background: 0;
	line-height: 18px
}

.cart-toolbar .l-column .cart-checkbox .icon {
	width: 14px;
	height: 14px;
	margin: 2px 9px 0 0;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) 0 -20px
}

.cart-toolbar .l-column .cart-checkbox-checked .icon {
	background-position: 0 -36px
}

.cart-toolbar .cart-sub-total {
	line-height: 16px
}

.cart-toolbar .cart-total-price {
	line-height: 32px
}

.cart-toolbar .cart-total-price .sn-price {
	font: 700 16px/32px Tahoma
}

.cart-toolbar .cart-checkout {
	position: relative;
	padding-left: 15px
}

.sp-cart-checkout {
	width: 194px;
	margin-left: -38px
}

.sp-cart-checkout .ui-tooltip-arrow {
	margin-left: 31px
}

.sp-cart-checkout-subsidy {
	width: 264px;
	margin-left: -77px
}

.sp-cart-checkout-subsidy .ui-tooltip-arrow {
	margin-left: 70px
}

.cart-toolbar .cart-checkout .checkout {
	position: relative;
	display: block;
	width: 114px;
	height: 52px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	font-family: "Microsoft YaHei"
}

.cart-toolbar .cart-checkout .checkout-disable,.cart-toolbar .cart-checkout .checkout-disable-tip,.cart-toolbar .cart-checkout .checkout-disable-tip:hover,.cart-toolbar .cart-checkout .checkout-disable:hover,.cart-toolbar .cart-checkout .checkout-loading,.cart-toolbar .cart-checkout .checkout-loading:hover {
	background-color: #bbb;
	cursor: not-allowed
}

.cart-toolbar .cart-checkout .checkout-loading {
	_height: 32px;
	_padding-top: 18px
}

.cart-toolbar .checkout-loading b {
	display: inline-block;
	width: 18px;
	height: 22px;
	background: url(../images/loading.gif?v=785ad4e90e688ed84047261268e239ec) 0 4px no-repeat;
	vertical-align: top;
	margin: 13px 3px 0 -4px;
	*vertical-align: middle
}

.ie7 .cart-toolbar .checkout-loading b {
	margin-top: 0
}

.ie6 .cart-toolbar .checkout-loading b {
	margin-top: -4px
}

.cart-toolbar .alchose {
	float: right;
	margin-right: 20px;
	cursor: pointer;
	line-height: 16px
}

.cart-toolbar .alchose a {
	color: #333
}

.cart-toolbar .alchose a:hover {
	text-decoration: none
}

.cart-toolbar .alchose-span {
	display: inline-block;
	width: 10px;
	height: 12px;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) no-repeat
}

.ie7 .cart-toolbar .alchose-span {
	margin-top: -4px;
	vertical-align: middle
}

.cart-toolbar .alchose-down {
	background-position: 0 -109px
}

.cart-toolbar .alchose-up {
	background-position: -11px -108px
}

.cart-toolbar .ui-tooltip-inner {
	line-height: 15px
}

.cart-toolbar .cart-btn-cancel {
	color: #000
}

.cart-recommend {
	height: 588px;
	margin-top: 30px;
	background-color: #FFF;
	overflow: hidden;
	margin-bottom: 40px
}

.cart-recommend .recommend-header-box {
	position: relative;
	zoom: 1
}

.cart-recommend .recommend-header {
	height: 42px;
	border-bottom: 2px solid #ebeae6;
	font-size: 14px;
	font-weight: 700;
	font-family: "Microsoft YaHei"
}

.cart-recommend .recommend-header .recommend-name-box {
	float: left;
	height: 20px;
	margin: 10px 0 10px -1px;
	padding: 0 30px;
	border-left: 1px solid #ebeae6
}

.cart-recommend .recommend-header .recommend-name {
	display: inline-block;
	height: 20px;
	padding: 0 45px;
	line-height: 20px;
	cursor: pointer
}

.cart-recommend .recommend-header .first {
	border-left: 0 none
}

.cart-recommend .recommend-header-box .slide-line {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 149px;
	height: 2px;
	background-color: #ffa200;
	font-size: 0
}

.cart-recommend .recommend-body .recommend-box {
	display: none;
	position: relative;
	height: 544px;
	overflow: hidden
}

.cart-recommend .recommend-body .active {
	display: block
}

.cart-recommend .recommend-body .product-box {
	position: relative;
	float: left;
	width: 182px;
	height: 257px;
	padding: 15px 32px 0
}

.root1200 .cart-recommend .recommend-body .product-box {
	padding: 15px 28px 0
}

.cart-recommend .recommend-body .product-img {
	display: block;
	width: 160px;
	height: 160px;
	margin: 0 auto
}

.cart-recommend .recommend-body .product-content {
	display: block;
	height: 36px;
	padding-top: 6px;
	line-height: 20px;
	color: #666;
	font-family: SimSun,arial,tahoma;
	word-break: break-all;
	overflow: hidden
}

.cart-recommend .recommend-body .product-content:hover {
	color: #F70
}

.cart-recommend .recommend-body .product-price {
	padding-top: 9px;
	color: #000;
	font-weight: 700;
	font-family: Tahoma
}

.cart-recommend .recommend-body .product-price .price-icon {
	font-size: 16px;
	font-family: "Microsoft YaHei"
}

.cart-recommend .recommend-body .product-price .price-big {
	font-size: 16px
}

.cart-recommend .recommend-body .product-price .price-small {
	padding-top: 1px;
	font-size: 12px
}

.ie6 .cart-recommend .recommend-body .product-price .price-small {
	padding-top: 2px
}

.cart-recommend .recommend-body .add-cart,.cart-recommend .recommend-body .add-num {
	background: url(../images/add-cart.png?v=a3ea87532cc178aedff884f28aff1194) no-repeat
}

.cart-recommend .recommend-body .add-cart {
	position: absolute;
	right: 36px;
	bottom: 13px;
	width: 30px;
	height: 30px;
	background-position: 0 0;
	cursor: pointer
}

.cart-recommend .recommend-body .add-num {
	display: none;
	position: absolute;
	width: 36px;
	height: 42px;
	background-position: -35px 0
}

.cart-recommend-tooltip {
	position: absolute;
	bottom: 50px;
	right: 21px;
	z-index: 2;
	width: 168px;
	background: #FFF;
	border: 1px solid #ffb84c;
	box-shadow: 0 0 3px #f1f1f1
}

.cart-recommend-tooltip .ui-tooltip-inner {
	padding: 5px
}

.cart-recommend-tooltip .ui-tooltip-arrow {
	left: 50%;
	bottom: -8px;
	margin-left: 47px
}

.cart-recommend-tooltip .ui-tooltip-arrow-front {
	color: #fff;
	z-index: 2
}

.cart-recommend-tooltip .ui-tooltip-arrow-back {
	top: 1px
}

.cart-recommend-tooltip .ui-tooltip-inner td {
	padding: 0
}

.had-buy {
	padding: 10px
}

.had-buy .ui-had-buy {
	position: relative;
	margin: 0 auto;
	height: 80px;
	max-width: 710px;
	background: #FFF
}

.had-buy .ui-had-buy .list-box {
	position: relative;
	zoom: 1
}

.had-buy .ui-had-buy-slide {
	width: 710px;
	padding: 0 24px
}

.ui-had-buy-slide .next,.ui-had-buy-slide .prev {
	position: absolute;
	width: 12px;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	background-image: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241);
	background-repeat: no-repeat;
	text-align: center;
	color: #666;
	line-height: 24px;
	transition: all .4s ease .1s
}

.ui-had-buy-slide .prev {
	left: 0;
	background-position: -79px -59px
}

.ui-had-buy-slide .next {
	right: 0;
	background-position: -93px -59px
}

.ui-had-buy-slide a.prev:hover {
	background-position: -79px -81px;
	text-decoration: none
}

.ui-had-buy-slide a.next:hover {
	background-position: -93px -81px;
	text-decoration: none
}

.had-buy .list-container {
	position: relative;
	max-width: 725px;
	height: 80px;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1
}

.had-buy .ui-had-buy-slide .list-container {
	width: 710px
}

.ie6 .had-buy .list-container .list-box {
	position: relative
}

.had-buy .ui-had-buy-slide .list-box {
	position: absolute;
	left: 0;
	top: 0;
	width: 9999px
}

.had-buy .list-container li {
	position: relative;
	float: left;
	margin-right: 10px;
	width: 78px;
	height: 78px;
	border: 1px solid #DDD;
	overflow: hidden
}

.had-buy .list-container li.last {
	margin-right: 0
}

.had-buy .list-container li img {
	display: block;
	width: 78px;
	height: 78px
}

.had-buy .list-container li .num,.had-buy .list-container li.hover .cancel {
	position: absolute;
	width: 29px;
	height: 14px;
	text-align: center;
	line-height: 14px;
	color: #fff
}

.had-buy .list-container li .num {
	left: 0;
	bottom: 0;
	background-color: #f90
}

.had-buy .list-container li.hover .cancel {
	display: block;
	right: 0;
	top: 0;
	background-color: #bebebe;
	opacity: .8;
	filter: alpha(opacity=80)
}

.had-buy .list-container li .cancel:hover {
	text-decoration: none
}

.cart-list .re-exchange .arr,.cart-list .sun-package-buy .arr,.cart-list .sun-package-modify .arr {
	margin-left: 5px;
	display: inline-block;
	width: 7px;
	height: 5px;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) 0 -59px no-repeat;
	overflow: hidden;
	vertical-align: middle
}

.sun-package-modify span {
	float: left;
	width: 62px;
	text-align: right;
	margin-right: 10px
}

.sun-package-list .item-box {
	margin-bottom: 5px
}

.sun-package-list .item-box .item-info {
	padding-left: 72px;
	height: 18px;
	overflow: hidden
}

.sun-package-list .item-box .td {
	height: 20px;
	color: #666
}

.sun-package-list .item-box .td-sum .sn-price {
	color: #ff4000
}

.sunshine-tooltip .singleItem-wrap .select-option .hover,.sunshine-tooltip .singleItem-wrap .selected .hover {
	color: #f90
}

.sun-package-list .item-box .td-price {
	margin-left: 81px
}

.sunshine-tooltip {
	margin-left: 186px
}

.sunshine-tooltip .ui-tooltip-arrow {
	margin-left: -199px
}

.sunshine-tooltip .sun-package-select {
	width: 778px;
	padding: 27px 0 12px
}

.sunshine-tooltip .singleItem-wrap {
	width: 380px;
	height: 30px
}

.sunshine-tooltip .singleItem-wrap .label-txt {
	float: left;
	display: inline-block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	overflow: hidden
}

.sunshine-tooltip .singleItem-wrap .label-txt-sp {
	line-height: 15px
}

.sunshine-tooltip .singleItem-wrap .sun-package-selectbox {
	position: relative;
	float: left;
	width: 298px;
	height: 28px;
	border: 1px solid #ddd;
	line-height: 28px;
	z-index: 8
}

.sunshine-tooltip .singleItem-wrap .sun-package-selectbox .ck {
	float: left;
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) 0 -20px;
	margin: 7px 5px 0 8px;
	cursor: pointer
}

.sunshine-tooltip .singleItem-wrap .sun-package-selectbox .select-txt {
	float: left;
	display: inline-block;
	width: 245px;
	height: 28px;
	line-height: 28px;
	overflow: hidden
}

.sunshine-tooltip .singleItem-wrap .sun-package-selectbox .select-option {
	display: none;
	background: #fff;
	float: left;
	border-top: 1px solid #ddd;
	_position: absolute;
	_top: 28px;
	_left: -1px;
	_border: 1px solid #f90;
	_border-top: 1px solid #ddd
}

.sunshine-tooltip .singleItem-wrap .select-option li {
	width: 270px;
	height: 29px;
	margin: 0;
	padding-left: 28px;
	background: #fff;
	border-bottom: 1px solid #f3f3f3;
	line-height: 28px;
	cursor: pointer
}

.sunshine-tooltip .singleItem-wrap .sun-package-selectbox .icon-dropdown {
	position: absolute;
	top: 11px;
	right: 7px;
	display: none;
	width: 11px;
	height: 7px;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) -108px -129px
}

.sunshine-tooltip .singleItem-wrap .selectedbox-open {
	border: 1px solid #f90;
	height: auto
}

.sunshine-tooltip .singleItem-wrap .selectedbox-open .icon-dropdown {
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) -124px -129px
}

.sunshine-tooltip .singleItem-wrap .selectedbox {
	border: 1px solid #f90
}

.sunshine-tooltip .singleItem-wrap .selectedbox .ck {
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) 0 -36px
}

.sunshine-tooltip .singleItem-wrap .selectedbox-open .select-option {
	display: block
}

.sunshine-tooltip .sun-package-select li {
	float: left;
	width: 380px;
	height: 30px;
	margin: 5px 0
}

.sunshine-tooltip .ui-tooltip-inner {
	overflow: visible
}

.sunshine-tooltip .cart-btn {
	margin-right: 18px;
	padding: 3px 18px;
	cursor: pointer
}

.sunshine-tooltip .warning-text {
	padding: 3px 5px 0 0;
	color: #F40
}

.ie6 .sunshine-tooltip .warning-text {
	padding-top: 6px
}

.sunshine-tooltip .warning-text .tip-icon {
	margin: -2px 2px 0 0;
	vertical-align: middle
}

.sunshine-tooltip-only {
	margin-left: 138px
}

.sunshine-tooltip-only .ui-tooltip-arrow {
	margin-left: -151px
}

.sunshine-tooltip-only .sun-package-select {
	width: 398px
}

.sunshine-tooltip-only .sun-package-select .singleItem-wrap-box {
	width: auto;
	padding: 0 18px
}

.sunshine-tooltip-only .sun-package-select .label-txt {
	width: auto
}

.sunshine-tooltip-only .sun-package-select .label-txt-sp {
	width: 80px
}

.sunshine-tooltip-only .sun-package-select .singleItem-wrap {
	width: auto
}

.sp-meet-cut-select {
	margin-left: -295px
}

.root1200 .sp-meet-cut-select {
	margin-left: -256px
}

.sp-meet-cut-select .ui-tooltip-arrow {
	margin-left: 295px
}

.root1200 .sp-meet-cut-select .ui-tooltip-arrow {
	margin-left: 256px
}

.meet-cut-select {
	width: 672px;
	height: 280px;
	padding: 10px
}

.meet-cut-select .content-box {
	width: 672px
}

.meet-cut-select .content-title {
	width: 624px;
	margin-left: 24px;
	padding-bottom: 3px;
	line-height: 22px;
	border-bottom: 1px solid #dedede
}

.add-on-container {
	position: relative;
	width: 672px;
	height: 244px;
	margin-bottom: 7px
}

.add-on-container .list-container {
	position: relative;
	width: 624px;
	height: 219px;
	margin-left: 24px;
	margin-top: 3px;
	z-index: 2;
	overflow: hidden
}

.add-on-container .list-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 1000em
}

.add-on-container .list {
	float: left;
	width: 640px
}

.add-on-container .cart-checkbox {
	margin: 23px 10px 0 0
}

.add-on-container .list li {
	float: left;
	width: 198px;
	height: 60px;
	margin: 12px 15px 0 0;
	overflow: hidden;
	cursor: pointer
}

.ie6 .add-on-container .list li {
	display: inline
}

.add-on-container .item-pic {
	float: left
}

.add-on-container .item-pic img {
	display: block;
	width: 60px;
	height: 60px
}

.add-on-container .item-info {
	float: right;
	width: 100px;
	overflow: hidden
}

.add-on-container .item-info .item-title {
	display: block;
	height: 18px;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all
}

.add-on-container .item-info .sn-price {
	float: left;
	width: 105px;
	overflow: hidden;
	color: #ff4000
}

.add-on-container .item-info .sn-price em {
	font-weight: 700
}

.add-on-container .item-info .add-cart-icon {
	float: right;
	margin-right: 22px;
	height: 22px;
	width: 22px;
	overflow: hidden;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) -107px -59px no-repeat
}

.m-dialog .title .second-title {
	font-size: 12px;
	font-weight: 400;
	color: #666
}

.m-dialog .title .second-title .num {
	color: #F70;
	font-family: tahoma
}

.add-on-container .result {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 200px;
	height: 50px;
	border: 1px solid #DDD;
	margin: -26px 0 0 -101px;
	background: #FFF;
	z-index: 2;
	box-shadow: 0 0 5px #DDD
}

.add-on-container .result table {
	margin: 0 auto;
	line-height: 50px
}

.add-on-container .result .loading-message {
	padding-left: 24px;
	background: url(../images/loading.gif?v=785ad4e90e688ed84047261268e239ec) 0 no-repeat
}

.add-on-container .result .tip-icon {
	vertical-align: middle
}

.add-on-container .result-ok {
	background: #f1fff0;
	border-color: #9acc98;
	box-shadow: 0 0 5px #d7e8d7
}

.add-on-container .result-fail {
	background: #fff0f1;
	border-color: #F55;
	box-shadow: 0 0 5px #fdc2c2
}

.add-on-container .next,.add-on-container .prev {
	display: none;
	position: absolute;
	width: 12px;
	height: 20px;
	top: 50%;
	margin-top: -16px;
	background-image: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241);
	background-repeat: no-repeat;
	text-align: center;
	color: #666;
	line-height: 24px;
	transition: all .4s ease .1s
}

.add-on-container .prev {
	left: 0;
	background-position: -79px -59px
}

.add-on-container .next {
	right: 0;
	background-position: -93px -59px
}

.add-on-container a.prev:hover {
	background-position: -79px -81px;
	text-decoration: none
}

.add-on-container a.next:hover {
	background-position: -93px -81px;
	text-decoration: none
}

.add-on-container .page-list {
	position: absolute;
	left: 50%;
	bottom: 0;
	height: 10px;
	width: 60px;
	margin-left: -30px
}

.add-on-container .page-list li {
	float: left;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) -70px -38px no-repeat;
	cursor: pointer;
	overflow: hidden
}

.add-on-container .page-list li.current {
	background-position: -70px -26px
}

.add-on-container a.checkbox-certain {
	position: absolute;
	right: 24px;
	bottom: -2px;
	display: inline-block;
	width: 50px;
	height: 22px;
	text-align: center;
	line-height: 22px
}

.m-dialog-fail {
	width: 400px;
	padding: 20px;
	margin: 0 auto
}

.m-dialog-fail .list-title {
	padding-left: 35px;
	line-height: 24px
}

.m-dialog-fail-other .list-title {
	padding-left: 140px
}

.m-dialog-fail .list-title i {
	margin-left: -35px
}

.m-dialog-fail .list-title strong {
	font-size: 14px
}

.m-dialog-fail .list-content li {
	float: left;
	width: 180px;
	height: 62px;
	margin: 20px 10px 0 0;
	overflow: hidden
}

.ie6 .m-dialog-fail .list-content .list li {
	display: inline
}

.m-dialog-fail .item-pic {
	float: left;
	border: 1px solid #DDD
}

.m-dialog-fail .item-pic img {
	display: block;
	width: 60px;
	height: 60px
}

.m-dialog-fail .item-info {
	float: right;
	width: 110px;
	overflow: hidden
}

.cart-add-fav-tipbox,.cart-item-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%
}

.m-dialog-fail .item-info .item-title {
	display: block;
	height: 36px;
	margin-bottom: 2px;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all
}

.m-dialog-fail .list-box {
	padding-bottom: 20px
}

.m-dialog-fail .list-content {
	max-height: 180px
}

.ie6 .m-dialog-fail .list-content {
	height: expression(this.scrollHeight>180 ? "180px":"auto")
}

.cart-empty {
	height: 156px;
	margin-top: 30px;
	padding: 47px 0 57px 407px;
	background: url(../images/cart-empty-bg2.png?v=022da505d92280384ffd29611902b392) 124px 47px no-repeat #FFF
}

.root1200 .cart-empty {
	background-position: 202px 47px;
	padding-left: 507px
}

.cart-empty h2 {
	padding-top: 40px;
	font: 400 18px/40px "Microsoft YaHei"
}

.cart-empty .link-btn {
	padding: 5px 12px
}

.cart-item-overlay {
	z-index: 100;
	opacity: .2;
	background: #000;
	filter: alpha(opacity=30)
}

.cart-add-fav-tipbox {
	z-index: 101
}

.cart-add-fav-tipbox table {
	margin: 0 auto
}

.cart-add-fav-tipbox .message {
	border: 1px solid #DDD;
	height: 24px;
	padding: 0 10px;
	line-height: 24px;
	background-color: #FFF
}

.company-channel .tips,.identify-code .tips {
	font: 700 14px/26px 'microsoft yahei'
}

.cart-add-fav-tipbox .message .tip-icon {
	margin-top: 4px
}

.cart-add-fav-tipbox .loading-message {
	padding: 0 10px 0 38px;
	background-position: 10px center
}

.m-store {
	background-color: #FFF;
	margin-bottom: 30px;
	zoom: 1
}

.m-store .store-icon {
	float: left;
	margin-left: 0;
	margin-right: 6px
}

.company-channel {
	width: 238px;
	margin: 0 auto
}

.company-channel .tips {
	margin: 52px 0 45px;
	color: #333
}

.company-channel .tips a {
	margin-left: 5px;
	color: #28e
}

.identify-code {
	width: 308px;
	margin: 0 auto
}

.identify-code .tips {
	margin-top: 22px;
	color: #333
}

.identify-code .code-input {
	width: 280px;
	height: 142px;
	margin-top: 29px
}

.identify-code .code-input dl {
	height: 32px
}

.identify-code .code-input dt {
	width: 52px;
	font: 14px/32px 'microsoft yahei';
	color: #666
}

.identify-code .code-input dd,.identify-code .code-input dd p {
	width: 220px
}

.identify-code .code-input .item-ide {
	display: inline-block;
	height: 32px;
	margin-bottom: 12px;
	color: #bbb
}

.identify-code .code-input .item-ide .tip-icon {
	margin-top: 6px
}

.identify-code .code-input dd input {
	width: 174px;
	height: 18px;
	margin-right: 10px;
	padding: 6px 0 6px 6px;
	text-align: left
}

.identify-code .code-input .error-input {
	border: 1px solid #d00;
	color: #d00
}

.identify-code .code-input img {
	display: inline-block;
	width: 80px;
	height: 30px;
	margin-right: 9px
}

.identify-code .code-input .change {
	height: 32px;
	line-height: 32px
}

.identify-code .code-input .change a {
	color: #2272c8
}

.identify-code .lion-btn {
	display: inline-block;
	width: 69px;
	height: 26px;
	margin-right: 10px;
	text-align: center;
	font: 14px/26px 'microsoft yahei';
	border-radius: 3px
}

.identify-code .lion-btn:hover {
	text-decoration: none
}

.identify-code .certain {
	background-color: #f90;
	border: 1px solid #f90;
	color: #fff
}

.identify-code .certain:hover {
	background-color: #f70
}

.identify-code .close {
	background-color: #eee;
	border: 1px solid #ddd;
	color: #333
}

.abroad-split {
	width: 456px
}

.abroad-split .abroad-h3 {
	position: relative;
	z-index: 3;
	padding-left: 22px;
	color: #333;
	font-weight: 400;
	line-height: 18px;
	margin-top: 15px
}

.abroad-split .abroad-h3-bold,.m-dialog .title h3 {
	font-weight: 700
}

.abroad-split .cd0 {
	color: #D00;
	font-family: Arial;
	margin: 0 2px
}

.abroad-split .m10 {
	margin: 0 10px;
	border-bottom: 1px dashed #DDD;
	padding-bottom: 10px
}

.abroad-split .nobo {
	border-bottom: 0;
	margin-top: 7px
}

.abroad-split .loop-div {
	position: relative;
	width: 266px;
	height: 82px;
	overflow: hidden;
	float: left;
	*position: relative
}

.abroad-split .next,.abroad-split .prev {
	display: none;
	position: absolute;
	width: 12px;
	height: 20px;
	top: 50%;
	margin-top: -16px;
	background-image: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241);
	background-repeat: no-repeat;
	text-align: center;
	color: #666;
	line-height: 24px;
	transition: all .4s ease .1s
}

.abroad-split .abroad-list .prev,.abroad-split .common-list .prev {
	left: -10px;
	background-position: -79px -59px
}

.abroad-split .abroad-list .next,.abroad-split .common-list .next {
	right: 0;
	background-position: -93px -59px
}

.abroad-split .abroad-list a.prev:hover,.abroad-split .common-list a.prev:hover {
	background-position: -79px -81px;
	text-decoration: none
}

.abroad-split .abroad-list a.next:hover,.abroad-split .common-list a.next:hover {
	background-position: -93px -81px;
	text-decoration: none
}

.abroad-split .abroad-list,.abroad-split .common-list {
	position: relative;
	height: 92px;
	width: 298px;
	float: left;
	padding-left: 22px
}

.abroad-split .abroad-ul,.abroad-split .common-ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 1000em
}

.abroad-split .abroad-ul li,.abroad-split .common-ul li {
	float: left;
	width: 92px;
	height: 82px;
	overflow: hidden
}

.abroad-split li img {
	border: 1px solid #eee;
	width: 80px;
	height: 80px
}

.abroad-split .pay-div {
	float: left;
	margin-left: 35px
}

.abroad-split .check-btn {
	width: 72px;
	height: 26px;
	line-height: 26px;
	color: #FFF;
	text-align: center;
	cursor: pointer;
	margin-top: 10px;
	background-color: #f90;
	border-radius: 2px
}

.abroad-split .check-btn:hover {
	background-color: #f70;
	text-decoration: none
}

.abroad-split .check-btn .loading {
	display: inline-block;
	width: 18px;
	height: 22px;
	background: url(../images/loading.gif?v=785ad4e90e688ed84047261268e239ec) 0 4px no-repeat;
	vertical-align: top;
	*vertical-align: middle;
	margin: -1px 3px 0 -4px;
	*margin-top: -3px
}

.abroad-split .check-btn b {
	font-family: tahoma
}

.abroad-split .check-hov {
	background: url(../images/abroad-ico.jpg?v=da4638e92838664f41703a4125d28ec0) 0 -100px no-repeat
}

.abroad-split .check-btn-disable,.abroad-split .check-btn-disable:hover {
	background-color: #BBB;
	text-decoration: none
}

.m-lion-dialog .limit-help {
	margin: -2px 0 0 2px;
	cursor: pointer;
	vertical-align: middle
}

.abroad-limit-tip {
	margin-left: -70px
}

.abroad-limit-tip .ui-tooltip-arrow {
	margin-left: 62px
}

.m-lion-dialog .abroad-tip-dom {
	width: 200px;
	padding: 8px;
	color: #333;
	font-family: arial,tahoma,SimSun;
	font-weight: 400
}

.abroad-split-one-store-limit {
	width: 400px
}

.abroad-split-one-store-limit .abroad-list {
	float: none;
	margin: 0 auto
}

.abroad-split-one-store-limit .pay-div {
	float: none;
	margin: 12px 0 0;
	text-align: center
}

.abroad-split-one-store-limit .check-btn {
	display: inline-block;
	margin: 0 4px
}

.abroad-split-one-store-limit .abroad-h3 {
	margin-bottom: 18px;
	font-size: 14px
}

.abroad-split-one-store-limit .one-goods .abroad-list {
	width: 104px
}

.abroad-split-one-store-limit .one-goods .loop-div {
	width: 88px
}

.abroad-split-one-store-limit .two-goods .abroad-list {
	width: 194px
}

.abroad-split-one-store-limit .two-goods .loop-div {
	width: 179px
}

.coupon-select {
	width: 316px;
	padding: 10px
}

.coupon-select .content-title {
	width: 307px;
	height: 28px;
	text-align: left;
	padding-left: 9px;
	line-height: 28px;
	border-bottom: 1px solid #efefef
}

.coupon-select .content-box {
	padding: 10px 10px 0;
	width: 296px
}

.coupon-select .item {
	float: left;
	width: 296px;
	height: 34px;
	margin: 2px 0 10px;
	overflow: hidden
}

.coupon-select .item-last {
	margin-bottom: 2px
}

.coupon-select .sn-price {
	float: left;
	width: 57px;
	height: 24px;
	overflow: hidden;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) -20px -59px no-repeat;
	color: #FFF;
	line-height: 24px;
	text-align: center
}

.coupon-select .sn-price em {
	font-weight: 700
}

.coupon-select .coupon-info {
	float: left;
	width: 165px;
	overflow: hidden;
	margin-left: 10px
}

.coupon-select .get a {
	float: left;
	width: 50px;
	height: 22px;
	text-align: center;
	color: #FFF;
	background-color: #F90;
	border-radius: 2px;
	line-height: 22px
}

.coupon-select .get a:hover {
	text-decoration: none
}

.coupon-select .get,.coupon-select .sn-price {
	margin-top: 4px
}

.tool-area-box {
	position: relative;
	margin-top: 30px;
	background-color: #FFF;
	color: #666
}

.tool-area-box .tool-area-bank {
	height: 36px;
	padding-left: 20px;
	line-height: 36px;
	border-bottom: 1px solid #ebeae6
}

.tool-area-box .all-store-discount-content-box,.tool-area-box .repurchase-product {
	float: left;
	width: 970px;
	height: 26px;
	padding-left: 20px;
	line-height: 26px
}

.root1200 .tool-area-box .all-store-discount-content-box,.root1200 .tool-area-box .repurchase-product {
	width: 1170px
}

.tool-area-box .all-store-discount-content {
	width: 588px;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.ie6 .tool-area-box .all-store-discount-content span {
	display: inline-block
}

.tool-area-box .repurchase-name {
	width: 400px;
	height: 26px;
	overflow: hidden;
	word-break: break-all
}

.tool-area-box .repurchase-name a {
	color: #666
}

.tool-area-box .repurchase-name a:hover {
	color: #F70
}

.tool-area-box .tip-btn {
	cursor: pointer
}

.tool-area-box .all-store-discount-icon {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 4px;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) -11px -113px no-repeat;
	cursor: pointer;
	vertical-align: middle
}

.tool-area-box .all-store-discount-icon-down {
	background-position: 0 -113px
}

.tool-area-box .sn-price {
	width: 127px;
	padding-left: 78px;
	text-align: right
}

.root1200 .tool-area-box .sn-price {
	padding-left: 192px
}

.tool-area-box .sn-price i {
	font-family: arial
}

.all-store-discount-box .sn-price {
	text-align: left;
	width: auto;
	padding-left: 216px
}

.root1200 .all-store-discount-box .sn-price {
	padding-left: 294px
}

.tool-area-box .repurchase-num {
	width: 70px;
	padding-left: 40px;
	text-align: center
}

.root1200 .tool-area-box .repurchase-num {
	padding-left: 62px
}

.tool-area-box .repurchase-tool {
	padding-left: 116px
}

.root1200 .tool-area-box .repurchase-tool {
	padding-left: 146px
}

.tool-area-box .repurchase-tool a {
	color: #666;
	padding: 0 2px
}

.tool-area-box .repurchase-tool a:hover {
	color: #F60
}

.tool-area-box .tool-area-content-box {
	margin: 7px 0;
	transition: height .2s;
	-webkit-transition: height .2s;
	-moz-transition: height .2s;
	-o-transition: height .2s;
	overflow: hidden
}

.tool-area-box .more-content {
	display: none;
	position: absolute;
	left: 20px;
	bottom: 6px;
	zoom: 1;
	z-index: 10;
	cursor: pointer
}

.tool-area-box .arrow {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 4px;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) no-repeat;
	vertical-align: middle;
	cursor: pointer
}

.tool-area-box .arrow-down .arrow {
	background-position: -11px -130px
}

.tool-area-box .arrow-up .arrow {
	background-position: 0 -130px
}

.tool-area-box-has-more-btn {
	padding-bottom: 23px
}

.tool-area-box-has-more-btn .tool-area-content-box {
	height: 78px
}

.tool-area-box-has-more-btn .more-content {
	display: block
}

.all-store-discount-tip-style2 {
	margin-left: 47px
}

.all-store-discount-tip-style2 .ui-tooltip-arrow {
	margin-left: -47px
}

.all-store-discount-tip-style3 {
	margin-left: 92px
}

.all-store-discount-tip-style3 .ui-tooltip-arrow {
	margin-left: -92px
}

.all-store-discount-tip-style4 {
	margin-left: 137px
}

.all-store-discount-tip-style4 .ui-tooltip-arrow {
	margin-left: -137px
}

.all-store-discount-tip-style5 {
	margin-left: 182px
}

.all-store-discount-tip-style5 .ui-tooltip-arrow {
	margin-left: -182px
}

.all-store-discount-tip-style6 {
	margin-left: 206px
}

.all-store-discount-tip-style6 .ui-tooltip-arrow {
	margin-left: -206px
}

.ui-tooltip .discount-pro {
	padding: 10px
}

.ui-tooltip .ui-discount-pro {
	position: relative;
	margin: 0 auto;
	height: 80px;
	background: #FFF
}

.ui-tooltip .ui-discount-pro .list-box {
	position: relative;
	zoom: 1
}

.ui-tooltip .ui-discount-pro-slide {
	width: 441px;
	padding: 0 24px
}

.ui-tooltip .ui-discount-pro-slide .next,.ui-tooltip .ui-discount-pro-slide .prev {
	position: absolute;
	width: 12px;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	background: url(../images/lion-cart.png?v=f72b07ead522ae413deda40fb5651241) no-repeat;
	text-align: center;
	color: #666;
	line-height: 24px;
	transition: all .4s ease .1s
}

.ui-tooltip .ui-discount-pro-slide .prev {
	left: 0;
	background-position: -79px -59px
}

.ui-tooltip .ui-discount-pro-slide .next {
	right: 0;
	background-position: -93px -59px
}

.ui-tooltip .ui-discount-pro-slide a.prev:hover {
	background-position: -79px -81px;
	text-decoration: none
}

.ui-tooltip .ui-discount-pro-slide a.next:hover {
	background-position: -93px -81px;
	text-decoration: none
}

.ui-tooltip .discount-pro .list-container {
	position: relative;
	height: 80px;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1
}

.ui-tooltip .discount-pro .ui-discount-pro-slide .list-container {
	width: 441px
}

.ui-tooltip .discount-pro .list-container .list-box {
	position: relative
}

.ui-tooltip .discount-pro .ui-discount-pro-slide .list-box {
	position: absolute;
	left: 0;
	top: 0;
	width: 9999px
}

.ui-tooltip .discount-pro .list-container li {
	position: relative;
	float: left;
	margin-right: 10px;
	width: 78px;
	height: 78px;
	border: 1px solid #DDD;
	overflow: hidden
}

.ui-tooltip .discount-pro .list-container li.last {
	margin-right: 0
}

.ui-tooltip .discount-pro .list-container li img {
	display: block;
	width: 78px;
	height: 78px
}