@charset "utf-8";

.wrap.reports {
	overflow: hidden;
}

.reports,.cart-sprites,.carTip i {
	background-image: url(../images/CartSprites.png?v=20140402);
	background-repeat: no-repeat;
}

.cart-header {
	height: 74px;
	min-width: 960px;
	width: 960px;
	margin: 15px auto 0;
	position: relative;
	z-index: 0;
}

.snlogo {
	display: inline;
	float: left;
	width: 200px;
	overflow: hidden;
}

.snlogo img {
	display: block;
}

.cart-header-msg {
	float: right;
	margin: 42px 0 0 0;
	width: 220px;
	height: 32px;
	line-height: 32px;
	text-align: left;
	color: #f60;
	overflow: hidden;
}

#searchKeywords {
	box-shadow: none;
}

.reports {
	background: url("../images/cartfinish.gif?20130730") repeat-y right 0 #FFFCF9;
}

.reports-tline {
	position: absolute;
	top: 0;
	left: -7px;
	width: 100%;
	border-top: 3px solid #ff9400;
}

.reports-left-area {
	width: 72px;
}

.reports-panel {
	width: 723px;
	margin-right: 173px;
}

.buydalist a,.buydalist a:visited {
	display: inline-block;
	margin-left: 2.2%;
}

.buydalist img {
	display: block;
	width: 450px;
	height: 80px;
	overflow: hidden;
	border: 1px solid #DDD;
	box-shadow: 0 2px 3px #eee;
}

.buydalist img:hover {
	border: 1px solid #666;
	box-shadow: 0 2px 3px #ddd;
}

.buynoice {
	width: 920px;
	margin: 20px auto;
}

.buynoice h3 {
	height: 38px;
	line-height: 38px;
	font-size: 14px;
}

.buynoice p {
	height: 24px;
	line-height: 24px;
	color: #666;
}

.buydalist {
	width: 960px;
	margin: 15px auto 30px;
	zoom: 1;
}

.buydalist:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.buydalist a,.buydalist a:visited {
	float: left;
	width: 450px;
	height: 80px;
	margin-left: 20px;
	overflow: hidden;
}

div.prolist ul {
	margin: 20px 0 10px 0;
	zoom: 1;
}

.prolist ul:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.prolist li {
	transition: all .2s ease-in 0s;
	border: 1px solid #eee;
	padding: 8px 1px 12px 1px;
	box-shadow: 0 2px 3px #fff;
}

.prolist li:hover {
	border: 1px solid #D1D1D1;
	box-shadow: 0 2px 3px #D5D5D5;
}

.paysucess:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.paysucess {
	zoom: 1;
	width: 960px;
	margin: 0 auto;
	padding: 25px 0;
	font-size: 14px;
	background: url(../images/paybg.gif?v=20130702) no-repeat right bottom;
}

.paysucess .top_line {
	position: absolute;
	top: 0;
	left: 0;
	width: 954px;
	border-top: 5px solid #ff9400;
}

.paysucess h3 {
	height: 22px;
	line-height: 22px;
	margin-top: 5px;
	margin-bottom: 4px;
	padding-left: 155px;
	font-weight: normal;
	font-size: 12px;
}

.paysucess h3 em {
	color: #F60;
	font-size: 14px;
}

.paysucess p {
	line-height: 18px;
	padding: 4px 0 4px 155px;
	font-size: 12px;
	width: 665px;
}

.paysucess p a,.paysucess p a:visited {
	color: #006dc8;
}

.paysucess p a:hover {
	color: #ff6702;
	text-decoration: underline;
}

.paysucess p em {
	color: #f60;
	font-size: 15px;
	font-weight: 700;
}

.paysucess p em.red {
	color: #f00;
}

.paysucess p.other {
	color: #666;
}

.paysucess .sucessbuy {
	display: inline;
	float: left;
	width: 100px;
	height: 37px;
	margin-top: 10px;
	margin-left: 155px;
	overflow: hidden;
}

.paysucess .sucessbuy a:hover {
	background-position: -150px -360px;
}

.paysucess span {
	height: 46px;
	line-height: 46px;
}

.paysucess span a,.paysucess span a:visited {
	color: #006dc8;
	font-size: 12px;
}

.paysucess span a:hover {
	color: #ff6702;
	text-decoration: underline;
}

.paysucess h3 a,.paysucess h3 a:visited {
	color: #006dc8;
	font-size: 12px;
	line-height: 18px;
}

.paysucess h3 a:hover {
	color: #ff6702;
	text-decoration: underline;
}

.paysucess span.help_us {
	position: relative;
	padding-left: 30px;
	margin-left: 40px;
}

.paysucess span.help_us i {
	position: absolute;
	top: 6px;
	left: 0;
	display: block;
	width: 24px;
	height: 16px;
	background: url(../images/sprite.gif?v=20130702) no-repeat -456px -210px;
}

.paysucess h2 b {
	width: 115px;
	height: 18px;
	line-height: 18px;
	margin-top: -1px;
	color: #f60;
	font-size: 14px;
	font-weight: normal;
}

.paysucess h2 b a {
	padding-left: 8px;
	color: #006DC8;
}

.paysucess h2 b a:hover {
	color: #f60;
	text-decoration: underline;
}

.paysucess .modiTime {
	color: #f60;
	margin-top: 0;
	padding-left: 0;
	height: 26px;
	line-height: 26px;
	font-weight: 400;
}

.paysucess .modiTime a {
	height: 26px;
	line-height: 26px;
	margin-left: 5px;
}

.paysucess h2 .modiTime {
	height: 32px;
	line-height: 32px;
}

.paysucess {
	font: arial,tahoma,\5b8b\4f53;
}

#anonymousActiveDiv ul li.focus {
	background: url("../images/main.gif?v=20130702") no-repeat scroll -0px -0px transparent;
}

.prolist {
	clear: left;
	width: 960px;
	margin: 10px auto 0;
	zoom: 1;
}

.prolist:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.prolist h3 {
	height: 30px;
	padding: 0 0 0 8px;
	line-height: 30px;
	background: url(../images/bg_x.gif?v=20130702) repeat-x 0 -54px;
}

.prolist h3 span {
	display: block;
	width: 95px;
	background: url(../images/sprite.gif?v=20130702) no-repeat 0 -109px;
	color: #333;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
}

.prolist ul {
	margin-top: 10px;
}

.prolist ul li {
	float: left;
	width: 160px;
	margin: 0 0 0 22px;
	text-align: center;
}

.prolist ul li div {
	width: 120px;
	height: 120px;
	margin: 0 auto 3px;
	overflow: hidden;
}

.prolist ul li div img {
	width: 100px;
	height: 100px;
}

.prolist ul li h4 {
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	font-weight: normal;
	overflow: hidden;
}

.prolist ul li h4 a,.prolist ul li h4 a:visited {
	color: #333;
}

.prolist ul li h4 a:hover {
	color: #ff6702;
	text-decoration: underline;
}

.buyhot {
	width: 960px;
	margin: 20px auto;
	zoom: 1;
	overflow: hidden;
}

.buyhot:after,.buyhot ul:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.buyhot h3 {
	height: 30px;
	padding: 0 0 0 8px;
	line-height: 30px;
	background: url(../images/bg_x.gif?v=20130702) repeat-x 0 -54px;
}

.buyhot h3 span {
	display: block;
	width: 95px;
	background: url(../images/sprite.gif?v=20130702) no-repeat 0 -109px;
	color: #333;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
}

.buyhot ul {
	margin: 15px 0 0 20px;
	zoom: 1;
}

.buyhot ul li {
	float: left;
	display: inline;
	width: 232px;
	height: 30px;
	line-height: 30px;
	background: url(../images/bg_x.gif?v=20130702) no-repeat left -200px;
	text-indent: 10px;
	overflow: hidden;
}

.buyhot ul li a,.buyhot ul li a:visited {
	color: #006DC8;
}

.buyhot ul li a:hover {
	color: #ff6702;
	text-decoration: underline;
}

.buynoice {
	width: 920px;
	margin: 20px auto;
}

.buynoice h3 {
	height: 38px;
	line-height: 38px;
	font-size: 14px;
}

.buynoice p {
	height: 24px;
	line-height: 24px;
	color: #666;
}

.shopMain h2 {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	padding-left: 20px;
}

.shopMain h2 {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	padding-left: 20px;
}

.cart-finish-option {
	padding: 5px 70px 60px;
}

.mb20 {
	margin-bottom: 20px;
}

.cart-finish-option h2,.paysucess h2 {
	position: relative;
	height: 32px;
	margin-left: 0;
	background: none;
	line-height: 32px;
	text-indent: 0;
	overflow: visible;
	font-weight: 700;
	left: 155px;
}

.cart-finish-option h2 {
	left: 0;
}

.cart-finish-option h2 cite {
	margin-left: 30px;
	font-weight: 700;
	font-size: 12px;
}

.cart-finish-option h2 cite b {
	line-height: 32px;
	padding: 0 2px 0 0;
	margin: 0;
}

.cart-finish-option .info-box {
	padding: 4px 0;
	line-height: 22px;
	font-size: 12px;
}

.cart-finish-option .info-box .btn {
	display: inline-block;
	margin-left: 10px;
	padding: 0 12px;
	line-height: 20px;
	border: 1px solid #DFDFDF;
	border-color: #DFDFDF #C0C0C0 #C0C0C0 #DFDFDF;
	vertical-align: middle;
	color: #333;
	background: #FFF;
	_vertical-align: 2px;
}

.cart-finish-option .info-box .btn:hover {
	color: #f60;
	text-decoration: none;
}

.cart-finish-option .detial-box {
	margin-top: 8px;
	padding: 18px;
	border: 1px solid #DDD;
	background: #FFF;
	font-size: 12px;
}

.cart-finish-option .detial-box li {
	float: left;
	margin-right: 10px;
}

.cart-finish-option .detial-box .price {
	color: #d00;
}

.cart-finish-option .detial-box .price em {
	font-family: tahoma;
	font-weight: 700;
	margin-left: 2px;
}

.cart-finish-option .detial-box span {
	float: none;
	display: inline;
	margin: 0;
	padding: 0;
	line-height: 18px;
}

.cart-finish-option .detial-box a:hover {
	color: #F60;
}

.cart-finish-option .option-box {
	margin-top: 10px;
	font-size: 12px;
}

.cart-finish-option .option-box span {
	float: none;
	display: inline;
	margin: 0;
	padding: 0;
	height: auto;
	line-height: 16px;
}

.cart-finish-option .option-box .btn-buy,.sucessbuy a {
	display: inline-block;
	height: 26px;
	border: 1px solid #FFD7A9;
	padding: 0 12px;
	margin-right: 12px;
	border-color: #FFD7A9 #EEAC66 #EEAC66 #FFD7A9;
	line-height: 26px;
	vertical-align: middle;
	font-size: 12px;
	font-weight: 400;
	color: #333;
	background: #fff5e9;
}

.cart-finish-option .option-box .btn-buy:hover,.sucessbuy a:hover {
	color: #F60;
	text-decoration: none;
}

.cart-finish-option .option-box span i {
	display: inline-block;
	width: 14px;
	height: 16px;
	margin-right: 4px;
	background: url(../images/bg_cart4_sprite.png?v=20131211) no-repeat 0 0;
	vertical-align: middle;
	_vertical-align: 2px;
}

.cart-finish-option .option-box .o-detial {
	background-position: -34px 0;
}

.cart-finish-option .option-box .ued {
	background-position: -48px 0;
}

.cart-finish-option .option-box .app {
	background-position: -62px 0;
}

.cart-finish-option .option-box span a {
	margin-right: 25px;
}

.cart-finish-option .option-box .zfb {
	background-position: -74px 0;
}

.cart-finish-option .option-box .sxf {
	display: inline-block;
	height: 14px;
	width: 54px;
	background: url(../images/sxf.jpg?v=20131211) no-repeat;
}

.tip-box {
	position: absolute;
	bottom: 25px;
	left: 40px;
	width: 220px;
	padding: 10px;
	background: #FFFFF0;
	border: 1px solid #FC6;
	display: none;
}

.cart-finish-option .tip-box li {
	float: none;
	line-height: 22px;
	height: 22px;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
}

.tip-box .arrow {
	position: absolute;
	bottom: -7px;
	height: 7px;
	left: 22px;
	overflow: hidden;
	width: 13px;
	z-index: 1;
}

.tip-box .arrow .b1 {
	display: block;
	height: 12px;
	margin-top: -5px;
	line-height: 12px;
	font-family: "SimSun";
	font-size: 12px;
	color: #FC6;
	overflow: hidden;
	z-index: 1;
}

.tip-box .arrow .b2 {
	position: relative;
	display: block;
	height: 12px;
	margin-top: -13px;
	line-height: 12px;
	font-family: "SimSun";
	font-size: 12px;
	color: #FFFFF0;
	overflow: hidden;
	z-index: 12;
}

.f12 {
	font-size: 12px;
}

.mr10 {
	margin-right: 10px;
}

.prolist ul li {
	display: inline;
}

.cartFinish {
	padding-bottom: 0;
	background: url('images/cartfinish.gif?20130730') repeat-right right 0 #fffcf9;
}

.cartFinish-cont {
	padding-bottom: 36px;
	background: url("../images/paybg.gif?20130701") no-repeat right bottom;
	zoom: 1;
}

.cartFinish-cont:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.cartFinish-ul {
	padding: 0 0 0 156px;
}

.cartFinish-ul li {
	clear: both;
	font-size: 12px;
	line-height: 26px;
	color: #000;
	zoom: 1;
}

.cartFinish-ul b {
	float: left;
	font-weight: normal;
	color: #666;
}

.cartFinish-ul strong {
	font-weight: normal;
	margin: 0 10px;
}

.cartFinish-ul .snPrice {
	position: relative;
	top: 0;
	top: 1px\9;
	*top: 0;
	_top: 2px;
	z-index: 0;
}

.cartFinish-ul .snPrice em {
	position: relative;
	top: 0;
	z-index: 0;
}

.cartFinish-ul .userdata {
	width: 100px;
}

.card_text06 {
	width: 30px;
	padding: 0 3px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #c0c0c0;
	color: #999;
}

.cart-finish-option .detial-box {
	margin-top: 0;
	padding: 0;
	border: 0 none;
	background: none;
}

.cart4-white-box {
	background: #fff;
	border: 1px solid #ddd;
	padding: 12px 12px 20px 80px;
}

.cart-finish-option {
	padding: 5px 0 60px;
}

.cart-finish-option .info-box {
	font-size: 12px;
	line-height: 40px;
	padding: 0;
	margin-top: 30px;
	height: 40px;
}

.cart-finish-option .info-box .btn {
	float: left;
	display: inline-block;
	margin-left: 0;
	padding: 0;
	line-height: 40px;
	border: 0 none;
	border-color: #DFDFDF #C0C0C0 #C0C0C0 #DFDFDF;
	vertical-align: top;
	height: 40px;
	width: 185px;
	background: url(../images/cart4_back_btn.png) no-repeat 0 0;
	text-indent: -9999em;
	margin-right: 10px;
}

.cart-finish-option .option-box .btn-buy {
	display: inline-block;
	height: 20px;
	border: 1px solid #dfdfdf;
	border-right-color: #c0c0c0;
	border-bottom-color: #c0c0c0;
	line-height: 20px;
	vertical-align: middle;
	font-weight: 400;
	color: #333;
	background: #fafafa;
}

.wrap.reports {
	overflow: visible;
}

.prolist h3 {
	border: 1px solid #DEDEDE;
	border-bottom: none;
	background: #F4F4F4;
}

.prolist h3 span {
	background: none;
	text-shadow: 0 1px 0 #FFF;
	font-size: 14px;
	font-weight: 700;
	padding-left: 7px;
	text-align: left;
}

div.prolist .ul-box {
	position: relative;
	margin: 0 29px;
	overflow: hidden;
	height: auto;
}

div.prolist ul {
	width: 3000px;
	margin: 0;
}

.prolist .btn-box {
	float: right;
	margin-top: -22px;
	padding-right: 15px;
}

.prolist .btn-box span {
	background-image: url("../images/CartSprites.png?v=20140402");
	background-repeat: no-repeat;
	background-position: -102px -264px;
	color: #FFF;
	cursor: pointer;
	float: left;
	font-family: tahoma;
	font-size: 12px;
	height: 14px;
	line-height: 13px;
	margin-left: 4px;
	text-align: center;
	width: 13px;
}

.prolist .btn-box span.select {
	background-position: -102px -246px;
}

.prolist .ul-wrapper {
	clear: both;
	border: 1px solid #DEDEDE;
	position: relative;
}

.prolist .ul-box {
	padding: 20px 0;
}

.prolist ul li {
	margin: 0 20px 0 0;
	width: 162px;
	border: 0 none;
}

.prolist ul li:hover {
	border: 0 none;
	box-shadow: 0 0 0 #fff;
}

.prolist .pre,.prolist .next {
	width: 22px;
	height: 220px;
	position: absolute;
	top: 0;
	background: url(../images/i_ctrl.png) no-repeat 0 0;
}

.prolist .pre {
	left: 0;
	background-position: 2px 80px;
}

.prolist .pre:hover {
	background-position: -38px 80px;
}

.prolist .next {
	right: 0;
	background-position: -84px 80px;
}

.prolist .next:hover {
	background-position: -124px 80px;
}

.shopCarsend {
	position: relative;
	display: inline;
	float: left;
	width: 938px;
	margin: 0;
	border: 1px solid #eaeaea;
	padding: 6px 0 10px 20px;
}

.shopCarsend dl dt {
	float: left;
	height: 30px;
	line-height: auto;
	padding-right: 10px;
	margin: 5px 10px 0 0;
	font-size: 14px;
	width: 210px;
	position: relative;
}

.shopCarsend dl dt input {
	margin-right: 4px;
}

.shopCarsend dl dt em {
	color: #f60;
	font-size: 12px;
}

.shopCarsend dl dd {
	clear: both;
	position: relative;
	z-index: 0;
	top: 0;
	left: 76px;
}

.shopCarsend dl dd .usermessage {
	padding-bottom: 4px;
}

.shopCarsend dl dd .usermessage p {
	height: 22px;
	line-height: 22px;
	padding-left: 8px;
	text-indent: 20px;
}

.shopCarsend dl dd .usermessage p a,.shopCarsend dl dd .usermessage p a:visited {
	padding-left: 10px;
	color: #006dc8;
}

.shopCarsend dl dd .usermessage p a:hover {
	color: #f60;
	text-decoration: underline;
}

.shopCarsend select {
	height: 20px;
	line-height: 20px;
	border: 1px solid #a2a2a2;
}

.shopCarsend-bottomShadow {
	position: absolute;
	bottom: -5px;
	left: 2px;
}

.cartFinish-cont {
	padding-bottom: 0;
	zoom: 1;
	background: #fff;
}

.paysucess {
	zoom: 1;
	position: static;
	width: auto;
	margin: 0 auto;
	padding: 25px 0;
	font-size: 14px;
	background: #fff;
}

.reports {
	background: none;
}

.cart-finish-option .detial-box {
	margin-top: 8px;
	padding: 2px 8px;
	border: 1px solid #DDD;
	background: #FFF;
	font-size: 12px;
	border: solid 1px #ccc;
}

.cart4-white-box {
	background: #fff;
	border: none;
	padding: 12px 12px 0 50px;
	*padding-left: 40px;
}

.cart4-white-title {
	text-align: left;
}

.cart-finish-option .option-box span a {
	margin-right: 5px;
}

.cart-finish-option .option-box .zfb {
	background-position: -74px 0;
}

.cart-finish-option .option-box .sxf {
	display: inline-block;
	height: 14px;
	width: 54px;
	background: url(../images/sxf.jpg) no-repeat;
}

.cart-finish-option .option-box {
	margin-top: 10px;
	font-size: 12px;
	margin-left: 50px;
	*margin-left: 40px;
}

.cart-finish-option .info-box {
	padding: 0;
	line-height: 22px;
	font-size: 12px;
	margin-top: 10px;
	height: 20px;
	text-align: left;
}

.tip-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/tipIcon.png?v=20131012) no-repeat -182px 0;
}

.tip-ok-16,.tip-info-16,.tip-warning-16,.tip-error-16,.tip-help-16 {
	width: 16px;
	height: 16px;
	background-position: 0 0;
}

.tip-ok,.tip-ok-16 {
	background-position: -182px 0;
}

.tip-info,.tip-info-16 {
	background-position: -182px -70px;
}

.tip-warning,.tip-warning-16 {
	background-position: -182px -140px;
}

.tip-error,.tip-error-16 {
	background-position: -182px -210px;
}

.tip-help,.tip-help-16 {
	background-position: -182px -280px;
}

.tip-ok-12,.tip-info-12,.tip-warning-12,.tip-error-12,.tip-help-12 {
	width: 12px;
	height: 12px;
	background-position: -200px 0;
	overflow: hidden;
}

.tip-info-12 {
	background-position: -200px -70px;
}

.tip-warning-12 {
	background-position: -200px -140px;
}

.tip-error-12 {
	background-position: -200px -210px;
}

.tip-help-12 {
	background-position: -200px -280px;
}

.tip-ok-24,.tip-info-24,.tip-warning-24,.tip-error-24,.tip-help-24 {
	width: 24px;
	height: 24px;
	background-position: -156px 0;
}

.tip-info-24 {
	background-position: -156px -70px;
}

.tip-warning-24 {
	background-position: -156px -140px;
}

.tip-error-24 {
	background-position: -156px -210px;
}

.tip-help-24 {
	background-position: -156px -280px;
}

.tip-ok-32,.tip-info-32,.tip-warning-32,.tip-error-32,.tip-help-32 {
	width: 32px;
	height: 32px;
	background-position: -120px 0;
}

.tip-info-32 {
	background-position: -120px -70px;
}

.tip-warning-32 {
	background-position: -120px -140px;
}

.tip-error-32 {
	background-position: -120px -210px;
}

.tip-help-32 {
	background-position: -120px -280px;
}

.tip-ok-48,.tip-info-48,.tip-warning-48,.tip-error-48,.tip-help-48 {
	width: 48px;
	height: 48px;
	background-position: -70px 0;
}

.tip-info-48 {
	background-position: -70px -70px;
}

.tip-warning-48 {
	background-position: -70px -140px;
}

.tip-error-48 {
	background-position: -70px -210px;
}

.tip-help-48 {
	background-position: -70px -280px;
}

.tip-ok-64,.tip-info-64,.tip-warning-64,.tip-error-64,.tip-help-64 {
	width: 64px;
	height: 64px;
	background-position: 0 0;
}

.tip-info-64 {
	background-position: 0 -70px;
}

.tip-warning-64 {
	background-position: 0 -140px;
}

.tip-error-64 {
	background-position: 0 -210px;
}

.tip-help-64 {
	background-position: 0 -280px;
}

.ui-btn,.ui-btn span {
	float: left;
	display: inline-block;
	background-image: url(../images/mySn-showWin-btnBg.png);
	background-repeat: no-repeat;
	cursor: pointer;
	font-weight: 700;
}

.ui-btn {
	padding-left: 27px;
}

.ui-btn span {
	padding-right: 27px;
	background-position: right 0;
	font-family: SimSun;
	text-align: center;
	word-wrap: break-word;
	overflow: hidden;
}

.ui-btn:hover {
	text-decoration: none;
}

.ui-btn.b3 {
	height: 26px;
	padding-left: 20px;
	background-position: 0 0;
	font-size: 14px;
	vertical-align: middle;
}

.ui-btn.b3 span {
	display: inline-block;
	height: 26px;
	padding-right: 20px;
	background-position: right 0;
	line-height: 26px;
	color: #FFF;
}

.ui-btn.b3:hover {
	background-position: 0 -26px;
	color: #FFF;
}

.ui-btn.b3:hover span {
	background-position: right -26px;
	color: #FFF;
}

.prolist {
	overflow: hidden;
}

.cart-finish-option .detial-box li.pr {
	z-index: 6601;
}

div.prolist .ul-box {
	width: 900px;
}

.cart-finish-option .option-box .ui-btn span {
	padding-right: 20px;
	vertical-align: top;
	line-height: 26px;
	_line-height: 28px;
	_height: 26px;
	_overflow: hidden;
}

.clearfix-show-list {
	z-index: 6601;
}

.cart-4-ad {
	margin: 20px 0 0 50px;
	*margin-left: 40px;
}

.cart-4-ad a {
	float: left;
}

.cart-4-ad img {
	width: 364px;
	height: 115px;
}

.cart-4-ad .first {
	margin-right: 12px;
}

.cartFinish-cont {
	padding-right: 50px;
}

.cart-4-info {
	margin: 20px 0 0 50px;
	*margin-left: 40px;
}

.cart-4-info img {
	display: block;
	width: 850px;
	height: 200px;
}

.cart-finish-option .view-order-btn,.cart-finish-option .continue-buy-btn {
	float: left;
	width: 105px;
	height: 30px;
	margin-right: 10px;
	background-image: url(../images/cart4-btn.png?v=20150408);
	background-repeat: no-repeat;
	text-align: center;
	font-family: "Microsoft YaHei";
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	cursor: pointer;
	overflow: hidden;
}

.cart-finish-option .view-order-btn {
	background-position: 0 0;
	color: #FFF;
}

.cart-finish-option .view-order-btn:hover {
	background-position: 0 -34px;
	color: #FFF;
	text-decoration: none;
}

.continue-buy-btn {
	background-position: 0 -68px;
	color: #333;
}

.continue-buy-btn:hover {
	background-position: 0 -102px;
	color: #333;
	text-decoration: none;
}

.cart-finish-option .option-box .book {
	background: url(../images/tsj.png) no-repeat 0 -3px;
}

.cart-finish-option .option-box .tsj {
	display: inline-block;
	height: 19px;
	width: 94px;
	background: url(../images/tsj.png) -25px -2px no-repeat;
}

.pay-tip {
	display: inline-block;
	width: 290px;
	height: 26px;
	padding-top: 4px;
	background: url(../images/dianhui.png) 0 0 no-repeat;
	font-size: 12px;
	color: #F00;
	text-indent: 14px;
	+vertical-align: bottom;
}

.cart-100 {
	width: 100%;
	padding: 20px 0;
	background: #F4F4F4;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

.cart-spc {
	width: 746px;
	margin: 0 auto;
	padding-left: 88px;
	color: #666;
}

.cl3 {
	color: #333;
	font-family: tahoma;
}

table.second-tab {
	margin-left: 10px;
	width: 630px;
	min-width: 630px;
	color: #666;
	font-weight: normal;
}

.spc-span {
	display: inline-block;
	width: 23px;
	height: 1px;
	overflow: hidden;
}

.cart-m1 .m1-arr {
	display: inline-block;
	padding: 0 15px 0 10px;
	background: #40A5F2 url(../images/dianhui.png) 95px -36px no-repeat;
	font-size: 14px;
	color: #FFF;
}

.cart-m1 .posi-1 {
	background-position: 68px -36px;
}

.cart-m2 {
	padding: 5px;
	margin: 10px 0;
	background: #E6E6E6;
}

.cart-m3 {
	width: 100%;
	color: #333;
	font-weight: 700;
}

.cart-m3 .text-r {
	text-align: right;
	color: #666;
	font-weight: normal;
}

.cart-m3 td {
	padding: 3px 0;
	vertical-align: top;
}

.cart-m3 .pad-bod {
	padding: 6px 0;
	border-bottom: 1px dashed #CCC;
}

.pt20 {
	padding-top: 20px;
}

.red-paper {
	position: relative;
}

.red-price {
	position: absolute;
	top: 2px;
	left: 50%;
	margin-left: -85px;
	width: 174px;
	height: 81px;
	color: #FFF000;
	font-size: 97px;
	text-align: center;
}

.red-price .ten {
	position: relative;
	top: -2px;
}

.red-price .single {
	position: relative;
	top: -4px;
}

.red-price span {
	*display: inline-block;
	*width: 55px;
}

.qr-code {
	position: absolute;
	left: 50%;
	top: 175px;
	margin-left: -87px;
	padding: 5px;
	background: #E85737;
}

.qr-code img {
	width: 158px;
	height: 158px;
	border: 1px solid #F2A290;
}

.red-msg {
	position: absolute;
	right: 35px;
	bottom: 10px;
	color: #FFD3CF;
	font-family: "Microsoft YaHei";
	font-size: 14px;
}

.red-msg a {
	margin-left: 5px;
	color: #FFD3CF;
	text-decoration: underline;
}

.red-msg i {
	display: inline-block;
	width: 10px;
	height: 16px;
	margin-right: 5px;
	background: url(../images/cart4-btn.png?v=20150408) -22px -134px no-repeat;
	vertical-align: middle;
}

.tip-code {
	display: none;
	position: absolute;
	right: 5px;
	bottom: 35px;
	padding: 3px;
	background: #EEE;
}

.tip-code img {
	width: 120px;
	height: 120px;
	border: 1px solid #F6F6F6;
}

.tip-code .arr {
	display: inline-block;
	position: absolute;
	left: 60px;
	bottom: -9px;
	width: 16px;
	height: 10px;
	background: url(../images/cart4-btn.png?v=20150408) 0 -136px no-repeat;
}

@font-face {
	font-family:'iconfont';src:url('./font/iconfont.eot?var=01');src:url('./font/iconfont.eot?#iefix') format('embedded-opentype'),url('./font/iconfont.woff?var=01') format('woff'),url('./font/iconfont.ttf?var=01') format('truetype');
}

.iconfont {
	display: inline-block;
	font-family: "iconfont"!important;
	font-style: italic;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.provide-cheat {
	position: relative;
	background-color: #fff;
	height: 230px;
	padding: 20px 0 0 65px;
}

.provide-cheat .provide-tips span {
	display: inline-block;
	margin-top: 7px;
	margin-left: 17px;
	font: bold 14px/60px '\5b8b\4f53';
	color: #d00;
}

.provide-cheat .wei {
	float: left;
	width: 66px;
	height: 67px;
	margin-left: 8px;
	background: url(../images/cheat.png) no-repeat;
}

.provide-cheat .provide-word {
	display: inline-block;
	width: 405px;
	height: 36px;
	padding: 9px 35px;
	color: #666;
	background-color: #fffcf0;
	line-height: 18px;
}

.provide-cheat .delay-btn {
	margin: 28px 0 0 139px;
	font: 14px/30px 'Microsoft YaHei';
}

.provide-cheat .delay-btn a {
	float: left;
	width: 190px;
	height: 30px;
	background-color: #ccc;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	cursor: default;
}

.provide-cheat .delay-btn a:hover {
	text-decoration: none;
}

.provide-cheat .delay-btn a.able {
	background-color: #f29417;
	cursor: pointer;
}

.provide-cheat .delay-btn .time-left {
	float: left;
	margin-left: 18px;
	line-height: 30px;
	color: #666;
}

.jnbt-box {
	position: relative;
	background-color: #FFF;
	padding: 40px 0 0 60px;
	height: 374px;
}

.jnbt-tip {
	height: 40px;
	line-height: 40px;
	font: 24px/40px "Microsoft YaHei";
}

.jnbt-tip .jnbt-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	background: url(../images/tipIcon-2.png) -156px -70px no-repeat;
}

.jnbt-tip span {
	margin-left: 10px;
	vertical-align: middle;
}

.jnbt-box .jnbt-sm {
	text-align: center;
	font: 18px/36px "Microsoft YaHei";
}

.jnbt-box .jnbt-btn {
	display: block;
	width: 140px;
	height: 42px;
	background-color: #F90;
	font: 16px/42px "Microsoft YaHei";
	color: #FFF;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 30px 0 0 236px;
}

.jnbt-box .jnbt-btn:hover {
	background-color: #F70;
	color: #FFF;
	text-decoration: none;
}

.jnbt-process {
	width: 510px;
	padding: 35px;
	border-top: dashed 1px #e6e6e6;
	margin: 40px 0 0 17px;
}