body.root990 .rb-nav-2014 .nav .nav-item-list a {
	padding: 0 20px
}

body.root990 .rb-nav-2014 .nav .nav-item-list a:hover {
	background: 0;
	color: #f32744
}

body.root990 .rb-nav-2014 .nav .nav-item-list a.active {
	color: #f32744
}

.childClassify {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	font-family: "Microsoft Yahei";
	font-size: 14px;
	height: 30px;
	width: 130px;
	line-height: 30px;
	text-align: center;
	color: #fffefe;
	background: #ea1d30
}

.rb-nav-2014 .nav .list-wrap {
	overflow: visible
}

.classifyMenu {
	display: none;
	position: absolute;
	z-index: 5;
	font-family: "Microsoft Yahei";
	top: 37px;
	right: 0;
	border-top: 2px solid #e80016;
	border-left: 2px solid #e80016;
	width: 800px
}

#classifyMenu-content {
	background: #fff;
	padding: 12px 24px;
	border-bottom: 2px solid #e80016;
	min-height: 240px;
	width: 618px;
	overflow: hidden;
	border-right: 2px solid #e80016
}

#classifyMenu-content .active {
	display: block
}

#classifyMenu-content a {
	font-size: 12px;
	line-height: 18px;
	height: 18px;
	font-weight: normal;
	color: #666;
	padding: 0 9px
}

#classifyMenu-content a:hover {
	background: 0;
	color: #f91536
}

#classifyMenu-content .red {
	color: #f91536
}

#classifyMenu-content dt a {
	font-weight: bold;
	color: #666;
	padding: 0
}

#classifyMenu-content dt a:hover {
	background: 0;
	color: #f91536
}

.classifyMenu-item {
	display: none;
	overflow: hidden
}

.classifyMenu-item dl {
	line-height: 18px;
	border-top: 1px dotted #cacaca;
	width: 618px;
	font-family: simsun;
	font-size: 12px;
	margin-top: -1px;
	padding: 9px 0;
	color: #666
}

.classifyMenu-item dt {
	float: left;
	width: 60px;
	font-weight: bold
}

.classifyMenu-item dd {
	float: left;
	width: 540px
}

.classifyMenu-list {
	width: 134px;
	border-bottom: 2px solid #e80016;
	position: relative;
	z-index: 10;
	margin-left: -2px
}

.classifyMenu-list li {
	cursor: pointer;
	height: 44px;
	line-height: 44px;
	cursor: pointer;
	padding-right: 4px;
	overflow: hidden;
	padding-left: 50px;
	background-image: url("../images/menuIcon.png?20160218");
	background-repeat: no-repeat;
	font-size: 14px;
	color: #fff
}

.classifyMenu-list .odd {
	background-color: #e80016
}

.classifyMenu-list .even {
	background-color: #f91536
}

.classifyMenu-list .active {
	border-left: 2px solid #fff;
	border-right: 2px solid #f91536;
	background-color: #fff;
	color: #ff495a
}

.classifyMenu-list .classifyMenu-nutrition {
	background-position: 24px -260px
}

.classifyMenu-list .classifyMenu-nutrition.active {
	background-position: 24px 10px
}

.classifyMenu-list .classifyMenu-use {
	background-position: 24px -310px
}

.classifyMenu-list .classifyMenu-use.active {
	background-position: 24px -36px
}

.classifyMenu-list .classifyMenu-clothes {
	background-position: 24px -354px
}

.classifyMenu-list .classifyMenu-clothes.active {
	background-position: 24px -78px
}

.classifyMenu-list .classifyMenu-books {
	background-position: 24px -400px
}

.classifyMenu-list .classifyMenu-books.active {
	background-position: 24px -126px
}

.classifyMenu-list .classifyMenu-bed {
	background-position: 24px -446px
}

.classifyMenu-list .classifyMenu-bed.active {
	background-position: 24px -170px
}

.classifyMenu-list .classifyMenu-mother {
	background-position: 24px -492px
}

.classifyMenu-list .classifyMenu-mother.active {
	background-position: 24px -216px
}

body .ng-header .channel-logo {
	margin-top: 0
}

.body-style .ng-footer {
	margin-top: 0
}