.dq-logo {
	display: block;
	width: 130px;
	height: 60px
}

.dq-act {
	display: block
}

.ng-top-banner .btn {
	position: absolute;
	top: 3px;
	right: 42px;
	width: 16px;
	height: 16px;
	color: #fff;
	overflow: hidden
}

.ng-top-banner .btn-open {
	display: none
}

.ng-top-banner .btn i {
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	text-align: center;
	cursor: pointer
}

.ng-top-banner .btn i.bg {
	z-index: 1;
	background: #000;
	opacity: .3;
	filter: alpha(opacity=30)
}

.ng-top-banner .btn i.text {
	z-index: 2;
	font: 16px/16px simsun;
	text-align: center
}

.top-active-wrap {
	height: 100px
}

.top-active-wrap img {
	height: 100px
}

.first-screen {
	position: relative;
	min-width: 990px;
	height: 400px;
	margin: 0 auto;
	overflow: hidden
}

.banner-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px
}

.banner-wrapper .banner {
	width: 100%;
	height: 400px
}

.banner-wrapper .banner li {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 400px
}

.banner-wrapper .banner li a {
	position: absolute;
	top: 0;
	left: 50%;
	width: 600px;
	height: 400px;
	margin-left: -305px;
	overflow: hidden
}

.banner-wrapper .banner li img {
	display: block;
	width: 800px;
	height: 400px;
	margin-left: -100px
}

.banner-wrapper .point {
	position: absolute;
	display: none;
	top: 159px;
	width: 50px;
	height: 82px;
	line-height: 82px;
	background-color: #000;
	text-align: center;
	opacity: .2;
	filter: alpha(opacity=20)
}

.banner-wrapper .point i {
	display: inline-block;
	width: 17px;
	height: 34px;
	vertical-align: middle;
	background: url(../images/dianqi_sprite.png?v=cc87a) no-repeat;
	*margin-top: 24px;
	_margin-top: 24px
}

.banner-wrapper .point:hover {
	opacity: .3;
	filter: alpha(opacity=30)
}

.banner-wrapper .left-point {
	left: 50%;
	margin-left: -295px
}

.banner-wrapper .left-point i {
	background-position: -176px -78px
}

.banner-wrapper .right-point {
	right: 50%;
	margin-right: -285px
}

.banner-wrapper .right-point i {
	background-position: -203px -78px
}

.banner-wrapper .banner-nav-wrapper {
	position: absolute;
	top: 375px;
	width: 100%;
	height: 5px;
	text-align: center;
	font-size: 0
}

.banner-wrapper .banner-nav-wrapper .banner-nav {
	position: relative;
	display: inline-block;
	height: 5px
}

.banner-wrapper .banner-nav-wrapper .banner-nav a {
	display: inline-block;
	margin-left: 8px;
	width: 20px;
	height: 5px;
	background-color: #FFF;
	opacity: .6;
	filter: alpha(opacity=60)
}

.banner-wrapper .banner-nav-wrapper .banner-nav a.current {
	opacity: 1;
	filter: alpha(opacity=100)
}

.dianqi-nav-wrapper {
	position: relative;
	left: 50%;
	margin-left: -495px;
	width: 190px;
	height: 400px;
	z-index: 10
}

.dianqi-nav {
	position: relative;
	float: left;
	width: 190px;
	height: 400px;
	z-index: 1;
	font-family: "Microsoft Yahei"
}

.dianqi-nav .sort-list {
	width: 190px;
	height: 400px;
	background-color: #3f8efc
}

.dianqi-nav .sort-list li {
	width: 174px;
	height: 49px;
	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: #4c97ff;
	line-height: 49px;
	padding-left: 15px;
	font-size: 14px;
	color: #FFF
}

.dianqi-nav .sort-list li a {
	color: #FFF
}

.dianqi-nav .sort-list li span {
	display: inline-block;
	vertical-align: middle;
	width: 130px;
	height: 49px;
	overflow: hidden;
	*display: inline;
	_display: inline;
	zoom: 1
}

.dianqi-nav .sort-list li em {
	display: inline-block;
	vertical-align: middle;
	line-height: 49px;
	background: url(../images/dianqi_sprite.png?v=cc87a) no-repeat
}

.dianqi-nav .sort-list li .dianqi-icon1 {
	width: 11px;
	height: 17px;
	margin: 0 12px 0 5px;
	background-position: 0 0
}

.dianqi-nav .sort-list li .dianqi-icon2 {
	width: 11px;
	height: 17px;
	margin: 0 12px 0 5px;
	background-position: -21px 0
}

.dianqi-nav .sort-list li .dianqi-icon3 {
	width: 17px;
	height: 14px;
	margin: 1px 9px 0 2px;
	background-position: -42px 0
}

.dianqi-nav .sort-list li .dianqi-icon4 {
	width: 16px;
	height: 17px;
	margin: 0 10px 0 2px;
	background-position: -69px 0
}

.dianqi-nav .sort-list li .dianqi-icon5 {
	width: 11px;
	height: 17px;
	margin: 1px 12px 0 5px;
	background-position: -95px 0
}

.dianqi-nav .sort-list li .dianqi-icon6 {
	width: 19px;
	height: 14px;
	margin: 0 8px 0 1px;
	background-position: -116px 0
}

.dianqi-nav .sort-list li .dianqi-icon7 {
	width: 15px;
	height: 14px;
	margin: 0 11px 0 3px;
	background-position: -145px 0
}

.dianqi-nav .sort-list li .dianqi-icon8 {
	width: 18px;
	height: 12px;
	margin: 1px 9px 0 1px;
	background-position: -170px 0
}

.dianqi-nav .sort-list .sort-item1 {
	border-color: #4c97ff
}

.dianqi-nav .sort-list .current {
	background-color: #FFF;
	color: #3f8efc;
	border-color: #4c97ff;
	height: 48px;
	border-bottom: 1px solid #4c97ff;
	overflow: hidden
}

.dianqi-nav .sort-list .current a {
	color: #3f8efc
}

.dianqi-nav .sort-list .current .dianqi-icon1 {
	background-position: 0 -27px
}

.dianqi-nav .sort-list .current .dianqi-icon2 {
	background-position: -21px -27px
}

.dianqi-nav .sort-list .current .dianqi-icon3 {
	background-position: -42px -27px
}

.dianqi-nav .sort-list .current .dianqi-icon4 {
	background-position: -69px -27px
}

.dianqi-nav .sort-list .current .dianqi-icon5 {
	background-position: -95px -27px
}

.dianqi-nav .sort-list .current .dianqi-icon6 {
	background-position: -116px -27px
}

.dianqi-nav .sort-list .current .dianqi-icon7 {
	background-position: -145px -27px
}

.dianqi-nav .sort-list .current .dianqi-icon8 {
	background-position: -170px -28px
}

.second-item-list {
	position: absolute;
	top: 0;
	left: 190px;
	width: 540px
}

.second-item-list .category-item {
	position: absolute;
	left: 0;
	display: none;
	width: 479px;
	padding: 3px 30px 4px 30px;
	background-color: #FFF;
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #3f8efc
}

.second-item-list .category-item dl {
	width: 467px;
	padding: 10px 2px 10px 10px
}

.second-item-list .category-item dt {
	float: left;
	width: 78px;
	font: 14px/24px "Microsoft Yahei"
}

.second-item-list .category-item dt a {
	color: #333
}

.second-item-list .category-item dd {
	float: left;
	width: 389px;
	font: 12px/24px "Microsoft Yahei"
}

.second-item-list .category-item dd a {
	display: inline-block;
	margin: 0 8px;
	color: #333
}

.second-item-list .category-item dd a:hover {
	color: #F60
}

.second-item-list .category-item dd .hot {
	color: #F60
}

.second-item-list .category-item .dl-border {
	border-bottom: 1px dashed #EEE
}

.second-item-list .category-item span.item-close {
	position: absolute;
	top: 0;
	right: 3px;
	font-size: 20px;
	font-family: "simsun";
	cursor: pointer
}

.dianqi-activity {
	position: absolute;
	top: 0;
	right: 50%;
	margin-right: -495px;
	width: 200px;
	height: 400px
}

.dianqi-activity img {
	display: block;
	width: 200px
}

.dianqi-activity img:hover {
	opacity: .9;
	filter: alpha(opacity=90)
}

.dianqi-activity .service {
	height: 180px
}

.dianqi-activity .hotCommodity {
	height: 220px
}

.hot-wrapper {
	width: 100%;
	height: 368px;
	padding-top: 29px;
	background-color: #f8f8f8
}

.hot-wrapper .hot-floor {
	width: 990px;
	height: 358px;
	margin: 0 auto;
	overflow: hidden
}

.hot-wrapper .hot-floor .hot-title {
	position: relative;
	float: left;
	width: 177px;
	height: 49px;
	margin-top: 1px;
	padding: 1px 0 0 13px;
	color: #f54700
}

.hot-wrapper .hot-floor .hot-title .point {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-width: 0 0 12px 12px;
	border-style: solid;
	border-color: transparent transparent transparent #f54700;
	_border-color: #f8f8f8 #f8f8f8 #f8f8f8 #f54700;
	font-size: 0
}

.hot-wrapper .hot-floor .hot-title h5 {
	width: 177px;
	height: 28px;
	font: bold 24px/28px "Microsoft Yahei";
	overflow: hidden
}

.hot-wrapper .hot-floor .hot-title p {
	margin-left: 1px
}

.hot-wrapper .category-tab {
	float: left;
	width: 775px;
	height: 36px;
	margin: 3px 0 0 13px;
	overflow: hidden
}

.hot-wrapper .category-tab .tab-list {
	float: left;
	width: 130px;
	height: 36px;
	margin-right: 25px;
	background-color: #FFF;
	text-align: center;
	color: #3f8efc;
	cursor: default
}

.hot-wrapper .category-tab .tab-list span.radius-point {
	float: left;
	width: 18px;
	height: 36px;
	background: url(../images/dianqi_sprite.png?v=cc87a) no-repeat
}

.hot-wrapper .category-tab .tab-list span.left-radius {
	background-position: -544px -73px
}

.hot-wrapper .category-tab .tab-list span.right-radius {
	background-position: -600px -73px
}

.hot-wrapper .category-tab .tab-list span.tab-list-content {
	float: left;
	width: 94px;
	height: 34px;
	border-width: 1px 0 1px 0;
	border-color: #4390fc;
	border-style: solid
}

.hot-wrapper .category-tab .tab-list em {
	display: inline-block;
	vertical-align: middle;
	font: bold 14px/34px "Microsoft Yahei"
}

.hot-wrapper .category-tab .tab-list i {
	display: inline-block;
	vertical-align: middle;
	background: url(../images/dianqi_sprite.png?v=cc87a) no-repeat
}

.hot-wrapper .category-tab .tab-list .refrigerator {
	width: 13px;
	height: 20px;
	margin-right: 13px;
	background-position: -197px 0
}

.hot-wrapper .category-tab .tab-list .tv {
	width: 17px;
	height: 14px;
	margin-right: 12px;
	background-position: -243px 0
}

.hot-wrapper .category-tab .tab-list .rangeHood {
	width: 26px;
	height: 13px;
	margin-right: 8px;
	background-position: -297px 0
}

.hot-wrapper .category-tab .tab-list .washer {
	width: 14px;
	height: 17px;
	margin-right: 13px;
	background-position: -369px 0
}

.hot-wrapper .category-tab .tab-list .kitchen {
	width: 16px;
	height: 15px;
	margin-right: 8px;
	background-position: -417px 0
}

.hot-wrapper .category-tab .tab-list .computer {
	width: 19px;
	height: 15px;
	margin-right: 11px;
	background-position: -469px 0
}

.hot-wrapper .category-tab .tab-list .all {
	width: 20px;
	height: 16px;
	margin-right: 8px;
	background-position: -527px 0
}

.hot-wrapper .category-tab .tab-list .kongtiao {
	width: 11px;
	height: 17px;
	margin-right: 13px;
	background-position: -587px 0
}

.hot-wrapper .category-tab .tab-list .mobile {
	width: 11px;
	height: 17px;
	margin-right: 13px;
	background-position: -629px 0
}

.hot-wrapper .category-tab .tab-list .camera {
	width: 22px;
	height: 14px;
	margin-right: 11px;
	background-position: -468px -27px
}

.hot-wrapper .category-tab .tab-list .little {
	width: 16px;
	height: 17px;
	margin-right: 10px;
	background-position: -532px -27px
}

.hot-wrapper .category-tab .current-tab-list span.tab-list-content {
	border-color: #f64700;
	color: #f64700
}

.hot-wrapper .category-tab .current-tab-list span.left-radius {
	background-position: -572px -73px
}

.hot-wrapper .category-tab .current-tab-list span.right-radius {
	background-position: -628px -73px
}

.hot-wrapper .category-tab .current-tab-list .refrigerator {
	background-position: -220px 0
}

.hot-wrapper .category-tab .current-tab-list .tv {
	background-position: -270px 0
}

.hot-wrapper .category-tab .current-tab-list .rangeHood {
	background-position: -333px 0
}

.hot-wrapper .category-tab .current-tab-list .washer {
	background-position: -393px 0
}

.hot-wrapper .category-tab .current-tab-list .kitchen {
	background-position: -443px 0
}

.hot-wrapper .category-tab .current-tab-list .computer {
	background-position: -498px 0
}

.hot-wrapper .category-tab .current-tab-list .all {
	background-position: -557px 0
}

.hot-wrapper .category-tab .current-tab-list .kongtiao {
	background-position: -608px 0
}

.hot-wrapper .category-tab .current-tab-list .mobile {
	background-position: -650px 0
}

.hot-wrapper .category-tab .current-tab-list .camera {
	background-position: -500px -27px
}

.hot-wrapper .category-tab .current-tab-list .little {
	background-position: -558px -27px
}

.hot-wrapper .hot-commodity-wrapper {
	position: relative;
	float: left;
	width: 990px;
	height: 290px;
	overflow: hidden
}

.hot-wrapper .hot-commodity-wrapper .hot-commodity {
	display: none;
	width: 990px;
	height: 280px;
	padding-top: 10px
}

.hot-wrapper .hot-commodity-wrapper .hot-commodity ul {
	width: 1000px;
	height: 280px
}

.hot-wrapper .hot-commodity-wrapper .hot-commodity li.commodity {
	position: relative;
	float: left;
	width: 238px;
	height: 278px;
	margin: 0 10px 4px 0;
	background-color: #FFF;
	border: 1px solid #EEE;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	_display: inline
}

.hot-wrapper .hot-commodity-wrapper .hot-commodity .commodity-img {
	display: block;
	width: 160px;
	height: 160px;
	margin: 20px 34px 18px 34px
}

.hot-wrapper .hot-commodity-wrapper .hot-commodity li:hover {
	-webkit-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	transform: translateY(-6px)
}

.hot-wrapper .hot-commodity-wrapper .price-wrapper {
	width: 160px;
	height: 26px;
	margin-left: 42px
}

.hot-wrapper .hot-commodity-wrapper .commodity-intro {
	width: 238px;
	height: 79px;
	border-top: 1px solid #EEE
}

.hot-wrapper .hot-commodity-wrapper .commodity-intro p {
	width: 156px;
	height: 22px;
	margin: 13px auto 5px auto;
	text-align: center;
	font: 12px/22px "Microsoft Yahei";
	overflow: hidden
}

.price-wrapper .now-price {
	float: left;
	text-align: left;
	height: 26px;
	color: #eb0028;
	line-height: 26px
}

.price-wrapper .now-price i {
	display: inline-block;
	vertical-align: middle;
	margin-top: 2px;
	font: bold 16px/26px "arial"
}

.price-wrapper .now-price .price-number {
	display: inline-block;
	vertical-align: middle;
	font: bold 16px/26px "tahoma"
}

.price-wrapper .now-price .price-last {
	display: inline-block;
	vertical-align: middle
}

.price-wrapper .last-price {
	float: left;
	text-align: left;
	margin: 4px 0 0 10px;
	color: #999;
	text-decoration: line-through
}

.show-floor {
	position: relative;
	width: 990px;
	height: 416px;
	margin: 16px auto 0 auto
}

.show-floor .show-title {
	position: relative;
	width: 700px;
	height: 55px;
	padding: 1px 10px 0 13px;
	color: #468efd;
	overflow: hidden
}

.show-floor .show-title .point {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-width: 0 0 12px 12px;
	border-style: solid;
	font-size: 0;
	border-color: transparent transparent transparent #468efd;
	_border-color: #FFF #FFF #FFF #468efd
}

.show-floor .show-title h5 {
	font: bold 24px/28px "Microsoft Yahei"
}

.show-floor .show-title p {
	margin-left: 1px
}

.show-floor .show-list {
	position: relative;
	width: 990px;
	height: 360px;
	margin: auto;
	overflow: hidden
}

.show-floor .show-list a:hover {
	opacity: .8;
	filter: alpha(opacity=80)
}

.show-floor .show-list img {
	position: absolute;
	display: block
}

.show-floor .show-list .show-list-img1 {
	top: 0;
	left: 0;
	width: 390px;
	height: 360px
}

.show-floor .show-list .show-list-img2 {
	top: 0;
	left: 400px;
	width: 190px;
	height: 360px
}

.show-floor .show-list .show-list-img3 {
	top: 0;
	left: 600px;
	width: 390px;
	height: 175px
}

.show-floor .show-list .show-list-img4 {
	top: 185px;
	left: 600px;
	width: 390px;
	height: 175px
}

.show-floor .show-list .show-list-img5 {
	top: 0;
	left: 999px;
	width: 190px;
	height: 360px
}

.customization {
	position: fixed;
	left: 0;
	display: none;
	width: 100%;
	height: 680px;
	background-color: #FFF;
	z-index: 8001;
	overflow: hidden;
	_position: absolute
}

.customization .big-img {
	position: absolute;
	z-index: 1;
	left: 50%;
	width: 2320px;
	height: 680px;
	margin-left: -1155px;
	overflow: hidden
}

.customization .big-img li {
	display: none
}

.customization .big-img li.current {
	display: block
}

.customization .big-img img {
	display: block;
	width: 2320px;
	height: 680px
}

.customization .custmz-wrap {
	position: relative;
	z-index: 2
}

.customization h3 {
	padding-top: 3px;
	color: #1673e5;
	font: bold 24px/1.5 'microsoft yahei';
	text-align: center
}

.customization h4 {
	margin-top: -4px;
	color: #1673e5;
	font: 14px/1.5 'microsoft yahei';
	text-align: center
}

.customization .huxing {
	position: relative;
	z-index: 1;
	float: left;
	width: 616px;
	height: 588px;
	margin-top: 16px
}

.customization .huxing-img {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 616px;
	height: 588px
}

.customization .huxing-img img {
	display: block;
	width: 616px;
	height: 588px
}

.customization .huxing-main {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0
}

.customization .huxing-main .tag {
	position: absolute;
	z-index: 2;
	left: -6px;
	top: 10px;
	width: 150px;
	height: 30px;
	background: #3e9af0;
	text-indent: 8px
}

.customization .huxing-main .tag b {
	position: absolute;
	left: 0;
	top: 30px;
	width: 6px;
	height: 6px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -464px -73px;
	overflow: hidden
}

.customization .huxing-main .tag a {
	color: #fff;
	font: 14px/30px 'microsoft yahei'
}

.customization .huxing-main .tag a:hover {
	color: #fff
}

.customization .huxing-main .tag i {
	position: absolute;
	top: 2px;
	right: 3px;
	width: 24px;
	height: 24px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -427px -73px;
	overflow: hidden
}

.customization .huxing-main .links {
	position: absolute;
	z-index: 2;
	left: 30px;
	top: 488px;
	width: 350px
}

.customization .huxing-main .links-list {
	height: 20px;
	margin-bottom: 10px;
	overflow: hidden
}

.customization .huxing-main .links-list a {
	display: inline;
	float: left;
	height: 20px;
	margin-right: 10px;
	padding: 0 14px;
	background: #3e9af0;
	color: #fff;
	font: 12px/20px 'microsoft yahei'
}

.customization .huxing-main .links-list a:hover {
	background: #ff8802;
	color: #fff;
	text-decoration: none
}

.customization .huxing-main .links-list-second a {
	opacity: .8;
	filter: alpha(opacity=80)
}

.customization .huxing-main .tab-fst {
	position: absolute;
	width: 40px;
	height: 40px;
	padding-top: 6px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -374px -71px;
	color: #fff;
	font: bold 14px/28px 'microsoft yahei';
	text-align: center;
	cursor: pointer
}

.customization .huxing-main .tab-fst:before {
	position: absolute;
	top: -5px;
	left: -5px;
	content: "";
	display: block;
	width: 40px;
	height: 40px;
	border: 5px solid rgba(62,154,240,0.7);
	border-radius: 50px;
	-webkit-animation: scaleout 2s infinite linear;
	-ms-animation: scaleout 2s infinite linear;
	animation: scaleout 2s infinite linear
}

.customization .huxing-main .tab-fst:after {
	position: absolute;
	top: -10px;
	left: -10px;
	content: "";
	display: block;
	width: 50px;
	height: 50px;
	border: 5px solid rgba(62,154,240,0.3);
	border-radius: 60px;
	-webkit-animation: scaleout 2s infinite linear;
	-ms-animation: scaleout 2s infinite linear;
	animation: scaleout 2s infinite linear
}

.customization .huxing-main .tab-fst-on:before,.customization .huxing-main .tab-fst-on:after {
	display: none
}

.customization .huxing-main .tab-fst-on {
	height: 44px;
	background-position: -576px -130px
}

.customization .huxing-main .tab-kitchen {
	left: 133px;
	top: 172px
}

.customization .huxing-main .tab-toilet {
	left: 436px;
	top: 238px;
	line-height: 1
}

.customization .huxing-main .tab-hall {
	position: absolute;
	left: 261px;
	top: 246px
}

.customization .huxing-main .tab-hall-box {
	z-index: 10;
	left: 0;
	top: 0
}

.customization .huxing-main .tab-bedroom {
	position: absolute;
	left: 374px;
	top: 340px
}

.customization .huxing-main .tab-bedroom-box {
	z-index: 10;
	left: 0;
	top: 0
}

.customization .huxing-main .tab-sed {
	display: none;
	position: absolute;
	z-index: 5;
	width: 53px;
	height: 40px;
	padding-top: 17px;
	padding-left: 4px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -511px -131px;
	color: #fff;
	font: 12px/1 'microsoft yahei';
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer
}

.customization .huxing-main .tab-item-on .tab-sed {
	display: block
}

.customization .huxing-main .tab-sed-on {
	background-position: -626px -131px
}

.customization .huxing-main .tab-sed00 {
	_left: -38px;
	_top: -60px
}

.customization .huxing-main .tab-sed01 {
	_left: -70px;
	_top: -5px
}

.customization .huxing-main .tab-sed02 {
	_left: -38px;
	_top: 48px
}

.customization .huxing-main .line {
	display: none;
	position: absolute;
	z-index: 100;
	left: 18px;
	background: #63adf2;
	overflow: hidden
}

.customization .huxing-main .tab-item-on .line,.customization .huxing-main .tab-fst-on .line {
	display: block
}

.customization .huxing-main .line1 {
	width: 2px
}

.customization .huxing-main .line2 {
	height: 2px
}

.customization .huxing-main .tab-hall .line1 {
	top: -135px;
	height: 135px
}

.customization .huxing-main .tab-hall .line2 {
	top: -135px;
	width: 330px
}

.customization .huxing-main .tab-kitchen .line1 {
	top: -100px;
	height: 100px
}

.customization .huxing-main .tab-kitchen .line2 {
	top: -100px;
	width: 458px
}

.customization .huxing-main .tab-toilet .line1 {
	top: -110px;
	height: 110px
}

.customization .huxing-main .tab-toilet .line2 {
	top: -110px;
	width: 155px
}

.customization .huxing-main .tab-bedroom .line1 {
	top: -180px;
	height: 180px
}

.customization .huxing-main .tab-bedroom .line2 {
	top: -180px;
	width: 217px
}

.customization .recmds {
	position: relative;
	z-index: 2;
	float: left;
	width: 348px;
	height: 558px;
	margin-top: 31px;
	margin-left: -8px;
	padding-left: 16px;
	padding-right: 18px;
	background: #63adf2;
	overflow: hidden
}

.root1200 .customization .recmds {
	width: 548px
}

.customization .recmds .tab-cont {
	display: none
}

.customization .recmds .require {
	padding-top: 18px;
	color: #fff;
	font: bold 18px/1.5 'microsoft yahei'
}

.customization .recmds .require b {
	color: #ffe402
}

.customization .recmds .require-detail {
	position: relative;
	height: 92px;
	margin-top: 6px;
	overflow: hidden
}

.customization .recmds .require-detail .arrow {
	display: none;
	position: absolute;
	width: 20px;
	height: 20px;
	background: url(../images/dianqi_sprite.png?v=cc87a);
	overflow: hidden
}

.root1200 .customization .recmds .require-detail .arrow {
	display: block
}

.customization .recmds .require-detail .arrow-left {
	left: 0;
	top: 0;
	background-position: -479px -73px
}

.customization .recmds .require-detail .arrow-right {
	right: 0;
	bottom: 0;
	background-position: -479px -95px
}

.customization .recmds .require-detail ul {
	margin-left: 0
}

.root1200 .customization .recmds .require-detail ul {
	margin-left: 45px
}

.customization .recmds .require-detail li {
	padding-top: 4px;
	color: #fff;
	font: 12px/1.5 'microsoft yahei'
}

.customization .recmds .require-detail li b {
	color: #ffe402;
	font-size: 14px
}

.customization .recmds-list {
	position: relative;
	height: 384px;
	margin: 10px -15px 0 -7px;
	overflow: hidden
}

.root1200 .customization .recmds-list {
	margin-left: 0
}

.customization .recmds-list li {
	display: inline;
	position: relative;
	float: left;
	width: 180px;
	height: 190px;
	margin-right: 4px;
	margin-bottom: 4px;
	background: #fff;
	overflow: hidden
}

.customization .recmds-list li .name {
	height: 18px;
	margin-left: 12px;
	padding-top: 6px;
	overflow: hidden
}

.customization .recmds-list li .name a {
	color: #666
}

.customization .recmds-list li .name a:hover {
	color: #f60
}

.customization .recmds-list li .price {
	height: 20px;
	margin-top: 3px;
	margin-left: 12px;
	overflow: hidden
}

.customization .recmds-list li .price i {
	float: left;
	margin-top: 3px;
	padding-left: 2px;
	color: #d00;
	font-family: arial
}

.customization .recmds-list li .price strong {
	float: left;
	padding-left: 2px;
	color: #d00;
	font: bold 16px/19px tahoma
}

.customization .recmds-list li .price img {
	display: block;
	height: 20px
}

.customization .recmds-list li .intro {
	height: 18px;
	margin-left: 12px;
	padding-top: 3px;
	color: #999;
	overflow: hidden
}

.customization .recmds-list li .face {
	margin-left: 60px
}

.customization .recmds-list li .face img {
	display: block;
	width: 120px;
	height: 120px
}

.customization .recmds-list li .sample {
	position: absolute;
	z-index: 5;
	left: 0;
	bottom: -24px;
	width: 180px;
	height: 24px
}

.customization .recmds-list li .sample a {
	display: block;
	width: 180px;
	height: 24px;
	background: #ff8802;
	opacity: .8;
	filter: alpha(opacity=80);
	color: #fff;
	line-height: 24px;
	text-align: center;
	overflow: hidden
}

.customization .recmds-list li .sample a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	color: #fff;
	text-decoration: none
}

.customization .close-btn {
	position: absolute;
	top: 20px;
	right: 60px;
	width: 14px;
	height: 14px;
	padding: 5px;
	background-color: #3f8efc;
	z-index: 10;
	cursor: pointer
}

.customization .close-btn i {
	display: block;
	width: 14px;
	height: 14px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -348px -93px no-repeat
}

.overlay-black {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	opacity: .3;
	filter: Alpha(opacity=30);
	background: black;
	z-index: 8000;
	cursor: default;
	_position: absolute
}

@-webkit-keyframes scaleout {
	0 {
		-webkit-transform: scale(0.8);
		transform: scale(0.8)
	}

	100% {
		-webkit-transform: scale(1.05);
		transform: scale(1.05)
	}
}

@-ms-keyframes scaleout {
	0 {
		-ms-transform: scale(0.8);
		transform: scale(0.8)
	}

	100% {
		-ms-transform: scale(1.05);
		transform: scale(1.05)
	}
}

.dianqi-floor {
	position: relative;
	width: 990px;
	height: 734px;
	margin: 50px auto 0 auto;
	overflow: hidden;
	_zoom: 1
}

.dianqi-floor .floor-title {
	width: 990px;
	height: 123px;
	border-bottom: 2px solid;
	background-color: #f4f8fb
}

.dianqi-floor .point {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	font-size: 0;
	border-width: 0 0 60px 60px;
	border-style: solid
}

.dianqi-floor .floor-number {
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 30px;
	text-align: center;
	font: bold 16px/30px "Microsoft Yahei";
	color: #FFF
}

.dianqi-floor .floor-name {
	float: left;
	width: 154px;
	height: 72px;
	margin-top: 24px;
	padding-right: 26px;
	border-right: 1px solid #333;
	text-align: right;
	color: #333;
	_position: relative;
	_z-index: 1
}

.dianqi-floor .floor-name h5 {
	font: 30px/36px "Microsoft Yahei";
	margin-bottom: 3px
}

.dianqi-floor .floor-name p {
	font: 12px/16px "Microsoft Yahei"
}

.dianqi-floor .floor-content {
	position: relative;
	width: 100%;
	height: 609px
}

.dianqi-floor .floor-content .floor-intro {
	float: left;
	width: 230px;
	height: 539px;
	padding-top: 10px;
	_position: absolute;
	_top: 0;
	_left: 0
}

.dianqi-floor .floor-content .knowledge {
	width: 210px;
	height: 169px;
	padding: 10px 10px 0 10px;
	overflow: hidden
}

.dianqi-floor .floor-content .knowledge .knowledge-title {
	display: block;
	width: 202px;
	height: 24px;
	font: 14px/24px "Microsoft Yahei";
	padding: 0 0 6px 8px;
	border-bottom: 1px solid;
	color: #FFF
}

.dianqi-floor .floor-content .knowledge .knowledge-list {
	width: 208px;
	height: 104px;
	margin-top: 11px;
	padding-left: 2px;
	font: 12px/26px "Microsoft Yahei";
	overflow: hidden;
	_position: relative
}

.dianqi-floor .floor-content .knowledge .knowledge-list li {
	width: 202px;
	height: 26px;
	overflow: hidden
}

.dianqi-floor .floor-content .knowledge .knowledge-list li span.dot {
	display: inline-block;
	width: 5px;
	height: 6px;
	margin: 6px;
	line-height: 26px;
	font-size: 0;
	background: url(../images/dianqi_sprite.png?v=cc87a) -309px -85px no-repeat;
	vertical-align: middle
}

.dianqi-floor .floor-content .knowledge .knowledge-list li a {
	color: #FFF;
	_display: inline-block;
	_vertical-align: middle;
	_line-height: 32px;
	_width: 180px;
	_height: 26px;
	_overflow: hidden
}

.dianqi-floor .floor-content .floor-slide {
	position: relative;
	width: 230px;
	height: 360px;
	overflow: hidden
}

.dianqi-floor .floor-content .floor-slide ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 690px;
	height: 360px
}

.dianqi-floor .floor-content .floor-slide li {
	float: left;
	width: 230px;
	height: 360px
}

.dianqi-floor .floor-content .floor-slide img {
	display: block;
	width: 230px;
	height: 360px
}

.dianqi-floor .floor-content .floor-slide .nav-wrap {
	position: absolute;
	display: none;
	left: 0;
	bottom: 20px;
	width: 230px;
	height: 5px;
	text-align: center;
	font-size: 0
}

.dianqi-floor .floor-content .floor-slide .floor-nav {
	position: relative;
	display: inline-block;
	height: 5px
}

.dianqi-floor .floor-content .floor-slide .floor-nav a {
	display: inline-block;
	margin-left: 8px;
	width: 20px;
	height: 5px;
	background-color: #FFF;
	opacity: .6;
	filter: alpha(opacity=60)
}

.dianqi-floor .floor-content .floor-slide .floor-nav a.current {
	opacity: 1;
	filter: alpha(opacity=100)
}

.dianqi-floor .floor-content .floor-slide .pre {
	position: absolute;
	display: none;
	left: 10px;
	top: 190px;
	width: 17px;
	height: 34px;
	vertical-align: middle;
	background: url(../images/dianqi_sprite.png?v=cc87a) -176px -78px no-repeat
}

.dianqi-floor .floor-content .floor-slide .next {
	position: absolute;
	display: none;
	right: 10px;
	top: 190px;
	width: 17px;
	height: 34px;
	vertical-align: middle;
	background: url(../images/dianqi_sprite.png?v=cc87a) -203px -78px no-repeat
}

.dianqi-floor .floor-content .commodity-list-wrapper {
	width: 760px;
	overflow: hidden;
	_position: absolute;
	_top: 0;
	_right: 0
}

.dianqi-floor .floor-content .commodity-list {
	float: left;
	width: 1012px;
	height: 539px;
	padding-top: 10px;
	overflow: hidden
}

.dianqi-floor .floor-content .commodity-list li {
	position: relative;
	float: left;
	width: 252px;
	height: 269px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #eee
}

.dianqi-floor .floor-content .commodity-list li img {
	display: block;
	width: 160px;
	height: 160px;
	margin: 15px auto 5px auto
}

.dianqi-floor .floor-content .commodity-list .price-wrapper {
	width: 200px;
	height: 26px;
	margin-left: 15px
}

.dianqi-floor .floor-content .commodity-list .commodity-name {
	position: relative;
	width: 209px;
	height: 44px;
	margin: 5px 15px 0 15px;
	overflow: hidden;
	font: 12px/22px "Microsoft Yahei"
}

.dianqi-floor .floor-content .commodity-list .commodity-name a {
	color: #666
}

.dianqi-floor .floor-content .commodity-list .commodity-name a:hover {
	color: #F60
}

.dianqi-floor .floor-content .brands-list {
	float: left;
	width: 988px;
	height: 58px;
	border: 1px solid #EEE;
	background-color: #f4f8fb;
	overflow: hidden;
	_position: absolute;
	_left: 0;
	_bottom: 0
}

.dianqi-floor .floor-content .brands-list li {
	float: left;
	width: 165px;
	height: 58px;
	_overflow: hidden
}

.dianqi-floor .floor-content .brands-list li a {
	display: block;
	width: 100%;
	height: 100%
}

.dianqi-floor .floor-content .brands-list li.current {
	opacity: .6;
	filter: alpha(opacity=60)
}

.dianqi-floor .floor-content .brands-list img {
	display: block;
	width: 90px;
	height: 30px;
	margin: 14px 40px
}

.dianqi-floor .floor-content .brands-list li.brand-item1 {
	width: 164px
}

.dianqi-floor .floor-content .brands-list li.brand-item1 img {
	margin-left: 36px
}

.dianqi-floor .floor-content .brands-list li.brand-item6 {
	width: 164px
}

.dianqi-floor .floor-content .brands-list li.brand-item6 img {
	margin-left: 36px
}

.dianqi-floor .choose {
	float: left;
	width: 756px;
	height: 123px;
	margin-left: 38px;
	_display: inline
}

.dianqi-floor .choose-area {
	width: 756px;
	height: 75px;
	border-bottom: 1px dashed #dedede
}

.dianqi-floor .choose-area .choose-title {
	float: left;
	width: 56px;
	height: 48px;
	margin: 15px 0 0 18px;
	_width: 60px;
	overflow: hidden
}

.dianqi-floor .area-item {
	position: relative;
	float: left;
	width: 568px;
	height: 61px;
	margin-top: 4px;
	z-index: 1
}

.dianqi-floor .area-item .choose-line {
	position: absolute;
	left: 0;
	top: 25px;
	width: 568px;
	height: 0;
	border-top: 1px dashed
}

.dianqi-floor .area-item .choose-list {
	position: relative;
	float: left;
	width: 80px;
	height: 61px;
	text-align: center;
	_display: inline
}

.dianqi-floor .area-item .choose-list .category {
	display: inline-block;
	width: 80px;
	height: 24px;
	font: bold 12px/24px "Microsoft Yahei"
}

.dianqi-floor .area-item .choose-list .choose-point {
	display: block;
	width: 11px;
	height: 5px;
	margin: -1px 0 0 34px;
	*margin-left: 0;
	background-color: #fafafa
}

.dianqi-floor .area-item .choose-list .choose-point i {
	display: block;
	width: 6px;
	height: 5px;
	margin-left: 3px;
	background: url(../images/dianqi_sprite.png?v=cc87a) no-repeat
}

.dianqi-floor .area-item .choose-list .choose-liang {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 26px;
	margin-top: 8px;
	background-color: #FFF;
	cursor: pointer;
	_margin-top: 0
}

.dianqi-floor .area-item .choose-list .choose-liang em {
	display: block;
	width: 78px;
	height: 24px;
	border: 1px solid #CCC;
	font: 12px/24px "Microsoft Yahei"
}

.dianqi-floor .area-item .choose-list .choose-liang i.angle {
	position: absolute;
	display: none;
	top: -4px;
	left: 35px;
	width: 9px;
	height: 6px;
	font-size: 0;
	background: url(../images/dianqi_sprite.png?v=cc87a) no-repeat
}

.dianqi-floor .area-item li.current .choose-liang em {
	color: #FFF
}

.dianqi-floor .area-item li.current .choose-liang i.angle {
	display: block
}

.dianqi-floor .choose-title {
	font: bold 14px/24px "Microsoft Yahei";
	color: #333;
	text-align: right
}

.dianqi-floor .choose-category {
	width: 756px;
	height: 47px
}

.dianqi-floor .choose-category .choose-title {
	float: left;
	width: 70px;
	height: 24px;
	margin: 10px 0 0 4px;
	overflow: hidden
}

.dianqi-floor .choose-category .functions {
	float: left;
	margin: 10px 0 0 29px
}

.dianqi-floor .choose-category .functions li {
	float: left;
	width: 78px;
	height: 24px;
	margin-left: 20px;
	text-align: center;
	border: 1px solid #CCC;
	background-color: #FFF;
	font: 12px/24px "Microsoft Yahei";
	cursor: pointer;
	overflow: hidden;
	_display: inline
}

.dianqi-floor .choose-category .functions li.current {
	color: #FFF
}

.dianqi-floor .selected-commodity {
	position: absolute;
	display: none;
	top: 125px;
	left: 0;
	width: 986px;
	height: 546px;
	border: 2px solid;
	background-color: #FFF
}

.dianqi-floor .selected-commodity ul {
	width: 990px;
	height: 502px;
	margin-left: -23px;
	overflow: hidden
}

.dianqi-floor .selected-commodity ul li {
	float: left;
	width: 207px;
	height: 251px;
	margin-left: 37px;
	_display: inline
}

.dianqi-floor .selected-commodity ul li img {
	display: block;
	width: 160px;
	height: 160px;
	margin: 14px 23px 0 22px
}

.dianqi-floor .selected-commodity .price-wrapper {
	width: 200px;
	height: 26px
}

.dianqi-floor .selected-commodity .commodity-name {
	width: 207px;
	height: 44px;
	margin: 9px 0 0 0;
	overflow: hidden;
	font: 12px/22px "Microsoft Yahei"
}

.dianqi-floor .selected-commodity .commodity-name a {
	color: #666
}

.dianqi-floor .selected-commodity .commodity-name a:hover {
	color: #F60
}

.dianqi-floor .selected-commodity .select-close {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	width: 26px;
	height: 26px;
	cursor: pointer
}

.dianqi-floor .selected-commodity .select-close i {
	display: block;
	width: 15px;
	height: 14px;
	margin: 6px 5px 6px 6px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -348px -93px no-repeat
}

.dianqi-floor .selected-commodity .no-commodity {
	width: 700px;
	height: 104px;
	margin: 206px auto 0 auto
}

.dianqi-floor .selected-commodity .no-commodity .lion {
	float: left;
	width: 88px;
	height: 102px;
	background: url(../images/lion-no.png?v=aebef) 0 0 no-repeat
}

.dianqi-floor .selected-commodity .no-commodity p {
	float: left;
	margin: 50px 0 0 20px;
	font: bold 24px/30px "Microsoft Yahei";
	color: #b5b5b5
}

.refrigerator-floor .floor-title {
	border-color: #01aefa
}

.refrigerator-floor .floor-title .point {
	border-color: transparent transparent transparent #00affa;
	_border-color: #f4f8fb #f4f8fb #f4f8fb #00affa
}

.refrigerator-floor .choose-area i.icon-left {
	float: left;
	width: 21px;
	height: 18px;
	margin: 18px 7px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -198px -28px no-repeat
}

.refrigerator-floor .choose-area i.icon-right {
	float: left;
	width: 36px;
	height: 17px;
	margin: 19px 7px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -229px -28px no-repeat
}

.refrigerator-floor .area-item .choose-line {
	border-color: #0099e6
}

.refrigerator-floor .area-item li.choose-list .choose-point i {
	background-position: -236px -86px
}

.refrigerator-floor .area-item li.choose-list .choose-liang i.angle {
	background-position: -234px -100px
}

.refrigerator-floor .area-item li.current .choose-liang {
	background-color: #00affa
}

.refrigerator-floor .area-item li.current .choose-liang em {
	border-color: #00affa
}

.refrigerator-floor .choose-category .functions li.current {
	background-color: #00affa;
	border-color: #00affa
}

.refrigerator-floor .floor-content .knowledge {
	background-color: #19b8fc
}

.refrigerator-floor .floor-content .knowledge .knowledge-title {
	border-color: #38c1fc
}

.refrigerator-floor .selected-commodity {
	border-color: #00affa
}

.refrigerator-floor .selected-commodity .select-close {
	background-color: #00affa
}

.washer-floor .floor-title {
	border-color: #03c974
}

.washer-floor .floor-title .point {
	border-color: transparent transparent transparent #00bd6c;
	_border-color: #f4f8fb #f4f8fb #f4f8fb #00bd6c
}

.washer-floor .choose-area i.icon-left {
	float: left;
	width: 21px;
	height: 18px;
	margin: 18px 7px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -275px -28px no-repeat
}

.washer-floor .choose-area i.icon-right {
	float: left;
	width: 36px;
	height: 17px;
	margin: 19px 7px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -306px -28px no-repeat
}

.washer-floor .area-item .choose-line {
	border-color: #03c974
}

.washer-floor .area-item li.choose-list .choose-point i {
	background-position: -251px -86px
}

.washer-floor .area-item li.choose-list .choose-liang i.angle {
	background-position: -253px -100px
}

.washer-floor .area-item li.current .choose-liang {
	background-color: #00bd6c
}

.washer-floor .area-item li.current .choose-liang em {
	border-color: #00bd6c
}

.washer-floor .choose-category .functions li.current {
	background-color: #00bd6c;
	border-color: #00bd6c
}

.washer-floor .floor-content .knowledge {
	background-color: #03d179
}

.washer-floor .floor-content .knowledge .knowledge-title {
	border-color: #21da8b
}

.washer-floor .selected-commodity {
	border-color: #00bd6c
}

.washer-floor .selected-commodity .select-close {
	background-color: #00bd6c
}

.tv-floor .floor-title {
	border-color: #8d3cd2
}

.tv-floor .floor-title .point {
	border-color: transparent transparent transparent #8d3cd2;
	_border-color: #f4f8fb #f4f8fb #f4f8fb #8d3cd2
}

.tv-floor .choose-area i.icon-left {
	float: left;
	width: 21px;
	height: 18px;
	margin: 18px 7px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -352px -28px no-repeat
}

.tv-floor .choose-area i.icon-right {
	float: left;
	width: 21px;
	height: 17px;
	margin: 19px 7px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -384px -28px no-repeat;
	_margin: 19px 3px
}

.tv-floor .area-item {
	width: 609px;
	overflow: hidden
}

.tv-floor .area-item li.choose-list .choose-liang {
	_margin-top: 10px
}

.tv-floor .area-item li.choose-list .choose-liang i.angle {
	background-position: -272px -100px
}

.tv-floor .area-item li.current .choose-liang {
	background-color: #8d3cd2
}

.tv-floor .area-item li.current .choose-liang em {
	border-color: #8d3cd2
}

.tv-floor .area-item .number {
	width: 500px;
	height: 24px;
	margin-left: 30px
}

.tv-floor .area-item .number li {
	float: left;
	width: 30px;
	height: 22px;
	margin-left: 66px;
	font: bold 12px/22px "Microsoft Yahei";
	_display: inline
}

.tv-floor .staff {
	position: absolute;
	top: 17px;
	left: 0;
	width: 609px;
	height: 15px;
	background: url(../images/dianqi_sprite.png?v=cc87a) 0 -195px no-repeat
}

.tv-floor .choose-category .functions li.current {
	background-color: #8d3cd2;
	border-color: #8d3cd2
}

.tv-floor .floor-content .knowledge {
	background-color: #9a48e0
}

.tv-floor .floor-content .knowledge .knowledge-title {
	border-color: #a253e6
}

.tv-floor .selected-commodity {
	border-color: #8d3cd2
}

.tv-floor .selected-commodity .select-close {
	background-color: #8d3cd2
}

.kongtiao-floor .floor-title {
	border-color: #00c7e6
}

.kongtiao-floor .floor-title .point {
	border-color: transparent transparent transparent #00c7e6;
	_border-color: #f4f8fb #f4f8fb #f4f8fb #00c7e6
}

.kongtiao-floor .choose-area i.icon-left {
	float: left;
	width: 21px;
	height: 10px;
	margin: 24px 7px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -1px -77px no-repeat
}

.kongtiao-floor .choose-area i.icon-right {
	float: left;
	width: 14px;
	height: 22px;
	margin: 18px 15px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -32px -77px no-repeat
}

.kongtiao-floor .area-item .choose-line {
	border-color: #00c7e6
}

.kongtiao-floor .area-item li.choose-list .choose-point i {
	background-position: -266px -86px
}

.kongtiao-floor .area-item li.choose-list .choose-liang i.angle {
	background-position: -291px -100px
}

.kongtiao-floor .area-item li.current .choose-liang {
	background-color: #00c7e6
}

.kongtiao-floor .area-item li.current .choose-liang em {
	border-color: #00c7e6
}

.kongtiao-floor .choose-category .functions li.current {
	background-color: #00c7e6;
	border-color: #00c7e6
}

.kongtiao-floor .floor-content .knowledge {
	background-color: #07ceed
}

.kongtiao-floor .floor-content .knowledge .knowledge-title {
	border-color: #1ad8ee
}

.kongtiao-floor .selected-commodity {
	border-color: #00c7e6
}

.kongtiao-floor .selected-commodity .select-close {
	background-color: #00c7e6
}

.computer-floor .floor-title {
	border-color: #3f8efc
}

.computer-floor .floor-title .point {
	border-color: transparent transparent transparent #3f8efc;
	_border-color: #f4f8fb #f4f8fb #f4f8fb #3f8efc
}

.computer-floor .choose-area i.icon-left {
	float: left;
	width: 26px;
	height: 16px;
	margin: 20px 5px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -56px -77px no-repeat
}

.computer-floor .choose-area i.icon-right {
	float: left;
	width: 26px;
	height: 16px;
	margin: 20px 15px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -92px -77px no-repeat
}

.computer-floor .area-item .choose-line {
	border-color: #3f8efc
}

.computer-floor .area-item li.choose-list .choose-point i {
	background-position: -281px -86px
}

.computer-floor .area-item li.choose-list .choose-liang i.angle {
	background-position: -310px -100px
}

.computer-floor .area-item li.current .choose-liang {
	background-color: #3f8efc
}

.computer-floor .area-item li.current .choose-liang em {
	border-color: #3f8efc
}

.computer-floor .choose-category .functions li.current {
	background-color: #3f8efc;
	border-color: #3f8efc
}

.computer-floor .floor-content .knowledge {
	background-color: #4c95fc
}

.computer-floor .floor-content .knowledge .knowledge-title {
	border-color: #62a2fe
}

.computer-floor .selected-commodity {
	border-color: #3f8efc
}

.computer-floor .selected-commodity .select-close {
	background-color: #3f8efc
}

.mobile-floor .floor-title {
	border-color: #6b57e4
}

.mobile-floor .floor-title .point {
	border-color: transparent transparent transparent #6b57e4;
	_border-color: #f4f8fb #f4f8fb #f4f8fb #6b57e4
}

.mobile-floor .choose-area i.icon-left {
	float: left;
	width: 13px;
	height: 22px;
	margin: 20px 11px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -128px -77px no-repeat
}

.mobile-floor .choose-area i.icon-right {
	float: left;
	width: 13px;
	height: 22px;
	margin: 20px 15px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -151px -77px no-repeat
}

.mobile-floor .area-item .choose-line {
	border-color: #3f8efc
}

.mobile-floor .area-item li.choose-list .choose-point i {
	background-position: -296px -86px
}

.mobile-floor .area-item li.choose-list .choose-liang i.angle {
	background-position: -329px -100px
}

.mobile-floor .area-item li.current .choose-liang {
	background-color: #6b57e4
}

.mobile-floor .area-item li.current .choose-liang em {
	border-color: #6b57e4
}

.mobile-floor .choose-category .functions li.current {
	background-color: #6b57e4;
	border-color: #6b57e4
}

.mobile-floor .floor-content .knowledge {
	background-color: #7663e9
}

.mobile-floor .floor-content .knowledge .knowledge-title {
	border-color: #806eee
}

.mobile-floor .selected-commodity {
	border-color: #6b57e4
}

.mobile-floor .selected-commodity .select-close {
	background-color: #6b57e4
}

.tab-floor {
	height: 689px
}

.tab-floor .floor-title {
	height: 78px
}

.tab-floor .floor-title .floor-name {
	width: 170px;
	height: 58px;
	margin-top: 10px;
	padding-right: 30px
}

.tab-floor .floor-title .floor-name h5 {
	margin-top: 4px
}

.tab-floor .list-tab {
	float: left;
	width: 700px;
	height: 26px;
	margin: 26px 0 0 67px
}

.tab-floor .list-tab span {
	float: left;
	font: bold 14px/26px "Microsoft Yahei"
}

.tab-floor .list-tab ul {
	float: left;
	margin-left: -12px
}

.tab-floor .list-tab ul li {
	float: left;
	width: 78px;
	height: 24px;
	margin-left: 40px;
	border: 1px solid #CCC;
	text-align: center;
	font: 12px/24px "Microsoft Yahei";
	cursor: pointer;
	background-color: #FFF
}

.tab-floor .list-tab ul li a {
	display: block;
	width: 78px;
	height: 24px;
	color: #333;
	text-decoration: none
}

.tab-floor .list-tab ul li a:hover {
	color: #333;
	text-decoration: none
}

.tab-floor .list-tab ul li.current a {
	color: #FFF
}

.tab-floor .tab-commodity {
	display: none;
	_position: relative;
	_zoom: 1
}

.tab-floor .current-list {
	display: block
}

.little-floor .floor-title {
	border-color: #fa6487
}

.little-floor .floor-title .point {
	border-color: transparent transparent transparent #fa6487;
	_border-color: #f4f8fb #f4f8fb #f4f8fb #fa6487
}

.little-floor .floor-title .list-tab li.current {
	background-color: #fa6487;
	border-color: #fa6487
}

.little-floor .floor-content .knowledge {
	background-color: #ff7394
}

.little-floor .floor-content .knowledge .knowledge-title {
	border-color: #ff86a3
}

.kitchen-floor .floor-title {
	border-color: #e69e32
}

.kitchen-floor .floor-title .point {
	border-color: transparent transparent transparent #e69e32;
	_border-color: #f4f8fb #f4f8fb #f4f8fb #e69e32
}

.kitchen-floor .floor-title .list-tab li.current {
	background-color: #e69e32;
	border-color: #e69e32
}

.kitchen-floor .floor-content .knowledge {
	background-color: #eba946
}

.kitchen-floor .floor-content .knowledge .knowledge-title {
	border-color: #eeb45d
}

.camera-floor .floor-title {
	border-color: #6680ff
}

.camera-floor .floor-title .point {
	border-color: transparent transparent transparent #6680ff;
	_border-color: #f4f8fb #f4f8fb #f4f8fb #6680ff
}

.camera-floor .floor-title .list-tab li.current {
	background-color: #6680ff;
	border-color: #6680ff
}

.camera-floor .floor-content .knowledge {
	background-color: #758cff
}

.camera-floor .floor-content .knowledge .knowledge-title {
	border-color: #8297ff
}

.dianqi-community {
	width: 990px;
	height: 358px;
	margin: 20px auto 40px auto
}

.dianqi-community .shaidan {
	float: left;
	width: 652px;
	height: 358px;
	overflow: hidden
}

.dianqi-community .shaidan ul {
	width: 676px;
	height: 358px;
	margin-left: -20px
}

.dianqi-community .shaidan ul li {
	float: left;
	width: 316px;
	height: 148px;
	margin: 10px 0 0 20px;
	_display: inline
}

.dianqi-community .shaidan ul li img {
	float: left;
	width: 150px;
	height: 150px
}

.dianqi-community .shaidan ul li img:hover {
	opacity: .8;
	filter: alpha(opacity=80)
}

.dianqi-community .shaidan ul .shaidan-detail {
	float: left;
	width: 150px;
	height: 148px;
	padding-left: 14px;
	border: 1px solid #efefef
}

.dianqi-community .shaidan ul .shaidan-detail .title {
	display: block;
	width: 136px;
	height: 20px;
	margin: 9px 0;
	font: 14px/20px "Microsoft Yahei";
	overflow: hidden
}

.dianqi-community .shaidan ul .shaidan-detail .user-name {
	float: left;
	width: 106px;
	height: 20px;
	font: 12px/20px "Microsoft Yahei";
	overflow: hidden
}

.dianqi-community .shaidan ul .shaidan-detail .img-wrapper {
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 8px
}

.dianqi-community .shaidan ul .shaidan-detail img {
	display: block;
	width: 20px;
	height: 20px
}

.dianqi-community .shaidan ul .shaidan-detail .user-said {
	float: left;
	width: 120px;
	height: 70px;
	margin-top: 9px;
	font: 12px/14px "Microsoft Yahei";
	overflow: hidden
}

.dianqi-community .shaidan ul .shaidan-detail .user-said a {
	color: #999
}

.dianqi-community .shaidan ul .shaidan-detail .user-said a:hover {
	color: #F60
}

.dianqi-community .community {
	float: left;
	width: 310px;
	height: 358px;
	margin-left: 28px
}

.dianqi-community .community li {
	position: relative;
	float: left;
	margin-top: 10px;
	_overflow: hidden
}

.dianqi-community .community li img {
	display: block
}

.dianqi-community .community li img:hover {
	opacity: .8;
	filter: alpha(opacity=80)
}

.dianqi-community .community li .black-cover {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 24px;
	background-color: #000;
	opacity: .4;
	filter: alpha(opacity=40)
}

.dianqi-community .community li p {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0 10px;
	font: 12px/24px "Microsoft Yahei";
	color: #FFF;
	text-align: center;
	overflow: hidden
}

.dianqi-community .community .activity1 {
	width: 310px;
	height: 150px
}

.dianqi-community .community .activity1 p {
	width: 290px
}

.dianqi-community .community .activity1 img {
	width: 310px;
	height: 150px
}

.dianqi-community .community .activity2 {
	width: 150px;
	height: 150px
}

.dianqi-community .community .activity2 p {
	width: 130px
}

.dianqi-community .community .activity2 img {
	width: 150px;
	height: 150px
}

.dianqi-community .community .activity3 {
	width: 150px;
	height: 150px;
	margin-left: 10px
}

.dianqi-community .community .activity3 p {
	width: 130px
}

.dianqi-community .community .activity3 img {
	width: 150px;
	height: 150px
}

.dianqi-community .knowledge {
	display: none;
	float: left;
	width: 200px;
	height: 358px;
	margin-left: 30px;
	overflow: hidden;
	*position: relative;
	_position: relative
}

.dianqi-community h5 {
	font: 18px/34px "Microsoft Yahei"
}

.dianqi-community .dot-line {
	width: 100%;
	height: 3px;
	font-size: 0;
	background: url(../images/dianqi_sprite.png?v=cc87a) -2px -119px no-repeat
}

.dianqi-community .knowledge-list {
	margin-top: 10px
}

.dianqi-community .knowledge-list li {
	position: relative;
	width: 190px;
	height: 32px;
	font: 12px/32px "Microsoft Yahei";
	overflow: hidden
}

.dianqi-community .knowledge-list li span.dot {
	display: inline-block;
	width: 5px;
	height: 4px;
	margin: 6px 6px 6px 0;
	line-height: 32px;
	font-size: 0;
	background: url(../images/dianqi_sprite.png?v=cc87a) -322px -86px no-repeat;
	vertical-align: middle
}

.dianqi-community .knowledge-list li a {
	color: #333;
	_display: inline-block;
	_vertical-align: middle;
	_line-height: 32px;
	_width: 170px;
	_height: 32px;
	_overflow: hidden
}

.dianqi-community .knowledge-list li a:hover {
	color: #F60
}

.float-bar {
	width: 40px;
	_height: 420px
}

.float-bar li {
	position: relative;
	width: 40px;
	height: 40px;
	margin-top: -1px;
	font-size: 0;
	background: url(../images/dianqi_sprite.png?v=cc87a) no-repeat;
	z-index: 1
}

.float-bar li p {
	display: none;
	width: 24px;
	height: 28px;
	padding: 6px 8px;
	font: 12px/14px "Microsoft Yahei";
	color: #FFF;
	text-align: center;
	background-color: #3f8efc;
	cursor: pointer
}

.float-bar li.single p {
	line-height: 28px
}

.float-bar li.on p {
	display: block;
	z-index: 2
}

.float-bar li.hover p {
	display: block;
	z-index: 2
}

.float-bar li.refrigerator {
	background-position: -1px -139px
}

.float-bar li.tv {
	background-position: -51px -139px
}

.float-bar li.washer {
	background-position: -101px -139px
}

.float-bar li.little {
	background-position: -151px -139px
}

.float-bar li.kongtiao {
	background-position: -201px -139px
}

.float-bar li.computer {
	background-position: -251px -139px
}

.float-bar li.kitchen {
	background-position: -301px -139px
}

.float-bar li.mobile {
	background-position: -351px -139px
}

.float-bar li.camera {
	background-position: -401px -139px
}

.float-bar li.return {
	margin-top: 10px;
	background-position: -450px -139px
}

.activity {
	position: relative;
	top: 25px;
	width: 990px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden
}

.activity img {
	display: block
}

.root1200 .ng-top-act {
	right: 40px
}

.root1200 .first-screen {
	min-width: 1190px
}

.root1200 .banner-wrapper .banner li a {
	width: 800px;
	margin-left: -405px
}

.root1200 .banner-wrapper .banner li img {
	margin-left: 0
}

.root1200 .banner-wrapper .left-point {
	margin-left: -395px
}

.root1200 .banner-wrapper .right-point {
	margin-right: -385px
}

.root1200 .dianqi-nav-wrapper {
	margin-left: -595px
}

.root1200 .dianqi-activity {
	margin-right: -595px
}

.root1200 .hot-floor {
	width: 1190px
}

.root1200 .hot-commodity-wrapper {
	width: 1190px
}

.root1200 .hot-commodity-wrapper .hot-commodity {
	width: 1190px
}

.root1200 .hot-commodity-wrapper .hot-commodity ul {
	width: 1200px
}

.root1200 .hot-commodity-wrapper .hot-commodity li.commodity {
	width: 228px
}

.root1200 .hot-commodity-wrapper .commodity-intro {
	width: 228px
}

.root1200 .show-floor {
	width: 1190px
}

.root1200 .show-floor .show-list {
	width: 1190px
}

.root1200 .dianqi-floor {
	width: 1190px
}

.root1200 .dianqi-floor .floor-title {
	width: 1190px
}

.root1200 .dianqi-floor .floor-content .commodity-list-wrapper {
	width: 960px
}

.root1200 .dianqi-floor .floor-content .commodity-list {
	width: 960px
}

.root1200 .dianqi-floor .floor-content .commodity-list li {
	width: 239px
}

.root1200 .dianqi-floor .floor-content .brands-list {
	width: 1188px
}

.root1200 .dianqi-floor .floor-content .brands-list li {
	width: 170px
}

.root1200 .dianqi-floor .floor-content .brands-list li.brand-item1 {
	width: 169px
}

.root1200 .dianqi-floor .floor-content .brands-list li.brand-item1 img {
	margin-right: 39px
}

.root1200 .dianqi-floor .floor-content .brands-list li.brand-item7 {
	width: 169px
}

.root1200 .dianqi-floor .floor-content .brands-list li.brand-item7 img {
	margin-right: 39px
}

.root1200 .dianqi-floor .floor-content .brands-list li.brand-item6 {
	width: 170px
}

.root1200 .dianqi-floor .floor-content .brands-list li.brand-item6 img {
	margin-right: 36px
}

.root1200 .dianqi-floor .choose {
	width: 932px
}

.root1200 .dianqi-floor .choose-area {
	width: 932px
}

.root1200 .dianqi-floor .area-item {
	width: 640px
}

.root1200 .dianqi-floor .area-item .choose-line {
	width: 640px
}

.root1200 .dianqi-floor .choose-title {
	font: bold 14px/24px "Microsoft Yahei";
	color: #333;
	text-align: right
}

.root1200 .dianqi-floor .choose-category {
	width: 932px
}

.root1200 .dianqi-floor .choose-category .functions {
	margin-left: 45px
}

.root1200 .dianqi-floor .selected-commodity {
	width: 1186px
}

.root1200 .dianqi-floor .selected-commodity ul {
	width: 1190px;
	margin-left: -17px
}

.root1200 .dianqi-floor .selected-commodity ul li {
	width: 207px;
	margin-left: 31px
}

.root1200 .refrigerator-floor .choose-area i.icon-left {
	margin: 18px 15px
}

.root1200 .refrigerator-floor .choose-area i.icon-right {
	margin: 19px 15px
}

.root1200 .washer-floor .choose-area i.icon-left {
	margin: 18px 15px
}

.root1200 .washer-floor .choose-area i.icon-right {
	margin: 19px 15px
}

.root1200 .computer-floor .choose-area i.icon-left {
	margin: 20px 12px
}

.root1200 .mobile-floor .choose-area i.icon-left {
	margin: 20px 19px
}

.root1200 .kongtiao-floor .choose-area i.icon-left {
	margin: 20px 15px
}

.root1200 .tv-floor .area-item {
	width: 705px
}

.root1200 .tv-floor .area-item .staff {
	width: 705px;
	background: url(../images/dianqi_sprite.png?v=cc87a) 0 -55px no-repeat
}

.root1200 .tv-floor .area-item .number {
	width: 605px;
	margin-left: 10px
}

.root1200 .tv-floor .area-item .number li {
	margin-left: 91px
}

.root1200 .tv-floor .choose-category .functions {
	margin-left: 29px
}

.root1200 .tab-floor .floor-title .floor-name {
	margin-top: 10px
}

.root1200 .tab-floor .floor-title .floor-name h5 {
	margin-top: 4px
}

.root1200 .tab-floor .list-tab {
	width: 900px
}

.root1200 .dianqi-community {
	width: 1190px
}

.root1200 .dianqi-community .shaidan {
	width: 620px
}

.root1200 .dianqi-community .shaidan ul {
	width: 640px
}

.root1200 .dianqi-community .shaidan ul li {
	width: 300px
}

.root1200 .dianqi-community .shaidan ul .shaidan-detail {
	width: 132px
}

.root1200 .dianqi-community .shaidan ul .shaidan-detail a {
	width: 120px
}

.root1200 .dianqi-community .shaidan ul .shaidan-detail .user-name {
	width: 90px
}

.root1200 .dianqi-community .knowledge {
	display: block
}

.root1200 .activity {
	width: 1190px
}

img {
	overflow: hidden
}

.boom-tip {
	position: absolute;
	top: -4px;
	right: 9px;
	width: 67px;
	height: 53px;
	background: url(../images/dianqi_sprite.png?v=cc87a) -719px 0;
	text-align: center;
	color: #FFF
}

.two-type {
	font: bold 20px/46px "Microsoft yahei"
}

.discount-type {
	font: bold 16px/46px "Microsoft yahei"
}

.discount-type span {
	display: inline-block;
	vertical-align: middle
}

.discount-type .discount-number {
	font-size: 22px;
	vertical-align: middle
}

.three-type {
	font: bold 16px/46px "Microsoft yahei"
}

.manjian-type {
	font: bold 14px/18px "Microsoft yahei"
}

.manjian-type .boom-wrapper {
	display: inline-block;
	*display: inline;
	_display: inline;
	text-align: left
}

.manjian-type .manjian-number {
	margin-top: 6px
}

.zhijiang-type {
	font: bold 14px/18px "Microsoft yahei"
}

.zhijiang-type .zhijiang-number {
	margin-top: 6px
}