@charset "utf-8";

.first-screen {
	position: relative;
	min-width: 990px;
	height: 380px;
	overflow: hidden
}

.root1200 .first-screen {
	min-width: 1190px
}

.first-screen .banner li {
	display: none;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 380px
}

.first-screen .banner li a {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1920px;
	height: 380px;
	margin-left: -960px
}

.first-screen .banner li img {
	display: block;
	width: 1920px;
	height: 380px
}

.first-screen .banner-pager {
	position: absolute;
	z-index: 10;
	top: 354px;
	left: 50%;
	height: 16px;
	margin-left: -35px
}

.first-screen .banner-pager ul {
	float: left;
	height: 10px;
	padding: 3px 5px 3px 0;
	border-radius: 8px;
	background: rgba(255,255,255,.35);
	_background: 0;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#33000000',EndColorStr='#33000000')
}

.first-screen .banner-pager li {
	float: left;
	width: 10px;
	height: 10px;
	margin-left: 5px;
	border-radius: 5px;
	background: #222;
	font-size: 0;
	_display: inline
}

.first-screen .banner-pager li.current {
	background: #cb2140
}

.first-screen .banner-arr {
	display: none;
	position: absolute;
	z-index: 15;
	top: 162px;
	left: 50%;
	width: 56px;
	height: 56px;
	background: url(../images/fashion.png?v=93c77)
}

.first-screen .banner-prev {
	margin-left: -295px;
	background-position: 0 -40px
}

.root1200 .first-screen .banner-prev {
	margin-left: -395px
}

.first-screen .banner-prev:hover {
	background-position: -60px -40px
}

.first-screen .banner-next {
	margin-left: 439px;
	background-position: -120px -40px
}

.root1200 .first-screen .banner-next {
	margin-left: 539px
}

.first-screen .banner-next:hover {
	background-position: -180px -40px
}

.first-screen .category {
	position: absolute;
	z-index: 50;
	left: 50%;
	width: 190px;
	height: 380px;
	margin-left: -495px
}

.root1200 .first-screen .category {
	margin-left: -595px
}

.first-screen .category .column-bg {
	position: absolute;
	z-index: -1;
	top: 0;
	height: 380px;
	overflow: hidden
}

.first-screen .category .column-bg1 {
	left: 0;
	width: 80px;
	background: #cb2140
}

.first-screen .category .column-bg2 {
	left: 80px;
	width: 110px;
	background: #e02444
}

.first-screen .category-item {
	position: relative;
	z-index: 2;
	height: 34px;
	overflow: hidden;
	transform: scale(1,1);
	transform: translate3d(0,0,0)
}

.first-screen .category-item a,.first-screen .category-item a:hover {
	line-height: 34px;
	color: #fff;
	font-family: 'microsoft yahei'
}

.first-screen .category-item-on {
	width: 191px;
	height: 34px;
	overflow: hidden;
	transform: scale(1,1);
	transform: translate3d(0,0,0)
}

.first-screen .category-item-on a,.first-screen .category-item-on a:hover {
	color: #333
}

.first-screen .category-item dt {
	float: left;
	width: 80px;
	height: 34px;
	font-size: 0;
	overflow: hidden
}

.first-screen .category-item-on dt {
	background: #eee
}

.first-screen .category-item dt i {
	position: absolute;
	top: 7px;
	left: 10px;
	width: 20px;
	height: 20px;
	background: url(../images/fashion.png)
}

.first-screen .category-item dt .icon0 {
	background-position: 0 0
}

.first-screen .category-item dt .icon1 {
	background-position: -20px 0
}

.first-screen .category-item dt .icon2 {
	background-position: -40px 0
}

.first-screen .category-item dt .icon3 {
	background-position: -60px 0
}

.first-screen .category-item dt .icon4 {
	background-position: -80px 0
}

.first-screen .category-item dt .icon5 {
	background-position: -100px 0
}

.first-screen .category-item dt .icon6 {
	background-position: -120px 0
}

.first-screen .category-item dt .icon7 {
	background-position: -140px 0
}

.first-screen .category-item dt .icon8 {
	background-position: -160px 0
}

.first-screen .category-item dt .icon9 {
	background-position: -180px 0
}

.first-screen .category-item dt .icon10 {
	background-position: -200px 0
}

.first-screen .category-item-on dt .icon0 {
	background-position: 0 -20px
}

.first-screen .category-item-on dt .icon1 {
	background-position: -20px -20px
}

.first-screen .category-item-on dt .icon2 {
	background-position: -40px -20px
}

.first-screen .category-item-on dt .icon3 {
	background-position: -60px -20px
}

.first-screen .category-item-on dt .icon4 {
	background-position: -80px -20px
}

.first-screen .category-item-on dt .icon5 {
	background-position: -100px -20px
}

.first-screen .category-item-on dt .icon6 {
	background-position: -120px -20px
}

.first-screen .category-item-on dt .icon7 {
	background-position: -140px -20px
}

.first-screen .category-item-on dt .icon8 {
	background-position: -160px -20px
}

.first-screen .category-item-on dt .icon9 {
	background-position: -180px -20px
}

.first-screen .category-item-on dt .icon10 {
	background-position: -200px -20px
}

.first-screen .category-item dt a {
	margin-left: 36px;
	font-size: 14px
}

.first-screen .category-item dd {
	float: left;
	width: 110px;
	height: 34px;
	overflow: hidden
}

.first-screen .category-item dd i {
	float: right;
	width: 5px;
	height: 10px;
	margin: 14px 10px 0 0;
	background: url(../images/fashion.png) -180px -161px no-repeat;
	_margin-right: 5px
}

.root1200 .first-screen .category-item dd i {
	display: none
}

.first-screen .category-item-on dd {
	width: 111px;
	background: #fff
}

.first-screen .category-item-on dd i {
	display: none
}

.first-screen .category-item dd a {
	margin-left: 9px
}

.first-screen .category-open {
	display: none;
	position: absolute;
	top: 0;
	left: 190px;
	width: 378px;
	height: 378px;
	border: 1px solid #ddd;
	background: #fff;
	transform: scale(1,1);
	transform: translate3d(0,0,0)
}

.first-screen .category-open .enter {
	position: absolute;
	left: 0;
	bottom: 20px;
	height: 26px;
	padding-right: 15px;
	line-height: 34px;
	overflow: hidden
}

.first-screen .category-open .enter a {
	display: block;
	margin-left: 139px;
	width: 100px;
	height: 24px;
	border: 1px solid #333;
	line-height: 24px;
	text-align: center;
	font-family: 'microsoft yahei'
}

.first-screen .category-open .enter a i {
	font-family: simsun
}

.first-screen .category-open .brand {
	margin: 34px 9px 0
}

.first-screen .category-open .brand li {
	position: relative;
	float: left;
	margin-bottom: 37px
}

.first-screen .category-open .brand li img {
	display: block;
	width: 120px;
	height: 40px
}

.first-screen .category-open dl {
	width: 340px;
	margin-bottom: 6px;
	margin-left: 19px;
	padding-top: 18px
}

.first-screen .category-open dt {
	height: 18px;
	overflow: hidden
}

.first-screen .category-open dt a {
	font-weight: bold
}

.first-screen .category-open dd {
	padding-top: 1px;
	font-size: 0
}

.first-screen .category-open dd a {
	display: inline-block;
	margin-top: 6px;
	margin-right: 18px;
	font-size: 12px;
	white-space: nowrap
}

.first-screen .category-open .close {
	position: absolute;
	top: 5px;
	right: 5px;
	display: block;
	width: 20px;
	height: 20px;
	font: 28px/20px arial;
	cursor: default
}

.common-head {
	position: relative;
	height: 48px;
	overflow: hidden
}

.common-head i {
	position: absolute;
	top: 6px;
	left: 0;
	width: 3px;
	height: 37px;
	background: #e02444;
	overflow: hidden
}

.common-head h3 {
	height: 36px;
	margin-left: 14px;
	overflow: hidden
}

.common-head h3 strong {
	float: left;
	font: bold 24px/1.5 'microsoft yahei'
}

.common-head h3 em {
	float: left;
	padding-left: 12px;
	color: #bbb;
	font: 30px/36px tahoma
}

.common-head p {
	height: 18px;
	margin-top: -6px;
	margin-left: 14px;
	color: #bfbfbf;
	font-size: 10px;
	font-family: arial;
	overflow: hidden
}

.common-head .more {
	position: absolute;
	top: 22px;
	right: 0;
	height: 23px;
	padding: 0 8px;
	border: solid 1px #333;
	line-height: 23px;
	color: #333;
	font-family: \5b8b\4f53
}

.common-head .more:hover {
	color: #e02444;
	border-color: #e02444;
	text-decoration: none
}

.brand-sale {
	margin-top: 27px
}

.brand-sale-main {
	height: 360px;
	margin-top: 6px;
	overflow: hidden
}

.brand-sale-main .brand-big {
	position: relative;
	float: left;
	width: 388px;
	height: 358px;
	border: 1px solid #eee;
	overflow: hidden;
	-webkit-transition: all .5s;
	transition: all .5s
}

.brand-sale-main .brand-big-on {
	border-color: #111
}

.brand-sale-main .brand-big .title {
	position: absolute;
	z-index: 3;
	left: 21px;
	width: 129px;
	height: 130px
}

.brand-sale-main .brand-big .title .today {
	width: 129px;
	height: 60px;
	background: url(../images/fashion.png?v=93c77) -120px -100px
}

.brand-sale-main .brand-big .title .discount {
	width: 129px;
	height: 60px;
	padding-top: 10px;
	background: #fff;
	text-align: center;
	overflow: hidden
}

.brand-sale-main .brand-big .title .discount h5 {
	height: 27px;
	font: bold 18px/1.5 'microsoft yahei';
	overflow: hidden
}

.brand-sale-main .brand-big .title .discount p {
	height: 21px;
	margin-top: -2px;
	color: #999;
	font: 14px/1.5 'microsoft yahei';
	overflow: hidden
}

.brand-sale-main .brand-big .big img {
	display: block;
	position: relative;
	z-index: 2;
	width: 390px;
	height: 270px;
	margin: -1px -1px 0
}

.brand-sale-main .brand-detail {
	position: relative;
	height: 88px;
	overflow: hidden
}

.brand-sale-main .brand-detail .brand img {
	float: left;
	width: 90px;
	height: 30px;
	margin: 27px 0 0 26px
}

.brand-sale-main .brand-detail .separate {
	position: absolute;
	top: 18px;
	left: 133px;
	font-size: 0
}

.brand-sale-main .brand-detail .separate i {
	position: absolute;
	width: 1px;
	height: 52px;
	background: #222
}

.brand-sale-main .brand-detail .separate b {
	position: absolute;
	top: 20px;
	left: 1px;
	width: 0;
	height: 0;
	border: 4px solid #fff;
	border-left-color: #222
}

.brand-sale-main .brand-detail p {
	float: left;
	width: 218px;
	height: 58px;
	margin-top: 14px;
	margin-left: 38px;
	color: #666;
	font: 12px/20px 'microsoft yahei';
	overflow: hidden
}

.brand-sale-main .list {
	float: left;
	width: 610px;
	height: 360px;
	margin-right: -20px;
	overflow: hidden
}

.root1200 .brand-sale-main .list {
	width: 810px
}

.brand-sale-main .list li {
	position: relative;
	float: left;
	width: 288px;
	height: 173px;
	margin: 0 0 10px 10px;
	border: 1px solid #eee;
	overflow: hidden;
	_display: inline;
	-webkit-transition: all .5s;
	transition: all .5s
}

.brand-sale-main .list li.on {
	border-color: #111
}

.root1200 .brand-sale-main .list li {
	width: 388px
}

.brand-sale-main .list li a {
	display: block;
	width: 288px;
	height: 173px;
	background: #fff;
	cursor: pointer
}

.root1200 .brand-sale-main .list li a {
	width: 388px
}

.brand-sale-main .list li a:hover {
	text-decoration: none
}

.brand-sale-main .list li i {
	position: absolute;
	z-index: 3;
	left: 189px;
	top: 78px;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-left-color: #fff;
	font-size: 0;
	_display: none
}

.brand-sale-main .list .detail {
	position: relative;
	z-index: 2;
	float: left;
	width: 139px;
	height: 173px;
	background: #fff;
	overflow: hidden
}

.root1200 .brand-sale-main .list .detail {
	width: 189px
}

.brand-sale-main .list .detail img {
	display: block;
	width: 90px;
	height: 30px;
	margin: 49px auto 0
}

.brand-sale-main .list .detail p {
	clear: both;
	height: 36px;
	color: #333;
	font: bold 18px/36px 'microsoft yahei';
	text-align: center;
	overflow: hidden
}

.brand-sale-main .list .detail .btn {
	display: block;
	width: 80px;
	height: 24px;
	margin: 7px auto 0;
	background: #111;
	color: #fff;
	font: 14px/24px 'microsoft yahei';
	text-align: center;
	overflow: hidden
}

.brand-sale-main .list a:hover .detail .btn {
	background: #e02444;
	text-decoration: none
}

.brand-sale-main .list .brand-face {
	position: absolute;
	z-index: 1;
	top: -1px;
	right: -26px
}

.root1200 .brand-sale-main .list .brand-face {
	right: -1px
}

@font-face {
	font-family:'iconfont';src:url(./font/iconfont.eot?var=01?v=cf89c);src:url(./font/iconfont.eot?#iefix?v=cf89c) format('embedded-opentype'),url(./font/iconfont.woff?var=01?v=e9c6d) format('woff'),url(./font/iconfont.ttf?var=01?v=0671c) format('truetype')
}

.iconfont {
	display: inline-block;
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.fashion-price {
	font-size: 0
}

.fashion-price i {
	margin-right: 2px;
	font-size: 16px
}

.fashion-price span {
	font-size: 18px;
	font-family: iconfont
}

.fashion-price em {
	position: relative;
	top: 1px;
	_top: 0;
	font-size: 14px;
	font-family: iconfont;
	vertical-align: top
}

.today-new {
	margin-top: 34px;
	overflow: hidden
}

.today-new-main {
	height: 360px;
	margin-top: 5px;
	overflow: hidden
}

.today-new-main ul {
	width: 1210px
}

.today-new-main li {
	position: relative;
	float: left;
	width: 188px;
	height: 358px;
	margin-right: 10px;
	border: 1px solid #eee;
	overflow: hidden;
	_display: inline
}

.root1200 .today-new-main li {
	width: 228px
}

.today-new-main li a {
	color: #fff
}

.today-new-main li a:hover {
	color: #fff;
	text-decoration: none
}

.today-new-main li .face {
	display: block;
	width: 230px;
	height: 360px;
	margin: -1px -21px 0
}

.root1200 .today-new-main li .face {
	margin: -1px -1px 0
}

.today-new-main li .brand {
	position: absolute;
	z-index: 2;
	top: 278px;
	left: 50%;
	width: 140px;
	height: 60px;
	margin-left: -70px;
	background: #fff
}

.root1200 .today-new-main li .brand {
	width: 180px;
	margin-left: -90px
}

.today-new-main li .brand img {
	display: block;
	width: 90px;
	height: 30px;
	margin: 14px auto 0
}

.today-new-main li .detail {
	position: absolute;
	z-index: 3;
	top: -360px;
	left: -190px;
	width: 190px;
	height: 360px;
	background: url(../images/new-bg.png?v=d5694) repeat;
	text-align: center;
	_background: #000;
	_filter: alpha(opacity=60)
}

.root1200 .today-new-main li .detail {
	left: -230px;
	width: 230px
}

.today-new-main li .detail .title {
	height: 20px;
	margin: 156px 10px 2px;
	font: 14px/1.5 'microsoft yahei';
	overflow: hidden
}

.today-new-main li .detail .info {
	height: 20px;
	margin: 0 10px 2px;
	font: 14px/1.5 'microsoft yahei';
	overflow: hidden
}

.collocation {
	margin-top: 36px
}

.collocation-head {
	position: relative;
	height: 53px;
	border-bottom: 2px solid #222
}

.collocation-head .common-head {
	float: left
}

.collocation-head .common-head h3 {
	float: left
}

.collocation-head .common-head p {
	clear: both;
	float: left
}

.collocation-head .tab {
	position: absolute;
	top: 19px;
	right: 0;
	float: right
}

.collocation-head .tab li {
	float: left;
	height: 34px;
	padding-top: 2px
}

.collocation-head .tab li.on {
	height: 32px;
	padding-top: 0;
	border: 2px solid #222
}

.collocation-head .tab li a {
	position: relative;
	float: left;
	height: 32px;
	padding: 0 8px;
	background: #fff;
	color: #666;
	font: 14px/34px 'microsoft yahei';
	text-align: center;
	overflow: hidden
}

.root1200 .collocation-head .tab li a {
	padding: 0 18px
}

.collocation-head .tab li a:hover {
	color: #666;
	text-decoration: none
}

.collocation-head .tab li.on a {
	height: 34px;
	margin-bottom: -2px;
	padding: 0 6px;
	color: #333;
	font-weight: bold
}

.root1200 .collocation-head .tab li.on a {
	padding: 0 16px
}

.collocation-main {
	position: relative;
	height: 380px;
	overflow: hidden
}

.collocation-main .collocation-arr {
	position: absolute;
	z-index: 20;
	top: 160px;
	width: 56px;
	height: 56px;
	background: url(../images/fashion.png?v=93c77)
}

.collocation-main .collocation-prev {
	left: 10px;
	background-position: 0 -40px
}

.collocation-main .collocation-prev:hover {
	background-position: -60px -40px
}

.collocation-main .collocation-next {
	right: 10px;
	background-position: -120px -40px
}

.collocation-main .collocation-next:hover {
	background-position: -180px -40px
}

.collocation-main .collocation-item {
	display: none;
	position: absolute;
	left: 0;
	width: 1190px;
	height: 380px;
	overflow: hidden
}

.collocation-main .column img {
	float: left;
	width: 230px;
	height: 380px
}

.collocation-main .info {
	position: absolute;
	z-index: 3;
	left: 270px;
	top: 40px;
	width: 220px;
	height: 185px;
	overflow: hidden
}

.collocation-main .info .title {
	width: 175px;
	height: 71px;
	background: url(../images/fashion.png?v=93c77) 0 -321px
}

.collocation-main .info h5 {
	height: 27px;
	margin-top: 5px;
	font: bold 18px/1.5 'microsoft yahei';
	overflow: hidden
}

.collocation-main .info p {
	height: 70px;
	margin-top: 11px;
	color: #666;
	font-family: 'microsoft yahei';
	overflow: hidden
}

.collocation-main .list1,.collocation-main .list2 {
	position: relative;
	float: left;
	width: 920px;
	height: 380px;
	margin-top: 10px;
	margin-left: 37px;
	overflow: hidden
}

.collocation-main li {
	position: absolute;
	overflow: hidden
}

.collocation-main .list1 li.item1 {
	left: 237px;
	width: 315px;
	height: 190px
}

.collocation-main .list1 li.item2 {
	top: 225px;
	width: 280px;
	height: 145px
}

.collocation-main .list1 li.item3 {
	top: 200px;
	left: 285px;
	width: 265px;
	height: 170px
}

.collocation-main .list1 li.item4 {
	left: 560px;
	width: 165px;
	height: 370px
}

.collocation-main .list1 li.item5 {
	display: none;
	left: 713px;
	width: 200px;
	height: 370px
}

.root1200 .collocation-main .list1 li.item5 {
	display: block
}

.collocation-main .list2 li.item1 {
	left: 240px;
	width: 250px;
	height: 210px
}

.collocation-main .list2 li.item2 {
	top: 210px;
	left: 5px;
	width: 390px;
	height: 160px
}

.collocation-main .list2 li.item3 {
	left: 500px;
	width: 190px;
	height: 370px
}

.collocation-main .list2 li.item4 {
	display: none;
	left: 690px;
	width: 220px;
	height: 370px
}

.root1200 .collocation-main .list2 li.item4 {
	display: block
}

.collocation-main li .detail {
	position: absolute;
	z-index: 10
}

.collocation-main .list1 li.item1 .detail {
	left: 156px;
	top: 70px
}

.collocation-main .list1 li.item2 .detail {
	left: 131px;
	top: -3px
}

.collocation-main .list1 li.item3 .detail {
	left: 138px;
	top: 37px
}

.collocation-main .list1 li.item4 .detail {
	left: 12px;
	top: 28px
}

.collocation-main .list1 li.item5 .detail {
	top: 112px;
	width: 96px;
	text-align: right
}

.collocation-main .list1 li.item5 .detail .fashion-price,.collocation-main .list1 li.item5 .detail .name {
	margin-right: 3px
}

.collocation-main .list2 li.item1 .detail {
	left: 55px;
	top: 160px
}

.collocation-main .list2 li.item1 .detail .num {
	float: left
}

.collocation-main .list2 li.item1 .detail .fashion-price {
	margin-left: 40px;
	margin-top: 5px
}

.collocation-main .list2 li.item1 .detail .name {
	margin-left: 40px
}

.collocation-main .list2 li.item2 .detail {
	top: 50px;
	width: 156px;
	text-align: right
}

.collocation-main .list2 li.item2 .detail .fashion-price,.collocation-main .list2 li.item2 .detail .name {
	margin-right: 3px
}

.collocation-main .list2 li.item3 .detail {
	top: 15px
}

.collocation-main .list2 li.item3 .detail .num {
	float: left
}

.collocation-main .list2 li.item3 .detail .fashion-price {
	margin-left: 40px;
	margin-top: 5px
}

.collocation-main .list2 li.item3 .detail .name {
	margin-left: 40px
}

.collocation-main .list2 li.item4 .detail {
	top: 170px;
	width: 105px;
	text-align: right
}

.collocation-main .list2 li.item4 .detail .fashion-price,.collocation-main .list2 li.item4 .detail .name {
	margin-right: 3px
}

.collocation-main li .detail .num {
	font: 36px/1.5 impact
}

.collocation-main li .detail .fashion-price {
	margin-left: 3px;
	margin-top: -10px
}

.collocation-main li .detail .name {
	height: 18px;
	margin-left: 3px;
	margin-top: -6px;
	overflow: hidden
}

.collocation-main li .detail .name a {
	color: #999;
	font-family: 'microsoft yahei'
}

.collocation-main li .detail .name a:hover {
	color: #f60
}

.collocation-main li img {
	position: absolute;
	z-index: 5
}

.collocation-main .list1 li.item1 img {
	width: 180px;
	height: 190px
}

.collocation-main .list1 li.item2 img {
	width: 180px;
	height: 145px
}

.collocation-main .list1 li.item3 img {
	width: 140px;
	height: 170px
}

.collocation-main .list1 li.item4 img {
	bottom: 0;
	width: 150px;
	height: 260px
}

.collocation-main .list1 li.item5 img {
	right: 0;
	width: 150px;
	height: 370px
}

.collocation-main .list2 li.item1 img {
	width: 210px;
	height: 160px
}

.collocation-main .list2 li.item2 img {
	right: 0;
	width: 210px;
	height: 160px
}

.collocation-main .list2 li.item3 img {
	left: 7px;
	bottom: 0;
	width: 150px;
	height: 300px
}

.collocation-main .list2 li.item4 img {
	right: 0;
	width: 170px;
	height: 370px
}

.collocation-main li b {
	position: absolute;
	z-index: 20;
	width: 16px;
	height: 16px;
	background: url(../images/fashion.png?v=93c77) -120px -161px
}

.collocation-main li.on b {
	background-position: -140px -161px
}

.collocation-main .list1 li.item1 b {
	left: 128px;
	top: 111px
}

.collocation-main .list1 li.item2 b {
	left: 105px;
	top: 31px
}

.collocation-main .list1 li.item3 b {
	left: 114px;
	top: 78px
}

.collocation-main .list1 li.item4 b {
	left: 35px;
	top: 111px
}

.collocation-main .list1 li.item5 b {
	left: 98px;
	top: 164px
}

.collocation-main .list2 li.item1 b {
	left: 100px;
	top: 150px
}

.collocation-main .list2 li.item2 b {
	left: 172px;
	top: 90px
}

.collocation-main .list2 li.item3 b {
	left: 68px;
	top: 65px
}

.collocation-main .list2 li.item4 b {
	left: 107px;
	top: 220px
}

.floor-link-box {
	height: 40px;
	margin-top: 40px;
	overflow: hidden
}

.floor-link-box .floor-link {
	table-layout: fixed;
	width: 990px;
	height: 40px
}

.root1200 .floor-link-box .floor-link {
	width: 1190px
}

.floor-link-box .floor-link-fixed {
	position: fixed;
	top: 0;
	z-index: 100
}

.floor-link-box .floor-link td {
	height: 40px;
	background: #111;
	color: #fff;
	font-size: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer
}

.floor-link-box .floor-link td b {
	display: inline-block;
	font-size: 18px;
	font-family: 'microsoft yahei' simsun;
	vertical-align: middle
}

.floor-link-box .floor-link td i {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 8px;
	background: url(../images/fashion.png?v=93c77);
	vertical-align: middle;
	_display: none
}

.floor-link-box .floor-link td.item1 i {
	background-position: 0 -173px
}

.floor-link-box .floor-link td.item2 i {
	background-position: -20px -173px
}

.floor-link-box .floor-link td.item3 i {
	background-position: -40px -173px
}

.floor-link-box .floor-link td.item4 i {
	background-position: -60px -173px
}

.floor-link-box .floor-link td.item5 i {
	background-position: -80px -173px
}

.floor-link-box .floor-link td.item6 i {
	background-position: -100px -173px
}

.floor {
	margin-top: 40px;
	overflow: hidden
}

.J-floor01 {
	margin-top: 8px
}

.floor .main-wrap {
	height: 540px
}

.floor .floor-side {
	position: relative;
	float: left;
	width: 238px;
	height: 528px;
	border: 1px solid #eee;
	overflow: hidden
}

.root1200 .floor .floor-side {
	width: 228px
}

.floor .floor-side .more {
	position: absolute;
	z-index: 10;
	top: 25px;
	right: 20px;
	width: 52px;
	height: 20px;
	background: #fff;
	color: #666;
	font: 14px/20px 'microsoft yahei' simsun;
	cursor: pointer;
	overflow: hidden
}

.root1200 .floor .floor-side .more {
	right: 12px
}

.floor .floor-side .more:hover {
	color: #f60
}

.floor .floor-side .more i {
	position: absolute;
	top: 3px;
	right: 0;
	width: 15px;
	height: 15px;
	background: url(../images/fashion.png?v=93c77) -160px -161px;
	font-size: 0
}

.floor .floor-side .floor-name {
	position: relative;
	height: 80px;
	margin-top: 21px;
	margin-left: 19px;
	overflow: hidden
}

.floor .floor-side .floor-name i {
	position: absolute;
	top: 9px;
	width: 3px;
	height: 68px;
	overflow: hidden
}

.floor .floor-side .floor-name h3 {
	padding-left: 11px;
	font: 36px/52px 'microsoft yahei';
	overflow: hidden
}

.floor .floor-side .floor-name h4 {
	margin-top: -2px;
	padding-left: 11px;
	font: 26px/32px arial;
	letter-spacing: -2px;
	overflow: hidden
}

.floor .floor-side .links {
	position: relative;
	width: 185px;
	height: 40px;
	margin-top: 14px;
	margin-left: 19px;
	font-size: 0;
	overflow: hidden
}

.floor .floor-side .links span {
	display: inline-block;
	height: 18px;
	margin-bottom: 6px;
	margin-left: -10px;
	padding-right: 15px;
	white-space: nowrap;
	overflow: hidden
}

.floor .floor-side .links span i {
	display: inline-block;
	position: relative;
	top: 2px;
	height: 11px;
	margin-right: 10px;
	border-left: 1px solid #e2e2e2;
	font-size: 0
}

.floor .floor-side .links span a {
	color: #666;
	font-size: 12px
}

.floor .floor-side .links span a:hover {
	color: #f60
}

.floor .floor-side .side-big img {
	display: block;
	width: 210px;
	height: 340px;
	margin: 22px auto 0
}

.floor .floor-main {
	position: relative;
	float: right;
	width: 740px;
	height: 530px;
	overflow: hidden
}

.root1200 .floor .floor-main {
	width: 950px
}

.floor .floor-main li {
	border: 1px solid #eee;
	overflow: hidden;
	-webkit-transition: all .5s;
	transition: all .5s
}

.floor .floor-main li.on {
	border-color: #111
}

.floor .floor-main li a {
	display: block;
	width: 100%;
	height: 100%;
	background: #fff;
	cursor: pointer
}

.floor .floor-main li a:hover {
	text-decoration: none
}

.floor .floor-main .list1 li {
	position: absolute;
	width: 228px;
	height: 168px;
	padding: 0 5px
}

.root1200 .floor .floor-main .list1 li {
	padding: 0
}

.floor .floor-main li img {
	display: block;
	position: relative
}

.floor .floor-main li .info {
	padding-left: 18px;
	overflow: hidden
}

.floor .floor-main li .info .name {
	height: 22px;
	line-height: 24px;
	color: #666;
	font-family: 'microsoft yahei';
	overflow: hidden
}

.floor .floor-main li a:hover .info .fashion-price {
	color: #333
}

.floor .floor-main .list1 li.item1 {
	display: none;
	left: 0;
	top: 0
}

.floor .floor-main .list1 li.item2 {
	display: none;
	left: 0;
	top: 180px
}

.floor .floor-main .list1 li.item3 {
	display: none;
	left: 0;
	top: 360px
}

.root1200 .floor .floor-main .list1 li.item1,.root1200 .floor .floor-main .list1 li.item2,.root1200 .floor .floor-main .list1 li.item3 {
	display: block
}

.floor .floor-main .list1 li.item4 {
	left: 250px;
	top: 360px
}

.root1200 .floor .floor-main .list1 li.item4 {
	left: 480px
}

.floor .floor-main .list1 li.item5 {
	left: 500px;
	top: 0
}

.root1200 .floor .floor-main .list1 li.item5 {
	left: 720px
}

.floor .floor-main .list1 li.item6 {
	left: 500px;
	top: 360px
}

.root1200 .floor .floor-main .list1 li.item6 {
	left: 720px
}

.floor .floor-main .list1 li img {
	width: 230px;
	height: 140px;
	margin: -1px -1px 0
}

.floor .floor-main .list1 li .info {
	height: 30px
}

.floor .floor-main .list1 li .info .name,.floor .floor-main .list3 li .info .name,.floor .floor-main .list4 li .info .name,.floor .floor-main .list5 li .info .name {
	float: left;
	width: 130px
}

.floor .floor-main .list2 li {
	position: absolute;
	width: 488px;
	height: 168px
}

.root1200 .floor .floor-main .list2 li {
	width: 468px
}

.floor .floor-main .list2 li.item1 {
	left: 0;
	top: 0
}

.root1200 .floor .floor-main .list2 li.item1 {
	left: 240px
}

.floor .floor-main .list2 li.item2 {
	left: 250px;
	top: 180px
}

.root1200 .floor .floor-main .list2 li.item2 {
	left: 480px
}

.floor .floor-main .list2 li img {
	float: left;
	width: 260px;
	height: 170px;
	margin: -1px 0 -1px -1px
}

.floor .floor-main .list2 li .info {
	float: left;
	width: 180px;
	margin: 63px 5px 0;
	padding-left: 0;
	text-align: center;
	_display: inline
}

.floor .floor-main .list3 li {
	position: absolute;
	left: 0;
	top: 180px;
	width: 228px;
	height: 348px;
	padding: 0 5px
}

.root1200 .floor .floor-main .list3 li {
	left: 240px;
	padding: 0
}

.floor .floor-main .list3 li img {
	width: 230px;
	height: 320px;
	margin: -1px -1px 0
}

.floor .floor-main .list4,.floor .floor-main .list6 {
	width: 980px;
	height: 350px;
	overflow: hidden
}

.floor .floor-main .list4 li,.floor .floor-main .list6 li {
	position: relative;
	float: left;
	width: 228px;
	height: 348px;
	margin-right: 10px;
	padding: 0 5px;
	_display: inline
}

.root1200 .floor .floor-main .list4 li,.root1200 .floor .floor-main .list6 li {
	padding: 0
}

.floor .floor-main .list4 li.item4,.floor .floor-main .list6 li.item4 {
	display: none
}

.root1200 .floor .floor-main .list4 li.item4,.root1200 .floor .floor-main .list6 li.item4 {
	display: inline
}

.floor .floor-main .list4 li img {
	display: block;
	width: 230px;
	height: 310px;
	margin: -1px -1px 8px
}

.floor .floor-main .list5 {
	width: 980px;
	height: 170px;
	margin-top: 10px;
	overflow: hidden
}

.floor .floor-main .list5 li {
	position: relative;
	float: left;
	width: 228px;
	height: 168px;
	margin-right: 10px;
	padding: 0 5px;
	_display: inline
}

.root1200 .floor .floor-main .list5 li {
	padding: 0
}

.floor .floor-main .list5 li img {
	display: block;
	width: 230px;
	height: 140px;
	margin: -1px -1px 0
}

.floor .floor-main .list6 li .face {
	display: block;
	width: 230px;
	height: 270px;
	margin: -1px -1px 0
}

.floor .floor-main .list6 li .detail {
	margin-top: 24px
}

.floor .floor-main .list6 li .detail img {
	float: left;
	width: 90px;
	height: 30px;
	margin-left: 10px;
	_display: inline
}

.floor .floor-main .list6 li .detail b {
	float: right;
	width: 125px;
	height: 30px;
	color: #222;
	font: bold 18px/30px 'microsoft yahei';
	text-align: center
}

.floor-brand {
	height: 60px;
	overflow: hidden
}

.floor-brand ul {
	position: relative;
	height: 58px;
	border: 1px solid #e5e5e5;
	background: #f5f5f5;
	overflow: hidden
}

.floor-brand li {
	float: left;
	width: 163px;
	height: 58px;
	border-left: 1px solid #e5e5e5;
	overflow: hidden
}

.root1200 .floor-brand li {
	width: 147px
}

.floor-brand li.first {
	border-left: 0 none
}

.floor-brand li a {
	display: block;
	width: 100%;
	height: 44px;
	padding-top: 14px;
	background: #f5f5f5
}

.floor-brand li img {
	display: block;
	position: relative;
	width: 90px;
	height: 30px;
	margin: 0 auto
}

.floor-type {
	height: 290px;
	margin-top: 36px;
	margin-bottom: 48px;
	overflow: hidden
}

.floor-type-head {
	position: relative;
	height: 28px;
	overflow: hidden
}

.floor-type-head .line {
	position: absolute;
	top: 15px;
	width: 990px;
	height: 9px;
	background: url(../images/fashion.png?v=93c77) 0 -196px repeat-x;
	overflow: hidden
}

.root1200 .floor-type-head .line {
	width: 1190px
}

.floor-type-head h3 {
	position: absolute;
	z-index: 2;
	left: 50%;
	width: 100px;
	height: 28px;
	margin-left: -50px;
	background: #fff;
	font: bold 18px/28px 'microsoft yahei';
	text-align: center;
	overflow: hidden
}

.floor-type-main {
	width: 1250px;
	height: 264px;
	padding-left: 8px;
	overflow: hidden
}

.floor-type-main .column {
	float: left;
	width: 172px;
	height: 248px;
	padding-top: 16px;
	overflow: hidden
}

.root1200 .floor-type-main .column {
	width: 150px
}

.floor-type-main .column dt a {
	display: block;
	width: 114px;
	height: 100px;
	padding-top: 14px;
	background: url(../images/fashion.png?v=93c77) 0 -206px;
	color: #666;
	font: bold 14px/1.5 'microsoft yahei';
	text-align: center
}

.floor-type-main .column dt a:hover {
	color: #666;
	text-decoration: none;
	-webkit-animation: shake-vertical 1s ease-in-out;
	animation: shake-vertical 1s ease-in-out
}

.floor-type-main .column dt img {
	display: block;
	width: 70px;
	height: 70px;
	margin: 0 auto 6px
}

.floor-type-main .column dd {
	height: 120px;
	margin-top: 15px;
	overflow: hidden
}

.floor-type-main .column dd a {
	float: left;
	width: 60px;
	height: 30px;
	padding-left: 5px;
	color: #666;
	font: 12px/30px 'microsoft yahei'
}

.floor-type-main .column dd a:hover {
	color: #f60
}

.ECode-floatBar {
	display: none;
	margin-left: 515px
}

.root1200 .ECode-floatBar {
	margin-left: 615px
}

.float-bar {
	width: 68px;
	height: 202px
}

.float-bar li {
	position: relative;
	width: 66px;
	height: 66px;
	margin-bottom: -1px;
	border: 1px solid #eee;
	font-size: 0
}

.float-bar li .item {
	display: block;
	width: 66px;
	height: 66px;
	background: #fff;
	text-align: center;
	cursor: pointer;
	overflow: hidden
}

.float-bar li .item:hover {
	color: #8d9eb6;
	text-decoration: none
}

.float-bar li .item {
	display: block;
	width: 66px;
	height: 66px
}

.float-bar li .item i {
	display: block;
	width: 26px;
	margin: 15px auto 0;
	background: url(../images/fashion.png?v=93c77)
}

.float-bar li.outer1 .item .default i {
	height: 25px;
	background-position: -143px -244px
}

.float-bar li.outer1 .item .default b {
	height: 22px;
	color: #8d9eb6;
	font: bold 14px/22px arial
}

.float-bar li.outer1 .item .active,.float-bar li.outer3 .item .active {
	display: none;
	width: 34px;
	height: 52px;
	padding: 14px 16px 0;
	color: #8d9eb6;
	font: 14px/18px 'microsoft yahei'
}

.float-bar li.outer1 .item:hover .default,.float-bar li.outer3 .item:hover .default {
	display: none
}

.float-bar li.outer1 .item:hover .active,.float-bar li.outer3 .item:hover .active {
	display: block
}

.float-bar li.outer2 .item i {
	height: 37px;
	background-position: -115px -206px
}

.float-bar li.outer2 .item:hover i {
	background-position: -115px -244px
}

.float-bar li.outer2 .item .active i {
	height: 37px;
	background-position: -115px -244px
}

.float-bar li.outer3 .item .default i {
	height: 35px;
	background-position: -143px -206px
}

.float-bar li.outer2 .qr-code {
	display: none;
	position: absolute;
	z-index: 10;
	left: -115px;
	top: -68px;
	width: 104px;
	height: 124px;
	padding: 4px;
	border: 1px solid #eee;
	background: #f4f4f4;
	font-size: 0;
	overflow: hidden
}

.float-bar li.outer2 .qr-code .inner {
	height: 117px;
	padding-top: 7px;
	background: #fff;
	text-align: center
}

.float-bar li.outer2 .qr-code .inner img {
	display: block;
	width: 90px;
	height: 90px;
	margin: 0 auto 5px
}

.float-bar li.outer2 .qr-code .inner p,.float-bar li.outer2 .qr-code .inner a {
	color: #666;
	font-size: 12px
}

.float-bar li.outer2 .qr-code .inner a:hover {
	color: #f60
}

@-webkit-keyframes shake-vertical {
	15% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px)
	}

	30% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px)
	}

	50% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px)
	}

	70% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px)
	}

	85% {
		-webkit-transform: translateY(1px);
		transform: translateY(1px)
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes shake-vertical {
	15% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px)
	}

	30% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px)
	}

	50% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px)
	}

	70% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px)
	}

	85% {
		-webkit-transform: translateY(1px);
		transform: translateY(1px)
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}