/* 我的足迹 */
/** 右侧时间轴列表 **/
.footlist{border:solid 1px #ddd;width:1068px;background:#fff;overflow:hidden;}
.footlist-editpic{height:30px;line-height:30px;}
.footlist-pics{position:relative;padding:0 0 20px 0;height:auto;width:942px;}
.footlist-pics .date-circle{position:absolute;left:-26px;top:32px;font-size:12px;color:#ccc;}
.footlist-pics .date-timeshow{position:absolute;left:-105px;top:0;width:72px;cursor:default;}
.footlist-date{margin:20px 0 0 105px;padding-left:20px;border-left:solid 1px #ddd;}
.footlist-msg{height:14px;line-height:14px;padding:17px 0 16px 20px;color:#999;}
.footlist-msg .msg-title{font-size:14px;color:#666;font-weight:700;_line-height:18px;}
.footlist-msg .link-favor{color:#2272c8;}
.footlist-msg .link-favor:hover{color:#f70;}
.date-timeshow p{text-align:center;}
.datecard{color:#999;}
.datecard .date{padding-top:22px;font-size:14px;font-family:Arial;}
.datecard .day{padding-top:0px;font-size:16px;font-family:"Microsoft YaHei";}
.footlist-signpic{float:left;position:relative;margin:0 13px 10px 12px;_margin:0 19px 10px 5px;width:160px;height:223px;border:solid 1px #eee;}
.date-timeshow .datecard{width:70px;height:68px;background:url(../images/sp-ico.png);background-repeat:no-repeat;background-position:-118px 0;}
.date-timeshow .prod-num{margin-top:8px;text-align:center;color:#999;}
.cost-pic{margin-top:5px;padding:0 10px;height:18px;line-height:18px;overflow:hidden;}
.cost-pic .cost-num{float:left;overflow:hidden;font-size:14px;font-family:Tahoma;color:#d00;}
.cost-pic .cost-num em{font-size:14px;font-family:Arial;}
.cost-pic a{float:right;font-size:12px;color:#2272c8;}
.cost-pic .ico-cu{display:inline-block;float:left;margin-right:5px;height:18px;width:18px;font-size:12px;text-align:center;cursor:default;line-height:18px;color:#fff;background:#f00;}
.cost-pic .lastcost{font-size:12px;color:#999;text-decoration:line-through;font-family:Tahoma;margin-left:10px;}
.footlist-editbtn{margin-top:9px;padding:0 9px;height:14px;line-height:14px;position:relative;} /* update 2014-8-26 */
.pages input,.pages label{float:right;margin-left:5px;}
.pages input{_margin-top:-3px;*margin-top:-3px;}
.pages label{_margin-top:2px;padding:1px;}
.footlist-editbtn .favor-btn{float:left;}
.footlist-editbtn .likely-btn{float:right;}
.footlist-editbtn i{display:inline-block;float:left;margin-right:5px;height:14px;width:14px;background:url(../images/sp-ico.png);}
.favor-btn i{background-position:-78px -45px!important;}
.favor-btn-sel i{background-position:-78px -60px!important;}
.likely-btn i{background-position:-93px -45px!important;}
.footlist-timeline{width:130px;float:left;height:20px;}
.footlist-signpic .foot-sign-del{position:absolute;right:0;top:0;display:none;width:25px;height:25px;background:url(../images/clear.png) 0 0;}
.footlist-signpic .foot-sign-del:hover{background-position:-26px 0;}
.footlist-signpic .foot-sign-favor{position:absolute;top:134px;left:0;display:none;width:160px;height:26px;line-height:26px;color:#fff;font-size:12px;font-family:SimSun;overflow:hidden;text-align:center;background:url(../images/clear.png) 0 -26px;}
.foot-sign-favor span{font-family:Arial;}
.footpics{display:block;height:160px;width:160px;}
.footpics img{width:160px; height:160px;}
.signpic-hover{border:solid 1px #f70;}
.info-cost-pic{margin-top:13px;height:18px;line-height:18px;*line-height:22px;overflow:hidden;}
.info-cost-pic .cost-num{float:left;overflow:hidden;font-size:20px;font-family:Tahoma;color:#d00;}
.info-cost-pic .cost-num em{font-size:16px;font-family:Arial;}
.info-cost-pic .ico-cu{display:inline-block;float:left;margin-right:5px;height:18px;width:18px;font-size:12px;text-align:center;cursor:pointer;line-height:18px;color:#fff;background:#f00;}
.info-cost-pic .lastcost{display:inline-block;margin-left:10px;margin-top:3px;_margin-top:3px;font-size:12px;font-family:Arial;color:#999;text-decoration:line-through;}
.info-text{margin-left:20px;}
.info-text .fav-p{font-size:12px;color:#999;margin-top:35px;}
.info-text .fav-p span{margin-right:10px;}
.info-btn{margin-top:10px;height:28px;line-height:28px;}
.small-msg{float:right;margin-right:20px;}
.small-msg i{display:inline-block;margin:0 3px -3px 0;width:12px;height:14px;background:url(../images/sp-ico.png);background-position:-92px -30px;}
.loadmore-link{display:inline-block;margin:20px 0 20px 430px;width:208px;height:28px;_height:14px;_padding:7px 0;border:solid 1px #ddd;color:#666;font-size:14px;font-family:"Microsoft YaHei";line-height:28px;text-align:center;}
.loadmore-link:hover{text-decoration:none;color:#666;background:#eee;}
.loadmore-link i{display:inline-block;margin-left:5px;width:12px;height:12px;background:url(../images/clear.png);background-position:-73px 0;}

/* 找相似 */
.footlist-likly .footlist-date{margin:0;padding:0;border-left:0;}
.footlist-likly .footlist-pics{_position:static;padding:0 4px 10px 4px;_padding:0;width:auto;overflow:hidden;}
.footlist-likly .footlist-signpic{position:relative;margin:0 15px 20px 15px;_margin:0 15px 20px 12px;padding:10px 10px 0 10px;}
.footlist-likly .footlist-signpic .foot-sign-favor{top:144px;left:10px;}
.likelist-title{padding:20px;font-size:16px;font-family:"Microsoft YaHei";font-weight:700;}
.sales-num{float:right;color:#999;}
.footlist-likly .footlist-editbtn,.footlist-likly .cost-pic{padding:0;}
.foot-signinfo{padding:20px;margin-bottom:10px;border:solid 1px #ddd;background:#fff;width:1028px;}
.info-pic{display:block;float:left;width:160px;height:160px;}
.info-text{float:left;}
.title-infopic{line-height:150%;width:305px;height:36px;overflow:hidden;}
.costline-pic{padding-left:50px;color:#999;}
.costline-pic p{padding-left:8px;}
.prodgrounp-name{padding-bottom:10px;margin:0 20px;_padding:0 500px 10px 500px;color:#666;border-top:solid 1px #eee; text-align:center;font-size:16px;font-family:"Microsoft YaHei";}
.prodgrounp-name legend{padding:0 8px;}

/** 商品列表底部分页 **/
.page-prodlist{padding:9px 20px;height:12px;line-height:12px;background:#f6f6f6;overflow:hidden;}
.btn-listedit{float:left;position:relative;height:26px;}
.btn-listedit input[type='checkbox']{float:left;margin:1px 3px 0 0;*margin:-5px 2px 0 0;}
.ico-listedit{margin-left:15px;}
.ico-listedit i{ display:inline-block;margin:0 0 -3px 0;width:14px;height:14px;background:url(../images/sp-ico.png);background-repeat:no-repeat; }
.ico-listedit .icobtn-del{ background-position:-78px -30px;}
.ico-listedit span{margin-left:3px;}

/*tab and filter*/
.favor-switch { padding-bottom:15px;margin-bottom: 10px;width: 1068px; border: 1px solid #DDD; background-color: #FFF; }
.favor-switch .f-title{padding:20px 0 0 20px;font-size:16px;color:#333;font-family:"Microsoft YaHei";font-weight:700;}
.filter-wrap1{position:relative;}
.favor-tab { width: 1068px; height: 39px; border-bottom: 1px solid #DDD; cursor: pointer;}
.favor-filter { padding: 0 16px 0 20px;}
.favor-tab .tab-intro { float: left; width: 180px; height: 39px; _height: 40px; font: bold 16px "Microsoft YaHei"; text-align: center; line-height: 39px; border-right: 1px solid #DDD; }
.favor-tab .tab-intro a:hover { color: #F60; text-decoration: none;}
.favor-filter .btnClose { position: absolute; display: block; width: 11px; height: 11px; top: 1px; left:50px; background: url(../images/btnClose.png) no-repeat;_top: 2px;}
.filter-main1 { float: left; width: 129px;height: 22px; padding: 20px 0 0; line-height: 1em;_line-height: 1.4;}
.filter-main2 { float: left; width: 129px;height: 22px; padding: 10px 0 20px 0;; line-height: 1em;_line-height: 1.4;}
.favor-tab .active { border-bottom: 1px solid #FFF; _position: relative; _top: 1px;}
.favor-tab .active a{color: #f60;}
.filter-floor1 {float: left; height:32px;_height:45px;width:935px; padding: 0 20px 0 0;overflow: hidden;_zoom:1;}
.filter-floor1 li a{display:inline-block;}
.expands ul { height: auto;}
.filter-floor2 { float: left; width: 903px; height: 23px; padding: 10px 0 20px 0;}
.filter-floor1 li,.filter-floor2 li { float: left;height:12px; padding: 15px 20px 0 0;margin-right:20px; line-height: 1em;_line-height: 1.4;*display:inline;zoom:1;white-space:nowrap;word-break:break-all;}
.favor-filter .active { text-decoration: none; color: #F60;}
.filter-wrap1 .expand { float:left; margin-top:15px;color: #2272c8; cursor: pointer;}
.filter-wrap1 .expand i{ display: block; float: right; margin-right: 4px; margin-top:2px;width: 9px; height: 12px; background: url(../images/zhankai.png) no-repeat;*position:absolute;*right:40px;}
.expands .expand i { display: block; float: right; margin-left: 3px;margin-top:3px; width: 9px; height: 12px; background: url(../images/shouqi.png) no-repeat;*position:absolute;*right:40px;}
.filter-wrap1 .expand span{ *margin-right:10px;float:right;}
.favor-empty { float: left; width: 1068px; height: 124px; padding: 43px 0 41px 0;}
.empty-pic { float: left; width: 365px; height: 124px; padding: 0 0 0 158px; border-right:1px solid #DDD;}
.empty-intro { float: left; width: 408px;height: 124px; padding: 0 26px 0 100px;}
.empty-pic i { display: block; float: left; width: 81px; height: 91px; padding: 15px 0 16px 0; vertical-align: middle; background: url(../images/noGoods.png) no-repeat; overflow: hidden;}
.empty-pic p { float: left; height: 1.2em; margin-left: 21px; width:11em; overflow: hidden;}
.no-goods { margin-top: 31px; font: bold 18px "Microsoft YaHei"; color: #333; line-height: 1.2em; overflow: hidden;}
.go-shop { margin-top: 12px; color: #666;line-height: 1.2em; overflow: hidden;}
.go-shop a { color: #2272c8; cursor: pointer; text-decoration: none;}
.go-shop a:hover { color: #F60; text-decoration: underline;}
.empty-intro dt { font: bold 16px "Microsoft YaHei"; line-height: 16px;; color: #333; overflow: hidden;}
.empty-intro dd { float: left; width: 153px; height: 1.2em; line-height: 1.2em; color: #666; margin-top: 18px; overflow: hidden;}

/*店铺收藏*/
.favor-list-shop{background: #fff;padding:0 20px;}
.favor-shop-item{height:169px; border-top:1px solid #ddd;border-width: 1px 0;padding: 10px 0; position: relative;}
.favor-shop-sum{float: left; width: 215px;padding-right:20px; padding-left: 20px; border-right: 1px solid #ddd; height: 100%}
.favor-shop-logo{margin-top: 10px}
.favor-shop-logo img{width: 80px;height: 80px; border:1px solid #ddd;display: block;margin: 0 auto}
.favor-shop-tools{padding: 10px 16px 0 0; text-align: right; width: auto!important}
.favor-shop-tools input{*margin-top:-5px;}
.favor-shop-name,.favor-shop-score,.favor-shop-count{text-align: center;}
.favor-shop-name{line-height: 15px; padding: 7px 0 3px 0;}
.favor-shop-name .im{position: absolute;width: 18px; overflow: hidden;margin-left:4px;}
.favor-shop-count{margin-top:15px; line-height: 15px; color: #999}
.favor-shop-score{height: 14px; background: url(../images/starts3.png) no-repeat; width: 79px; margin: 0 auto}
.favor-list .score-5{background-position: 0 0}
.favor-list .score-4{background-position: -16px 0}
.favor-list .score-3{background-position: -32px 0}
.favor-list .score-2{background-position: -48px 0}
.favor-list .score-1{background-position: -64px 0}
.favor-shop-status{margin-left:268px;margin-top:15px;height:150px; overflow: hidden; }
.favor-shop-tab{margin:0 0 26px 12px; height: 30px; border-left: 1px solid #ddd;}
.favor-shop-tab span{color: #f70}
.favor-shop-tab li{width:86px; border: 1px solid #ddd;border-left: none; text-align:center; cursor: pointer;float: left; height: 28px; line-height: 28px}
.favor-shop-tab .active{font-weight: bold; cursor: default; background: #f6f6f6}
.favor-shop-tab .disabled{color: #999; cursor:not-allowed;}
.favor-shop-tab .disabled span{color: #999}

/*.favor-shop-slider{position: relative;}*/
.favor-shop-slider li{width: 120px; float: left; margin:0 15px;_display:inline;}
.favor-shop-slider .img{margin-bottom: 10px;}
.favor-shop-slider .img img{width: 120px; height: 120px; display: block;}
.favor-shop-slider h4{font-weight: normal; width: 100%; line-height: 20px; height: 20px; overflow: hidden; }
.favor-shop-slider h4 a{width: 100%; display: block;overflow: hidden; word-break: break-all;}
.favor-shop-slider .snPrice{color: #d00;text-align:center;}
.favor-shop-slider .snPrice em{font-family:Arial;}
.favor-shop-slider .snPrice i{font-weight: bold; margin: 0 4px}
.favor-shop-slider .slider-wrapper{width: 750px; margin: 0 auto; position:relative; overflow: hidden;}
.favor-shop-slider .slider-wrapper ul{width: 3000px}
.favor-shop-slider .btn-nav{text-indent: -5em;overflow: hidden; display:inline-block; position:absolute;top:35%;padding-top:3px; color:#666; width:34px; height:67px; background:url(../images/btn_side.png); }
.favor-shop-slider .btn-nav:hover{ text-decoration:none; color:#666; }
.favor-shop-slider .btn-nav-prev{left: 12px;background-position:0 0; }
.favor-shop-slider .btn-nav-prev:hover{background-position:0 -70px;}
.favor-shop-slider .btn-nav-next{right: 1px; background-position:-34px 0; }
.favor-shop-slider .btn-nav-next:hover{background-position:-34px -70px;}
.favor-shop-item .ico-picedit {font-size: 0}
.favor-shop-item .ico-picedit a{float: none; margin: 0 0 0 10px; *display: inline;*zoom:1;overflow: hidden; text-indent: -100px;text-decoration: none}
.icobtn-fixtop{background-position: -88px 1px}
.icobtn-fixtop:hover{background-position: -88px -13px}
.icobtn-canceltop{background-position: -102px 1px}
.icobtn-canceltop:hover{background-position: -102px -13px}
.favor-loading{background: url(../images/loading.gif) no-repeat center; height: 160px}
.favor-shop-empty{color: #666; padding: 55px 0 0 130px;}
.favor-shop-empty i{width: 56px; height: 51px; display: inline-block;*display: inline;*zoom:1; vertical-align: middle; background: url(../images/ico_bagcry.png) no-repeat;}
.favor-shop-empty a{color: #08c}
.favor-shop-empty a:hover{color: #f60}
.faver-shop-del{position: absolute;top:0; left: 0; background:url(../images/bg-mask.png);background:rgba(255,255,255,0.9); width: 100%; height: 100%; z-index: 1}
.faver-shop-del .msg-del{margin-top:140px;height:24px;line-height:24px;color:#666; text-align: center;}
.favor-score-pop{position: absolute; background: #fff; border: 1px solid #ddd; width: 138px;line-height: 1.8em; padding:12px 0 12px 30px;-moz-box-shadow: 1px 1px #dddddd;box-shadow: 1px 1px #dddddd;filter: progid:DXImageTransform.Microsoft.Shadow(strength = 1, direction = 135, color = '#dddddd');-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 135, Color = '#dddddd')";}
.favor-score-pop span{color: #f60}


/*推荐*/
.recommend{margin-top:10px;padding-bottom:20px;width:1068px;border:solid 1px #ddd;background:#fff;overflow:hidden;}
.recommend .footlist-signpic{float:none;}
.looplist-box{position:relative;width:1060px;height:235px;margin:0 auto;overflow:hidden;}
.looplist-pics{width:5000px;}
.looplist-pics li{float:left;}
.btn-slide{ display:inline-block; position:absolute;padding-top:3px; color:#666; top:35%; width:34px; height:67px; background:url(../images/btn_side.png); }
.recommend .btn-slide span{ display:none; margin-left:7px; padding-top:5px; }
.recommend .btn-slide:hover{ text-decoration:none; color:#666; }
.recommend .slide-left{ left:0; top:30%; background-position:0 0; }
.recommend .slide-left:hover{background-position:0 -70px;}
.recommend .slide-right{ right:0; top: 30%; background-position:-36px 0; }
.recommend .slide-right:hover{background-position:-36px -70px;}
.contBox { width: 1000px; margin: 0 auto;overflow: hidden;}
.recommend .footlist-signpic{_margin:0 15px 20px 15px;}

/* 窄屏 */
.w990 #ms-center{width:990px; min-width:990px;}
.w990 .filter-floor1{width:720px;}
.w990 .favor-switch,.w990 .footlist{width:818px;}
.w990 .footlist-pics{width:698px;}
.w990 .footlist-likly .footlist-pics{width:auto;}
.w990 .footlist-signpic{margin:0 5px 10px 5px;_margin:0 5px 10px 5px;}
.w990 .footlist-likly .footlist-signpic{margin:0 8px 10px 7px;_margin:0 6px 10px 7px;}
.w990 .footlist-date{padding-left:14px;_width:818px;}
.w990 .footlist-pics .date-circle{position:absolute;left:-20px;top:32px;font-size:12px;color:#ccc;}
.w990 .footlist-pics .time-circle{color:#ffa85b;}
.w990 .footlist-pics .date-timeshow{left:-100px;}
.w990 .loadmore-link{margin-left:345px;}
.w990 .color-line{ _left:-1px; }
.w990 .foot-signinfo{width:778px;}
.w990 .title-infopic{width:200px;}
.w990 .costline-pic img{width:332px;height:143px;}
.w990 .recommend{width:818px;}
.w990 .looplist-box{width:788px;}
.w990 .move-picoutbox{width:788px;}
.w990 .prodgrounp-name{margin-left:15px;margin-right:20px;width:410px;padding:0 0 10px 360px;_margin-left:15px;_margin-right:20px;_width:400px;_padding:0 0 10px 370px;}
/** tab切 **/
.tab-list-prod{height:38px;line-height:38px;background:#f6f6f6;}
.tab-list-prod .tab-btn{padding:13px 24px;}
.tab-line{padding:14px 1px 12px 0;background:#ddd;}
.tab-list-prod .tab-select{background:#fff;font-weight:700;}
.tab-btn span{color:#f60;}
.tab-btn-unclick{padding:13px 24px;color:#999;}
.tab-btn-unclick:hover{color:#999;text-decoration:none;}
.tab-soundmsg{display:inline-block;}
.tab-soundmsg .prod-num{margin:0 3px;font-size:14px;font-family:Arial;color:#f60;font-weight:700;}
.tab-soundmsg i{float:left;margin:11px 5px 0 5px;padding:8px;background:url(../images/sp-ico.png);background-position:-60px -13px;font-size:0;}

/*按钮*/
.sn-btn{ display:inline-block;font-size:14px;width:85px;text-align:center;background:url(../images/btn-faver.png);font-family:"Microsoft YaHei";font-weight:700; }
.btn28-ok{ padding:7px 14px;height:14px;line-height:14px;border:solid 1px #eb7f00;color:#fff; }
.btn28-ok:hover{color:#fff;text-decoration:none;border:solid 1px #f90;background-position:0 -29px!important;}
.btn28-info{ padding:7px 14px;height:14px;line-height:14px;border:solid 1px #ddd;color:#666;background-position:0 -58px!important; }
.btn28-info:hover{color:#666;text-decoration:none;border:solid 1px #ffb84d;background-position:0 -87px!important;}
.btn28-blue{ padding:7px 14px;height:14px;line-height:14px;_font-weight:100;border:solid 1px #3579d6;color:#fff;background-position:0 -116px!important; }
.btn28-blue:hover{color:#fff;text-decoration:none;border:solid 1px #3b87ee;background-position:0 -145px!important;}


/* 城市空间样式覆盖 */
.prod-sncity .ui-city-toggle{padding:5px 5px 5px 6px;}
.msg-listedit-nosel{color:red;margin-left:10px;display:none;}
.prod-sncity{margin-right:20px;margin-left:5px;}
.prod-sncity .ui-city-group{right:0;left:inherit;}

/* 时间轴动画线条 */
.footlist-date{position:relative;}
.color-line{position:absolute;left:-1px;_left:-21px;top:0;height:45px;width:20px;border-left:solid 2px #ffa85b; }
.footlist-pics .time-circle{color:#ffa85b;}
.del-dateinfo{display:none;}

/* 双行滚动 */
.move-picoutbox{position:relative;width:1060px;overflow:hidden;}
.btn-slide-like{ display:inline-block; position:absolute;padding-top:3px; color:#666; top:40%; width:34px; height:67px; background:url(../images/btn_side.png); }
.move-piclist{width:5000px;}
.move-piclist li{float:left;width:1060px;height:490px;}

/* 小气泡 */
.self-pop{position:absolute;top:50px;left:300px;padding:10px;width:249px;color:#666;background:#fffff0;display:none;border:solid 1px #fc6;z-index:29;}
.self-pop b{display:block;position:absolute;width:12px;height:9px;background:url(../images/ico-pop.png);bottom:-9px;right:50px;}
#snSideTools{_right:0;_top:60%;}
.ico-photo{display:block;position:absolute;bottom:68px;right:5px;width:24px;height:24px;background:url(../images/sp-ico.png) no-repeat;background-position:-78px -78px;}
.datepic-list{position:relative;max-height:468px;_height:468px;overflow:hidden;_overflow:inherit;}
.show-more{margin-left:15px;color:#2272c8;_display:none;}
.show-more i{display:inline-block;margin:0 0 -2px 5px;width:11px;height:12px;background:url(../images/sp-ico.png);background-position:-94px -60px;}
.show-more-sel i{background-position:-105px -77px;}
.ever-far{position:absolute;left:-2px;bottom:1px;width:35px;height:12px;filter:alpha(opacity=0);opacity:0; transition:all ease-out .3s;}
.ever-farto{left:10px;bottom:1px;width:12px;height:12px;opacity:1;filter:alpha(opacity=100);}
.footlist-likly .ever-far{position:absolute;left:-11px;bottom:1px;width:35px;height:12px;filter:alpha(opacity=0);opacity:0;
                          -webkit-transition:all ease-out .3s;
                          transition:all ease-out .3s;display:none; }
.footlist-likly .ever-farto{left:1px;bottom:1px;width:12px;height:12px;opacity:1;filter:alpha(opacity=100);}
.footlist-editbtn .cant-favor{float:left;}
.cant-favor:hover{cursor:default;text-decoration:none; color:#333;}
.cant-favor i{background-position:-78px -60px!important;}
@keyframes favor-animate{
    0% { margin-top: 0;background-position:-78px -45px!important;}
    50% { margin-top: -5px;background-position:-78px -45px!important;}
    65% { margin-top: 0;background-position:-78px -45px!important;}
    95% { margin-top: -2px;background-position:-78px -45px!important;}
    100% {margin-top: 0;background-position:-78px -45px!important;}
}
@-webkit-keyframes favor-animate {
    0% { margin-top: 0;background-position:-78px -45px!important;}
    50% { margin-top: -5px;background-position:-78px -45px!important;}
    65% { margin-top: 0;background-position:-78px -45px!important;}
    95% { margin-top: -2px;background-position:-78px -45px!important;}
    100% {margin-top: 0;background-position:-78px -45px!important;}
}
@-moz-keyframes favor-animate {
    0% { margin-top: 0;background-position:-78px -45px!important;}
    50% { margin-top: -5px;background-position:-78px -45px!important;}
    65% { margin-top: 0;background-position:-78px -45px!important;}
    95% { margin-top: -2px;background-position:-78px -45px!important;}
    100% {margin-top: 0;background-position:-78px -45px!important;}
}
@-o-keyframes favor-animate {
    0% { margin-top: 0;background-position:-78px -45px!important;}
    50% { margin-top: -5px;background-position:-78px -45px!important;}
    65% { margin-top: 0;background-position:-78px -45px!important;}
    95% { margin-top: -2px;background-position:-78px -45px!important;}
    100% {margin-top: 0;background-position:-78px -45px!important;}
}
.footlist-editbtn .favor-btn:hover i{
    animation:favor-animate 0.5s ease-out alternate;
    -webkit-animation:favor-animate 0.5s ease-out alternate;
    -webkit-animation-iteration-count: 1;
    -moz-animation:favor-animate 0.5s ease-out alternate;
    -moz-animation-iteration-count: 1;
    -o-animation:favor-animate 0.5s ease-out alternate;
    -o-animation-iteration-count: 1;
    /*-webkit-animation-direction: alternate;*/
}

/* 2014-11-03 */
.collection-tips{display:none;position:absolute;left:33px;top:65px;width:100px;height:30px;
	background: rgba(0,0,0,.6);
	_background: 0;
	_border: 0;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#66000000', EndColorStr='#66000000');
	overflow:hidden;z-index:10;

}
.collection-tips em{float:left;margin-top:10px;margin-left:17px;width:12px;height:12px;background:url(../images/sp-ico.png) no-repeat -171px -69px;}
.collection-tips span{float:left;margin-left:3px;line-height:30px;color:#FFF;}
.norecord{margin:10px auto 0;width:320px;height:60px;overflow:hidden;}
.norecord img{float:left;margin-top:6px;}
.norecord-con{float:left;margin-left:10px;}
.norecord-con p{color:#999;}
.norecord-con .nm1{height:35px;overflow:hidden;}
.norecord-con .nm1 span{font:700 16px/35px "Microsoft Yahei";}
.norecord-con .nm2 span{font-size:12px;}
.norecord-con .nm2 a{color:#2272c8;}
.norecord-con .nm2 a:hover{color:#F60;}
/* 20141107 */
.delpop{position:absolute;width:130px;height:48px;top:-80px;left:15px;padding:10px;border:solid 1px #ffb84e;background:#fff;text-align:center;z-index:29;display:none;}
.delpop a{padding:4px 10px;}
.delpop a:hover{text-decoration:none;}
.delpop .del-btn-ok{margin-right:7px;color:#fff;border:solid 1px #f70;background:#f70;}
.delpop .del-btn-cancel{color:#666;border:solid 1px #ddd;background:#fff;}
.delpop b{position:absolute;display:inline-block;bottom:-9px;left:65px;width:13px;height:9px;background:url(../images/ico-pop.png);_font-size:0;}

/* 添加空状态 */
.norecord{width:345px;}
.norecord img{width:65px;height:43px;}
.report-empty{height:150px;width:655px;margin:0 auto;padding:80px 0 120px;overflow:hidden;}
.report-empty dt{float:left;margin-top:21px;width:91px;height:111px;overflow:hidden;}
.report-empty dd{float:left;margin-left:20px;margin-top:40px;width:440px;}
.report-empty .title{font:700 18px/28px "Microsoft Yahei";color:#999;}
.report-empty .explain{font:400 12px/22px "SimSun";color:#666;}
.report-empty .explain a{color:#2272c8;}
.report-empty .explain a:hover{color:#F70;text-decoration:underline;}
.history{width:640px;}
.nofoot{width:300px;}
/* loading */
.favorite-loading{display:block;margin:40px auto;width:24px;height:12px;background:url(../images/loading.gif) no-repeat 0 0;overflow:hidden;}
.my-footprint .cont-main{width:1240px;}
.w990 .my-footprint .cont-main{width:990px;}

/* 公共头 */
.ng-toolbar .ng-toolbar-con {width: 1240px;}