.pop-car-win {
	padding: 15px;
}

.pop-car-win .pop-content h4 {
	width: 200px;
	height: 32px;
	margin: 30px 0 5px 100px;
	line-height: 32px;
	font-size: 14px;
}

.pop-car-win .pop-content b {
	display: inline-block;
	width: 33px;
	height: 33px;
	margin-right: 10px;
	background: url(../images/tipsBg.png) -120px -139px no-repeat;
	vertical-align: -10px;
	*vertical-align: -8px;
}

.pop-car-win .pop-content p {
	width: 240px;
	margin-left: 142px;
	color: #666;
}

.pop-car-win .pop-content p i {
	color: #F70;
}

.pop-car-win .pop-content .pop-success,.pop-car-win .pop-content .pop-error {
	padding-bottom: 15px;
	border-bottom: 1px solid #DDD;
}

.pop-car-win .pop-content .pop-success h4 {
	margin: 0 0 10px 10px;
}

.pop-car-win .pop-content .pop-success b {
	background: url(../images/tipsBg.png) -120px 0 no-repeat;
}

.pop-car-win .pop-content .pop-error {
	color: #F00;
}

.pop-car-win .pop-content .pop-error b {
	background: url(../images/tipsBg.png) -120px -70px no-repeat;
}

.pop-car-win .pop-content .btn-box {
	height: 50px;
	margin: 40px 0 20px 142px;
}

.pop-car-win .pop-content .car-btn {
	height: 28px;
	background: url(../images/productBtn.png) 0 0 no-repeat;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
	overflow: hidden;
}

.pop-car-win .pop-content .confirm-btn {
	float: left;
	background-position: 0 -196px;
}

.pop-car-win .pop-content .confirm-btn span {
	float: left;
	height: 14px;
	margin-left: 20px;
	padding: 4px 20px 10px 0;
	background: url(../images/productBtn.png) right -196px no-repeat;
	cursor: pointer;
}

.pop-car-win .pop-content .confirm-btn:hover {
	background-position: 0 -228px;
	text-decoration: none;
}

.pop-car-win .pop-content .confirm-btn:hover span {
	background-position: right -228px;
	cursor: pointer;
}

.pop-car-win .pop-content .shopping-btn {
	display: inline-block;
	margin: 0 10px 0 50px;
	background: #FFF url(../images/pop_win_btn.png) 0 -60px no-repeat;
	color: #000;
}

.pop-car-win .pop-content .shopping-btn:hover {
	text-decoration: none;
}

.pop-car-win .pop-content .shopping-btn:hover span {
	color: #F70;
	text-decoration: none;
}

.pop-car-win .pop-content .shopping-btn span {
	display: inline-block;
	height: 14px;
	margin-left: 10px;
	padding: 4px 10px 10px 0;
	background: #FFF url(../images/pop_win_btn.png) right -90px no-repeat;
	cursor: pointer;
}

.pop-car-win .pop-content .account-btn {
	display: inline-block;
	background-position: 0 -196px;
}

.pop-car-win .pop-content .account-btn span {
	display: inline-block;
	margin-left: 15px;
	padding: 4px 15px 10px 0;
	background: url(../images/productBtn.png) right -196px no-repeat;
	cursor: pointer;
}

.pop-car-win .pop-content .account-btn:hover {
	background-position: 0 -228px;
	text-decoration: none;
}

.pop-car-win .pop-content .account-btn:hover span {
	background-position: right -228px;
	cursor: pointer;
}

.pop-car-win .pop-content .no-products {
	margin: 50px 0 60px 50px;
	border-bottom: none 0;
}

.pop-car-win .pop-others p {
	margin: 15px 0 10px;
	color: #333;
}

.pop-car-win .pop-others ul {
	height: 165px;
}

.pop-car-win .pop-others li {
	float: left;
	width: 100px;
	margin-right: 6px;
	_margin-right: 3px;
}

.pop-car-win .pop-others .last {
	margin-right: 0;
}

.pop-car-win .pop-others li .picbox {
	display: block;
	width: 100px;
	height: 100px;
	border: 1px solid #EEE;
	overflow: hidden;
}

.pop-car-win .pop-others li .picbox img {
	width: 100px;
	height: 100px;
}

.pop-car-win .pop-others .details {
	width: 90px;
	height: 35px;
	margin: 10px 0 0;
	padding: 0 5px;
	word-break: break-all;
	overflow: hidden;
}

.pop-car-win .pop-others .snPrice {
	display: block;
	padding-left: 5px;
	color: #d00;
	font-weight: 700;
}

.pop-car-win .pop-others .snPrice i {
	font-weight: bold;
	font-size: 14px;
	vertical-align: 5px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
}

.pop-car-win .pop-others .snPrice img {
	height: 20px;
}

.pop-car-win .pop-others .snPrice em {
	padding-left: 1px;
	font-size: 14px;
	vertical-align: 5px;
	font-family: tahoma;
}

.tip-icon {
	display: inline-block;
	width: 16px;
	height: 28px;
	background: url(../images/tipIcon.png) no-repeat -182px 0;
}

.tip-ok-16,.tip-info-16,.tip-warning-16,.tip-error-16,.tip-help-16 {
	background-position: 0 0;
}

.tip-ok,.tip-ok-16 {
	background-position: -182px 0;
}

.tip-info,.tip-info-16 {
	background-position: -182px -70px;
}

.tip-warning,.tip-warning-16 {
	background-position: -182px -140px;
}

.tip-error,.tip-error-16 {
	background-position: -182px -210px;
}

.tip-help,.tip-help-16 {
	background-position: -182px -280px;
}

.tip-ok-24,.tip-info-24,.tip-warning-24,.tip-error-24,.tip-help-24 {
	width: 24px;
	height: 24px;
	background-position: -156px 0;
}

.tip-info-24 {
	background-position: -156px -70px;
}

.tip-warning-24 {
	background-position: -156px -140px;
}

.tip-error-24 {
	background-position: -156px -210px;
}

.tip-help-24 {
	background-position: -156px -280px;
}

.tip-ok-32,.tip-info-32,.tip-warning-32,.tip-error-32,.tip-help-32 {
	width: 32px;
	height: 32px;
	background-position: -120px 0;
}

.tip-info-32 {
	background-position: -120px -70px;
}

.tip-warning-32 {
	background-position: -120px -140px;
}

.tip-error-32 {
	background-position: -120px -210px;
}

.tip-help-32 {
	background-position: -120px -280px;
}

.tip-ok-48,.tip-info-48,.tip-warning-48,.tip-error-48,.tip-help-48 {
	width: 48px;
	height: 48px;
	background-position: -70px 0;
}

.tip-info-48 {
	background-position: -70px -70px;
}

.tip-warning-48 {
	background-position: -70px -140px;
}

.tip-error-48 {
	background-position: -70px -210px;
}

.tip-help-48 {
	background-position: -70px -280px;
}

.tip-ok-64,.tip-info-64,.tip-warning-64,.tip-error-64,.tip-help-64 {
	width: 64px;
	height: 64px;
	background-position: 0 0;
}

.tip-info-64 {
	background-position: 0 -70px;
}

.tip-warning-64 {
	background-position: 0 -140px;
}

.tip-error-64 {
	background-position: 0 -210px;
}

.tip-help-64 {
	background-position: 0 -280px;
}

.m-lion-dialog {
	position: fixed;
	_position: absolute;
	top: 50%;
	left: 50%;
	z-index: 8003;
}

.m-lion-dialog .lion {
	position: absolute;
	top: -40px;
	left: -40px;
	display: inline-block;
	width: 80px;
	height: 80px;
	background: url(../images/lion-dialog.png) no-repeat 0 0;
}

.m-lion-dialog .container {
	display: none;
	padding: 24px 69px;
	background-color: #fff;
	border: 1px solid #f8b500;
	border-radius: 5px 0 5px 5px;
	overflow: hidden;
}

.m-lion-dialog .title h3 {
	width: 507px;
	font: bold 16px/36px 'microsoft yahei';
	color: #231815;
	border-bottom: 1px dotted #ddd;
}

.m-lion-dialog .btn {
	position: absolute;
	right: -9px;
	top: 5px;
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../images/lion-dialog.png) no-repeat -82px -14px;
	cursor: pointer;
	z-index: 9999;
}

.m-lion-dialog .semi-circle {
	position: absolute;
	right: -13px;
	top: 0;
	display: inline-block;
	width: 14px;
	height: 27px;
	background: url(../images/lion-dialog.png) no-repeat -82px -33px;
	cursor: pointer;
	z-index: 9998;
}

.m-lion-dialog .lt {
	margin-left: -4px;
}

.m-lion-dialog .btn:hover {
	color: #666;
	text-decoration: none;
}

.m-lion-dialog .content {
	background: #fff;
}

.m-lion-dialog input.ui-text {
	height: 14px;
	border: 1px solid #CCC;
	line-height: 26px;
	text-align: center;
	transition: all .3s ease;
}

.m-lion-dialog-overlay .lay {
	display: none;
}

.m-lion-dialog-overlay .close {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .3;
	filter: Alpha(opacity=30)\9;
	cursor: pointer;
}

.m-lion-dialog-overlay .overlay {
	background: black;
	z-index: 8002;
	cursor: default;
}

.m-lion-dialog-overlay .frame {
	z-index: 8001;
}

.dialog-action {
	padding-left: 180px;
}

.dialog-action a {
	display: inline-block;
	float: left;
	line-height: 20px;
	text-align: center;
}

.dialog-action a:hover {
	text-decoration: none;
}

.dialog-action .confirm-btn {
	width: 65px;
	height: 22px;
	background: url(../images/lion-dialog.png) no-repeat -100px 0;
	color: #fff;
}

.dialog-action .cancel-btn {
	width: 63px;
	height: 20px;
	background-color: #f8f8f8;
	border: 1px solid #bbb;
	color: #333;
}

.company-channel .tips {
	margin-bottom: 10px;
	font: bold 14px/26px 'microsoft yahei';
	color: #333;
}

.company-channel .tips span {
	color: #2372c7;
}

.company-channel .tips a {
	margin-left: 5px;
	color: #2372c7;
}

.identify-code .tips {
	font: bold 14px/26px 'microsoft yahei';
	color: #333;
}

.identify-code .code-input {
	width: 308px;
	height: 142px;
	margin-top: 29px;
}

.identify-code .code-input dl {
	height: 32px;
}

.identify-code .code-input dt {
	width: 52px;
	font: 14px/32px 'microsoft yahei';
	color: #666;
}

.identify-code .code-input dd,.identify-code .code-input dd p {
	width: 255px;
}

.identify-code .code-input .item-ide {
	display: inline-block;
	height: 32px;
	margin-bottom: 12px;
	color: #bbb;
}

.identify-code .code-input .item-ide .tip-icon {
	margin-top: 6px;
}

.identify-code .code-input .item-ide .code-error {
	line-height: 32px;
	color: #d00;
}

.identify-code .code-input dd input {
	width: 174px;
	height: 30px;
	margin-right: 10px;
	padding: 6px 0 6px 6px;
	text-align: left;
	color: #999;
}

.identify-code .code-input .error-input {
	border: 1px solid #d00;
	color: #d00;
}

.identify-code .code-input img {
	display: inline-block;
	width: 80px;
	height: 30px;
	margin-right: 9px;
}

.identify-code .code-input .change {
	height: 32px;
	line-height: 32px;
}

.identify-code .code-input .change a {
	color: #2272c8;
}

.identify-code .lion-btn {
	display: inline-block;
	width: 85px;
	height: 28px;
	margin-right: 10px;
	text-align: center;
	font: 14px/28px 'microsoft yahei';
	border-radius: 3px;
}

.identify-code .lion-btn:hover {
	text-decoration: none;
}

.identify-code .certain {
	background-color: #f90;
	border: 1px solid #e68a00;
	color: #fff;
}

.identify-code .close {
	background-color: #eee;
	border: 1px solid #bbb;
	color: #333;
}