/* 结算页 */
body{margin:0px;padding:0px;}
#top{background-color:#F1F1F1;}
#top-m{width:990px;margin:0px auto;font-size:12px;line-height:30px;color:#6A6A6A;}
#top-m:after{content:'';display:block;clear:both;}
#top-m-l{float:left;}
#top-m-r{float:right;}
#top-img{display:block;margin:0px auto;width:990px;margin-bottom:10px;}
#order{margin:0px auto;width:990px;border:1px solid #f0f0f0;}
#o-title{font-size:14px;float:left;height:40px;line-height:40px;text-indent:20px;font-weight:bold;}
#o-add{font-size:13px;float:right;height:40px;line-height:40px;margin-right:20px;text-decoration:none;color:#005EA7;}
#o-addr{margin-left:40px;margin-top:10px;border:2px solid #E4393C;display:inline-block;padding:5px 50px;position:relative;}
#o-addr>i{position:absolute;right:0px;bottom:0px;border:1px solid #e4393c;border-width:7px;border-color:transparent #E4393C #E4393C transparent;}
#o-addr>b{position:absolute;right:0px;bottom:-3px;color:white;}
#o-name{height:50px;margin-left:20px;}
#o-addres{margin-left:17px;}
#o-tel{margin-left:17px;}
#o-line{width:900px;margin:35px auto 0px auto;border:1px solid #f0f0f0;}
#o-shqd{float:left;height:30px;margin-left:43px;line-height:50px;font-size:14px;font-weight:bold;}
#o-jgsm{float:right;height:30px;margin-right:45px;line-height:50px;font-size:14px;}
#o-content{width:910px;margin:0px auto;clear:both;margin-top:40px;background-color:#F7F7F7;}
#o-content::after{content:'';display:block;clear:both;}
/*#o-content-l{height:100%;background-color:pink;float:left;}*/
#opcon{float:right;width:580px;background-color:white;}
#opcon::after{content:'';display:block;clear:both;}
.o-con-d{width:580px;height:150px;float:right;background-color:#F3FBFE;margin-bottom:3px;}

.o-pic{float:left;margin-top:27px;margin-left:20px;}
.o-m{width:288px;float:left;}
.o-name{display:inline-block;width:270px;margin-top:27px;margin-left:10px;font-size:14px;}
.o-tui{margin-top:12px;margin-left:10px;display:block;text-indent:20px;height:30px;line-height:30px;font-size:13px;color:#FF6C00;background:url('./images/purchase-icon.png') no-repeat 0px -79px;}
.o-price{float:left;height:50px;line-height:70px;margin-right:20px;color:#E4393C;font-weight:bold;}
.o-cnt{float:left;height:50px;line-height:70px;margin-right:20px;}
.o-state{float:left;height:50px;line-height:70px;}

#o-za{width:990px;margin:0px auto;}
#o-zafei1{width:128px;float:right;height:100px;margin-right:42px;text-align:right;}
#o-zafei2{width:198px;float:right;height:100px;text-align:right;}
.o-zafei{margin-top:7px;}
#o-end{width:990px;height:80px;background-color:#F4F4F4;margin:0px auto;border-radius:3px;margin-top:5px;text-align:right;}
#o-end>div{line-height:40px;padding-right:40px;}
#o-end1>b{color:#E4393C;}
#o-end2{font-size:13px;}
#o-submit{float:right;width:135px;height:36px;background:url('/static/home/images/btn-submit.jpg') no-repeat;margin-right:48px;margin-top:10px;}
#o-final{width:990px;margin:0px auto;height:100px;height:86px;}
