/* 主 体 */
#mainbody{width:1210px;margin:0px auto;height:470px;}
#main_m{width:730px;background-color:pink;height:454px;float:left;margin-left:220px;margin-top:12px;}
#main_r{width:250px;height:454px;float:right;margin-top:12px;}
#mr_1{width:248px;height:165px;border:1px solid #E4E4E4;}
#mr_1>h3{float:left;margin-top:8px;font-size:16px;text-indent:16px;}
#mr_1>span{float:right;margin-top:10px;font-size:10px;margin-right:17px;}
#mr_2{width:250px;height:289px;}