.main-page{background:#FFF}
.wapper{width:990px;margin:0 auto;min-width:990px;clear:both}
.main-left{float:left;width:740px}
.path{clear:both;margin:10px auto}
.path a{padding:0 7px;color:#666;font-family:tahoma}
.path .fst{padding:0 7px 0 0}
.path a:hover{color:#f70}
.path span{font-family:"\5B8B\4F53";color:#999}
.path .last{padding-left:7px;font-family:tahoma;color:#999}
.search-frame{width:788px;height:80px;background:#fff;border:1px solid #e8e8e8;overflow:hidden;background:url("../images/searchlogo.png") no-repeat}
.h-search{position:relative;left:200px;top:25px}
.h-search .h-search-box{position:relative;display:inline-block;*display:inline;zoom:1;width:185px;height:28px;border:1px solid #ddd;border-radius:2px;*top:5px}
.h-search .h-search-box input{padding:8px 0 8px 10px;border:0;height:12px;width:145px;font:12px SimSun;*margin-top:-1px}
.h-search .h-search-box a{display:inline-block;float:right;margin-right:6px;margin-top:-1px;padding-right:0;width:16px;height:28px;_font-size:0;*margin-top:-30px;background:url(../images/search-icon.png);background-repeat:no-repeat;background-position:center center}
.h-search-box .h-search-input{float:left;padding:5px;height:18px;width:349px;border:1px solid #DDD;font:400 12px/18px "SimSun";color:#333}
.h-search-box .h-search-btn{float:left;margin-left:10px;width:105px;height:30px;background:url(../images/btn.png) no-repeat 0 0;font:700 14px/30px "SimSun";color:#333;text-align:center}
.h-search-box .h-search-btn:hover{background:url(../images/btn.png) no-repeat -105px 0;text-decoration:none}
.h-search .search-hot-pro{height:32px;color:#666}
.search-hot-pro span{color:#666}
.search-hot-pro a{padding-right:7px;color:#666}
.search-hot-pro a:hover{text-decoration:underline;color:#F70}
.fields{padding-left:20px;width:718px;height:29px;border:1px solid #ffce84;background:#fffeed;overflow:hidden}
.fields .info-title{float:left;margin-top:6px}
.fields .latip{float:left;margin-left:30px;width:614px;height:29px;overflow:hidden}
.latip a{padding-left:37px;font:400 12px/31px "SimSun";color:#333}
.latip a:hover{color:#F70}
.main-left .info-one{height:330px}
.info{padding:0 20px;width:698px;border:1px solid #DDD}
.info:hover{border:1px solid #F70}
.info-title{display:inline-block;padding-left:10px;margin-top:10px;background:url(../images/title-bg.png) no-repeat 0 1px;font:700 16px/18px "Microsoft Yahei";color:#F70}
.info-one ul{width:700px;overflow:hidden}
.info-one ul li{float:left;margin-right:15px;margin-top:15px}
.info-one .mr0{margin-right:0}
.one-icon{display:block;width:128px;height:128px;background:url(../images/home-logo.png)}
.home_main .hover{opacity:.5;filter:alpha(opacity=50);-moz-opacity:.5}
.one-icon01{background-position:0 0}
.one-icon02{background-position:-128px 0}
.one-icon03{background-position:-256px 0}
.one-icon04{background-position:-384px 0}
.one-icon05{background-position:-512px 0}
.one-icon06{background-position:0 -128px}
.one-icon07{background-position:-128px -128px}
.one-icon08{background-position:-256px -128px}
.one-icon09{background-position:-384px -128px}
.one-icon10{background-position:-512px -128px}
.main-left .info-two{height:162px}
.teach-lin{margin-top:15px;width:700px;height:102px;background:url(../images/newbg.png) no-repeat}
.teach-lin .tow-icon{float:left;width:116px;height:102px}
.tow-icon01:hover{background:url(../images/newbg-hover.png) no-repeat 0 0}
.tow-icon02:hover{background:url(../images/newbg-hover.png) no-repeat -116px 0}
.tow-icon03:hover{background:url(../images/newbg-hover.png) no-repeat -232px 0}
.tow-icon04:hover{background:url(../images/newbg-hover.png) no-repeat -348px 0}
.tow-icon05:hover{background:url(../images/newbg-hover.png) no-repeat -464px 0}
.tow-icon06:hover{background:url(../images/newbg-hover.png) no-repeat -580px 0}
.main-left .info-three{height:170px}
.service{margin-top:15px;width:700px;height:82px;background:url(../images/servicebg.png) no-repeat}
.service-tip{margin-top:2px}
.service-tip a{font:400 12px/38px "SimSun";color:#2272c8}
.service-tip a:hover{color:#F70}
.info-six{height:143px}
.audit{padding-left:28px;margin-top:14px}
.audit p{line-height:20px;color:#666}
.audit p i{padding:0 11px}
.audit p span{color:#999}
.audit-option{margin-top:16px;padding-left:28px;height:22px;overflow:hidden}
.audit-option .apply-btn{float:left;width:84px;height:22px;background:url(../images/btn.png) no-repeat 0 -78px}
.audit-option .apply-plan{float:left;padding-left:12px;line-height:22px;color:#2272c8}
.audit-option .apply-btn:hover{background-position:-84px -78px}
.audit-option .apply-plan:hover{color:#F70}
.right-sidebar{float:right;width:240px}
.adv-banner{position:relative;width:240px;height:125px;overflow:hidden}
.adv-banner .pic-wrapper{position:absolute;top:0;left:0;width:240px;height:125px;top:0;left:0;z-index:1}
.adv-banner .pic-wrapper li{float:left;height:125px;width:240px}
.adv-banner .dot-wrapper{position:absolute;right:8px;bottom:10px;z-index:2}
.adv-banner .dot-wrapper li{position:relative;display:inline-block;float:left;width:16px;height:16px;margin:0 3px;overflow:hidden;cursor:pointer;background:url(../images/home-dot1.png) no-repeat}
.adv-banner .dot-wrapper li.current{background:url(../images/home-dot2.png) no-repeat}
.adv-banner .dot-wrapper li em{position:absolute;left:0;top:0;z-index:1000;display:block;width:16px;height:16px;text-align:center;line-height:16px;font-size:12px;color:#666}
.adv-banner .dot-wrapper li.current em{color:#FFF}
.info-four{margin-top:10px;padding:0 20px;background:#efefef}
.side-info{padding-top:20px;width:200px}
.side-info .tit{height:16px;padding-bottom:10px;border-bottom:1px solid #DDD;overflow:hidden}
.tit .info-title{float:left;margin-top:0}
.tit .more{float:right;font:12px/16px "SimSun";color:#999}
.side-info .side-info-con{padding:5px 0;border-top:1px solid #FFF}
.side-info-con ul{width:200px}
.side-info-con ul li{height:22px;width:200px;text-align:right;background:url(../images/li-disc.png) no-repeat left 7px;font:12px/22px "SimSun";color:#333;overflow:hidden}
.side-info-con li a{white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;display:inline-block;width:190px;text-align:left}
.side-info-con .safe-bg{width:200px;margin:5px 0 0 0}
.safe-bg p{float:left;margin-top:7px;width:100px;height:24px}
.safe-bg p em{float:left;width:24px;height:24px;background:url(../images/side-bg.png) no-repeat}
.safe-bg p a{float:left;margin-left:10px;font:12px/24px "SimSun";color:#333}
.safe-bg .safe01{background-position:0 0}
.safe-bg .safe02{background-position:-24px 0}
.safe-bg .safe03{background-position:0 -24px}
.safe-bg .safe04{background-position:-24px -24px}
.safe-bg .safe05{background-position:0 -48px}
.safe-bg .on em{background:url(../images/side-bg-hover.png) no-repeat}
.safe-bg .on .safe01{background-position:0 0}
.safe-bg .on .safe02{background-position:-24px 0}
.safe-bg .on .safe03{background-position:0 -24px}
.safe-bg .on .safe04{background-position:-24px -24px}
.safe-bg .on .safe05{background-position:0 -48px}
.safe-bg .on a{color:#F60}
.side-info-con .help-bg{margin:5px 0 28px 0;width:200px}
.help-bg p{float:left;margin-top:8px;width:100px;height:23px}
.help-bg p em{float:left;width:23px;height:23px;background:url(../images/info-icon.png) no-repeat}
.help-bg p a{float:left;margin-left:10px;font:12px/23px "SimSun";color:#333}
.help-bg .help01{background-position:0 0}
.help-bg .help02{background-position:-23px 0}
.help-bg .help03{background-position:0 -23px}
.help-bg .help04{background-position:-23px -23px}
.help-bg .help05{background-position:0 -46px}
.help-bg .help06{background-position:-23px -46px}
.help-bg .help07{background-position:0 -68px}
.help-bg .help08{background-position:-23px -68px}
.help-bg .on em{background:url(../images/info-icon-hover.png) no-repeat}
.help-bg .on a{color:#F70}
.help-bg .on .help01{background-position:0 0}
.help-bg .on .help02{background-position:-23px 0}
.help-bg .on .help03{background-position:0 -23px}
.help-bg .on .help04{background-position:-23px -23px}
.help-bg .on .help05{background-position:0 -46px}
.help-bg .on .help06{background-position:-23px -46px}
.help-bg .on .help07{background-position:0 -68px}
.help-bg .on .help08{background-position:-23px -68px}
.info-five{padding:9px 20px;width:200px;height:107px;border:1px solid #DDD}
.info-five .title{font:16px/30px "Microsoft Yahei";color:#333}
.info-five .content{margin-top:9px;height:23px;overflow:hidden}
.info-five .content .w-logo{float:left;width:120px;height:23px;background:url(../images/weibologo.png) no-repeat}
.info-five .content .w-btn{float:left;width:68px;height:22px;background:url(../images/btn.png) no-repeat 0 -30px;cursor:pointer}
.info-five .content .w-btn:hover{background-position:-68px -30px}
.info-five ol{display:block;width:200px;overflow:hidden}
.info-five li{float:left;height:20px;width:100px;line-height:20px;color:#999}
.info-five li em{padding-left:3px;color:#333}
.left-nav{float:left;width:188px;border:1px solid #e8e8e8}
.left-nav .nav-con{padding-bottom:12px}
.nav-con dt{height:32px;width:188px;overflow:hidden;cursor:pointer}
.nav-con span{float:left;padding-left:3px;font:14px/32px "Microsoft Yahei";color:#333}
.nav-con .spcli{font-weight:700}
.nav-con em{float:left;margin-left:20px;margin-top:11px;width:9px;height:9px;background:url(../images/icon-nameInfo.png) no-repeat;background-position:-19px -52px;overflow:hidden}
.nav-con em.on{background:url(../images/icon-nameInfo.png) no-repeat;background-position:-9px -52px}
.nav-con dd{padding:2px 5px 10px;width:178px}
.nav-con dd a{display:block;padding-top:1px;padding-left:27px;width:153px;height:26px;font:12px/26px "Microsoft YaHei";color:#666}
.nav-con dd a:hover{text-decoration:underline;color:#F70}
.nav-con dd .on{color:#F70;font-weight:700;text-decoration:none}
.nav-con .last{border:0}
.nav-con .font-w{font-weight:700}
.left-nav h2{padding-left:18px;padding-top:16px;padding-bottom:6px;font:14px "Microsoft Yahei";font-weight:bold;color:#333}
.left-nav .nav-code{margin-top:10px}
.nav-code img{display:block;width:190px;height:195px}
.nav-code a{font:400 12px/32px "SimSun";color:#2272cb}
.nav-code a:hover{color:#F70}
.left-nav .nav-consult{padding-left:15px;margin-top:10px;width:175px;height:101px;background:url(../images/consult.png) no-repeat}
.nav-consult p{padding-top:6px;font:400 12px/21px "Arial";color:#666}
.nav-consult .phone{font-weight:700;color:#F70}
.right-con{float:right;width:790px;overflow:hidden}
.problem-hot{padding:10px 0;width:788px;background:#f5f5f5;border:1px solid #ddd;overflow:hidden;margin-top:5px}
.problem-hot ul{float:left;padding-left:20px;width:374px}
.problem-hot ul li{width:373px;height:24px;background:url(../images/li-disc-gay.png) no-repeat left 10px;text-indent:3px;font:400 12px/24px "SimSun";color:#666;text-align:left;overflow:hidden;word-break:break-all;word-wrap:break-word}
.problem-hot ul li a{white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;display:inline-block;width:250px;color:#333}
.problem-hot ul li a:hover{color:#F70}
.problem-search-wrapper{width:788px;border:solid #dedede;border-width:0 1px 1px}
.problem-search-nav{overflow:hidden}
.problem-search-nav li{float:left;width:130px;height:33px;border:solid #dedede;border-width:1px 0 1px 1px;text-align:center;font:400 14px/33px "Microsoft Yahei";color:#333;overflow:hidden;cursor:pointer}
.problem-search-nav li.hover{margin-top:-1px;padding-top:0;border-bottom:1px solid #FFF;border-top:3px solid #f90;line-height:31px}
.problem-search-nav .fist{margin-left:-1px;width:133px}
.problem-search-con{padding:30px 20px 40px;width:748px}
.problem-search .problem-hot{background:#FFF}
.info-classify{margin-top:10px}
.classify-con{padding-top:4px;margin-bottom:34px;border:1px solid #e8e8e8;border-top:0}
.classify-con p{margin:0;padding-left:12px;font:400 12px/24px "SimSun";color:#666}
.classify-con ol{margin:0;padding-left:36px;list-style:decimal}
.classify-con li{list-style:decimal}
.classify-con li span{display:inline-block;width:752px;font-size:12px;line-height:24px;font-weight:400;color:#666}
.classify-con a{color:#2272c8}
.classify-con a:hover{color:#F70}
.classify-con img{margin:6px 0 6px 2px;width:600px;height:300px;border:4px solid #999;overflow:hidden}
.classify-con table{margin-top:12px;width:698px;border:solid #dedede;border-width:1px 0 0 1px}
.classify-con th{height:30px;font:400 12px/30px "SimSun";border:solid #dedede;border-width:0 1px 1px 0;color:#666;background:#f1f1f1;vertical-align:middle;text-align:center}
.classify-con td{padding:12px;font:400 12px/18px "SimSun";border:solid #dedede;border-width:0 1px 1px 0;color:#666;background:#fff;vertical-align:middle;text-align:center}
.info-classify h3{margin:0;padding-left:5px;height:28px;background:#fffeed;border-top:2px solid #fc9a01;font:700 14px/28px "SimSun";color:#333}
.info-classify h4{margin:0;padding-left:12px;font:700 12px/24px "SimSun"}
.details-info .classify-con{margin-top:5px;padding:0 0 35px 0}
.pose{margin-top:34px;padding-top:20px;height:83px;background:#FFF;border-top:1px dashed #DDD}
.pose .pose-q{display:inline-block;padding-left:21px;background:url(../images/icon01.png) no-repeat;font:700 12px/16px "SimSun";color:#333}
.pose .pose-con{margin-top:13px;padding-left:20px;width:178px;overflow:hidden}
.pose .pose-con label{float:left;width:82px;font:400 12px/14px "SimSun";color:#333}
.pose .pose-con input{margin-right:6px;vertical-align:-2px}
.pose .pose-remark{padding-left:20px;font:700 12px/32px "SimSun";color:#F70}
.result0 a{color:#2272c8}
.result0 a:hover{color:#F70}
.result0 .sericon{display:inline-block;padding-left:15px;background:url(../images/serLogo.png) no-repeat 2px 3px}
.result0-con{position:relative;width:788px;border:1px solid #e8e8e8;top:10px;padding:10px 0}
.result0-con-info{margin:5px 0}
.result0-con-info ul{padding-left:20px}
.result0-con-info ul li{background:url(../images/li-disc-gay.png) no-repeat left 9px;font:400 12px/22px "SimSun";color:#666;word-break:break-all;word-wrap:break-word;text-indent:8px}
.result0 .problem-hot{background:#FFF;margin-top:20px;padding:0 0 10px 0}
.right-con .result0 h2{color:#f70;padding-left:20px}
.right-con .result0 .problem-hot h2{color:#4d4d4d;font-weight:bold;font-family:"SimSun";font-size:14px}
.right-con h2 em{color:#F70}
.right-con h2 .figure{font-family:"Arial"}
.info-key .info-key-con{padding-left:10px;width:780px;min-height:350px;_height:350px}
.info-key-con dl{margin-top:24px}
.info-key-con dt{font:400 14px/22px "SimSun";color:#2272cb;text-decoration:underline}
.info-key-con dt a{color:#2272c8;text-decoration:underline}
.info-key-con dt a:hover{color:#2272c8}
.info-key-con .font-on{color:#F70;text-decoration:underline}
.info-key-con dd{padding-top:1px;width:780px;overflow:hidden}
.info-key-con dd span{display:inline-block;font:400 12px/22px "SimSun";color:#666}
.info-key-con dd span i{color:#F70}
.info-key-con .font-line{float:left;width:684px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.info-key-con .detail{padding-left:5px;color:#666;font:12px/22px "SimSun"}
.info-key-con a:hover{color:#F70}
.info-key-con .paglist{height:360px}
.ePages{margin:80px 0 30px 0}
.ePages-delete{margin-top:15px}
.en-snPages{float:right;font-size:0}
.en-snPages a,.en-snPages a:visited,.en-snPages span,.en-snPages div{position:relative;display:inline;float:left;margin-right:4px;color:#333;font-size:12px}
.en-snPages span{font-size:12px}
.en-snPages div{line-height:24px;padding-left:30px;overflow:hidden}
.en-snPages a,.en-snPages a:visited{height:24px;line-height:24px;padding:0 8px;text-align:center;background:#fff;border:1px solid #d7d7d7;border-radius:4px 4px 4px 4px}
.en-snPages a.current{color:#f60}
.en-snPages a.current:visited{_color:#f60}
.en-snPages a.prev,.en-snPages a.next,.en-snPages a.prev,.en-snPages a.next:visited{display:inline-block;width:68px;height:24px;line-height:24px;line-height:28px\9;_line-height:24px;padding:0;overflow:hidden}
.en-snPages a.prev,.en-snPages span.prev{text-indent:6px}
.en-snPages a.next,.en-snPages span.next{text-indent:-6px}
.en-snPages span.prev,.en-snPages span.next{display:inline;float:left;width:68px;height:24px;line-height:24px;line-height:28px\9;_line-height:24px;color:#b1b1b1;text-align:center;background:#fff;border:1px solid #d7d7d7;border-radius:4px 4px 4px 4px}
.en-snPages b{position:absolute;width:0;height:0;line-height:0;margin-top:-2px;+margin-top:-3px;font-size:0;border-width:5px;border-style:solid;border-color:#fff #333 #fff #fff}
.en-snPages a.prev b{left:1px;top:10px}
.en-snPages a.next b{right:1px;top:10px;border-color:#fff #fff #fff #333}
.en-snPages span.prev b{left:1px;top:10px;border-color:#fff #b1b1b1 #fff #fff}
.en-snPages span.next b{right:1px;top:10px;border-color:#fff #fff #fff #b1b1b1}
.en-snPages div input{width:32px;height:24px;line-height:24px;margin:0 3px;text-align:center;+vertical-align:middle;border:1px solid #d7d7d7}
.en-snPages div input.pagesubmit{cursor:pointer;width:45px;height:26px;line-height:26px;_line-height:20px;background:#fff;border-radius:4px 4px 4px 4px}
.en-snPages a:hover{color:#f60}
.changePage .en-snPages li{float:left}
.pop-con{width:538px}
.pop-con .issue{padding:30px 0}
.pop-con dl{width:508px;overflow:hidden}
.pop-con dt{float:left;width:90px;font:400 12px/26px "SimSun";color:#666;vertical-align:top;text-align:right}
.pop-con dd{float:left}
.pop-con .pop-input{padding:3px 5px;height:18px;border:1px solid #BBB;font:400 12px/24px "SimSun";color:#999}
.pop-con .filetxt{padding:0;height:26px;width:335px;z-index:2}
.pop-con .pop-tex{padding:0 5px;width:406px;height:112px;font:400 12px/18px "SimSun";color:#999;border:1px solid #BBB}
.pop-con .pop-up{position:relative;width:418px;height:26px;overflow:hidden;z-index:1}
.pop-up .pop-input{float:left}
.pop-up .pop-btn{float:left;margin:3px 0 0 10px;width:43px;height:20px;background:#fefefe;text-align:center;font:12px/20px "SimSun";color:#333;border:1px solid #CCC}
.pop-con .error{border:1px solid #f32020}
.pop-con p{font:400 12px/16px "SimSun";color:#666}
.pop-con .beyond{float:left}
.pop-con p i{float:left;margin-right:4px;width:16px;height:16px;background:url(../images/icon.png) no-repeat}
.assert .er{background-position:-16px -5px}
.assert .ri{background-position:0 -5px}
.pop-con p span{float:left}
.assert{margin-top:5px;height:25px;width:418px;overflow:hidden}
.assert .limit{float:right;font-family:"Arial"}
.red .pop-tex{border:1px solid #f32020}
.red .limit em{color:#f32020}
.pop-con .Submit{margin:5px auto 0;display:block;width:105px;height:26px;background:url(../images/btn.png) no-repeat 0 -52px;font:700 16px/26px "SimSun";color:#FFF;text-shadow:1px 2px 4px #e65f00;text-align:center}
.pop-con .Submit:hover{background-position:-105px -52px;text-decoration:none;color:#FFF}
.pop-con .finish{padding-top:100px;margin:0 auto;height:32px;overflow:hidden}
.finish em{float:left;margin-right:8px;width:32px;height:32px;background:url(../images/icon.png) no-repeat}
.finish .er{background-position:-64px 0}
.finish .ri{background-position:-32px 0}
.finish span{float:left;font:700 14px/32px "SimSun";color:#666}
.pop-con .mt95{margin:95px auto 0}
.newbie-info{width:988px;border:1px solid #BBB}
.newbie-info .first-nav{height:42px;overflow:hidden}
.first-nav ul{width:988px;background:url(../images/new-nav.png) no-repeat;overflow:hidden}
.first-nav li{float:left;width:164px;height:42px}
.first-nav li a{display:block;width:164px;height:42px}
.first-nav .first{width:168px}
.first-nav .step01{background-position:0 0}
.first-nav .step02{background-position:0 -42px}
.first-nav .step03{background-position:0 -84px}
.first-nav .step04{background-position:0 -126px}
.first-nav .step05{background-position:0 -168px}
.first-nav .step06{background-position:0 -210px}
.second-nav{height:16px;width:988px;margin:1px 0 12px;padding:10px 0;text-align:center}
.second-nav ul{display:inline-block;text-align:center;zoom:1;overflow:hidden;*display:inline}
.second-nav li{float:left;padding:0 10px;height:16px;background:url(../images/lin-icon.png) no-repeat right 2px;white-space:normal;word-break:break-all}
.second-nav li a{font:400 12px/16px "SimSun";color:#333}
.second-nav li a:hover{text-decoration:none}
.second-nav .last{background:0}
.second-nav .on{color:#F70;font-weight:700}
.second-wrapper{position:relative;height:387px;width:988px}
.third-nav{position:absolute;top:0;left:396px;width:200px;height:25px;text-align:center;background:#FFF;border-style:solid;border-width:1px;border-color:#FFF #BBB #BBB;z-index:2}
.third-nav ul{display:inline-block;height:25px;overflow:hidden;text-align:center;zoom:1;*display:inline}
.third-nav li{float:left;margin:5px 5px 0 5px;width:10px;height:13px;background:url(../images/third-nav-dot.png) no-repeat 0 2px;cursor:pointer}
.third-nav .on{width:15px;height:15px;background:url(../images/third-dot.png) no-repeat}
.third-wrapper{position:absolute;height:387px;width:988px;border-top:1px solid #BBB;z-index:1}
.third-wrapper .content{width:988px;height:387px;overflow:hidden}
.contact-info-table{width:990px}
.contact-info-table table{width:100%;border:solid #dedede;border-width:1px 0 0 1px;color:#666;font-size:12px;line-height:18px}
.contact-info-table thead th{padding:5px 0;background:#f1f1f1;border:solid #dedede;border-width:0 1px 1px 0;font:400 12px/18px "SimSun";text-align:center}
.contact-info-table tbody td{padding:5px 0;background:#FFF;border:solid #dedede;border-width:0 1px 1px 0;font:400 12px/18px "SimSun";text-align:center}
.contact-info-table tbody .bbb{font-family:"Arial";font-size:14px}
.info-problem .tab-tit{width:990px;font:700 12px/32px "SimSun";color:#333}
.mbb10{margin-bottom:10px;border-bottom:2px solid #BBB;line-height:26px}
.types-con ul{width:790px;overflow:hidden}
.types-con ul li{float:left;margin:20px 0;padding:0 13px;width:245px;height:77px;border-right:1px solid #f5f5f5}
.types-con .types-con-sub{width:245px;height:77px;background:#FFF;overflow:hidden}
.types-con-sub i{float:left;display:inline;margin:9px 10px 0 15px;width:55px;height:58px;background:url(../images/lot-icon.png) no-repeat 0 0;_background:url(../images/lot-iconI6.png) no-repeat 0 0}
.types-con-sub .icon01{background-position:0 0}
.types-con-sub .icon02{background-position:0 -70px}
.types-con-sub .icon03{background-position:0 -140px}
.types-con-sub .icon04{background-position:0 -210px}
.types-con-sub .icon05{background-position:0 -280px}
.types-con-sub .icon06{background-position:0 -350px}
.types-con-sub .icon07{background-position:0 -420px}
.types-con-sub .icon08{background-position:0 -490px}
.types-con-sub .icon09{background-position:-57px 0}
.types-con-sub .icon10{background-position:-57px -70px}
.types-con-sub .icon11{background-position:-57px -140px}
.types-con-sub .icon12{background-position:-57px -210px}
.types-con-sub .icon13{background-position:-57px -280px}
.types-con-sub .icon14{background-position:-57px -350px}
.types-con-sub .icon15{background-position:-57px -420px}
.types-con-sub .icon16{background-position:-57px -490px}
.types-con-sub .icon17{background-position:-113px 0}
.types-con-sub .icon18{background-position:-113px -70px}
.types-con-sub .sub-kind{float:left;padding:6px 0 0 0;width:158px}
.sub-kind .lname{font:400 16px/36px "Microsoft Yahei";color:#333}
.types-con-sub .more{padding-left:26px;font:400 16px/77px "Microsoft Yahei";color:#CCC;vertical-align:middle}
.types-con-sub-last .more{padding-left:26px;font:400 16px/77px "Microsoft Yahei";color:#CCC;vertical-align:middle}
.sub-kind .lclassify{font:400 12px/20px "SimSun"}
.lclassify a{color:#666}
.lclassify a:hover{color:#F70}
.lclassify span{color:#BBB}
.types-con .frist{padding-left:0;border-left:none}
.types-con .last{padding-right:0;border-right:0}
.right-con .mod-int-sel{width:790px}
.mod-int-sel .mod-sel-twice{padding-bottom:10px;width:790px;border-bottom:1px solid #DDD;overflow:hidden}
.mod-sel-twice li{display:inline-block;*display:inline;zoom:1;padding:0 12px;margin-top:13px;height:14px;background:url(../images/lin-icon.png) no-repeat right 0;font:400 12px/14px "SimSun";color:#333;cursor:pointer;overflow:hidden;white-space:nowrap;word-break:break-all}
.mod-sel-twice .hover{padding:0 9px;font-weight:700}
.mod-sel-twice .hover a:hover{color:#333;text-decoration:none}
.mod-sel-twice .last{background:0}
.mod-con-box h4 span{font:700 12px/22px "Arial";color:#333}
.mod-con-box ul{padding-left:28px}
.mod-con-box li{background:url(../images/li-disc-gay.png) no-repeat left 9px;font:400 12px/22px "SimSun";color:#666;word-break:break-all;word-wrap:break-word;text-indent:8px}
.mod-int-sel .l-jargon{margin-top:12px}
.mod-int-sel .l-jargon dl{width:790px;font:12px/24px "SimSun";color:#666;overflow:hidden}
.l-jargon dl dt{float:left;width:54px;font-weight:700}
.l-jargon dl dd{float:left;width:600px}
.index-con{padding-bottom:60px}
.index-con .index-con-int{margin-top:15px;padding:10px 0 20px 10px;width:778px;border:1px solid #DDD}
.index-con-int h3{font:700 12px/22px "SimSun"}
.index-con-int .index-con-list{margin-top:10px;width:780px;overflow:hidden}
.index-con-list ul{float:left;padding-left:15px}
.index-con-list ul li{padding-left:10px;padding-right:30px;width:330px;background:url(../images/li-disc-gay.png) no-repeat left 11px}
.index-con-list li a{display:inline;font:400 12px/24px "SimSun";color:#2272c8}
.index-con-list li a:hover{color:#F70}
.upline{position:fixed;_postion:absolute;top:0;left:0;width:100%;height:1px;border-top:1px solid #F70;background:#F70;z-index:9999}
.uptip{position:fixed;_postion:absolute;top:2px;right:0;width:115px;height:21px;background:url(../images/up.png) no-repeat 0 0;z-index:9999}
.xfstyle{position:fixed;top:0;z-index:9999;border-top:0;box-shadow:0 5px 5px #e2e2e2}
.right-con h2{height:48px;font:700 18px/48px "Microsoft Yahei";color:#333}
.right-con .answer{position:relative;top:10px;border:1px solid #ffce84;padding-left:20px}
.mod-con-box h3{padding-top:7px;font:700 12px/22px "SimSun";color:#333}
.mod-con-box h4{padding-left:14px;font:400 12px/22px "SimSun";color:#333}
.info-problem h2{font:700 16px/50px "Microsoft Yahei";color:#f70;border:0;height:43px}
.info-problem h3{padding-left:5px;margin-top:30px;padding-left:20px;height:45px;background:#f5f5f5;border:1px solid #e8e8e8;font:700 14px/45px "SimSun";color:#333}
.info-problem h4{padding-left:12px;font:700 12px/24px "SimSun"}
.problem-search h2{border:0}
.t10{margin-top:10px}
.mr0{margin-right:0}
.ml60{margin-left:60px}
.ml123{margin-left:123px}
.plr25{padding:0 25px}
.mt3{margin-top:3px}
.w406{width:406px}
.w268{width:268px}
.w325{width:325px}
.mt15{margin-top:15px}
.mt30{margin-top:30px}
.mt95{margin-top:95px}
.w310{width:310px}
.w221{width:221px}
.pb80{padding-bottom:80px}
.pb50{padding-bottom:50px}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.h950{height:950px}
.h610{height:610px}
.bshadow{box-shadow:0 5px 5px #e2e2e2}
.star{display:inline-block;width:59px;height:12px;background:url(../images/sn-new.png) no-repeat 0 -45px;vertical-align:-1px;_vertical-align:2px;overflow:hidden}
.star1{background-position:-12px -45px}
.star2{background-position:-24px -45px}
.star3{background-position:-36px -45px}
.star4{background-position:-48px -45px}
.h-search-box .h-search-input{width:410px}
.wrapper{position:relative}
.h-search-down{display:none;position:absolute;left:143px;top:74px;padding:7px 0;width:420px;background-color:#FFF;border:1px solid #DDD;overflow:hidden}
.h-search-down li{height:18px;width:420px;overflow:hidden}
.h-search-down .gay{background-color:#EEE}
.h-search-down li a{float:left;padding:0 10px;width:266px}
.h-search-down li span{float:right;width:115px;margin-right:10px;text-align:right;color:#279327}
.h-search-down li a,.h-search-down li a:hover{line-height:18px;color:#666;text-decoration:none}
.h-search-down li i{color:#F70}
.info-seven{padding-bottom:15px;_padding:0 19px}
.sn-guide{margin-top:15px;width:700px;overflow:hidden}
.sn-guide dl{float:left;width:350px}
.sn-guide dt{float:left;margin-left:15px;width:50px;height:50px}
.sn-guide dt img{display:block;width:50px;height:50px;overflow:hidden}
.sn-guide dd{float:left;margin-left:15px;width:267px;height:50px;overflow:hidden}
.sn-guide dd a{float:left;width:89px;height:24px;line-height:24px;color:#333;text-align:left;overflow:hidden}
.sn-guide dd a:hover{text-decoration:underline;color:#F70}
.info-eight{padding:0 0 15px 0;width:738px}
.info-eight .info-title{margin-left:20px}
.faq-wap{margin-top:13px;width:738px;overflow:hidden}
.faq-tab{width:738px;overflow:hidden}
.faq-tab li{float:left;width:101px;height:28px;border:1px solid #c8cfd5;border-left:0 none;text-align:center;cursor:pointer;font:14px/28px "SimSun";color:#333}
.faq-tab li.on{height:27px;border-top:2px solid #67bf79;border-bottom:1px solid #FFF;line-height:27px}
.faq-tab li.last{width:126px;border-right:0 none}
.faq-con{margin-top:10px;width:738px;overflow:hidden}
.faq-con-branch{width:738px;overflow:hidden}
.faq-con-branch ol{display:inline;float:left;margin-left:40px;width:307px}
.faq-con-branch li{padding-left:7px;background:url(../images/li-disc.png) no-repeat left center;width:240px;height:24px;overflow:hidden}
.faq-con-branch li a,.faq-con-branch li a:hover{line-height:24px;text-decoration:none}
.safe-right-mod{margin-top:10px;width:240px}
.safe-right-title{width:240px;height:36px;background-color:#efefef;overflow:hidden}
.safe-right-title .info-title{margin-left:20px}
.safe-center{padding:0 20px 24px 20px;_padding:0 19px 24px 19px;width:198px;border:1px solid #DDD;border-top:0 none}
.safe-center h3{display:block;width:200px;border-bottom:1px solid #DDD;font:700 12px/32px "SimSun";color:#666}
.safe-bg p{width:84px}
.ml32{margin-left:32px}
.safe-center .side-info-con{padding-bottom:15px}
.easy-manage{margin-top:6px;width:200px;overflow:hidden}
.easy-manage p{width:200px;height:24px;line-height:24px;overflow:hidden}
.sn-service{padding:8px 20px 15px 20px;border:1px solid #DDD;border-top:0 none}
.sn-service dl{padding-bottom:6px;margin-top:8px;_height:79px;border-bottom:1px solid #DDD;overflow:hidden}
.sn-service dt{float:left;margin-right:10px;width:41px;height:44px;overflow:hidden;background:url(../images/sn-new.png) no-repeat 0 0}
.sn-service dd{float:left;width:145px;overflow:hidden}
.sn-service .online{margin-top:0}
.sn-service .massage{border-bottom:0 none}
.online dt{background-position:0 0}
.phone dt{background-position:-41px 0}
.massage dt{background-position:-82px 0}
.sn-service dd h3{font:400 14px/16px "SimSun"}
.sn-service dd a{color:#2272c8}
.sn-service dd a:hover{color:#F70}
.sn-service-con{margin-top:9px}
.sn-service-con .imp{color:#F70;font-weight:700;font-family:"Arial"}
.safe-right-title .wei-icon{float:left;margin-top:6px;margin-left:10px;width:27px;height:22px;background:url(../images/sn-new.png) no-repeat 0 -57px}
.add-attention{padding:10px 20px 20px;_padding:10px 19px 20px;border:1px solid #DDD;border-top:0 none}
.add-attention p{margin-top:10px;width:200px;height:22px;overflow:hidden}
.add-attention span{float:left;padding-right:20px;background:url(../images/V.png) no-repeat right 6px;font:700 14px/22px "Microsoft Yahei";text-align:left}
.add-attention a{float:right;width:68px;height:22px;background:url(../images/sn-new.png) no-repeat -28px -57px;overflow:hidden}
.add-attention .mr0{margin-top:0}
.best-key{margin-top:20px;width:788px;border:1px solid #e8e8e8;overflow:hidden}
.best-key-title{padding:0 15px}
.best-key-title p{margin-top:13px;height:37px;overflow:hidden;border-bottom:1px dashed #CCC}
.best-key-title em{float:left;margin-left:5px;width:32px;height:27px;background:url(../images/sn-new.png) no-repeat 0 -79px}
.best-key-title span{float:left;margin-left:10px;margin-top:8px;font:16px/20px "Microsoft Yahei"}
.best-key-con{padding:3px 80px 21px 30px}
.best-key-con dl{margin-top:10px;width:675px;overflow:hidden}
.best-key-con dt{float:left;margin-top:8px;width:30px;height:30px;background:url(../images/sn-new.png) no-repeat 0 0}
.best-key-con .one{background-position:-32px -79px}
.best-key-con .tow{background-position:-62px -79px}
.best-key-con dd{float:left;margin-left:10px;width:635px}
.best-key-con dd h3{font:14px/28px "SimSun"}
.best-key-con dd em{color:#F70}
.best-key-con dd a,.best-key-con dd a:hover{color:#2272c8;text-decoration:underline}
.best-key-con dd span{line-height:18px;color:#333}
.best-key-con dd i{color:#F70}