.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.m-lion-dialog {
	position: fixed;
	_position: absolute;
	top: 50%;
	left: 50%;
	z-index: 8003;
}

.m-lion-dialog .lion {
	position: absolute;
	top: -32px;
	left: 50%;
	margin-left: -34px;
	display: inline-block;
	width: 68px;
	height: 32px;
	background-position: -196px -24px;
}

.m-lion-dialog .container {
	display: none;
	padding: 0 20px;
	background-color: #fff;
	border: 2px solid #f8b500;
	border-radius: 5px 0 5px 5px;
	overflow: hidden;
}

.m-lion-dialog .title h3 {
	width: 394px;
	height: 36px;
	font: bold 14px/40px 'microsoft yahei';
	color: #231815;
	border-bottom: 1px solid #ddd;
	_line-height: 45px;
	overflow: hidden;
}

.m-lion-dialog .btn {
	position: absolute;
	right: -7px;
	top: 5px;
	display: inline-block;
	width: 17px;
	height: 17px;
	background-position: -278px 0;
	cursor: pointer;
	z-index: 9999;
}

.m-lion-dialog .semi-circle {
	position: absolute;
	right: -13px;
	top: 0;
	display: inline-block;
	width: 15px;
	height: 27px;
	background-position: -304px 0;
	cursor: pointer;
	z-index: 9998;
}

.m-lion-dialog .lt {
	margin-left: -4px;
}

.m-lion-dialog .btn:hover {
	color: #666;
	text-decoration: none;
}

.m-lion-dialog .content {
	background: #fff;
}

.m-lion-dialog-overlay .lay {
	display: none;
}

.m-lion-dialog-overlay .close {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .3;
	filter: Alpha(opacity=30)\9;
	cursor: pointer;
}

.m-lion-dialog-overlay .overlay {
	background: black;
	z-index: 8002;
	cursor: default;
}

.m-lion-dialog-overlay .frame {
	z-index: 8001;
}

.dialog-action {
	padding-left: 180px;
}

.dialog-action a {
	display: inline-block;
	float: left;
	line-height: 20px;
	text-align: center;
}

.dialog-action a:hover {
	text-decoration: none;
}

.dialog-action .confirm-btn {
	width: 65px;
	height: 22px;
	color: #fff;
}

.dialog-action .cancel-btn {
	width: 63px;
	height: 20px;
	background-color: #f8f8f8;
	border: 1px solid #bbb;
	color: #333;
}

.dialog-cont .tips {
	font: bold 14px/26px 'microsoft yahei';
	color: #333;
}

.dialog-cont h3 {
	font-weight: normal;
}

.dialog-cont .dialog-main {
	overflow: hidden;
}

.dialog-cont .dialog-bnt {
	height: 32px;
	margin-bottom: 30px;
	color: #bbb;
	margin-left: 70px;
}

.dialog-cont .dialog-bnt .tip-icon {
	margin-top: 6px;
}

.dialog-cont .lion-btn {
	display: inline-block;
	height: 26px;
	padding: 0 17px;
	margin-right: 10px;
	text-align: center;
	font: 14px/26px 'microsoft yahei';
	border-radius: 2px;
}

.dialog-cont .lion-btn:hover {
	text-decoration: none;
}

.dialog-cont .certain {
	background-color: #f90;
	color: #FFF;
}

.dialog-cont .close {
	height: 24px;
	line-height: 24px;
	border: 1px solid #ddd;
	color: #333;
}

.dialog-cont .sub {
	display: block;
	padding-left: 34px;
	height: 20px;
	line-height: 20px;
	color: #5d5d5d;
}

.dialog-cont .sub a {
	color: #28e;
}

.revise-busy table {
	width: 394px;
}

.revise-busy table .pic {
	width: 35%;
	text-align: right;
}

.revise-busy table .text {
	text-align: left;
	padding-top: 20px;
}

.revise-busy .dialog-bnt {
	margin: 20px 0;
}

.m-lion-dialog .lion,.m-lion-dialog .btn,.m-lion-dialog .semi-circle {
	background-image: url(../images/ic-order.png);
	background-repeat: no-repeat;
	overflow: hidden;
}

.cart_suc h2 i,.cart_suc p .bnt_balance,.cart_list .tit .replace i,.cart_list .cont li .ic-cart,.cart_list .cont li .ic-cart .icon-plusone,.cart_list .cont .out .shadow i {
	background-image: url(../images/succCart.png);
	background-repeat: no-repeat;
}

.suc_wrap {
	width: 990px;
	margin: 0 auto;
	font-family: "MicroSoft Yahei";
}

.cart_suc {
	height: 117px;
	border: 1px solid #eaeaea;
	border-top: 0;
	margin-bottom: 24px;
}

.cart_suc h2 {
	height: 32px;
	margin: 42px 0 0 80px;
	line-height: 32px;
	font-size: 24px;
	color: #666;
	font-weight: normal;
}

.cart_suc h2 i {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 20px;
}

.cart_suc p {
	margin: 40px 0 0 190px;
}

.cart_suc p a {
	height: 36px;
	line-height: 36px;
}

.cart_suc p a:hover {
	text-decoration: none;
}

.cart_suc p .bnt_balance {
	width: 140px;
	background-position: -97px 0;
	font-size: 18px;
	color: #fff;
	text-align: center;
	margin-right: 40px;
}

.cart_suc p .go {
	color: #1381be;
	font-size: 14px;
}

.cart_suc p .go:hover {
	color: #F60;
	text-decoration: underline;
}

.cart_list .cont {
	width: 968px;
	padding: 0 0 0 20px;
	margin-bottom: 20px;
	border: 1px solid #eaeaea;
	overflow: hidden;
}

.cart_list .tit {
	position: relative;
	margin-bottom: 10px;
}

.cart_list .tit .text {
	height: 18px;
	line-height: 18px;
	font-size: 16px;
	color: #323333;
}

.cart_list .tit .text i {
	width: 5px;
	height: 18px;
	margin-right: 10px;
	background: #333;
}

.cart_list .tit .nav {
	position: absolute;
	left: 104px;
	bottom: -10px;
	height: 25px;
	margin-left: 30px;
	color: #7a7776;
	_ bottom: -12px;
}

.cart_list .tit .nav li {
	display: none;
	float: left;
	width: 94px;
	height: 24px;
	margin: 0 4px;
	border: 1px solid #eaeaea;
	border-bottom: 0;
}

.cart_list .tit .nav li a {
	display: block;
	width: 94px;
	text-align: center;
	line-height: 24px;
}

.cart_list .tit .nav li a:hover {
	text-decoration: none;
	color: #f5a43d;
}

.cart_list .tit .nav .action {
	border: 0;
}

.cart_list .tit .nav .action a {
	position: absolute;
	bottom: -1px;
	width: 94px;
	height: 28px;
	border: 1px solid #eaeaea;
	line-height: 28px;
	color: #f5a43d;
	font-weight: bold;
	border-bottom: 0;
	_ bottom: -1px;
	background: #fff;
}

.cart_list .tit a.replace {
	margin: 0 20px 0 0;
}

.cart_list .tit a.replace:hover span {
	color: #F60;
	text-decoration: underline;
}

.cart_list .tit .replace i {
	width: 13px;
	height: 13px;
	background-position: -76px 0;
	margin-top: 3px;
	_margin-top: 2px;
}

.cart_list .tit .replace span {
	margin-left: 6px;
	color: #666;
}

.cart_list .sales .cont,.cart_list .like .cont {
	position: relative;
}

.cart_list .sales .cont ul,.cart_list .like .cont ul {
	width: 1000em;
}

.cart_list .love-list ul {
	display: none;
}

.cart_list .cont ul {
	width: 988px;
	margin-bottom: 20px;
}

.cart_list .cont ul li {
	position: relative;
	float: left;
	width: 160px;
	height: 225px;
	margin: 20px 36px 0 0;
}

.cart_list .cont ul li p {
	width: 160px;
}

.cart_list .cont li .pic {
	margin-bottom: 8px;
}

.cart_list .cont li .pic a {
	display: block;
	width: 140px;
	height: 140px;
	padding: 0 10px;
}

.cart_list .cont li .pic img {
	display: block;
	width: 140px;
	height: 140px;
}

.cart_list .cont li .text {
	height: 34px;
	font-family: "SimSun";
	word-break: break-all;
	overflow: hidden;
}

.cart_list .cont li .text .ju {
	display: inline-block;
	padding: 0 4px;
	margin-right: 8px;
	background: #F00;
	color: #fff;
	font-size: 12px;
	vertical-align: 0;
	border-radius: 3px;
	_padding: 1px 4px 0;
	_overflow: hidden;
}

.cart_list .cont li .price {
	height: 14px;
	margin: 5px 0 9px;
	color: red;
	font-weight: bold;
	font-size: 14px;
}

.cart_list .cont li .price i {
	margin-right: 2px;
	font-family: 'Arial';
}

.cart_list .cont li .price strong {
	font-family: 'Tahoma';
}

.cart_list .cont li .evaluation {
	height: 12px;
}

.cart_list .cont li .evaluation a {
	color: #1381be;
}

.cart_list .cont li .evaluation span {
	color: #83aa2b;
}

.cart_list .cont li .ic-cart {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	background-position: -38px 0;
	cursor: pointer;
}

.cart_list .cont li .ic-cart .icon-plusone {
	position: absolute;
	left: -2px;
	bottom: 30px;
	width: 36px;
	height: 42px;
	background-position: -244px 0;
	font-size: 0;
}

.cart_list .cont .out .shadow {
	position: absolute;
	top: 0;
	width: 160px;
	height: 225px;
	z-index: 3;
}

.cart_list .cont .out .shadow b {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 30px;
	line-height: 50px;
	font-size: 14px;
	color: #999;
	background: #FFF;
	z-index: 3;
	_bottom: -28px!important;
}

.cart_list .cont .out .shadow i {
	position: absolute;
	top: 0;
	left: 10px;
	width: 140px;
	height: 140px;
	background-position: 0 -40px;
	cursor: default;
}

.cart_list .cont .out .price {
	color: #999;
}

.cart_list .cont .out .text .ju {
	background: #999;
}

.cart_list .sales .cont .list-box,.cart_list .like .cont .list-box {
	display: none;
	height: 265px;
	overflow: hidden;
}

.load-cont {
	text-align: center;
	padding: 20px;
}

.load-cont img {
	position: relative;
	top: 3px;
}

.cart_list .cont li .pic a:hover img {
	filter: alpha(opacity=80);
	opacity: .8;
}