.mySuning .uiBtn-new{ padding:4px 10px; height:12px;*height:20px;*display:inline-block;*line-height:20px;*padding:0 10px; border:solid 1px #BBB; color:#333; font-size:12px; font-family: SimSun; background:#f8f8f8; }
.mySuning .uiBtn-new:hover{border:solid 1px #ffb84d; text-decoration: none; color:#333; background:url(../images/bg_newBtn.png); background-repeat:repeat-x; }
.mySuning .seach-btn-new{padding:5px 15px; margin-left:4px; height:14px;float:right; border:solid 1px #BBB; color:#333; font:14px/14px SimSun; font-weight:bold; background:url(../images/bg-seach-btn.png); background-repeat:repeat-x;}
.mySuning .seach-btn-new:hover{ background-position:0 -25px!important; text-decoration: none; color:#333; border:solid 1px #ffb84d; }
.show-div{ margin-bottom:10px; }
.show-div .show-table{ margin:10px auto;}
.show-div .show-table td{ vertical-align:top; }
.mySuning .def-uiBtn-new{padding:4px 10px; height:12px;*height:20px;*display:inline-block;*line-height:20px;*padding:0 10px; border:solid 1px #BBB; color:#BBB; font-size:12px; font-family: SimSun; background:#EEE;}
.mySuning .def-uiBtn-new:hover{ text-decoration:none; color:#BBB;}
.zy-service-form-tip{width:607px;}
.menuBtn .btn-new-change,.show-win .btn-new-change{ padding:5px 15px;_padding:3px 15px; background:url(../images/bg-newbtns.png); background-repeat:repeat-x; }
.menuBtn .btn-submit-new,.show-win .btn-submit-new{  height:14px; color:#FFF; font-weight:700; border:solid 1px #eb7f00; background-position:0 -50px;}
.menuBtn .btn-submit-new:hover,.show-win .btn-submit-new:hover{ color:#FFF; text-decoration:none;border:solid 1px #F90; background-position:0 -75px;}
.menuBtn .btn-back-new,.show-win .btn-back-new{  height:14px; color:#333; font-weight:700; border:solid 1px #BBB;}
.menuBtn .btn-back-new{ height:14px; color:#333; font-weight:700; border:solid 1px #BBB; background-position:0 -100px;}
.menuBtn .btn-back-new:hover,.show-win .btn-back-new:hover{ color:#333; text-decoration:none;border:solid 1px #ffb84d; background-position:0 -125px;}
.uiContent{min-height:600px;}
.show-win-i24{ display:inline-block;width:24px;height:24px;_height:26px;margin-right:5px;*margin-bottom:-2px;background:url(../images/tipIcon.png) no-repeat;vertical-align:middle;margin-right:8px;}
.ok-i24{ background-position: -156px 0;}
.info-i24{ background-position: -156px -70px;}
.error-i24{ background-position: -156px -211px;}
.w300{ width:320px;}
.auto-tables{margin:0 auto;}
.exOrder-show-win{ padding:26px 0 40px 0;}
.showWin-title{ font-size:14px; font-weight:bold; margin-top:2px;}
.netuser-showWin-title{ font-size:14px; margin-top:2px;}
.showWin-msg{ font-size:12px; color:#666; margin-top:10px;}
.showWin-links{ color:#2272c8; }
.showWin-links:hover{ color:#F70!important; }
.showWin-links:visited{ color:#2272c8; }
.fw{ font-weight:700!important; }
.ml20{ margin-left:20px; }
/*弹框*/
.exOrder-show-win .showWin-tel{ color:#F60; font-size:12px; font-size:Arial; font-weight:700; }
.show-win{ height:28px; text-align:center;margin-top:30px; }
.getTip{ margin-top:2px; color:#999; }
.formCont{ padding-bottom:50px; }
.form-input .form-input-radio{ float:left; margin:4px 5px 0 0; }
.form-input label{float:left; margin-right:15px!important;}
.form-input-showmsg em{margin-top:-4px;*margin-top:0;}
.form-input-showmsg span{ color:#F60; }
.showWin-msg .showWin-list_second{ margin-left:50px; }
.mt15{ margin-top:15px; }
.add-sign{ overflow:hidden; }
.add-sign input{ float:left; padding:6px 3px; width:172px; height:12px; line-height:12px; border:solid 1px #bfbfbf; color:#999; }
.add-sign .error-tbx{ border-color:red!important;}
.add-sign a{ float:left; margin:0 0 0 10px; padding:5px 10px; font-size:14px; height:14px; line-height:14px; border:solid 1px #eb7f00;
             font-weight:bold; color:#FFF;
             background-image: -moz-linear-gradient(top, #ff9b00, #f98700); /* Firefox */
             background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #ff9b00), color-stop(1, #f98700)); /* Saf4+, Chrome */
             filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9b00', endColorstr='#f98700', GradientType='0'); /* IE*/
            }
.add-sign a:hover{ text-decoration:none; color:#FFF;border:solid 1px #ff9900;
    background-image: -moz-linear-gradient(top, #ffa319, #ff9c03); /* Firefox */
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #ffa319), color-stop(1, #ff9c03)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa319', endColorstr='#ff9c03', GradientType='0'); /* IE*/
                }
.show-text{ margin-bottom:10px; }
.show-text a{ color:#2272c8; }
.show-text a:hover{ color:#FF9900; }
.show-win-i16{ display:inline-block;width:16px;height:16px;_height:16px;margin-right:5px;*margin-bottom:-2px;background:url(../images/tipIcon.png) no-repeat;vertical-align:middle;}
.ok-i16{ background-position: -182px 0;}
.error-msg{ display:block; color:red; margin-top:2px; width:100%; }
.error-ok{display:inline-block; margin-left:5px;margin-top:-2px; height:26px; line-height:26px;}

/* 图片滚动展示 */
.movpic-artic{ margin:40px auto 0; width:402px;}
.movpic-artic .movpic-title{ margin-bottom:10px; height:14px; line-height:14px; }
.movpic-artic .movpic-title h3{ color:#666;}
.movpic-artic .movpic-title span{float:right;}
.movpic-artic .movpic-box{ position:relative; width:398px; min-height:180px; border:solid 1px #eee; }
.movpic-artic .movpic-box .movpic-shot{ margin:10px auto 0; position:relative; width:354px; overflow:hidden; *overflow:hidden!important; }
.movbox-artic{ width:2000px;}
.movbox-artic li{ float:left; margin:0 10px; width:98px; height:160px; }
.movpic-box .btn-slide{ display:inline-block; position:absolute;padding-top:3px; color:#666; top:40%; width:22px; height:44px; background:url(../images/btn_side_sw.png); }
.movpic-box .movbox-slide-left{ left:0; background-position: 0 0; }
.movpic-box .movbox-slide-right{ right:0; background-position: -22px 0; }
.fav-text-page { position:absolute; right:0;top:-25px;}
.movpic-artic .fav-pic{ display:block; margin-bottom:5px; width:98px; height:98px; overflow:hidden;}
.movpic-artic .fav-msg{ display:block; margin-bottom:5px; width:98px; height:35px; overflow:hidden; }
.movpic-artic .fav-price{ color:#e6000a; font-family:Arial; font-weight:bold; }


.exOrder-show-win .snPrice{color:#d00;}
.exOrder-show-win .snPrice i{font-weight: bold;}
.exOrder-show-win .ico-listedit{font-size: 12px; font-weight: normal; color:#666;}

/* 降价到货通知弹框 */
.post-form{padding:40px 10px 40px 60px;}
.post-form li{margin-bottom:10px;height:26px;}
.post-form .form-ttl{display:inline-block;float:left;padding:6px 0;text-align:right;height:14px;line-height:14px;width:75px;}
.post-form .form-txt{float:left;margin-right:5px;padding:4px 3px;font-size:12px;height:14px;line-height:14px;}
.post-form .msg-other,.post-form .msg-err{float:left;padding:6px 0;height:14px;line-height:14px;}
.post-form .msg-err{margin-left:8px;color:#f55;font-size:12px;display:none;}
.post-form .msg-err i{display:inline-block;float:left;margin:-1px 5px 0 0;width:16px;height:16px;background:url(../images/tipIcon.png);background-position:-183px -211px;}
.post-form .msg-err label{float:left;}
.txt-errbd .form-txt{border:solid 1px #f55;}
.txt-errbd .msg-err{display:inline-block;}
.post-form .form-check{float:left;margin:7px 5px 0 0;*margin:2px 5px 0 0;}
.pop-sel{position:absolute;padding:8px;left:221px;top:-22px;background:#fffff0;border:solid 1px #fc6;}
.pop-sel i{display:inline-block;position:absolute;top:9px;font-size:12px;}
.pop-sel .pop-ico01{color:#fc6;left:-6px;}
.pop-sel .pop-ico02{color:#fffff0;left:-5px;}


/*补开发票弹框*/
.od-receiptlist{margin:0 0 10px 65px;}
.od-receiptlist label{display:inline-block;text-align:right;width:60px;}
.od-formtit{margin:0 0 10px 40px}
.od-receiptlist .od-txt{padding:6px 5px;width:168px;height:12px;line-height:12px;}
.od-receiptlist .od-area{width:258px;height:44px;padding:6px 5px;}
.od-receiptlist .od-lastlabel{float:left;}
.arcbtn{margin-top:20px;}
.od-receiptlist .od-ero{color:#f55;padding:0 0 0 60px;}
.m-dialog .od-receiptlist p{ line-height:16px;}
.od-receiptlist .od-errborder{ border:solid 1px #f55; }
.od-font99{color:#999;}

/* 我的易购弹窗 */
.ms-dilog{padding:35px 0 50px 0;}
.ms-dilog-title{overflow:hidden;display:inline-block;_width:250px;}
.ms-dilog-title i{ float:left;}
.ms-dilog-title span{ float:left;display:inline-block;padding:8px 0 0 0 ;font-size:14px;font-family:SimSun;font-weight:700;}
.ms-dialog-btn{margin-top:35px;text-align:center;}
.ms-dialog-btn a:hover{ text-decoration:none;}
.ms-dialog-btn .msbtn-submit{color:#fff;}

/* 按钮 */
.ms-btn{ padding:5px 15px;font-size:14px;font-family:SimSun;height:16px;line-height:16px;text-decoration:none;font-weight:700; }
.msbtn-submit{ background:#ff9c00;border:solid 1px #f88600;color:#fff; }
.msbtn-submit:hover{ background:#f8b500;border:solid 1px #ff9c00; }
.msbtn-cancel{ background:#fff;border:solid 1px #ddd;color:#333; }
.msbtn-cancel:hover{ color:#f70; }
