.dialog {
	padding-top: 20px;
	padding-bottom: 20px;
}

.order-combo-dialog {
	height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}

.order-combo-dialog .dialog-wrap {
	padding: 20px 32px;
}

.order-combo-dialog .return,.order-combo-dialog .product,.order-combo-dialog .gift {
	position: relative;
	padding-left: 48px;
	margin-bottom: 10px;
}

.order-combo-dialog .fitting {
	margin-bottom: 10px;
}

.order-combo-dialog .desp {
	color: #666;
}

.order-combo-dialog .pic {
	float: left;
	margin-right: 20px;
}

.order-combo-dialog img {
	display: block;
	width: 58px;
	height: 58px;
	border: 1px solid #e8eae9;
}

.order-combo-dialog .btns {
	float: left;
	padding-top: 20px;
}

.order-combo-dialog .combo-desp {
	position: absolute;
	bottom: 0;
	width: 59px;
	height: 16px;
	text-align: center;
	color: #fff;
	background: #fe8417;
}

.order-combo-dialog .fitting-desp {
	float: left;
	width: 50px;
	height: 60px;
	line-height: 60px;
	color: #ff7701;
}

.order-combo-dialog .gift .name {
	float: left;
	width: 210px;
	margin-right: 10px;
	overflow: hidden;
}

.order-combo-dialog li {
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.order-combo-dialog .last {
	border: none;
}

.order-combo-dialog .mgt5 {
	margin-top: 5px;
}

.cos-dialog1 .dialog-wrap {
	width: 210px;
	margin: 0 auto;
}

.cos-dialog2 .dialog-wrap {
	width: 320px;
	margin: 0 auto;
}

.cos-dialog3 .dialog-wrap {
	width: 210px;
	margin: 0 auto;
}

.cos-dialog3 .dia-intro {
	text-align: center;
}

.dialog-special {
	padding: 20px 0 50px;
}

.dialog .table-pd {
	margin: 0 auto 45px;
}

.dialog .table-marg {
	margin: 0 auto;
}

.dialog .dialog-links {
	color: #2272c8;
	text-decoration: none;
}

.dialog .dialog-links:hover {
	color: #F60;
	text-decoration: underline;
}

.dialog .dialog-span {
	color: #F60;
}

.error-place {
	text-align: left;
}

.error-place i {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/tipIcon.png?v=ba8d8);
	vertical-align: middle;
}

.error-place span {
	color: #666;
	vertical-align: middle;
}

.error-place .i-error {
	background-position: -183px -211px;
}

.dia-intro {
	color: #666;
	text-align: left;
	margin-bottom: 20px;
}

.mrg-btm10 {
	margin-bottom: 10px;
}

.dialog-intro-special {
	text-align: center;
	margin-top: 30px;
	margin-bottom: -10px;
}

.dialog .pd0 {
	padding: 0;
}

.dialog .mgt10 {
	margin-top: 10px;
}

.mrg00 {
	margin: 0 auto 0;
}

.dialog .ui-btn-reset {
	display: inline-block;
	height: 26px;
	font: bold 14px/26px "SimSun";
	text-align: center;
	color: #333;
	text-decoration: none;
	background: url(../images/dialogBtnBg.png?v=bd55f);
}

.ui-btn-reset:hover {
	color: #333;
	text-decoration: none;
}

.dialog .reset1 {
	width: 100px;
}

.dialog .reset2 {
	width: 69px;
}

.dialog .reset3 {
	width: 75px;
	height: 22px;
	font: 12px/22px "SimSun";
}

.dialog .bg1 {
	background-position: 0 -81px;
}

.dialog .bg1:hover {
	background-position: -101px -81px;
}

.dialog .bg2 {
	background-position: 0 -108px;
}

.dialog .bg2:hover {
	background-position: -101px -108px;
}

.dialog .bg3 {
	background-position: 0 -54px;
}

.dialog .bg3:hover {
	background-position: -101px -54px;
}

.dialog .bg4 {
	background-position: 0 0;
	color: #fff;
}

.dialog .bg4:hover {
	background-position: 0 -27px;
	color: #fff;
}

.dialog .bg5 {
	background-position: -70px 0;
}

.dialog .bg5:hover {
	background-position: -70px -27px;
}

.dialog .bg6 {
	background-position: 0 -135px;
}

.dialog .bg6:hover {
	background-position: 0 -158px;
}

.dialog .bg7 {
	background-position: -76px -135px;
}

.dialog .bg7:hover {
	background-position: -76px -158px;
}

.dialog .bg8 {
	background-position: -152px -135px;
}

.dialog .bg8:hover {
	background-position: -152px -158px;
}

.i-tips {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/tipIcon.png?v=ba8d8);
	vertical-align: middle;
	background-position: -183px -70px;
}

.border-btm {
	border-bottom: 1px solid #ddd;
}

.no-border {
	border: none;
}

.border-btm td {
	padding: 10px 0;
}

.delete-img {
	float: right;
	margin-top: 5px;
	margin-right: 20px;
	width: 15px;
	height: 16px;
	background: url(../images/deletePic.png);
	background-position: 0 0;
	cursor: pointer;
	*margin-top: -21px;
}

.delete-img:hover {
	background-position: -16px 0;
}

.load-img {
	display: block;
	width: 18px;
	height: 18px;
	margin: 30px 0 30px 75px;
}

.top-distance {
	padding-top: 45px;
	padding-bottom: 40px;
}

.ms-orderlist-panel .info-operation-content-item .special a.no-border-r {
	border-right: none;
}

.ms-orderlist-panel .package-label3 {
	position: absolute;
	top: 44px;
	display: block;
	width: 60px;
	height: 16px;
	background: #a8a8a8;
	opacity: .8;
	filter: Alpha(opacity=80);
	color: #fff;
}

.order-confirm-dialog {
	padding-top: 15px;
}

.order-confirm-dialog dt {
	float: left;
	width: 100px;
	line-height: 26px;
	color: #666;
	text-align: right;
}

.order-confirm-dialog dd {
	margin-left: 105px;
	margin-bottom: 6px;
}

.order-confirm-dialog .select {
	width: 140px;
	height: 24px;
	border: 1px solid #ccc;
}

.order-confirm-dialog .input-txt1 {
	width: 130px;
	height: 18px;
	padding: 3px 4px;
	border: 1px solid #ccc;
}

.order-confirm-dialog .input-txt2 {
	width: 190px;
	height: 18px;
	padding: 3px 4px;
	border: 1px solid #ccc;
}

#dialog_txt1 {
	background: url(../images/ic-date.png?v=8aa32) no-repeat 118px center;
	cursor: pointer;
}

.order-confirm-dialog .input-tip {
	color: #999;
	padding-left: 3px;
}

.order-confirm-dialog textarea {
	width: 270px;
	height: 90px;
	padding: 3px 4px;
	border: 1px solid #ccc;
}

.order-confirm-dialog .word {
	width: 280px;
	text-align: right;
}

.order-confirm-dialog .word em {
	color: #999;
}

.order-confirm-dialog .txt-error {
	color: #f00;
}

.order-confirm-dialog .txt-error i {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	background: url(../images/tipIcon.png?v=ba8d8) -183px -211px;
	vertical-align: middle;
}

.order-confirm-dialog .choose-date {
	position: relative;
	width: 140px;
	height: 26px;
	*margin-left: -100px;
}

.order-confirm-dialog .arcbtn {
	padding: 10px 0 20px 0;
}

.order-confirm-dialog .btn-confirm {
	padding: 3px 15px;
	*padding: 4px 15px 3px 15px;
	_padding: 2px 15px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	background: url(../images/bg-newbtns.png?v=b927b) 0 -50px;
	background-repeat: repeat-x;
	border: 1px solid #eb7f00;
	border-radius: 2px;
}

.order-confirm-dialog .btn-confirm:hover {
	background: url(../images/bg-newbtns.png?v=b927b) 0 -75px;
	color: #fff;
	text-decoration: none;
}

.order-confirm-dialog .btn-concel {
	padding: 3px 15px;
	*padding: 4px 15px 3px 15px;
	_padding: 2px 15px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	background: url(../images/bg-newbtns.png?v=b927b) 0 0;
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.order-confirm-dialog .btn-concel:hover {
	background: url(../images/bg-newbtns.png?v=b927b) 0 -25px;
	color: #333;
	text-decoration: none;
}