b,em,i {
	font-weight: normal;
	font-style: normal;
}

button {
	border: none;
}

input {
	border: none;
}

.bnt-close,.order-state .tab ul li i,.ic-recovery,.ic-tip,.table-list .inlet span,.order-pages span b,.ic,.m-lion-dialog .lion,.m-lion-dialog .btn,.m-lion-dialog .semi-circle,.mic-tip,.revise-order .tab .act-revise i,.table-list .join-l,.table-list .join-r,#orderGuide-box p a,#orderGuide-box p b,#orderGuide-box p em,#orderGuide-box i {
	background-image: url(../images/ic-order.png?v=dd414);
	background-repeat: no-repeat;
	overflow: hidden;
}

.table-list .join-l {
	position: absolute;
	left: -13px;
	top: 50%;
	margin-top: -4px;
	width: 13px;
	height: 8px;
	background-position: -26px 0;
}

.table-list .join-r {
	position: absolute;
	right: -13px;
	top: 50%;
	margin-top: -4px;
	width: 13px;
	height: 8px;
	background-position: -26px 0;
}

.order-nav .classify .menu h3,.order-state .state-select .so strong,.order-state .state-select .state h3,.order-table .tit .state h3 span,.table-list .info-commodity .pic p {
	background-image: url(../images/ic_bott.png?v=6bd37);
	background-repeat: no-repeat;
}

.order-nav .classify .drop-down h3,.order-table .tit .drop-down h3 span,.order-state .state-select .state .drop-down h3,.order-state .state-select .so strong.ic-top,.table-list .info-commodity .pic p.ic-top {
	background-image: url(../images/ic_top.png?v=f82b5);
	background-repeat: no-repeat;
}

.option {
	position: absolute;
	border: 1px solid #ccc;
	border-top: 0;
	background: #FFF;
	z-index: 7000;
}

.option a {
	display: block;
	height: 18px;
	line-height: 18px;
	margin: 8px 0;
	text-indent: 10px;
}

a.on {
	color: #F60;
}

.ic-recovery {
	display: inline-block;
	width: 14px;
	height: 15px;
	margin-right: 6px;
	background-position: 0 0;
	cursor: pointer;
}

.ic-recovery:hover,.order-state .tab p a:hover i.ic-recovery {
	background-position: 0 -18px;
}

.bnt {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding: 0 12px;
	border-radius: 2px;
	_line-height: 28px;
	overflow: hidden;
}

.bnt-orange {
	background-color: #f90;
	color: #FFF;
}

.bnt-orange:hover {
	background-color: #f70;
	color: #FFF;
	text-decoration: none;
}

.bnt-buy {
	border: 1px solid #ddd;
	color: #333;
}

.bnt-close {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	width: 28px;
	height: 28px;
	background-position: -158px -26px;
	cursor: pointer;
	z-index: 100;
}

.ic-tip {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

.tip-err {
	background-position: -230px 0;
}

.tip-alert {
	background-position: -205px 0;
}

.mic-tip {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	vertical-align: middle;
}

.tip-ma {
	background-position: -278px -32px;
}

.tip-mb {
	background-position: -104px 0;
}

.tip-ok {
	background-position: -172px 0;
}

.tip-no {
	background-position: -138px 0;
}

.tip-mc {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0 5px;
	background-position: -308px -32px;
}

.consult {
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 12px;
	margin-left: 8px;
	background-image: url(../images/consult.gif?v=07bbc);
}

.mobile {
	background-position: -48px 0;
}

.tv {
	background-position: -75px 0;
}

.stu {
	background-position: -142px -69px;
}

.ic-thesea {
	float: left;
	width: 61px;
	height: 16px;
	margin-top: 12px;
	margin-left: 8px;
	background-image: url(../images/ico_abroad.png?v=1ec82);
}

.col-orange {
	color: #F60;
}

.col-dust {
	color: #999;
}

.explain {
	position: absolute;
	bottom: 0;
	left: 0;
	float: left;
	width: 80px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	color: #FFF;
	background: #F60;
	background: rgba(225,102,0,0.6);
	filter: alpha(opacity=60);
}

.ic {
	display: inline-block;
	width: 26px;
	height: 26px;
}

.ic-change {
	background-position: 0 -68px;
}

.ic-back {
	background-position: -34px -68px;
}

.ic-repair {
	background-position: -68px -68px;
}

.ic-money {
	background-position: -100px -68px;
}

.disable-change {
	background-position: 0 -102px;
}

.disable-back {
	background-position: -34px -102px;
}

.disable-repair {
	background-position: -68px -102px;
}

.disable-money {
	background-position: -100px -102px;
}

.yen-pri i {
	font-family: Arial;
	margin-right: 3px;
}

.yen-pri b {
	color: #000;
	font-family: 'Tahoma';
	font-weight: bold;
}

.buy-module .prev,.buy-module .next,.cancel-succ .prev,.cancel-succ .next {
	display: block;
	width: 22px;
	height: 22px;
	border: 1px solid #e5e5e5;
	z-index: 100;
	overflow: hidden;
}

.buy-module .prev,.cancel-succ .prev {
	background: #FFF url(../images/ic-l.png?v=5f6fb) no-repeat center;
}

.buy-module .next,.cancel-succ .next {
	background: #FFF url(../images/ic-r.png?v=754df) no-repeat center;
}

.page-list {
	height: 22px;
	text-align: center;
	z-index: 2;
}

.page-list em {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #ddd;
	margin: 8px 4px 0;
	border-radius: 10px;
	cursor: pointer;
}

.page-list em.act-curr {
	background: #fe9901;
}

.buy-module .prev,.buy-module .next {
	position: absolute;
	top: 18px;
	z-index: 3;
}

.buy-module .page-list {
	width: 170px;
	position: absolute;
	top: 18px;
	right: 0;
	background: #FFF;
}

.buy-module a.prev {
	right: 125px;
}

.buy-module a.next {
	right: 20px;
}

.cancel-succ {
	position: relative;
}

.cancel-succ .page-list {
	width: 394px;
	_position: relative;
	_top: 10px;
}

.cancel-succ .prev,.cancel-succ .next {
	position: absolute;
	bottom: -2px;
	_bottom: 10px;
}

.cancel-succ .prev {
	left: 130px;
}

.cancel-succ .next {
	right: 130px;
}

.side-box {
	float: left;
	width: 160px;
	height: 720px;
}

#side-pic {
	position: absolute;
	width: 160px;
	margin-top: 50px;
}

#side-pic img {
	width: 160px;
}

.order-module {
	float: left;
	width: 820px;
	margin: 10px 0 20px 10px;
	font-family: "Microsoft YaHei";
	color: #333;
}

.order-main {
	width: 790px;
	padding: 0 14px;
}

#order-add {
	position: absolute;
	top: 10px;
	right: 5px;
}

#order-add a {
	display: block;
	width: 180px;
	height: 60px;
}

#order-add a img {
	display: block;
	width: 180px;
	height: 60px;
}

.order-module .wrap-box {
	position: relative;
	border: 1px solid #ddd;
	background: #FFF url(../images/bg-date.png?v=ef9bb) no-repeat left top;
	box-shadow: 0 2px 5px #e3e3e3,-1px 2px 5px #e3e3e3;
	z-index: 9;
}

.order-nav {
	padding: 38px 0 18px 20px;
}

.order-nav h2 {
	height: 28px;
	line-height: 28px;
	font-size: 16px;
}

.order-nav .classify {
	font-size: 14px;
}

.order-nav .classify div h3 {
	width: 93px;
	height: 28px;
	border: 1px solid #FFF;
	line-height: 28px;
	text-align: center;
	font-weight: normal;
}

.order-nav .classify div h3 span {
	padding-bottom: 5px;
	cursor: pointer;
	*padding-bottom: 3px;
}

.order-nav .classify div h3 span.act-classify {
	border-bottom: 2px solid #F60;
	color: #F60;
	font-weight: bold;
}

.order-nav .classify .menu {
	position: relative;
	z-index: 9;
}

.order-nav .classify .menu h3 {
	position: relative;
	z-index: 8;
	background-position: 72px center;
	text-align: left;
	text-indent: 14px;
	cursor: pointer;
}

.order-nav .classify .menu div {
	display: none;
	position: absolute;
	left: 0;
	top: 29px;
	width: 192px;
	border: 1px solid #ccc;
	background: #FFF;
}

.order-nav .classify .menu ul {
	margin: 10px 0 5px 10px;
	width: 180px;
}

.order-nav .classify .menu li {
	float: left;
	width: 180px;
	height: 28px;
}

.order-nav .classify .menu li a {
	float: left;
	width: 90px;
	line-height: 20px;
	margin-bottom: 8px;
}

.order-nav .classify .drop-down h3 {
	border: 1px solid #ccc;
	border-bottom: 1px solid #FFF;
}

.order-state {
	position: relative;
	z-index: 7;
}

.order-state .tab {
	border-left: 1px solid #e5e5e5;
}

.order-state .tab ul {
	width: 700px;
	background: #FFF;
}

.order-state .tab ul li {
	float: left;
	width: 139px;
	height: 38px;
	border: 1px solid #e5e5e5;
	border-left: 0;
	font-size: 14px;
	text-align: center;
}

.order-state .tab ul .act-state {
	position: relative;
	color: #F60;
	font-weight: bold;
	border-bottom: 1px solid #FFF;
	z-index: 2;
}

.order-state .tab ul .act-state a {
	color: #F60;
}

.order-state .tab ul li a {
	display: inline-block;
	line-height: 38px;
	text-decoration: none;
}

.order-state .tab ul li span {
	margin-left: 4px;
}

.order-state .tab ul li b {
	color: #f60;
}

.order-state .tab ul li i {
	display: inline-block;
	position: relative;
	left: 4px;
	width: 8px;
	height: 8px;
	background-position: -254px 0;
	vertical-align: 8px;
}

.order-state .tab p {
	position: relative;
	height: 20px;
	padding-top: 16px;
	cursor: pointer;
}

.order-state .tab p .ic-recovery {
	vertical-align: -2px;
}

.order-state .tab p .tip-bubble {
	display: none;
	position: absolute;
	top: -15px;
	right: 0;
	width: 152px;
	height: 24px;
	line-height: 24px;
	background: #2b5 url(../images/ic-ok.png?v=59757) no-repeat left center;
	text-indent: 30px;
}

.order-state .tab p .tip-bubble i {
	position: absolute;
	bottom: -8px;
	right: 10px;
	font-style: normal;
	font: 400 16px/1 simsun;
	color: #2b5;
}

.order-state .tab p .tip-bubble em {
	color: #FFF;
}

.order-state .state-select {
	position: relative;
	margin-top: -1px;
	border: 1px solid #e5e5e5;
	padding-left: 20px;
}

.order-state .state-select .so {
	padding: 15px 0;
}

.order-state .state-select .so p {
	position: relative;
	width: 245px;
	height: 28px;
	border: 1px solid #ccc;
}

.order-state .state-select .so p.hover {
	border: 1px solid #bbb;
}

.order-state .state-select .so input {
	width: 172px;
	height: 26px;
	line-height: 26px;
	text-indent: 5px;
}

.order-state .state-select .so em {
	position: absolute;
	left: 9px;
	display: block;
	height: 26px;
	line-height: 26px;
	color: #ddd;
}

.order-state .state-select .so button {
	width: 69px;
	height: 28px;
	background: #f5f5f5;
	line-height: 28px;
	text-align: center;
}

.order-state .state-select .so strong {
	width: 85px;
	height: 28px;
	margin-left: 12px;
	background-position: 72px center;
	line-height: 28px;
	font-weight: normal;
	cursor: pointer;
}

.order-state .state-select .dates {
	height: 130px;
}

.order-state .state-select .dates #jyDrop {
	position: relative;
	width: 192px;
	height: 28px;
	z-index: 10;
}

.order-state .state-select .dates .state {
	height: 28px;
	line-height: 28px;
	margin-bottom: 10px;
}

.order-state .state-select .dates label {
	width: 70px;
}

.order-state .state-select .dates h3 {
	width: 120px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #ccc;
	text-indent: 10px;
	font-weight: normal;
	cursor: pointer;
}

.order-state .state-select .state h3 {
	background-position: 100px center;
}

.order-state .state-select .state .option {
	top: 26px;
	left: 70px;
	width: 120px;
}

.order-state .state-select .dates .times {
	height: 28px;
	line-height: 28px;
}

.order-state .state-select .dates .times input {
	width: 100%;
	height: 26px;
	text-indent: 10px;
	line-height: 26px;
	background: url(../images/ic-date.png?v=8aa32) no-repeat 98px center;
	cursor: pointer;
}

.order-state .state-select .dates .times b {
	display: block;
	padding: 0 10px;
}

.order-state .state-select .dates .times p {
	margin-left: 15px;
}

.order-state .state-select .dates .times p a {
	float: left;
	height: 22px;
	line-height: 22px;
	border: 1px solid #ccc;
	padding: 0 10px;
	margin: 2px 0 2px 10px;
}

.order-state .state-select .dates .times p a:hover {
	text-decoration: none;
}

.order-state .state-select .dates .times .act-date {
	border: 1px solid #F60;
	color: #F60;
}

.order-state .state-select .dates .inquiry {
	padding: 18px 0 10px 70px;
}

.order-state .state-select .dates .inquiry a {
	margin-right: 10px;
}

.order-state .state-select .dates .inquiry i {
	margin-top: 6px;
}

.order-state .state-select .dates .inquiry span {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	_line-height: 32px;
}

.order-state .state-select .dates .inquiry span b {
	color: #666;
}

.order-table {
	padding-top: 20px;
}

.order-table .tit {
	position: relative;
	z-index: 5;
	width: 790px;
	height: 30px;
	background-color: #f5f5f5;
}

.order-table .tit li {
	float: left;
}

.order-table .tit .state {
	position: relative;
}

.order-table .tit li h3 {
	float: left;
	height: 30px;
	line-height: 30px;
	font-weight: normal;
	text-align: center;
}

.order-table .tit .commodity h3 {
	width: 410px;
	padding-left: 20px;
	text-align: left;
}

.order-table .tit .money h3 {
	width: 120px;
}

.order-table .tit .state h3 {
	width: 120px;
}

.order-table .tit .state h3 span {
	display: inline-block;
	text-align: left;
	width: 80px;
	height: 28px;
	border: 1px solid #f5f5f5;
	background-position: 60px center;
	cursor: pointer;
	text-indent: 10px;
}

.order-table .tit .state .option {
	top: 29px;
	left: 19px;
	width: 80px;
	_left: 24px;
	*left: 24px;
}

.order-table .tit .operation h3 {
	width: 120px;
}

.order-table .tit .drop-down h3 span {
	border: 1px solid #ccc;
	background-color: #FFF;
}

.table-list {
	position: relative;
	z-index: 3;
}

.table-list .table-box {
	position: relative;
	zoom: 1;
}

.table-list .table-box.index {
	z-index: 10;
}

.table-list table {
	width: 788px;
	margin: 10px 0;
	border: 1px solid #e5e5e5;
	background: #FFF;
}

.table-list table .info-user {
	background-color: #f5f5f5;
}

.table-list table .info-user td {
	height: 39px;
	border-right: 1px solid #e5e5e5;
}

.table-list .info-user .tit-hotel {
	line-height: 39px;
	padding-left: 18px;
}

.table-list .info-user .tit-hotel div {
	float: left;
	margin-right: 20px;
}

.table-list .info-user .tit-hotel div i {
	float: left;
	color: #b4b4b4;
	margin-right: 5px;
}

.table-list .info-user .tit-hotel div span {
	float: left;
}

.table-list .info-user .tit-hotel div.order-opt {
	float: right;
	margin-right: 12px;
}

.table-list .info-user .tit-hotel div.order-opt .ic-recovery {
	margin-right: 0;
	margin-left: 11px;
}

.table-list .info-user .tit-hotel div.order-opt .ic-resell {
	display: inline-block;
	width: 14px;
	height: 15px;
	margin-top: 10px;
	background: url(../images/ic-order.png?v=dd414) no-repeat -142px -88px;
}

.table-list .info-user .tit-hotel div.order-opt a.ic-resell:hover {
	background-position: -158px -88px;
}

.table-list .inlet span {
	width: 18px;
	height: 18px;
	margin-top: 10px;
	margin-right: 3px;
}

.table-list table .info-user .ic-recovery {
	margin-top: 10px;
	margin-right: 10px;
}

.table-list .info-commodity td {
	padding: 10px 0;
	border-right: 1px solid #e5e5e5;
	vertical-align: top;
	text-align: center;
	border-collapse: collapse;
}

.table-list .info-commodity .pic {
	position: relative;
	width: 429px;
	vertical-align: middle;
}

.table-list .info-commodity .price,.table-list .info-commodity .actuality,.table-list .info-commodity .touch {
	width: 118px;
	padding: 15px 0;
}

.table-list .info-commodity p {
	height: 14px;
	margin-bottom: 10px;
}

.table-list .info-commodity .pic ul {
	position: relative;
	float: left;
	width: 409px;
	margin-left: 17px;
	overflow: hidden;
	_margin-left: 9px;
	_margin-bottom: 5px;
	*margin-bottom: 5px;
}

.table-list .info-commodity .pic ul li {
	position: relative;
	float: left;
	width: 80px;
	height: 80px;
	margin: 5px 12px 5px 0;
	border: 1px solid #efefef;
	*zoom: 1;
}

.table-list .info-commodity .pic ul a {
	width: 80px;
	height: 80px;
}

.table-list .info-commodity .pic ul a img {
	width: 80px;
	height: 80px;
}

.table-list .info-commodity .pic h3 {
	float: left;
	width: 250px;
	margin-left: 15px;
	margin-top: 5px;
	text-align: left;
	font-weight: normal;
}

.table-list .info-commodity .pic h3 a {
	display: block;
	height: 34px;
	word-break: break-all;
	overflow: hidden;
}

.table-list .info-commodity .pic .drop-down {
	cursor: pointer;
}

.table-list .info-commodity .price {
	text-align: center;
}

.table-list .info-commodity .price i {
	color: #000;
	font-family: Arial;
	font-weight: bold;
}

.table-list .info-commodity .price span {
	color: #000;
	font-family: 'Tahoma';
	font-weight: bold;
}

.table-list .info-commodity .touch div {
	margin-bottom: 3px;
}

.table-list .info-commodity .touch p a {
	height: 14px;
}

.table-list .info-commodity .touch p a:hover {
	color: #F60;
}

.table-list .info-commodity .price .freight {
	color: #999;
}

.table-list .info-commodity .price .freight i {
	color: #999;
	font-weight: normal;
}

.table-list .info-commodity .price .freight em {
	color: #999;
}

.table-list .info-commodity .pic ul.single {
	width: 92px;
	height: 92px;
}

.table-list .info-commodity .pic .bnt-tip {
	position: absolute;
	top: 20px;
	right: -7px;
	width: 60px;
	height: 35px;
	background-position: center bottom;
	text-align: center;
}

.table-list .info-commodity .pic .bnt-tip span {
	color: #333;
	margin: 0 2px;
}

.table-list .table-appoint .phase td {
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	border-top: 1px solid #e5e5e5;
}

.table-list .table-appoint .phase p {
	float: left;
	line-height: 40px;
	margin-right: 30px;
}

.table-list .table-appoint .phase .tip i {
	margin-top: 11px;
}

.table-list .info-commodity .aul-many {
	height: 92px;
}

.table-list .info-commodity .yanbao {
	cursor: pointer;
}

.table-list .info-commodity .yanbao strong {
	display: block;
	height: 35px;
	line-height: 35px;
}

.table-list .info-commodity .yanbao em {
	display: block;
	height: 40px;
	line-height: 20px;
	color: #999;
	overflow: hidden;
}

.table-list .table-merge .touch {
	background-color: #FFF;
	vertical-align: middle;
	text-align: center;
}

.table-list .table-merge .touch div {
	margin-top: 10px;
	_margin-bottom: 3px;
	*margin-bottom: 3px;
}

.table-list .table-merge .touch p {
	margin-bottom: 10px;
}

.table-list .table-merge td.tit-bortop {
	border-top: 1px solid #e5e5e5;
}

.table-list .table-merge td.tit-hotel {
	border-right: 1px solid #e5e5e5;
}

.table-list .table-merge-paid td.touch {
	vertical-align: top;
}

.table-list .table-merge-paid td.touch div {
	margin-top: 0;
}

.table-list td.touch,.table-list table .info-user td,.table-list .table-merge-paid td.tit-hotel {
	border-right: 0;
}

.load-state {
	padding: 100px 0;
	text-align: center;
}

.load-state .load-text {
	font-weight: bold;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}

.load-state .load-open a {
	color: #28e;
}

.load-state img.err-product {
	background: url(../images/load.png?v=2cf77) no-repeat 50% 50%;
}

.cust-module {
	margin: 10px 0 0 170px;
}

.breadcrumb {
	height: 20px;
	padding: 10px 0;
	line-height: 20px;
	z-index: 10;
}

.breadcrumb a {
	color: #666;
}

.breadcrumb a:hover {
	color: #F60;
}

.breadcrumb a,.breadcrumb span {
	float: left;
}

.sep {
	padding: 2px 6px 0;
	color: #BBB;
	font-family: \5b8b\4f53;
}

.cust-module .breadcrumb-title {
	color: #999;
}

.order-cust {
	padding: 0 19px;
	background: #FFF;
	border: 1px solid #ddd;
	box-shadow: 0 2px 5px #e3e3e3,-1px 2px 5px #e3e3e3;
	font-family: "Microsoft YaHei";
	color: #333;
}

.order-cust .tit {
	font-size: 16px;
	margin-top: 20px;
}

.order-cust .table-list table {
	width: 100%;
	border-right: 1px solid #e5e5e5;
}

.order-cust .table-list .tit-hotel {
	border-bottom: 0;
}

.order-cust .table-list td {
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
}

.order-cust .table-list .cust-info-commodity .pic {
	width: 72%;
}

.order-cust .cargo-change,.order-cust .cargo-back,.order-cust .cargo-repair {
	width: 106px;
}

.order-cust .cargo-change div,.order-cust .cargo-back div,.order-cust .cargo-repair div {
	text-align: center;
	cursor: pointer;
}

.order-cust td.cargo-repair {
	border-right: 0;
}

.order-cust .cust-text {
	padding: 30px;
}

.order-cust .cust-text h3 {
	font-size: 14px;
	margin-bottom: 14px;
}

.order-cust .cust-text p {
	margin-bottom: 35px;
}

.order-cust .cust-text p span {
	display: block;
	line-height: 24px;
}

.order-cust .cust-text .words span {
	position: relative;
	padding-left: 20px;
}

.order-cust .cust-text p span b {
	position: absolute;
	left: 0;
	_top: -5px;
	_left: -20px;
}

.order-cust .cust-text p span a {
	color: #529bf0;
}

.order-cust .info-commodity .disable-text i {
	vertical-align: -2px;
	*vertical-align: 2px;
	_vertical-align: 0;
}

.order-cust .info-commodity .disable-text a {
	display: inline-block;
	color: #999;
}

.order-cust .info-commodity .disable-text span {
	display: block;
	position: absolute;
}

.order-cust .info-commodity div.logistics-cust {
	position: absolute;
	left: 50%;
	margin-left: -83px;
	width: 143px;
	padding: 8px 10px;
	border: 1px solid #fc6;
	background: #fffff0;
	font-size: 12px;
	text-align: left;
}

.order-cust .info-commodity div.logistics-cont .bnt-close {
	right: 0;
}

.order-cust .info-commodity div.logistics-cont .tooltip-arrow {
	left: -15px;
	margin-left: 0;
}

.order-cust .info-commodity div.logistics-cont .tooltip-arrow .arrow-front {
	color: #fc6;
}

.order-cust .info-commodity div.logistics-cont .tooltip-arrow .arrow-back {
	color: #fffff0;
}

.recovery-module .title {
	height: 28px;
	padding: 38px 0 18px;
}

.recovery-module .title h2 {
	font-size: 16px;
	line-height: 28px;
}

.recovery-module .rec-box {
	height: 28px;
	line-height: 28px;
}

.recovery-module .title a {
	line-height: 28px;
}

.recovery-module .title a .sep {
	color: #333;
	padding: 0 6px;
	line-height: 28px;
}

.recovery-module .order-table {
	margin-top: 0;
}

.m-lion-dialog {
	position: fixed;
	_position: absolute;
	top: 50%;
	left: 50%;
	z-index: 8003;
}

.m-lion-dialog .lion {
	position: absolute;
	top: -32px;
	left: 50%;
	margin-left: -34px;
	display: inline-block;
	width: 68px;
	height: 32px;
	background-position: -196px -24px;
}

.m-lion-dialog .container {
	display: none;
	position: relative;
	padding: 0 20px;
	background-color: #fff;
	border: 2px solid #f8b500;
	border-radius: 5px 0 5px 5px;
}

.m-lion-dialog .title h3 {
	width: 394px;
	height: 36px;
	font: bold 14px/40px 'microsoft yahei';
	color: #231815;
	border-bottom: 1px solid #ddd;
	_line-height: 45px;
	overflow: hidden;
}

.m-lion-dialog .btn {
	position: absolute;
	right: -10px;
	top: 3px;
	display: inline-block;
	width: 17px;
	height: 17px;
	background-position: -278px 0;
	cursor: pointer;
	z-index: 9999;
}

.m-lion-dialog .semi-circle {
	position: absolute;
	right: -15px;
	top: -2px;
	display: inline-block;
	width: 15px;
	height: 27px;
	background-position: -304px 0;
	cursor: pointer;
	z-index: 9998;
}

.m-lion-dialog .lt {
	margin-left: -4px;
}

.m-lion-dialog .btn:hover {
	color: #666;
	text-decoration: none;
}

.m-lion-dialog .content {
	background: #fff;
}

.m-lion-dialog-overlay .lay {
	display: none;
}

.m-lion-dialog-overlay .close {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .3;
	filter: Alpha(opacity=30) \9;
	cursor: pointer;
}

.m-lion-dialog-overlay .overlay {
	background: black;
	z-index: 8002;
	cursor: default;
}

.m-lion-dialog-overlay .frame {
	z-index: 8001;
}

.dialog-action {
	padding-left: 180px;
}

.dialog-action a {
	display: inline-block;
	float: left;
	line-height: 20px;
	text-align: center;
}

.dialog-action a:hover {
	text-decoration: none;
}

.dialog-action .confirm-btn {
	width: 65px;
	height: 22px;
	color: #fff;
}

.dialog-action .cancel-btn {
	width: 63px;
	height: 20px;
	background-color: #f8f8f8;
	border: 1px solid #bbb;
	color: #333;
}

.dialog-cont .tips {
	font: bold 14px/26px 'microsoft yahei';
	color: #333;
}

.dialog-cont h3 {
	font-weight: normal;
}

.dialog-cont .dialog-main {
	overflow: hidden;
}

.dialog-cont .dialog-bnt {
	height: 32px;
	margin-bottom: 30px;
	color: #bbb;
	margin-left: 70px;
}

.dialog-cont .dialog-bnt .tip-icon {
	margin-top: 6px;
}

.dialog-cont .lion-btn {
	display: inline-block;
	height: 26px;
	padding: 0 17px;
	margin-right: 10px;
	text-align: center;
	font: 14px/26px 'microsoft yahei';
	border-radius: 2px;
}

.dialog-cont .lion-btn:hover {
	text-decoration: none;
}

.dialog-cont .certain {
	background-color: #f90;
	color: #FFF;
}

.dialog-cont .close {
	height: 24px;
	line-height: 24px;
	border: 1px solid #ddd;
	color: #333;
}

.dialog-cont .sub {
	display: block;
	padding-left: 34px;
	height: 20px;
	line-height: 20px;
	color: #5d5d5d;
}

.dialog-cont .sub a {
	color: #28e;
}

.cancel-order .tips {
	padding: 30px 0;
	text-align: center;
}

.cancel-succ .tips {
	padding: 20px 0;
	text-align: center;
}

.cancel-succ .dialog-main {
	margin-bottom: 25px;
}

.cancel-succ .dialog-main .tit {
	padding: 0 0 10px 24px;
	font-weight: 14px;
}

.cancel-succ .dialog-main .cont {
	position: relative;
	height: 130px;
	margin-bottom: 15px;
	overflow: hidden;
}

.cancel-succ .dialog-main .list-box {
	position: absolute;
	left: 0;
	top: 0;
	height: 140px;
	width: 1000em;
}

.cancel-succ .dialog-main .list-box ul {
	width: 100%;
}

.cancel-succ .dialog-main .list-box li {
	float: left;
	display: inline;
	width: 102px;
	margin: 0 15px;
	overflow: hidden;
}

.cancel-succ .dialog-main .list-box li div {
	width: 100px;
	height: 100px;
	border: 1px solid #efefef;
}

.cancel-succ .dialog-main .list-box li div a {
	display: block;
	width: 100px;
	height: 100px;
}

.cancel-succ .dialog-main .list-box li div img {
	width: 100px;
	height: 100px;
}

.cancel-succ .dialog-main .list-box .yen-pri {
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.revise-order h3 {
	margin: 15px 0 20px 20px;
}

.revise-order .tab {
	margin-left: 55px;
	margin-bottom: 20px;
}

.revise-order .tab p {
	margin-top: 15px;
}

.revise-order .tab p a {
	position: relative;
	display: block;
	width: 280px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #ddd;
	text-indent: 12px;
}

.revise-order .tab p a:hover {
	text-decoration: none;
	color: #333;
}

.revise-order .tab .act-revise {
	border: 2px solid #f90;
}

.revise-order .tab .act-revise i {
	display: block;
	position: absolute;
	right: -2px;
	bottom: -2px;
	width: 11px;
	height: 11px;
	background-position: -26px -19px;
}

.revise-order .tab p a span {
	color: #999;
}

.revise-order .tab em {
	display: block;
	line-height: 20px;
	height: 20px;
	margin-top: 5px;
}

.revise-order .tab em i {
	vertical-align: middle;
}

.revise-order .dialog-bnt {
	text-align: center;
	margin-left: 0;
}

.revise-busy table {
	width: 394px;
}

.revise-busy table .pic {
	width: 35%;
	text-align: right;
}

.revise-busy table .text {
	text-align: left;
	padding-top: 20px;
}

.revise-busy .dialog-bnt {
	margin: 20px 0;
}

.delete-order .dialog-main {
	width: 315px;
	padding: 35px 39px 30px;
}

.cust-order .dialog-main {
	width: 342px;
	padding: 35px 26px 30px;
}

.cust-order .dialog-bnt {
	text-align: center;
	margin-left: 0;
}

.cust-order .dialog-bnt a {
	border: 0;
	color: #FFF;
}

.pay .dialog-bnt {
	margin-left: 0;
	text-align: center;
}

.pay .dialog-bnt a {
	color: #FFF;
}

.revise-attend {
	padding: 30px 10px;
}

.revise-attend td {
	width: 100%;
	height: 90px;
	text-align: center;
}

.revise-attend td span {
	position: relative;
	top: -50%;
	font: bold 14px/16px 'microsoft yahei';
}

.deleper-order .dialog-bnt {
	margin-left: 60px;
}

.order-pages {
	margin: 20px 0 25px;
}

.order-pages p {
	width: 460px;
}

.order-pages a,.order-pages .prev,.order-pages .next,.order-pages .sm_omiss {
	float: left;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	border: 1px solid #ddd;
	margin-right: 5px;
}

.order-pages a {
	padding: 0 12px;
	font-weight: bold;
	color: #666;
	font-family: Arial;
	text-decoration: none;
}

.order-pages a.hover {
	background: #f90;
	color: #FFF;
	border: 1px solid #f90;
	text-decoration: none;
}

.order-pages a.curr-pages {
	border: 1px solid #FFF;
	color: #333;
	background: #FFF;
}

.order-pages p span {
	position: relative;
	width: 75px;
	cursor: pointer;
	color: #999;
}

.order-pages p span b {
	position: absolute;
	float: left;
	width: 6px;
	height: 11px;
	top: 10px;
}

.order-pages p .sm_omiss {
	border: 0;
	width: 20px;
	text-align: center;
}

.order-pages p .prev {
	text-indent: 24px;
}

.order-pages p .prev b {
	float: left;
	left: 10px;
	background-position: -1px -40px;
}

.order-pages p .next {
	text-indent: 10px;
}

.order-pages p .next b {
	right: 10px;
	background-position: -20px -40px;
}

.order-pages span.act-prev,.order-pages span.act-next {
	color: #333;
}

.order-pages span.act-prev b {
	background-position: -37px -40px;
}

.order-pages span.act-next b {
	background-position: -57px -40px;
}

.order-pages div {
	height: 32px;
	line-height: 32px;
	font-size: 14px;
}

.order-pages div i {
	float: left;
}

.order-pages div input {
	float: left;
	width: 48px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	text-align: center;
	font-weight: bold;
	color: #666;
	margin: 0 10px;
}

.order-pages div button {
	float: left;
	width: 58px;
	height: 30px;
	line-height: 30px;
	background: #f8f8f8;
	border: 1px solid #ddd;
	margin-left: 10px;
	cursor: pointer;
}

.logistics-ev {
	position: relative;
}

.bg-green {
	position: absolute;
	display: block;
	top: 0;
	right: 1px;
	color: #FFF;
	background-color: #2abf5c;
	padding: 0 4px;
	line-height: 15px;
	overflow: hidden;
}

.logistics {
	display: none;
	position: relative;
	z-index: 1000;
}

.logistics a {
	display: block;
}

.logistics .see-bnt {
	z-index: 10;
}

.logistics-cont {
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 0;
	width: 258px;
	padding: 10px 20px;
	background: #FFF;
	border: 1px solid #ddd;
	text-align: left;
	_margin-left: -230px;
}

.logistics-cont .bnt-close {
	right: 10px;
}

.logistics .tooltip-arrow {
	position: absolute;
	top: -8px;
	left: 50%;
	margin-left: -8px;
	width: 16px;
	height: 16px;
}

.logistics .tooltip-arrow .arrow-front,.logistics .tooltip-arrow .arrow-back {
	position: absolute;
	font-style: normal;
	font: 400 16px/1 simsun;
}

.logistics .tooltip-arrow .arrow-front {
	color: #ddd;
}

.logistics .tooltip-arrow .arrow-back {
	color: #FFF;
	top: 1px;
}

.logistics-tit {
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}

.logistics-cont dl {
	background: #fff;
}

.logistics-cont dd {
	line-height: 18px;
	padding: 10px 0;
}

.logistics-cont dd i {
	position: absolute;
	margin-left: 5px;
	_font-size: 8px;
}

.logistics-cont dd em {
	display: block;
	padding-left: 15px;
}

.logistics-cont .log-down {
	text-align: center;
	color: #28e;
	height: 34px;
	line-height: 44px;
	border-top: 1px solid #ddd;
	text-decoration: none;
}

.logistics-cont .log-down i {
	color: #28e;
}

.logistics-cont dd b {
	display: inline-block;
	width: 60px;
	height: 60px;
	border: 1px solid #ddd;
	vertical-align: top;
}

.logistics-cont dd b img {
	width: 60px;
	height: 60px;
}

.logistics-cont .text-main dd {
	color: #999;
}

.logistics-cont .text-main dd.log-current {
	color: #333;
}

.logistics-cont .pic-main dd span {
	display: inline-block;
	width: 192px;
}

.logistics-cont .load-main dd {
	height: 230px;
	line-height: 230px;
	text-align: center;
}

.logistics-cont .loaderr-main dd {
	padding: 35px 0 45px;
	text-align: center;
}

.logistics-cont .loaderr-main span {
	display: block;
	font-size: 14px;
	height: 25px;
}

.logistics-cont .loaderr-main a {
	display: inline-block;
	padding: 2px 10px;
}

.load-err a {
	display: inline-block;
	padding: 2px 10px;
}

.fix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.fix {
	_height: 1%;
	*zoom: 1;
}

.citySelect {
	position: relative;
	z-index: 99;
	height: 30px;
	line-height: 30px;
}

.citySelect b {
	position: absolute;
	display: block;
	height: 12px;
	width: 12px;
	overflow: hidden;
	right: 5px;
}

.citySelect span.attr {
	float: left;
	width: 75px;
	height: 26px;
	line-height: 26px;
	color: #666;
}

.citySelect .cityboxbtn {
	position: relative;
	float: left;
	border: 1px solid #ccc;
	height: 27px;
	line-height: 27px;
	padding: 0 38px 0 5px;
	color: #333;
	z-index: 99;
	white-space: nowrap;
}

.citySelect .cityboxbtn:hover {
	text-decoration: none;
	color: #333;
}

.citySelect .cityboxbtn b {
	background: url(../images/spring.png?v=20150424?v=8fc94) no-repeat;
	top: 8px;
}

.citySelect .select {
	border: 1px solid #ccc;
	border-bottom: 0;
	height: 27px;
	z-index: 100;
	background: #fff;
	box-shadow: 0 -1px 2px #ddd;
}

.citySelect .cityboxbtn em {
	color: #999;
	padding: 0 2px;
}

.citybox {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 400px;
	padding: 0 5px 5px 5px;
	background: #fff;
	border: 1px solid #ccc;
	line-height: 1;
	z-index: 98;
	box-shadow: 0 0 6px #ddd;
}

.chooseArea {
	padding: 10px;
	padding-bottom: 0;
}

.chooseArea p {
	position: relative;
	float: left;
	display: inline;
	height: 24px;
	border: 1px solid #ccc;
	line-height: 25px;
	margin-right: 5px;
	padding: 0 25px 0 8px;
	cursor: pointer;
	white-space: nowrap;
	z-index: 8;
}

.chooseArea p b {
	background: url(../images/spring.png?v=20150424?v=8fc94) no-repeat;
	top: 6px;
}

.chooseArea p.cur {
	height: 25px;
	background: #fff;
	line-height: 24px;
	border: 2px solid #FFB786;
	border-bottom: none;
	z-index: 10;
}

.chooseArea p.cur b {
	background-position: 0 -12px;
	top: 6px;
}

.chooseArea p.disable {
	color: #999;
}

.citybox .arriveBox {
	position: relative;
	background: #fff;
	border-top: 2px solid #FFB786;
	margin: -2px 5px 0 5px;
	padding: 8px 0;
	z-index: 9;
	*margin-top: -3px;
	_margin-top: -2px;
}

.cityshow {
	width: 375px;
	margin: 0 auto;
}

.citybox a,.cityshow a:visited {
	color: #333;
}

.citybox div.cityshow span {
	display: inline-block;
	float: left;
	height: 26px;
	width: 85px;
	line-height: 26px;
	text-align: left;
	overflow: hidden;
}

.citybox div.cityshow span a {
	padding: 5px 7px;
	text-decoration: none;
	cursor: pointer;
}

.citybox div.cityshow span a:hover {
	color: #fff;
	background: #f60;
	text-decoration: none;
}

.citybox div.cityshow span a.imp {
	color: #f70;
}

.citybox div.cityshow span a.imp:hover {
	color: #fff;
}

.citybox div.cityshow span {
	width: 65px;
	padding-right: 15px;
	display: inline-block;
	float: left;
	height: 26px;
	line-height: 26px;
	text-align: left;
	overflow: hidden;
}

html {
	height: 100%;
	_background-image: url(about:blank);
	_background-attachment: fixed;
}

.ECode-floatBar {
	margin-bottom: 250px;
	_margin-bottom: 0;
}

#mysnTools {
	_position: absolute;
	_bottom: auto;
	_right: 0;
	_top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
	_margin-bottom: 100px;
}

#mysnTools ul {
	position: relative;
	width: 42px;
	border: 1px solid #ddd;
	border-bottom: 0;
}

#mysnTools ul li {
	background: #FFF;
	width: 42px;
	height: 42px;
	border-bottom: 1px solid #ddd;
}

#mysnTools ul li a {
	display: block;
	width: 42px;
	height: 42px;
	background-image: url(../images/side-top.png?v=3b8bb);
	background-repeat: no-repeat;
}

#mysnTools ul li a.sntoo1 {
	background-position: 0 -198px;
}

#mysnTools ul li a.sntoo2 {
	background-position: 0 -158px;
}

#mysnTools ul li a.sntoo3 {
	background-position: 0 -116px;
}

#mysnTools ul li a.sntoo1:hover {
	background-position: -42px -198px;
}

#mysnTools ul li a.sntoo2:hover {
	background-position: -42px -158px;
}

#mysnTools ul li a.hover {
	background-position: -42px -116px;
}

#mysnTools ul li .ma {
	width: 106px;
	height: 147px;
	position: absolute;
	right: -5px;
	top: -210px;
	padding: 55px 0 0 10px;
	background: url(../images/ic-tools.png?v=305be) no-repeat;
	_bottom: 1px;
}

#mysnTools ul li .ma i {
	right: 10px;
	top: 50px;
}

#mysnTools ul li .ma p {
	width: 100px;
	height: 118px;
	padding-top: 30px;
	border: 1px solid #ddd;
	background: #FFF;
	text-align: center;
}

#mysnTools ul li .ma p span {
	display: inline-block;
	width: 90px;
}

.orderGuide-overlay .close {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .7;
	filter: Alpha(opacity=70) \9;
}

.orderGuide-overlay .overlay {
	background: black;
	z-index: 8002;
}

.orderGuide-overlay .frame {
	z-index: 8002;
}

#orderGuide-box {
	position: absolute;
	top: 115px;
	left: 50%;
	margin-left: -325px;
	width: 820px;
	min-width: 820px;
	z-index: 8003;
}

#orderGuide-box .orderGuide {
	position: absolute;
	top: 0;
	left: 0;
	width: 820px;
}

#orderGuide-box .orderGuide .gui-img {
	width: 820px;
}

#orderGuide-box .orderGuide .gui-img li {
	position: relative;
	width: 820px;
	background-repeat: no-repeat;
}

#orderGuide-box .orderGuide .gui-img li i {
	position: absolute;
	top: -55px;
	right: 20px;
	width: 50px;
	height: 50px;
	background-position: -449px 0;
	cursor: pointer;
}

#orderGuide-box .orderGuide .gui-img li img {
	display: block;
}

#orderGuide-box .orderGuide .navfirst {
	height: 296px;
	margin-top: 35px;
	background-image: url(../images/guide_s1.png?v=22dbe);
}

#orderGuide-box .orderGuide li.navmiddle {
	height: 358px;
	margin-top: 85px;
	background-image: url(../images/guide_s2.png?v=2680f);
}

#orderGuide-box .orderGuide li.navmiddle i {
	top: -80px;
}

#orderGuide-box .orderGuide li.navlast {
	height: 389px;
	margin-top: 248px;
	background-image: url(../images/guide_s3.png?v=dea86);
}

#orderGuide-box .orderGuide li.navlast i {
	top: -95px;
}

#orderGuide-box .orderGuide p {
	position: relative;
	width: 240px;
	height: 64px;
	margin: 0 390px;
	line-height: 64px;
	text-align: center;
}

#orderGuide-box .orderGuide p a,#orderGuide-box .orderGuide p b,#orderGuide-box .orderGuide p em {
	position: absolute;
	display: block;
}

#orderGuide-box .orderGuide p a {
	left: 25px;
	top: 10px;
	width: 48px;
	height: 48px;
	background-position: -334px 0;
	cursor: default;
}

#orderGuide-box .orderGuide p a.on {
	background-position: -394px 0;
	cursor: pointer;
}

#orderGuide-box .orderGuide p em {
	right: 5px;
	width: 64px;
	height: 64px;
	background-position: -182px -69px;
	cursor: pointer;
}

#orderGuide-box .orderGuide p b {
	display: none;
	right: 5px;
	width: 64px;
	height: 64px;
	background-position: -255px -69px;
	cursor: pointer;
}

#orderGuide-box .orderGuide span {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0 4px;
	background: #FFF;
	border-radius: 10px;
	*margin-top: 25px;
	cursor: pointer;
}

#orderGuide-box .orderGuide span.act-cur {
	background: #f90;
}

.buy-module {
	position: relative;
	top: 20px;
	width: 818px;
	height: 320px;
	border: 1px solid #e5e5e5;
	background: #FFF;
	_overflow: hidden;
}

.buy-module .title {
	position: relative;
	height: 30px;
	border-bottom: 1px solid #e5e5e5;
	z-index: 2;
}

.buy-module .title h3 {
	position: absolute;
	left: 0;
	width: 90px;
	height: 34px;
	padding-top: 20px;
	background: #FFF;
	text-indent: 20px;
}

.buy-module .cont {
	position: relative;
	width: 760px;
	height: 260px;
	margin-left: 15px;
	overflow: hidden;
}

.buy-module .cont .list-box {
	position: absolute;
	top: 30px;
	left: 0;
	width: 1000em;
}

.buy-module .cont .list-box ul {
	float: left;
}

.buy-module .cont ul li {
	float: left;
	display: inline;
	width: 160px;
	margin-left: 30px;
	overflow: hidden;
}

.buy-module .cont .pic {
	width: 160px;
	height: 160px;
}

.buy-module .cont .pic a {
	display: block;
	width: 160px;
	height: 160px;
}

.buy-module .cont .pic a img {
	display: block;
	width: 160px;
	height: 160px;
}

.buy-module .cont .text {
	margin-top: 10px;
}

.buy-module .cont .text a {
	display: block;
	width: 160px;
	height: 36px;
	line-height: 18px;
	word-break: break-all;
	color: #666;
	overflow: hidden;
}

.buy-module .cont .text span {
	display: block;
	height: 25px;
	line-height: 25px;
}

.root1200 .order-module {
	width: 1020px;
}

.root1200 .order-main {
	width: 980px;
	padding: 0 19px;
}

.root1200 .order-table .tit {
	width: 980px;
}

.root1200 .order-table .table-list table {
	width: 979px;
}

.root1200 .table-list .info-commodity {
	width: 979px;
}

.root1200 .order-table .tit .commodity h3 {
	width: 510px;
}

.root1200 .order-table .tit .money h3,.root1200 .order-table .tit .state h3,.root1200 .order-table .tit .operation h3 {
	width: 150px;
}

.root1200 .order-table .table-list .info-commodity .pic {
	width: 529px;
}

.root1200 .info-commodity .pic ul {
	width: 509px;
}

.root1200 .order-cust .info-commodity .pic ul {
	width: 409px;
}

.root1200 .order-cust .info-commodity .pic ul.single {
	width: 92px;
}

.root1200 .order-table .table-list .info-commodity .price,.root1200 .order-table .table-list .info-commodity .actuality,.root1200 .order-table .table-list .info-commodity .touch {
	width: 148px;
}

.root1200 .buy-module {
	width: 1018px;
}

.root1200 .buy-module .cont {
	width: 950px;
	margin-left: 20px;
}

.root1200 .bg-green {
	right: 15px;
}

.root1200 .table-list .info-commodity .pic .bnt-tip {
	right: -4px;
}

.root1200 .order-table .tit .state .option {
	left: 34px;
	_left: 39px;
	*left: 39px;
}

.root1200 #orderGuide-box {
	margin-left: -425px;
	width: 1020px;
	min-width: 1020px;
}

.root1200 #orderGuide-box .orderGuide {
	width: 1020px;
}

.root1200 #orderGuide-box .orderGuide .gui-img {
	width: 1020px;
}

.root1200 #orderGuide-box .orderGuide .gui-img li {
	width: 1020px;
}

.root1200 #orderGuide-box .orderGuide .navfirst {
	background-image: url(../images/guide_01.png?v=184e7);
}

.root1200 #orderGuide-box .orderGuide li.navmiddle {
	background-image: url(../images/guide_02.png?v=fe4b7);
}

.root1200 #orderGuide-box .orderGuide li.navlast {
	background-image: url(../images/guide_03.png?v=f882b);
}

.jnbt-logo {
	position: absolute;
	float: left;
	width: 48px;
	top: -1px;
	left: 13px;
	height: 16px;
	padding: 0 3px;
	font-family: "Microsoft YaHei";
	color: #fff;
	line-height: 16px;
	background-color: #2abf5c;
	z-index: 90;
	*zoom: 1;
}

.table-list .info-user .tit-hotel div.jnbt-status {
	float: right;
}

.table-list .info-user .tit-hotel div.jnbt-status span {
	float: left;
	margin-right: 12px;
}

.table-list .info-user .tit-hotel div.jnbt-status .jnbt-tip {
	color: #f60;
}

.table-list .info-user .tit-hotel div.jnbt-status a.jnbt-fill-in {
	float: left;
	height: 24px;
	margin-top: 8px;
	padding: 0 8px;
	font-family: "Microsoft YaHei";
	color: #fff;
	background-color: #f90;
	line-height: 24px;
	border-radius: 2px;
}

.table-list .info-user .tit-hotel div.jnbt-status a.jnbt-fill-in:hover {
	text-decoration: none;
	background-color: #f70;
}

.jnbt-progress {
	padding: 38px 0 29px;
}

.jnbt-progress .jnbt-step {
	width: 411px;
	height: 51px;
	overflow: hidden;
}

.jnbt-progress .jnbt-step li {
	float: left;
	width: 137px;
	background: url(../images/jnbt-steps.png?v=5bf57) no-repeat -56px 0;
	text-align: center;
}

.jnbt-progress .jnbt-step i {
	display: block;
	width: 24px;
	height: 24px;
	margin: 0 auto 6px;
	line-height: 24px;
	font-weight: bold;
	color: #fff;
	font-family: Aria;
	font-size: 14px;
}

.jnbt-progress .jnbt-step .step01 {
	background: url(../images/jnbt-steps-01.png?v=35031) no-repeat 57px 0;
}

.jnbt-progress .jnbt-step .step02 {
	background-position: 0 0;
}

.jnbt-progress .jnbt-step .step03 {
	background-position: -135px 0;
}

.jnbt-progress .jnbt-step .step03 i {
	color: #999;
}

.jnbt-progress .jnbt-step span {
	color: #333;
	font-family: "Microsoft YaHei";
	font-size: 14px;
}

.jnbt-progress .jnbt-step .finish {
	background: url(../images/jnbt-steps-finish.png?v=99612) no-repeat -53px 0;
}

.jnbt-progress .jnbt-step .finish i {
	color: #fff;
}

.jnbt-progress .tips {
	width: 411px;
	margin-top: 27px;
	padding-left: 39px;
	overflow: hidden;
}

.jnbt-progress .tips .tip-icon {
	float: left;
	width: 24px;
	height: 24px;
	margin-right: 9px;
	background: url(../images/ic-order.png?v=dd414) no-repeat;
}

.jnbt-progress .tips .tip-icon-info {
	background-position: -278px -32px;
}

.jnbt-progress .tips .tip-icon-ok {
	background-position: -172px 0;
}

.jnbt-progress .tips .tip-icon-warn {
	background-position: -138px 0;
}

.jnbt-progress .tips p {
	float: left;
	width: 315px;
	font-family: "Microsoft YaHei";
	color: #f60;
	line-height: 24px;
}

.jnbt-progress .user-info {
	margin-top: 15px;
	padding-left: 71px;
	overflow: hidden;
}

.jnbt-progress .user-info dl {
	width: 340px;
	line-height: 36px;
	font-family: "Microsoft YaHei";
	overflow: hidden;
}

.jnbt-progress .user-info dt {
	float: left;
	width: 78px;
	height: 36px;
	text-align: left;
	color: #666;
	overflow: hidden;
}

.jnbt-progress .user-info dd {
	float: left;
	width: 200px;
	height: 36px;
	text-align: left;
	font-size: 14px;
}

.jnbt-result {
	position: relative;
	overflow: auto;
	height: 372px;
	overflow-x: hidden;
}

.jnbt-result .user-info {
	margin-top: 5px;
}

.jnbt-progress .unpass-pro-show {
	width: 350px;
	margin-top: 15px;
	margin-left: 24px;
}

.jnbt-progress .unpass-pro-show ul {
	width: 400px;
}

.jnbt-progress .unpass-pro-show li {
	position: relative;
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #efefef;
	margin-right: 10px;
	margin-bottom: 10px;
}

.jnbt-progress .unpass-pro-show li img {
	display: block;
	width: 60px;
	height: 60px;
}

.jnbt-progress .unpass-pro-show li .pass-flag {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 60px;
	height: 17px;
	text-align: center;
	background-color: #4ac974;
	color: #fff;
	font-family: "Microsoft YaHei";
	line-height: 17px;
	filter: alpha(opacity=90);
	opacity: .9;
}

.jnbt-progress .unpass-pro-show li .un-pass {
	background-color: #f64444;
}