.db { display: block!important;}
.dn { display: none!important;}
.dib { display: inline-block!important;}

.rv-wrap { width: 990px; font-family: "Microsoft Yahei"; }
.rv-notice { font-family: "Microsoft Yahei"; }
.root1000 .rv-wrap { width: 790px; }
.rv-spring { display: inline-block; background: url(../images/icons2.png?v=20150720); }
.rv-wrap a, .rv-wrap a:visited { color: #333; }
.rv-wrap a:hover { color: #f70 }
.rv-fonta { font: 0/0 a; }
.rv-wrap .rv-link, .rv-wrap .rv-link:visited { color: #2272c8;border:none!important; }
.rv-wrap .rv-link:hover { color: #f60; }

.rv-empty { display: none; padding:20px 0 30px 0; border-width: 0 1px 1px 1px; border-color: #ddd; border-style: solid; background:#fff;}
.rv-empty-bg { display: block; width: 260px; height: 40px; margin: 0 auto;  background-position:0 -250px; }
.rv-empty-content { width: 260px; margin: 0 auto; text-align: center;}
.rv-empty-content .title {  }
.rv-empty-content .title span { color: #f70;}

.rv-empty-content .button { margin-top: 10px; }
.rv-empty-content .button a, .rv-empty-content .button a:visited { display: inline-block; width: 92px; height: 20px; border: 1px solid #ffb84d; border-radius: 2px; line-height: 30px; }
.rv-empty-content .button a:hover { color: #333; background-position: 0 -22px; text-decoration: none; }
.rv-empty-content .button a.disable,
.rv-empty-content .button a.disable:visited, 
.rv-empty-content .button a.disable:hover { border-color:#bbb; background: #eee; color: #bbb; }

.rv-container { display: none;}

/* 投票节点 */
.rv-rate { margin-bottom: 10px; border: 1px solid #ddd; background:#fff; }
.rv-rate-wrap { height: 82px; padding: 15px 0; }
.rv-rate-wrap .rv-rate-item { position: relative; height: 82px; border-left: 1px solid #eee; }
.rv-rate-wrap .rv-rate-score { width: 127px; border-left: 0 none; +z-index:10;}
.rv-rate-score .item { position: absolute; top: 50%; height: 60px; margin-top: -30px; padding-left: 30px; }
.rv-rate-score .title { position: absolute; right: -9px; top: 50%; width: 16px; margin-top: -34px; padding: 6px 0; background-color: #fff; line-height: 26px; color: #bbb; font-size: 12px; font-family: "Microsoft Yahei"; text-align: center; z-index: 9; }
.rv-rate-score p { color: #999 }
.rv-rate-score .score { color: #f70; font: 400 18px/1'Microsoft Yahei'; }
.rv-rate-score .score span { font-size: 36px; font-family: Arial }
.rv-rate-label .item { width: 550px; height: 60px; overflow: hidden; padding: 12px 45px 0; _position: relative; }
.root1000 .rv-rate-label .item { width:350px; }
.rv-rate-label .item a { position: relative; float: left; height: 20px; margin: 0 10px 10px 0; padding: 0 10px; border: 1px solid #f3cba9; white-space: nowrap; background: #fff; line-height: 20px; color: #f60; }
.rv-rate-label .item .hover { left: -1px; top: -1px; border: 2px solid #f70; text-decoration: none; margin: 0 8px 8px 0; }
.rv-rate-label .item a:hover { text-decoration: none; }
.rv-rate-label .item .default { cursor: default; }
.rv-rate-label .item .sel { left: -1px; top: -1px; border: 2px solid #f70; text-decoration: none; margin: 0 8px 8px 0; text-decoration: none; }
.rv-rate-label .item span.title { background: #fff; margin-right: 0; }
.rv-rate-label .item a em { display: block; position: absolute; right: 0; bottom: 0; width: 11px; height: 11px; }
.rv-rate-label .item .sel em { background: url(../images/icons2.png) no-repeat -110px -125px; }

.rv-rate-label .bars { height: 28px; margin: 30px -100px 8px 45px; line-height: 28px; font-size: 12px; font-family: "Microsoft Yahei"; _display: inline; }
.rv-rate-label .bar-wrap { float: left; margin-right: 28px; }
.rv-rate-label .bars .title { float: left; margin-right: 2px; color: #333; }
.rv-rate-label .bars .bar { float: left; width: 200px; height: 14px; border: 1px solid #ff7700; background-color: #ffefe1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.root1000 .rv-rate-label .bars .bar { width: 100px; }
.rv-rate-label .bars .ratio { position: relative; float: left; height: 14px; line-height: 26px; color: #f5f5f5; font-family: "Microsoft Yahei"; text-align: center; }
.rv-rate-label .bars .des { position: absolute; left: 50%; top: -25px; width: 110px; margin-left: -55px; text-align: center; line-height: 1.5; color: #bbb; }
.rv-rate-label .bars i { position: absolute; left: 50%; top: -4px; width: 6px; height: 3px; margin-left: -3px; background: url(../images/icons2.png) no-repeat -15px -60px; _font-size:0;}
.rv-rate-label .bars .percent { display: none; }
.rv-rate-label .bars .most { background-color: #ff8100; }
.rv-rate-label .bars .most .des { color: #333; }
.rv-rate-label .bars .most .percent { display: inline; }
.rv-bars .rv-rate-wrap { height: 121px; }
.rv-bars .rv-rate-wrap .rv-rate-item { height: 121px; }
.rv-bars .no-label { height: 135px; }
.rv-bars .no-label .rv-rate-item { height: 135px; }
.rv-bars .rv-rate-empty { height: 90px; }
.rv-bars .rv-rate-empty .rv-rate-item { height: 90px; }

.rv-rate-label .list { width: 550px;  overflow: hidden; margin: 15px 45px 0 }
.rv-rate-label .list a,.rv-rate-label .list a:visited { color:#2272C8 }
.rv-rate-label .list a:hover { color:#f70}
.root1000 .rv-rate-label .list { width:350px; }
.rv-rate-label .list ol { max-height: 40px; _height:40px; overflow: hidden; padding-top: 5px;}
.rv-rate-label .on ol { max-height: none; _height:auto;  }
.rv-rate-label .list li { float:left; width:118px; margin-left: 18px;_margin-left:9px; list-style-type: decimal; list-style-position:inside; line-height: 20px;}
.rv-rate-label .list-content { position: relative; overflow:hidden;}
.rv-rate-label .list .list-control { display: block;position: absolute;right: 0; bottom: 3px;_bottom:20px;width: 0;height: 0;border-width: 5px;border-style: solid dashed dashed dashed;border-color: #666 transparent transparent  transparent;overflow: hidden;color:none;}
.rv-rate-label .list .on .list-control {border-style:  dashed dashed solid dashed; border-color:  transparent transparent #666 transparent; color:none; }

.rv-rate-wrap .rv-rate-publish { float: right; width: 215px; }
.rv-rate-publish .item { position: absolute; top: 50%; height: 84px; margin: -42px 0 0 26px; text-align: center; }
.rv-rate-publish .info { }
.rv-rate-publish .info span { color: #f60 }
.rv-rate-publish .btn { margin-top: 10px; }
.rv-rate-publish .btn a, .rv-rate-publish .btn a:visited { width: 115px; height: 28px; margin: 0 auto; background:url(../images/png8.png) no-repeat -15px 0; }
.rv-rate-publish .diamond-rule { margin-top: 5px; }
.rv-rate-publish .diamond-rule span { padding-right: 5px; color: #F60; }
.rv-rate-publish .diamond-rule a { color: #2272c8; }
.rv-rate-publish .diamond-rule a:hover { color: #F60; }

/* 大家印象显示比例条时，需要重新调整高度 */
.rv-rate-wrap-bar { height: 100px; }
.rv-rate-wrap-bar .rv-rate-item { height: 100px; }

/* 主展示节点 */
.rv-main { }
.rv-main-wrap { margin-top: -1px; }
.rv-main-item {  position: relative; background:#fff; }
.rv-place-item { border: 1px solid #ddd; }
.rv-place-item li { border-top: 1px solid #ddd; margin-left: -1px; margin-top: -1px; }
.rv-place-item a:hover { text-decoration: none; }
.rv-place-item li.now { border-top: 3px solid #f60; position: relative; _overflow: hidden; }
.rv-place-item li p { display: inline-block; *display: inline; *zoom: 1; height: 29px; line-height: 28px; padding: 0 20px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; color: #333; cursor: pointer; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; }
.rv-place-item li p span { color: #999; }
.rv-place-item li.now p { height: 27px; line-height: 25px; font-weight: 700; color: #f70; cursor: default; }
.rv-place-item li.now p span { font-weight: 400; color: #f70; }
.rv-place-goto a, .rv-place-goto a:visited { color: #2272C8; }
/* 选项卡下筛选 */
.rv-main-filter { background: #f5f5f5; border: 1px solid #ddd; border-top: 0 none; }
.rv-filter-item { float: left; padding: 8px 0 10px 0; }
.rv-filter-item .list { position: relative; }
.rv-filter-item .key { padding-left: 20px; line-height: 22px; }
.rv-filter-item .value, .rv-filter-item .value:visited { display: inline-block; *zoom: 1; padding: 1px 0 1px 5px; border: 1px solid #ddd; background: #fafafa; background: -webkit-linear-gradient(top, #fafafa, #f2f2f2); background: -moz-linear-gradient(top, #fafafa, #f2f2f2); background: -ms-linear-gradient(top, #fafafa, #f2f2f2); background: -o-linear-gradient(top, #fafafa, #f2f2f2); }
.rv-filter-item .value:hover { border: 1px solid #76baf3; text-decoration: none; color: #333; }
.rv-filter-item .value .rv-spring, .rv-filter-item .value:visited .rv-spring { width: 6px; height: 3px; margin: 0 10px 0 15px; overflow: hidden; background-position: 0 -44px; vertical-align: middle; }
.rv-filter-item .now .value, .rv-filter-item .now .value:visited, .rv-filter-item .now .value:hover { position: relative; z-index: 10; border-width: 1px; border-style: solid; border-color: #76baf3 #76baf3 #fff #76baf3; background: #fff; }
.rv-filter-item .now .value .rv-spring { background-position: 0 -48px; }
.rv-filter-sort { position: relative; float: right; margin: 8px 0 10px 0; }
.rv-filter-sort .value{ display: block; width: 78px; height: 20px; padding-left: 6px; border: 1px solid #ddd; background-color: #fff; line-height: 20px; }
.rv-filter-sort i { float: right; width: 6px; height: 3px; margin: 10px 10px 0 0; background: url(../images/icons2.png) no-repeat 0 -44px; _font-size: 0; }
.rv-filter-sort.hover .value { border-color: #76abf3; color: #333; text-decoration: none; }
.rv-filter-sort.expand i { background-position: 0 -48px; }
.rv-filter-sort ul { display: none; position: absolute; left: 0; top: 21px; border: 1px solid #76abf3; border-top: none; background-color: #fff; }
.rv-filter-sort.expand ul { display: block; _width: 60px; }
.rv-filter-sort.expand ul li { height: 22px; padding: 0 6px; line-height: 22px; cursor: pointer; }
.rv-filter-sort.expand ul li.hover { background-color: #f90; color: #fff; }

/* 筛选店铺 */
.rv-filter-item .now { z-index: 9 }
.rv-filter-item .now .options { display: block; }
.rv-filter-shop .options { display: none; position: absolute; z-index: 9; width: auto; min-width: 100%; border: 1px solid #76baf3; padding-top: 10px; padding-bottom: 15px; white-space: nowrap; background: #fff; line-height: 22px; }
.rv-filter-shop .options li { }
.rv-filter-shop .options li a, .rv-filter-shop .options li a:visited { display: block; padding-left: 5px; padding-right: 10px; }
.rv-filter-shop .options li a:hover { background: #f90; color: #fff; text-decoration: none; }
/* 筛选属性 */
.rv-filter-prop .options { display: none; position: absolute; z-index: 9; width: 317px; padding-bottom: 10px; border: 1px solid #76baf3; padding-top: 10px; background: #fff; }
.rv-filter-prop .value em { padding-right: 10px; }
.rv-filter-prop .options-item { padding-left: 5px; padding-right: 20px; }
.rv-filter-prop .options-item span { line-height: 30px; }
.rv-filter-prop .options-item ul { width: 253px; overflow: hidden; *padding-bottom: 10px; }
.rv-filter-prop .options-item li { float: left; margin-bottom: 10px; margin-right: 5px; }
.rv-filter-prop .options-item li a, .rv-filter-prop .options-item li a:visited { display: block; padding: 5px 9px; border: 1px solid #ddd; white-space: nowrap; }
.rv-filter-prop .options-item li a:hover { border-color: #f70; text-decoration: none; }
.rv-filter-prop .options-item li .rv-spring { display: none; }
.rv-filter-prop .options-item li.now { position: relative; }
.rv-filter-prop .options-item li.now i { position: absolute; bottom: 0; right: 0; width: 11px; height: 11px; background: url(../images/png8.png) no-repeat; overflow: hidden; }
.rv-filter-prop .options-item li.now a, .rv-filter-prop .options-item li.now a:visited, .rv-filter-prop .options-item li.now a:hover { padding: 4px 8px; border: 2px solid #f70 }
.rv-filter-prop .options-item li .rv-spring { display: none; }
.rv-filter-prop .options-item li.now .rv-spring { display: block; }
.rv-filter-prop .options-item .btn, .rv-filter-prop .options-item .btn:visited { display: inline-block; padding: 1px 15px; border: 1px solid #eb7f00; margin-left: 36px; color: #fff; background-position: 0 -66px; font-weight: 700; }
.rv-filter-prop .options-item .btn:hover { background-position: 0 -88px; text-decoration: none; }
/* 图片属性 */
.rv-filter-haspic { padding-left: 20px; cursor: pointer; }
.rv-filter-haspic input, .rv-filter-haspic span { vertical-align: middle; cursor: pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none; }
.rv-filter-haspic span { padding-left: 5px; position: relative; top: -2px; _top: 2px; }
/* 排序属性 */
.rv-filter-sort { margin-right: 10px; }
.rv-filter-sort .value:hover { text-decoration: none; }
.rv-main-target { margin-bottom:10px; }
.rv-target-item { border-left: 1px solid #ddd; border-right: 1px solid #ddd; background:#fff; +zoom:1; }
.rv-target-list { *position:relative;_position:static; padding:20px 0;padding-top:35px;border-bottom: 1px solid #ddd; overflow: hidden; }
.rv-target-topic { margin-right: -10px; padding-bottom: 10px; }
.rv-target-topic .topic-avatar { width: 165px; }
.rv-target-topic .topic-avatar .avatar { position: relative; width: 60px; height: 60px; margin: 0 auto }
.rv-target-topic .topic-avatar .username {text-align:center;}
.topic-avatar .avatar .font { position: absolute; top: 0; left: 0; width: 60px; height: 60px; background: url(../images/bg-avatar.png) no-repeat 0 0; }
.topic-avatar .avatar .back { border-radius: 30px; }
.topic-avatar .avatar .rv-spring { display: none; width: 14px; height: 14px; position: absolute; bottom: 0; right: 0; }
.topic-avatar .avatar .level1 { display: block; background-position: 0 -110px; }
.topic-avatar .avatar .level2 { display: block; background-position: -15px -110px;}
.topic-avatar .avatar .level3 { display: block; background-position: -30px -110px;}
.topic-avatar .avatar .level4 { display: block; background-position: -45px -110px;}
/* .rv-target-topic .topic-avatar .username { padding-top: 10px; text-align: center; } */
.rv-target-topic .topic-main { width: 608px; }
.rv-target-topic .topic-main .topic-title { position: relative; padding-bottom: 10px; border-bottom: 1px solid #eee; +padding-bottom: 25px; }
.topic-main .topic-title .title { width:520px; margin-right: 10px; color: #333; overflow:hidden; }
.topic-main .topic-title .star { width: 68px; height: 12px; position: relative; margin: 3px 10px 15px 0; background-position: 0 -138px; overflow:hidden; }
.topic-main .topic-title .star .on { width: 68px; height: 12px; position: absolute; top: 0; background-position: 0 -125px; }
.topic-main .topic-title .indi { float: left; width: 416px; color: #666; }
.topic-main .topic-title .indi li { float: left; margin-left: 20px; _display: inline; +min-width: 60px; }
.topic-main .topic-title .label { clear: both; width: 440px; max-height: 58px; overflow: hidden; }
.topic-main .topic-title .label span { float: left; padding: 3px 5px; margin-right: 10px; margin-bottom: 5px; white-space: nowrap; background: #eee; }
.topic-main .topic-title .label .on { background: #ffeacb; }
.topic-main .topic-title .ensence { position: absolute; top: -19px; right: -5px; width: 120px; height: 59px; background-image: url(../images/jinghua.png?v=2016020501); background-position: 0 0; }
.topic-main .topic-title .ensence.nodiamond { background: url(../images/jinghua2.png?v=2016020501) no-repeat; }
.topic-main .topic-body .body-content { line-height: 24px; word-break:break-all;}
.topic-main .topic-body .body-reply { }
.topic-body .body-reply .arrow { position: relative; height: 9px; top: 1px; left: 20px; z-index: 10; overflow: hidden; }
.topic-body .body-reply .font { color: #f8f8f8; position: absolute; z-index: 10; top: 1px }
.topic-body .body-reply .back { color: #ddd; position: absolute; left: 0; top: 0 }
.topic-body .body-reply .content { background: #f8f8f8; border: 1px solid #ddd; word-break:break-all;}
.topic-body .body-reply .content p { padding: 5px 10px; line-height: 24px; word-wrap: break-word; }
.topic-body .body-reply .content em { color: #ff7700 }
.topic-main .topic-body .body-info { padding: 10px 0; }
.topic-body .body-info .date { }
.topic-body .body-info .date span { margin-right: 5px; color:#999 }
.topic-body .body-info .like { overflow: hidden; margin-right: 10px; padding-left: 10px; background-position: 0 -201px; cursor: pointer; }
.topic-body .body-info .like a { display: inline-block;}
.topic-body .body-info .like span { display: inline-block; position: relative; background-position: 100% -224px; padding: 0 10px 0 15px; height: 22px; line-height: 22px; cursor: pointer; }
.topic-body .body-info .like span .rv-spring { position: absolute; left: 0; top: 7px; overflow:hidden; }
.topic-body .body-info .like i { width: 11px; height: 10px; margin-right: 5px; background-position: -68px -112px; vertical-align: middle; }
.topic-body .body-info .liked i { display: inline-block; width: 11px; height: 10px; margin-right: 5px; background-position: -80px -112px; vertical-align: middle; }
.topic-body .body-info .add { -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
.topic-body .body-info .add a { display: block; padding: 0 10px; line-height: 20px; border: 1px solid #ddd; border-radius: 2px; background: #f9f9f9; background: -webkit-linear-gradient(top, #f9f9f9, #f2f2f2); background: -moz-linear-gradient(top, #f9f9f9, #f2f2f2); background: -webkit-ms-gradient(top, #f9f9f9, #f2f2f2); background: -webkit-o-gradient(top, #f9f9f9, #f2f2f2); cursor: pointer; }
.topic-body .body-info .add a:hover, .topic-body .body-info .like a:hover { text-decoration: none; }
.topic-main .topic-body .body-area { display: none; }
.reply-js .verify-content { float: left; position: relative; margin-bottom: 10px; }
.reply-js .action { min-width: 450px; }
.reply-js .btn { clear: both; }
.reply-js .verify-text { width: 50px; height: 20px; padding-left: 5px; padding-right: 5px; border: 1px solid #ccc; }
.reply-js .verify-img { width: 60px; height: 22px; vertical-align: top; padding-left: 5px; cursor: pointer; }
.reply-js .verify-change { margin-left: 5px; margin-right: 5px; color: #2171C7; }
.reply-js .verify-change:hover { color: #f70; }
.reply-js .cs-spring { display: none; position: absolute; left: 45px; top: 5px; height: 12px; width: 12px; background: url(../images/icons2.png) no-repeat; }
.reply-js .pass .cs-spring { display: block; background-position: -123px -111px; }
.reply-js .error .cs-spring { display: block; background-position: -123px -125px; }
.topic-body .body-area textarea { width:596px; padding:5px; margin-bottom: 8px; border: 1px solid #ddd; overflow:hidden; font-family: "Microsoft Yahei"; }
.topic-body .body-area .info { color: #999 }
.topic-body .body-area .error span { color:#dd0000; }
.topic-body .body-area .error em { color:#dd0000!important; }
.topic-body .body-area .info em { color: #333; }
.topic-body .body-area .info-over { color: #ff0000; }
.topic-body .body-area .info-over em { color: #ff0000; }
.topic-body .body-area .btn .onerror {display:inline; color: #ff0000; }

.topic-body .body-area .btn .validation { display: none;}
.topic-body .body-area .validating .btn .validation { display: inline;}
.topic-body .body-area .validating .btn input { width: 40px;  margin-left: 5px; padding: 1px 5px;line-height: 30px; border:1px solid #cdcdcd;}
.topic-body .body-area .validating .btn img { width: 60px; height: 22px; vertical-align: top; padding-left: 5px;  }
.topic-body .body-area .validating .btn .validation a,
.topic-body .body-area .validating .btn .validation a:visited { margin-left: 5px; margin-right: 5px; color: #2171C7; }
.topic-body .body-area .validating .btn .validation a:hover { color: #f70;}
.topic-body .body-area .btn .submit, .topic-body .body-area .btn .submit:visited {display:inline-block; padding: 1px 13px; border: 1px solid #eb7f00; background: #ff9c00; background: -webkit-linear-gradient(top, #ff9c00, #f88600); background: -moz-linear-gradient(top, #ff9c00, #f88600); background: -webkit-ms-gradient(top, #ff9c00, #f88600); background: -webkit-o-gradient(top, #ff9c00, #f88600); color: #fff; font-weight: 700 }
.topic-body .body-area .btn .submit:hover { text-decoration: none; }
.rv-target-topic .topic-label { width: 215px; color: #bbb; }
.rv-target-topic .topic-label .comeFrom { color: #0070C3; }
.rv-target-topic .topic-label .comeFrom:hover { color: #f70; }
.rv-target-topic .topic-label .shopInfo .value, .rv-target-topic .topic-label .colorInfo .value { width: 110px; word-break: break-all; max-height: 48px; overflow: hidden; }
.root1000 .rv-target-topic .topic-label { width:auto; padding-left:115px;}
.rv-target-topic .topic-label ul { }
.rv-target-topic .topic-label li { line-height: 24px; }
.rv-target-topic .topic-label p { padding-left: 50px; overflow:hidden; }
.rv-target-topic .topic-label .shopInfo a { color: #bbb; }
/* 再次回复 */
.rv-target-reply { }
.rv-target-reply .rv-reply-main { display: none; }
.rv-reply-main .rv-reply-item { padding: 11px 0; +1background: #fff; +zoom: 1; }
.rv-reply-main .rv-reply-item:hover { padding: 10px 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #f8f8f8 }
.rv-reply-main .hover { padding: 10px 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #f8f8f8 }
.rv-reply-main .rv-reply-item:hover .infos .add, .rv-reply-main .hover .item-content .infos .add { display: block; }
.rv-reply-item .item-content { width: 608px; padding-left: 165px; padding-right: 215px; overflow:hidden; }
.rv-reply-item .item-content .content { overflow:hidden; word-break: break-all; word-wrap:break-word;}
.rv-reply-item .item-content .content-from { color: #0070C3; }
.rv-reply-item .item-content .content-entry { word-break:break-all; }
.rv-reply-item .item-content .infos { height: 22px; padding-top: 10px; }
.rv-reply-item .item-content .infos .date span { margin-right: 5px; color:#999 }
.rv-reply-item .item-content .infos .add { display: none; }
.rv-reply-item .item-content .infos .add a, .rv-reply-item .item-content .infos .add a:visited { display: block; padding: 0 10px; line-height: 20px; border: 1px solid #ddd; border-radius: 2px; background: #f9f9f9; background: -webkit-linear-gradient(top, #f9f9f9, #f2f2f2); background: -moz-linear-gradient(top, #f9f9f9, #f2f2f2); background: -webkit-ms-gradient(top, #f9f9f9, #f2f2f2); background: -webkit-o-gradient(top, #f9f9f9, #f2f2f2); }
.rv-reply-item .item-content .infos .add a:hover { background: #f2f2f2; text-decoration: none; }
.rv-reply-item .item-content .area { display: none; padding-top: 10px; border:none; background:none; }
.rv-reply-item .item-content .area textarea { width:596px; padding:5px; margin-bottom: 8px; border: 1px solid #ddd; overflow:hidden; }
.rv-reply-item .item-content .area .info { color: #999 }
.rv-reply-item .item-content .area .error span { color:#dd0000}
.rv-reply-item .item-content .area .info em { color: #333; }
.rv-reply-item .item-content .area .info-over { color: #ff0000; }
.rv-reply-item .item-content .area .info-over em { color: #ff0000; }
.rv-reply-item .item-content .area .btn .onerror { padding-left: 10px; color: #ff0000; }

.rv-reply-item .item-content .area .btn .validation { display: none;}
.rv-reply-item .item-content .area .validating .btn .validation { display: inline;}
.rv-reply-item .item-content .area .validating .btn input { width: 40px;  margin-left: 5px; padding: 1px 5px;line-height: 30px; border:1px solid #cdcdcd;}
.rv-reply-item .item-content .area .validating .btn img { width: 60px; height: 22px; vertical-align: top; padding-left: 5px;  }
.rv-reply-item .item-content .area .validating .btn .validation a,
.rv-reply-item .item-content .area .validating .btn .validation a:visited { margin-left: 5px; margin-right: 5px; color: #2171C7; }
.rv-reply-item .item-content .area .validating .btn .validation a:hover { color: #f70;}

.rv-reply-item .item-content .area .btn .submit, .rv-reply-item .item-content .area .btn .submit:visited {display:inline-block; padding: 1px 13px; border: 1px solid #eb7f00; background: #ff9c00; background: -webkit-linear-gradient(top, #ff9c00, #f88600); background: -moz-linear-gradient(top, #ff9c00, #f88600); background: -webkit-ms-gradient(top, #ff9c00, #f88600); background: -webkit-o-gradient(top, #ff9c00, #f88600); color: #fff; font-weight: 700 }
.rv-reply-item .item-content .area .btn .submit:hover { text-decoration: none; }
.rv-reply-all { width: 608px; padding-left: 165px; }
.rv-reply-item .content-from { color: #2272c8; }
.rv-reply-item .official { float: left; width: 12px; height: 12px; margin: 3px 3px 0 0; background: url(../images/icons2.png) -90px -150px no-repeat; }
/* 含图片 */
.topic-body .body-images { margin-top: 10px; }
.topic-body .body-reply .body-images { margin: 0 0 10px 10px; }
.topic-body .body-images-toggle dt, .topic-body .body-images-toggle dd { float: left; margin-right: 4px; border:1px solid #ddd; cursor: pointer; }
.topic-body .body-images-toggle dt { position:relative;}
.topic-body .body-images-toggle .icon-play { position:absolute; top:22px; left:22px; width:36px; height:36px; background:url(../images/startplay.png) 0 0 no-repeat;}
.topic-body .body-images-toggle dt img, .topic-body .body-images-toggle dd img { display: block; width: 80px; height: 80px;  }

.topic-body .body-images-toggle .last { position: relative; }
:root .topic-body .body-images-toggle .last span { filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#00000000', EndColorStr='#00000000')\9; }
.topic-body .body-images-toggle .last span { display: inline-block; position: absolute; bottom: 0; width: 80px; background: rgba(0, 0, 0, .4); _background: 0; filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#66000000', EndColorStr='#66000000'); color: #fff; text-align: center; }
.topic-body .body-images-target { display: none; width: 518px; padding: 10px 0; border: 1px solid #cecece; }
.body-images-target .target-action { width: 490px; margin: 0 auto 5px; }
.body-images-target .target-main { width: 490px; margin: 0 auto; }
.body-images-target .target-action i { margin-right: 5px; vertical-align: middle; }
.body-images-target .target-action span { border-left: 1px solid #bbb; padding-left: 10px; margin-right: 10px; _position: relative; }
.body-images-target .target-action .close { border-left: none; padding-left: 0 }
.body-images-target .target-action .close i { width: 9px; height: 12px; background-position: -12px -44px; font-size:0;overflow:hidden; }
.body-images-target .target-action .left i { width: 12px; height: 12px; background-position: -22px -44px; font-size:0;overflow:hidden;}
.body-images-target .target-action .right i { width: 9px; height: 12px; background-position: -37px -44px; font-size:0;overflow:hidden;}
.body-images-target .target-left { position: relative; margin-right: 10px; }
.body-images-target .target-left dt, .body-images-target .target-left dd { display: none; width: 400px; height: 400px; }
.body-images-target .target-left dt img, .body-images-target .target-left dd img { display: block; }

.body-images-target .target-left .now { display: block; }
.body-images-target .target-left .paging { position: absolute; top: 0; z-index: 10; width: 40%; height: 100%; font-family: simsun; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.body-images-target .target-left .paging-box { position: absolute; top: 178px; width: 45px; height: 80px; background: rgba(0, 0, 0, .4); _background: 0; filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#66000000', EndColorStr='#66000000'); color: #fff; text-align: center; cursor: pointer; }
.body-images-target .target-left .paging-box em { display: block; padding-top: 20px; font-size: 25px; font-weight: 700 }
.body-images-target .target-left .paging-back { position: absolute; height: 100%; _height: 400px; width: 100%; background: #fff; opacity: 0; filter: alpha(opacity=0); }
.body-images-target .target-left .paging-prev:hover .prev { display: block; }
.body-images-target .target-left .paging-prev.hover .prev { display: block; }
.body-images-target .target-left .paging-next:hover .next { display: block; }
.body-images-target .target-left .paging-next.hover .next { display: block; }
.body-images-target .target-left .paging-next { right: 0; }
.body-images-target .target-left .prev { display: none; }
.body-images-target .target-left .next { display: none; right: 0 }
.body-images-target .target-right { position: relative; height: 400px; overflow: hidden; }
.body-images-target .target-right .prev { position: absolute; width: 80px; height: 13px; color: #fff; background-position: -48px -42px; z-index:10;}
.body-images-target .target-right .next { position: absolute; width: 80px; height: 13px; color: #fff; background-position: -48px -52px; bottom: 0; z-index:10;}
.body-images-target .target-right .disable {  cursor: not-allowed; }
.body-images-target .target-right dl { margin-top: 18px; overflow: hidden }
.body-images-target .target-right dl img { display: block; width: 80px; height: 80px;}
.body-images-target .target-right dt, .body-images-target .target-right dd { margin-bottom: 5px; cursor: pointer; }
.body-images-target .target-right dt { position:relative;}
.body-images-target .target-right .icon-play { position:absolute; top:22px; left:22px; width:36px; height:36px; background:url(../images/startplay.png) 0 0 no-repeat;}
.body-images-target .target-right .now { width: 76px; height: 76px; border: 2px solid #FF6500; overflow: hidden; cursor: default; }
.body-images-target .target-right .now .icon-play { top:20px; left:20px; } 
.body-images-target .target-right .now img { margin-top: -2px; margin-left: -2px; }
.topic-body .body-images-more { font-family: "Microsoft Yahei" }

.rv-notice-content { padding:10px 0; text-align:center;font-weight:700; font-size:14px; }
.rv-notice-btn {padding:10px 0; text-align:center;  }
.rv-notice-btn a,
.rv-notice-btn a:visited { display: inline-block; height: 20px; line-height: 30px;  padding: 0 12px; border:1px solid #EA7F00;  background: #F78700;  background:-webkit-linear-gradient(top,#FFA318,#F78700); background:-moz-linear-gradient(top,#FFA318,#F78700); background:-webkit-ms-gradient(top,#FFA318,#F78700); background:-webkit-o-gradient(top,#FFA318,#F78700); color: #fff; }
.rv-notice-btn a:hover { background: #FFF6E7; border-color: #FFB84E; background:-webkit-linear-gradient(top,#FFF,#FFF6E7); background:-moz-linear-gradient(top,#FFF,#FFF6E7); background:-webkit-ms-gradient(top,#FFF,#FFF6E7); background:-webkit-o-gradient(top,#FFF,#FFF6E7);color: #333; text-decoration: none; }

.rv-hasNoReview { padding:20px 0;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd; font-size:14px; text-align:center; background:#fff; }

/* 主回复 */
/* 分页节点 */
.ui-page { _position:relative; _height:42px; padding-top: 10px;  }
.ui-page-item .item span, .ui-page-item .item a { position: relative; float: left; _float: right; height: 30px; line-height: 30px; padding: 0 10px; border: 1px solid #ccc; margin-right: 5px;  }
.ui-page-item .item a { font-weight: 700;background:#fff; }
.ui-page-item .item a.current { padding: 1px 11px ; border: 0;background:none; }
.ui-page-item .item a.current:hover {padding: 1px 11px ; border: 0; text-decoration: none; color: #333; cursor: default;}
.ui-page-item .item .range { padding: 0 10px; border: 0 }
.ui-page-item .item .prev, .ui-page-item .item .next { font-weight: 400; width: 50px; cursor: pointer; text-align: center; }
.ui-page-item .item i { position: absolute; width: 6px; height: 11px;  }
.ui-page-item .item .prev i {top:10px; right: 55px; background-position: -93px -112px; margin-right: 5px; }
.ui-page-item .item .next i {top:10px; right: 5px;background-position: -100px -112px; margin-left: 5px; }
.ui-page-item .item .prev-disable, .ui-page-item .item .prev-disable:visited, .ui-page-item .item .next-disable, .ui-page-item .item .next-disable:visited { cursor: default; color: #ccc }
.ui-page-item .item .prev-disable:hover, .ui-page-item .item .next-disable:hover { text-decoration: none; color: #ccc }
.ui-page-item .item .prev-disable i { top:10px; right: 55px; background-position: -107px -112px; }
.ui-page-item .item .next-disable i { top:10px; right: 5px; background-position: -114px -112px; }
.ui-page-item .go { display: inline; _position:absolute; _right:0; height: 30px; line-height: 30px; vertical-align: middle; margin-left: 30px; }
.ui-page-item .go span { *display:inline-block; *vertical-align:top;}
.ui-page-item .item { _position:absolute; _right:200px;}
.ui-page-item .go input { height: 30px; line-height: 30px; margin: 0 10px; border: 1px solid #ccc;  }
.ui-page-item .go .num { max-width: 40px; height: 28px; _width: 40px; font-weight: 700; text-align: center; }
.ui-page-item .go .submit { width: 50px; background: #ffffff; background: -webkit-linear-gradient(top, #ffffff, #f7f7f7); background: -moz-linear-gradient(top, #ffffff, #f7f7f7); background: -webkit-ms-gradient(top, #ffffff, #f7f7f7); background: -webkit-o-gradient(top, #ffffff, #f7f7f7); cursor: pointer; }
/* 旋转css */
.rv-rotate0 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
/* 顺时针旋转90度 */
.rv-rotate1 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); }
/* 顺时针旋转180度 */
.rv-rotate2 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
/* 顺时针旋转270度 */
.rv-rotate3 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); -moz-transform: rotate(270deg); -o-transform: rotate(270deg); -webkit-transform: rotate(270deg); transform: rotate(270deg); }
.try-report-list { margin-top: -1px; }
/* 大聚汇四级页评价复写样式 */
.ju-detail-comments .rv-rate-score .score { color: #f7120a; }
.ju-detail-comments .rv-place-item li.now p { color: #f7120a; }
.ju-detail-comments .rv-place-item li.now p span { color: #f7120a; }
.ju-detail-comments .rv-place-item li.now { border-top-color: #f7120a; }
.ju-detail-comments .rv-filter-item { display: none; }
/* 环形图样式 */
.rv-rate-circle { margin-right: -20px; _float: left; }
.rv-rate-circle li { position: relative; float: left; margin-top: 8px; text-align: center; font-family: 'Microsoft Yahei'; _display: inline; }
.rv-rate-circle canvas { float: left; width: 74px; height: 74px; margin-right: 5px; }
.rv-rate-circle .percent { position: absolute; top: 0; left: 0; width: 74px; line-height: 74px; color: #f70; font-size: 16px; }
.rv-rate-circle .zero .percent { color: #bbb; } 
.rv-rate-circle .category { float: left; padding-top: 16px; }
.rv-rate-circle .category .caption { color: #333; font-size: 14px; }
.rv-rate-circle .category .count { color: #bbb; font-size: 12px; }
/* 相册  */
.rv-main-album { display: none; border: 0 solid #ddd; border-width: 0 1px; }
.rv-main-album .new-tip, .rv-main-album .album, .rv-main-album .preview { border-bottom: 1px solid #ddd; }
.rv-main-album .new-tip { position: relative; padding-left: 25px; background: #f5f5f5; line-height: 37px; +zoom: 1; }
.rv-main-album .new-tip i { display: none; position: absolute; left: 77px; top: 5px; width: 26px; height: 14px; 
/*            background: url(../images/album.png?v=2016021801) no-repeat -85px 0; */
}
.rv-main-album .album { padding: 20px 0; }
.rv-main-album .album-arrow { visibility: hidden; width: 26px; height: 68px; margin-top: 6px; }
.rv-main-album .album-arrow:hover { background: #e7e7e7; }
.rv-main-album .album-arrow i { display: block; width: 12px; height: 20px; margin: 24px auto 0; 
/*                background: url(../images/album.png?v=2016021801) no-repeat; opacity: 0.3; */
}
.rv-main-album .album-arrow:hover i { opacity: 0.8; }
.rv-main-album .album-left { _margin-right: 19px; }
.rv-main-album .album-left i { background-position: 0 0; }
.rv-main-album .album-right i { background-position: -15px 0; }
.rv-main-album .album-wrapper { margin: 0 48px; overflow: hidden; _width: 892px; _margin: 0; }
.root1000 .rv-main-album .album-wrapper { _width: 692px; }
.rv-main-album .album-wrapper ul { width: 1800px; height: 80px; margin-right: -20px; padding: 1px; overflow: hidden; }
.rv-main-album .album-wrapper li { float: left; margin-right: 10px; border: 1px solid #ddd;  _display: inline; cursor: pointer; }
.root1000 .rv-main-album .album-wrapper li { margin-right: 7px; }
.rv-main-album .album-wrapper .current { border: 2px solid #ff6500; margin: -1px; margin-right: 9px; }
.rv-main-album .album-wrapper img { display: block; width: 78px; height: 78px; }
.rv-main-album .preview { position: relative; padding: 40px 0; padding-bottom: 16px; }
.rv-main-album .preview-wrapper { display: block; position: relative; width: 710px; height: 400px; margin: 0 auto; border: 1px solid #fff; background: #eee; }
.rv-main-album .preview-arrow { position: absolute; height: 400px; top: 0; z-index: 2; background: #fff; opacity: 0; filter: alpha(opacity=0); +star:expression(this.onFocus=this.blur()); }
.rv-main-album .preview-zoom { position: absolute; width: 110px; height: 400px; left: 300px; top: 0; z-index: 2; background: #fff; opacity: 0; filter: alpha(opacity=0); +star:expression(this.onFocus=this.blur()); }
.rv-main-album .preview-left { left: -138px; width: 438px; }
.rv-main-album .preview-right { right: -90px; width: 390px; }
.rv-main-album .preview-img { display: block; }
.rv-main-album .preview-comment { position: absolute; left: 0; bottom: 0; width: 710px; height: 60px; z-index: 3; }
.rv-main-album .comment-wrapper { position: relative; float: right; width: 650px; height: 60px; overflow: hidden; }
.rv-main-album .switch { position: relative; float: right; width: 60px; height: 60px; cursor: pointer; }
.rv-main-album .switch .switch-mask { width: 60px; height: 60px; background: #000; opacity: .6; filter: alpha(opacity=60); }
.rv-main-album .switch .switch-icon { position: absolute; top: 0; left: 0; width: 60px; height: 60px; background: url(../images/album.png?v=2016021801) no-repeat; }
.rv-main-album .collapse .switch-icon { background-position: 0 -32px; }
.rv-main-album .expand .switch-icon { background-position: -60px -32px; }
.rv-main-album .preview .comment-mask { position: absolute; bottom: 0; left: 0; width: 100%; height: 60px; background: #000; opacity: 0.6; filter: alpha(opacity=60); z-index: 4; }
.rv-main-album .preview .comment-content { position: absolute; bottom: 12px; left: 0; width: 602px; height: 36px; padding: 0 24px; line-height: 30px; color: #fff; font-size: 14px; font-family: "Microsoft Yahei"; overflow: hidden; word-break: break-all; z-index: 5; }
.rv-main-album .preview-close { position: absolute; top: 15px; right: 5px; padding: 5px; }
.rv-main-album .preview-close i { display: block; width: 10px; height: 10px; background: url(../images/album.png?v=2016021801) no-repeat -70px 0; }
.rv-main-album .preview-count-tip { display: none; position: absolute; left: 294px; top: 180px; width: 122px; line-height: 40px; text-align: center; color: #fff; font-size: 14px; background: #000; opacity: 0.8; filter: alpha(opacity=80); }
.root1000 .rv-main-album .preview-left { left: -38px; width: 338px; }
.root1000 .rv-main-album .preview-right { right: 0; width: 300px; }
.rv-main-album .preview .inform { width: 710px; height: 14px; margin: 0 auto; margin-top: 10px; }
.rv-main-album .preview .inform-btn { float: right; width: 66px; height: 14px; line-height: 26px; text-decoration: none; }
.rv-main-album .preview .inform-btn i { float: left; width: 12px; height: 14px; margin-right: 5px; background: url(../images/album.png?v=2016021801) no-repeat 0 -110px; }
.rv-main-album .preview .inform-btn:hover i { background: url(../images/album.png?v=2016021801) no-repeat -20px -110px; }
.rv-main-album .preview .inform-btn.informed { cursor: default; color: #64b100; }
.rv-main-album .preview .inform-btn.informed i { background: url(../images/album.png?v=2016021801) no-repeat -40px -110px; }



.rv-comment-percent { margin: 0 10px; border-top: 1px solid #eee; }
.rv-comment-percent ul { margin-right: -20px; }
.rv-comment-percent li { float: left; width: 300px; height: 85px; padding: 22px 0 18px 22px; }
.rv-comment-percent .icon { float: left; width: 96px; height: 85px; }
.rv-comment-percent .comment { margin-left: 115px; padding-top: 25px; font-size: 16px; font-weight: bold; font-family: "Microsoft Yahei"; } 
.rv-comment-percent .little { font-size: 12px; font-weight: normal; font-family: simsun; }