@charset "utf-8";

.sn-sidebar,.sn-sidebar .hide {
	display: none
}

.sn-sidebar .sn-sidebar-tab a,.sn-sidebar-activity-box .activity-schedule-item:hover {
	text-decoration: none
}

.sn-sidebar .sn-sidebar-tab .tab-icon,.sn-sidebar .sn-sidebar-tab .tab-icon-tip,.sn-sidebar .tab-tip-code-warp .icon {
	background: url(../images/sidebaricon.png?v=2015101201) no-repeat
}

.sn-sidebar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000090;
	width: 35px;
	height: 100%;
	font: 12px/1.5 arial,tahoma,\5b8b\4f53
}

.sn-sidebar .sn-sidebar-bg {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 4;
	width: 35px;
	height: 100%;
	background-color: #383838
}

.sn-sidebar .sn-sidebar-tabs {
	position: absolute;
	z-index: 5;
	left: 0
}

.sn-sidebar .sn-sidebar-tab-activity-box {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 35px;
	height: 168px;
	cursor: pointer
}

.sn-sidebar .sn-sidebar-tab-activity-box .sn-sidebar-tab-activity-img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 55px;
	height: 140px
}

.sn-sidebar .sn-sidebar-middle-tabs {
	top: 178px;
	width: 35px;
	height: 307px;
	transition: height .3s ease-in-out .1s;
	-ms-transition: height .3s ease-in-out .1s;
	-moz-transition: height .3s ease-in-out .1s;
	-webkit-transition: height .3s ease-in-out .1s;
	-o-transition: height .3s ease-in-out .1s
}

.sn-sidebar .sn-sidebar-middle-tabs-top {
	top: 0
}

.sn-sidebar .sn-sidebar-middle-tabs-bottom {
	bottom: 0
}

.sn-sidebar .sn-sidebar-bottom-tabs {
	bottom: 5px
}

.sn-sidebar .sn-sidebar-tab {
	position: relative;
	width: 35px;
	height: 30px;
	margin-bottom: 5px;
	font-family: "Microsoft Yahei";
	cursor: pointer
}

.sn-sidebar .sn-sidebar-tab-member {
	margin-bottom: 10px
}

.sn-sidebar .sn-sidebar-tab-cart {
	height: auto;
	color: #FFF
}

.sn-sidebar .sn-sidebar-tab-cart .tab-cart-tip-warp {
	padding: 3px 0 10px;
	border: 1px solid #4D4D4D;
	border-width: 1px 0;
	text-align: center;
	cursor: pointer
}

.sn-sidebar .sn-sidebar-tab-cart .tab-cart-tip {
	display: block;
	width: 20px;
	margin: 0 auto;
	color: #FFF
}

.sn-sidebar .sn-sidebar-tab-click .tab-cart-tip,.sn-sidebar .sn-sidebar-tab-hover .tab-cart-tip,.sn-sidebar .sn-sidebar-tab-js:hover .tab-cart-tip {
	color: #383838
}

.sn-sidebar .sn-sidebar-tab-cart .tab-cart-num {
	display: inline-block;
	min-width: 17px;
	height: 15px;
	padding: 0 2px;
	background-color: #D00;
	color: #FFF;
	line-height: 15px;
	border-radius: 5px
}

.sn-sidebar .sn-sidebar-tab .tab-tip {
	position: absolute;
	top: 0;
	left: 35px;
	width: 47px;
	height: 30px;
	background-color: #383838;
	line-height: 30px;
	color: #FFAA01;
	text-indent: 11px;
	letter-spacing: 1px;
	cursor: pointer
}

.sn-sidebar .sn-sidebar-feedback .tab-tip,.sn-sidebar .sn-sidebar-service .tab-tip,.sn-sidebar .sn-sidebar-to-top .tab-tip {
	width: 73px
}

.sn-sidebar .sn-sidebar-tab .tab-icon {
	display: block;
	position: relative;
	width: 35px;
	height: 30px;
	z-index: 2;
	background-color: #383838;
	cursor: pointer
}

.sn-sidebar .sn-sidebar-tab-member .tab-icon {
	background-position: -28px 5px
}

.sn-sidebar .sn-sidebar-tab-cart .tab-icon {
	width: 29px;
	background-position: -31px -23px
}

.sn-sidebar .sn-sidebar-tab-recharge .tab-icon {
	background-position: -28px -55px
}

.sn-sidebar .sn-sidebar-tab-finance .tab-icon {
	background-position: -27px -84px
}

.sn-sidebar .sn-sidebar-tab-history .tab-icon {
	background-position: -26px -114px
}

.sn-sidebar .sn-sidebar-code .tab-icon {
	background-position: -27px -144px
}

.sn-sidebar .sn-sidebar-service .tab-icon {
	background-position: -28px -174px
}

.sn-sidebar .sn-sidebar-feedback .tab-icon {
	background-position: -27px -204px
}

.sn-sidebar .sn-sidebar-to-top .tab-icon {
	background-position: -28px -234px
}

.sn-sidebar .sn-sidebar-tab-sign .tab-icon {
	background-position: -28px -287px
}

.sn-sidebar .sn-sidebar-tab-hover .tab-tip {
	display: block;
	left: -47px;
	background-color: #FFAA01;
	color: #383838
}

.sn-sidebar .sn-sidebar-tab-hover .tab-tip-wider {
	left: -73px
}

.sn-sidebar .sn-sidebar-tab .tab-icon-tip {
	display: none;
	position: absolute;
	left: 0;
	top: 12px;
	z-index: 3;
	width: 4px;
	height: 8px;
	background-position: 0 -270px;
	cursor: pointer
}

.sn-sidebar .sn-sidebar-tab-click .tab-icon-tip,.sn-sidebar .sn-sidebar-tab-code-hover .tab-icon-tip,.sn-sidebar .sn-sidebar-tab-hover .tab-icon-code-tip,.sn-sidebar .sn-sidebar-tab-js:hover .tab-icon-code-tip {
	display: block
}

.sn-sidebar .sn-sidebar-tab .tab-icon-cart-tip {
	top: 50%
}

.sn-sidebar .tab-cart-tip-warp-box {
	width: 29px;
	padding: 0 3px;
	background-color: #383838
}

.sn-sidebar .sn-sidebar-tab-click .tab-cart-tip-warp-box,.sn-sidebar .sn-sidebar-tab-hover .tab-cart-tip-warp-box,.sn-sidebar .sn-sidebar-tab-js:hover .tab-cart-tip-warp-box {
	background-color: #FFAA01;
	color: #383838
}

.sn-sidebar .sn-sidebar-tab-click .tab-cart-num,.sn-sidebar .sn-sidebar-tab-hover .tab-cart-num,.sn-sidebar .sn-sidebar-tab-js:hover .tab-cart-num {
	color: #FFF
}

.sn-sidebar .sn-sidebar-tab-click .tab-cart-tip-warp,.sn-sidebar .sn-sidebar-tab-hover .tab-cart-tip-warp,.sn-sidebar .sn-sidebar-tab-js:hover .tab-cart-tip-warp {
	border-color: #FFAA01
}

.sn-sidebar .sn-sidebar-tab-click .tab-icon-member,.sn-sidebar .sn-sidebar-tab-hover .tab-icon-member,.sn-sidebar .sn-sidebar-tab-js:hover .tab-icon-member {
	background-position: 7px 5px
}

.sn-sidebar .sn-sidebar-tab-click .tab-icon-cart,.sn-sidebar .sn-sidebar-tab-hover .tab-icon-cart,.sn-sidebar .sn-sidebar-tab-js:hover .tab-icon-cart {
	background-position: 4px -23px
}

.sn-sidebar .sn-sidebar-tab-click .tab-icon-recharge,.sn-sidebar .sn-sidebar-tab-hover .tab-icon-recharge,.sn-sidebar .sn-sidebar-tab-js:hover .tab-icon-recharge {
	background-position: 8px -55px
}

.sn-sidebar .sn-sidebar-tab-click .tab-icon-finance,.sn-sidebar .sn-sidebar-tab-hover .tab-icon-finance,.sn-sidebar .sn-sidebar-tab-js:hover .tab-icon-finance {
	background-position: 8px -84px
}

.sn-sidebar .sn-sidebar-tab-click .tab-icon-history,.sn-sidebar .sn-sidebar-tab-hover .tab-icon-history,.sn-sidebar .sn-sidebar-tab-js:hover .tab-icon-history {
	background-position: 9px -114px
}

.sn-sidebar .sn-sidebar-tab-click .tab-icon-code,.sn-sidebar .sn-sidebar-tab-code-hover .tab-icon-code,.sn-sidebar .sn-sidebar-tab-hover .tab-icon-code,.sn-sidebar .sn-sidebar-tab-js:hover .tab-icon-code {
	background-position: 8px -144px
}

.sn-sidebar .sn-sidebar-tab-click .tab-icon-service,.sn-sidebar .sn-sidebar-tab-hover .tab-icon-service,.sn-sidebar .sn-sidebar-tab-js:hover .tab-icon-service {
	background-position: 8px -174px
}

.sn-sidebar .sn-sidebar-tab-click .tab-icon-feedback,.sn-sidebar .sn-sidebar-tab-hover .tab-icon-feedback,.sn-sidebar .sn-sidebar-tab-js:hover .tab-icon-feedback {
	background-position: 7px -204px
}

.sn-sidebar .sn-sidebar-tab-click .tab-icon-to-top,.sn-sidebar .sn-sidebar-tab-hover .tab-icon-to-top,.sn-sidebar .sn-sidebar-tab-js:hover .tab-icon-to-top {
	background-position: 7px -234px
}

.sn-sidebar .sn-sidebar-tab-click .tab-icon-sign,.sn-sidebar .sn-sidebar-tab-hover .tab-icon-sign,.sn-sidebar .sn-sidebar-tab-js:hover .tab-icon-sign {
	background-position: 7px -287px
}

.sn-sidebar .sn-sidebar-tab-click .tab-icon,.sn-sidebar .sn-sidebar-tab-code-hover .tab-icon-code,.sn-sidebar .sn-sidebar-tab-hover .tab-icon,.sn-sidebar .sn-sidebar-tab-js:hover .tab-icon,.sn-sidebar .sn-sidebar-tab-js:hover .tab-icon-code {
	background-color: #FFAA01
}

.sn-sidebar .tab-tip-code-warp {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 3;
	width: 131px;
	height: 154px;
	background-color: #F9F9F9;
	box-shadow: 1px 0 4px #888;
	border\9: 1px solid #CCC;
	border-right\9: 0
}

.sn-sidebar .tab-tip-code-warp-img {
	display: block;
	width: 131px;
	height: 154px
}

.sn-sidebar .sn-sidebar-contents {
	position: absolute;
	top: 0;
	right: -280px;
	width: 280px;
	height: 100%;
	background-color: #FFF;
	box-shadow: 1px 0 4px #888;
	border-left: 1px solid #888
}

@media screen and (min-width:0px) {
	.sn-sidebar .sn-sidebar-contents {
		border: 0
	}
}

.sn-sidebar .sn-sidebar-content {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	overflow-y: auto
}

.sn-sidebar .sn-sidebar-all-loading {
	display: none;
	position: absolute;
	left: 0;
	top: 30%;
	width: 100%;
	height: 176px;
	background: url(../images/sidebar-loading.gif) center center no-repeat;
	text-align: center
}

.sn-sidebar .sn-sidebar-all-loading .loading-content {
	padding-top: 128px
}

.sn-sidebar .content-show {
	display: block
}

.sn-sidebar-activity-box .activity-help .icon,.sn-sidebar-activity-box .activity-schedule-item-end-box .activity-schedule-date,.sn-sidebar-activity-box .activity-schedule-item-start-box .activity-schedule-name,.sn-sidebar-activity-box .activity-tips .icon,.sn-sidebar-activity-box .sn-sidebar-activity-close {
	background: url(../images/activity.png?v=2016011401) no-repeat
}

.sn-sidebar-activity {
	background-color: #393937
}

.sn-sidebar-activity-box {
	position: relative;
	color: #333;
	font-size: 14px;
	font-family: "Microsoft YaHei"
}

.sn-sidebar-activity-box .sn-sidebar-activity-close {
	position: absolute;
	top: 12px;
	right: 2px;
	width: 13px;
	height: 13px;
	background-position: 0 -22px;
	cursor: pointer;
	transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s
}

.sn-sidebar-activity-box .sn-sidebar-activity-close:hover {
	transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg)
}

.sn-sidebar-activity-box .activity-warp-width {
	width: 250px;
	margin: 0 auto
}

.sn-sidebar-activity-box .activity-schedule-wrapper {
	position: relative;
	padding-top: 43px
}

.sn-sidebar-activity-box .activity-schedule-blank {
	display: block;
	height: 35px
}

.sn-sidebar-activity-box .activity-schedule-box ul {
	width: 251px
}

.sn-sidebar-activity-box .activity-schedule-item-box {
	float: left;
	position: relative;
	margin: 2px 1px 0 0
}

.sn-sidebar-activity-box .activity-schedule-item {
	display: block;
	width: 62px;
	height: 60px;
	text-align: center
}

.sn-sidebar-activity-box .activity-schedule-item-short {
	width: 61px
}

.sn-sidebar-activity-box .activity-schedule-content {
	height: 30px;
	line-height: 30px;
	cursor: pointer
}

.sn-sidebar-activity-box .activity-schedule-date {
	background-color: #EEE;
	color: #999;
	font-size: 14px;
	font-weight: 700
}

.sn-sidebar-activity-box .activity-schedule-name {
	background-color: #FFF;
	color: #333;
	font-size: 12px
}

.sn-sidebar-activity-box .activity-schedule-end {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	filter: alpha(opacity=20);
	opacity: .2
}

.sn-sidebar-activity-box .activity-schedule-item-end-box .activity-schedule-end {
	display: block
}

.sn-sidebar-activity-box .activity-schedule-item-end-box .activity-schedule-date {
	background-position: 0 -44px
}

.sn-sidebar-activity-box .activity-schedule-item-start-box .activity-schedule-date {
	background-color: #FFE363;
	color: #DF1710
}

.sn-sidebar-activity-box .activity-schedule-item-start-box .activity-schedule-name {
	background-position: 0 -79px;
	color: #DF1710
}

.sn-sidebar-activity-box .activity-bank {
	width: 250px;
	height: 35px;
	margin: 10px auto 0;
	line-height: 38px;
	color: #FFF;
	text-align: center;
	font-size: 14px;
	font-weight: 700
}

.sn-sidebar-activity-box .activity-main-party {
	background-color: #DF1710
}

.sn-sidebar-activity-box .activity-other-party {
	background-color: #FFC22E
}

.sn-sidebar-activity-box .activity-main-img {
	display: block;
	width: 250px;
	height: 150px;
	margin: 0 auto
}

.sn-sidebar-activity-box .activity-help,.sn-sidebar-activity-box .activity-tips {
	float: left;
	position: relative;
	width: 50%;
	height: 50px;
	line-height: 50px;
	color: #512C19;
	font-size: 18px;
	font-weight: 700;
	text-align: center
}

.sn-sidebar-activity-box .activity-tips {
	background-color: #FFDA00
}

.sn-sidebar-activity-box .activity-help {
	background-color: #FF9600
}

.sn-sidebar-activity-box .activity-help:hover,.sn-sidebar-activity-box .activity-tips:hover {
	color: #F60
}

.sn-sidebar-activity-box .activity-help .icon,.sn-sidebar-activity-box .activity-tips .icon {
	display: inline-block;
	width: 16px;
	height: 28px;
	margin-left: 5px;
	background-position: -21px -22px;
	vertical-align: middle
}

.sn-sidebar-activity-box .sn-sidebar-floor {
	position: relative
}

.sn-sidebar-activity-box .sn-sidebar-floor-bank {
	margin-bottom: 2px
}

.sn-sidebar-activity-box .floor-bank-content-warp {
	display: block;
	position: relative;
	height: 30px;
	width: 231px;
	padding: 0 4px 0 15px;
	background-color: #E4E4E4;
	line-height: 30px;
	color: #333;
	word-break: break-all;
	overflow: hidden
}

.sn-sidebar-activity-box .floor-bank-content-warp:hover,.sn-sidebar-activity-box .floor-list-content-warp-active,.sn-sidebar-activity-box .floor-list-content-warp:hover {
	color: #F60
}

.sn-sidebar-activity-box .floor-bank-content-warp .sn-sidebar-activity-bg8,.sn-sidebar-activity-box .floor-list-content-warp .sn-sidebar-activity-bg8 {
	background-color: #6DACE6
}

.sn-sidebar-activity-box .sn-sidebar-floor-list li {
	float: left;
	margin-bottom: 2px
}

.sn-sidebar-activity-box .sn-sidebar-floor-list .list-left {
	margin-right: 2px
}

.sn-sidebar-activity-box .floor-list-content-warp {
	display: block;
	position: relative;
	width: 120px;
	height: 30px;
	background-color: #FFF;
	padding: 0 2px;
	line-height: 30px;
	text-align: center;
	word-break: break-all;
	overflow: hidden
}

.sn-sidebar-activity-box .floor-list-content-warp .list-content {
	position: relative;
	z-index: 2
}

.sn-sidebar-finance .finance-title {
	position: relative;
	height: 45px;
	background: url(../images/finprite.png) center -200px no-repeat;
	overflow: hidden
}

.sn-sidebar-finance .finance-title span {
	display: inline-block;
	width: 100%;
	font: 400 14px "Microsoft YaHei";
	text-shadow: 1px 1px 1px rgba(255,235,97,.7);
	text-align: center;
	line-height: 40px
}

.sn-sidebar-finance .finance-title .close {
	position: absolute;
	top: 10px;
	right: 20px;
	font: 400 18px/1 \5B8B\4F53;
	color: #FFF;
	z-index: 10;
	transition: all .5s
}

.sn-sidebar-finance .finance-title .close:hover {
	color: #F60;
	text-decoration: none;
	transform: rotate(-180deg)
}

.sn-sidebar-finance .finance-wrap {
	width: 250px;
	margin: 0 auto;
	background: #fff
}

.sn-sidebar-finance .finance-img {
	margin-top: 15px
}

.sn-sidebar-finance .finance-img img {
	display: block;
	width: 250px;
	height: 167px
}

.sn-sidebar-finance .p-login {
	height: 50px;
	font: 400 14px/50px 'Microsoft YaHei';
	color: #999;
	text-align: center
}

.sn-sidebar-finance .p-login a {
	color: #2272c8;
	text-decoration: underline
}

.sn-sidebar-finance .p-login a:hover {
	color: #f70;
	text-decoration: underline
}

.sn-sidebar-finance .finance-top dl {
	width: 250px;
	height: 70px
}

.sn-sidebar-finance .finance-top dt {
	height: 40px;
	font: 400 14px/40px 'Microsoft YaHei';
	color: #666
}

.sn-sidebar-finance .finance-top dd {
	height: 30px;
	line-height: 26px;
	clear: both;
	overflow: hidden
}

.sn-sidebar-finance .finance-top dd .finance-money {
	float: left;
	width: 175px;
	height: 26px;
	font: 700 14px/26px 'Microsoft YaHei';
	color: #666
}

.sn-sidebar-finance .finance-top dd .finance-money em {
	font-weight: 400;
	font-family: Tahoma;
	font-size: 18px;
	padding-right: 5px
}

.sn-sidebar-finance .finance-top dd .finance-money b {
	font-weight: 400;
	font-size: 24px
}

.sn-sidebar-finance .finance-top dd .finance-money .finance-word {
	font-weight: 400
}

.sn-sidebar-finance .finance-top dd a {
	display: inline;
	height: 22px;
	line-height: 22px;
	color: #2272c8
}

.sn-sidebar-finance .finance-top dd a:hover {
	color: #f70;
	text-decoration: underline
}

.sn-sidebar-finance .finance-top dd a.btn-transferred {
	float: left;
	display: block;
	width: 33px;
	height: 20px;
	margin: 0 10px 0 5px;
	font: 400 12px/20px 'Microsoft YaHei';
	text-align: center;
	color: #fff;
	background-color: #f90;
	border: 1px solid #e68a00;
	border-radius: 2px
}

.sn-sidebar-finance .finance-top dd a.btn-transferred:hover {
	text-decoration: none;
	background-color: #f80;
	border-color: #e67a00
}

.sn-sidebar-finance .finance-top dd a.btn-open {
	float: right;
	margin-right: 0;
	width: 58px
}

.sn-sidebar-finance .finance-top dd .finance-operate {
	float: right;
	padding-top: 4px;
	width: 75px;
	height: 22px;
	text-align: right
}

.sn-sidebar-finance .finance-top dd i.cut {
	margin: 0 8px;
	color: #ddd
}

.sn-sidebar-finance .finance-top .top-lqb {
	border-bottom: 1px solid #ddd
}

.sn-sidebar-finance .finance-top dl.top-licai-close .finance-money {
	width: 154px
}

.sn-sidebar-finance .finance-top dl.top-licai-close .finance-operate {
	width: 96px
}

.sn-sidebar-finance .finance-top .top-licai {
	margin-bottom: 5px
}

.sn-sidebar-finance .finance-pro {
	width: 100%;
	height: 108px;
	margin-bottom: 20px;
	background: #f8f8f8;
	overflow: hidden
}

.sn-sidebar-finance .finance-pro .finance-box {
	display: block;
	width: 264px;
	margin: 16px auto 4px;
	overflow: hidden;
	clear: both
}

.sn-sidebar-finance .finance-pro a {
	display: inline;
	float: left;
	width: 50px;
	height: 88px;
	margin: 0 8px;
	text-align: center
}

.sn-sidebar-finance .finance-pro i {
	display: block;
	width: 50px;
	height: 50px;
	background: url(./images-sidebar/finprite.png) #ddd;
	overflow: hidden;
	cursor: pointer
}

.sn-sidebar-finance .finance-pro a.fund i {
	background-position: 0 -20px
}

.sn-sidebar-finance .finance-pro a.bill i {
	background-position: -50px -20px
}

.sn-sidebar-finance .finance-pro a.fixdate i {
	background-position: -100px -20px
}

.sn-sidebar-finance .finance-pro a.cash i {
	background-position: -150px -20px
}

.sn-sidebar-finance .finance-pro span {
	display: block;
	width: 50px;
	height: 33px;
	font: 400 12px/33px 'Microsoft YaHei';
	text-align: center;
	cursor: pointer
}

.sn-sidebar-finance .finance-subtitle {
	width: 100%;
	height: 36px;
	margin: 0 auto;
	font: 700 14px/36px '\5FAE\8F6F\96C5\9ED1';
	color: #333
}

.sn-sidebar-finance .finance-subtitle span {
	font: 400 12px/36px '\5B8B\4F53';
	color: #999
}

.sn-sidebar-finance .finance-nopen {
	width: 250px;
	height: 125px;
	background: url(./images-sidebar/finprite.png) 0 -71px no-repeat;
	overflow: hidden
}

.sn-sidebar-finance .finance-nopen .finance-nopen-box {
	display: block;
	width: 100%;
	height: 26px;
	margin: 73px 0 0 20px;
	overflow: hidden;
	clear: both
}

.sn-sidebar-finance .finance-nopen span {
	float: left;
	width: 92px;
	height: 24px;
	margin: 0 8px;
	font: 400 24px/24px Arial;
	text-align: center;
	color: #d00
}

.sn-sidebar-finance .finance-nopen span em {
	padding-left: 5px;
	font: 700 12px/24px 'Microsoft YaHei'
}

.sn-sidebar-finance .finance-chart {
	width: 248px;
	height: 192px;
	border: 1px solid #e9e9e9;
	overflow: hidden
}

.sn-sidebar-finance .finance-chart .chart-box {
	width: 100%;
	height: 100%;
	background-color: #fff
}

.sn-sidebar-finance .finance-sevenday {
	padding: 5px 0 20px;
	font: 400 12px/20px 'Microsoft YaHei';
	color: #999
}

.sn-sidebar-finance .finance-sevenday .sevenday-yesterday {
	float: left;
	width: 125px
}

.sn-sidebar-finance .finance-sevenday em {
	padding: 0 3px 0 0;
	font-family: Tahoma;
	color: #333
}

.sn-sidebar-finance .finance-item-table {
	width: 248px;
	margin: 0 auto 10px;
	background: #fff;
	border: 1px solid #ddd
}

.sn-sidebar-finance .finance-item-table th {
	height: 26px;
	text-align: left;
	background: #f8f8f8
}

.sn-sidebar-finance .finance-item-table th a {
	font: 400 14px/26px 'Microsoft YaHei';
	color: #666
}

.sn-sidebar-finance .finance-item-table th a:hover {
	color: #f70
}

.sn-sidebar-finance .finance-item-table th i {
	float: left;
	display: block;
	width: 19px;
	height: 19px;
	margin: 3px 5px 0 10px;
	background-image: url(./images-sidebar/finprite.png);
	overflow: hidden
}

.sn-sidebar-finance .finance-item-table th i.b {
	background-position: 0 0
}

.sn-sidebar-finance .finance-item-table th i.d {
	background-position: -19px 0
}

.sn-sidebar-finance .finance-item-table th i.j {
	background-position: -38px 0
}

.sn-sidebar-finance .finance-item-table th i.p {
	background-position: -57px 0
}

.sn-sidebar-finance .finance-item-table .name-gray td {
	height: 22px;
	padding-top: 10px;
	font: 400 12px/22px '\5B8B\4F53';
	text-align: center;
	color: #999
}

.sn-sidebar-finance .finance-item-table .name-left {
	width: 120px
}

.sn-sidebar-finance .finance-item-table .name-right {
	width: 127px
}

.sn-sidebar-finance .finance-item-table .num-red td {
	height: 30px;
	font: 400 24px/30px Arial;
	text-align: center;
	color: #d00
}

.sn-sidebar-finance .finance-item-table .num-red td.green {
	color: #129800
}

.sn-sidebar-finance .finance-item-table .num-red td.gray {
	color: #666
}

.sn-sidebar-finance .finance-item-table .num-red td .hide {
	display: none
}

.sn-sidebar-finance .finance-item-table .num-red td .show {
	display: inline
}

.sn-sidebar-finance .finance-item-table .num-red em {
	padding-left: 5px;
	font: 700 12px/30px 'Microsoft YaHei'
}

.sn-sidebar-finance .finance-item-table a.finance-btn,.sn-sidebar-finance .finance-item-table a.finance-btn-view {
	display: block;
	width: 228px;
	height: 34px;
	margin: 10px auto;
	font: 400 18px/34px 'Microsoft YaHei';
	color: #fff;
	text-align: center;
	background-color: #f90;
	border: 1px solid #e68a00;
	border-radius: 5px;
	overflow: hidden
}

.sn-sidebar-finance .finance-item-table a.finance-btn:hover {
	background: #f80;
	border-color: #e67a00;
	text-decoration: none
}

.sn-sidebar-finance .finance-item-table a.finance-btn-view {
	color: #333;
	background-color: #eee;
	border-color: #bbb
}

.sn-sidebar-finance .finance-item-table a.finance-btn-view:hover {
	background: #fff5e6;
	border-color: #ffb84d;
	text-decoration: none
}

.sn-sidebar-finance .finance-item-table td a.disable,.sn-sidebar-finance .finance-item-table td a.disable:hover {
	display: block;
	width: 228px;
	height: 34px;
	margin: 10px auto;
	font: 400 18px/34px 'Microsoft YaHei';
	color: #bbb;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-decoration: none;
	overflow: hidden
}

.sn-sidebar-finance .finance-item-table .time-size td {
	font: 400 14px/16px 'Microsoft YaHei';
	padding-bottom: 10px
}

.sn-sidebar-finance .finance-item-table .finance-item-time {
	float: left;
	display: block;
	width: 16px;
	height: 28px;
	margin: 0 6px 0 18px;
	background: url(./images-sidebar/finprite.png) -100px 0 no-repeat;
	overflow: hidden
}

.sn-sidebar-finance .finance-item-table .time-size .gray {
	color: #999
}

.sn-sidebar-finance .finance-item-table .time-size .black {
	padding-left: 5px;
	color: #333
}

.sn-sidebar-finance .finance-item-img {
	width: 250px;
	height: 140px;
	margin: 0 auto 10px;
	background: #fff
}

.sn-sidebar-finance .finance-item-img a,.sn-sidebar-finance .finance-item-img img {
	display: block;
	width: 250px;
	height: 140px
}

.sn-sidebar-finance .finance-more {
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
	clear: both
}

.sn-sidebar-finance .finance-more a {
	float: right;
	color: #2272c8
}

.sn-sidebar-finance .finance-more a:hover {
	color: #f70
}

.ng-sidebar-close {
	position: absolute;
	top: 10px;
	right: 10px;
	font: 400 18px/1 \5B8B\4F53;
	color: #FFF;
	z-index: 10;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s
}

.ng-sidebar-close:hover {
	text-decoration: none;
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg)
}

.ng-sidebar-head {
	position: relative
}

.ng-sidebar-head a {
	color: #FFF
}

.ng-sidebar-head a:hover {
	color: #f70
}

.ng-sidebar-head .userinfo dt {
	position: relative;
	float: left;
	width: 66px;
	height: 66px
}

.ng-sidebar-head .userinfo dt img {
	display: block;
	width: 60px;
	height: 60px;
	border: 3px solid #FFF;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	-o-border-radius: 31px;
	border-radius: 31px
}

.ng-sidebar-head .userinfo .vip {
	position: absolute;
	left: -5px;
	bottom: -5px;
	width: 43px;
	height: 25px;
	background-image: url(../images/sn-sidebar-member.png?v=20151012)
}

.ng-sidebar-head .pls-login,.ng-sidebar-head .username {
	height: 40px;
	line-height: 40px
}

.ng-sidebar-head .userinfo .vip-1 {
	background-position: -280px 0
}

.ng-sidebar-head .userinfo .vip-2 {
	background-position: -280px -30px
}

.ng-sidebar-head .userinfo .vip-3 {
	background-position: -280px -60px
}

.ng-sidebar-head .userinfo .vip-4 {
	background-position: -280px -90px
}

.ng-sidebar-head .userinfo dd {
	margin-left: 75px;
	color: #FFF
}

.ng-sidebar-head .username {
	display: none
}

.ng-sidebar-head .pls-login .login {
	text-decoration: underline;
	margin-left: 5px
}

.ng-sidebar-head .sep {
	margin: 0 8px;
	color: #999
}

.ng-sidebar-head .qiandao {
	display: inline-block;
	color: #fff!important;
	width: 64px;
	height: 24px;
	border: 1px solid #f90;
	margin: 0;
	line-height: 24px;
	background: #f90;
	text-align: center;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px
}

.ng-sidebar-head .qiandao:hover {
	background: #fa0;
	color: #FFF!important;
	text-decoration: none
}

.g-side-user {
	width: 250px;
	margin: 0 auto;
	padding: 10px 0;
	overflow: hidden
}

.g-side-user-attr {
	width: 270px
}

.g-side-user-attr li {
	float: left;
	margin-right: 25px;
	margin-left: 15px;
	margin-top: 10px
}

.g-side-user-attr li a {
	display: none;
	height: 30px;
	width: 50px;
	padding-top: 50px;
	line-height: 30px;
	text-align: center;
	background-image: url(../images/sn-sidebar-member.png?v=20151012);
	background-repeat: no-repeat
}

.g-side-user-attr li a:hover {
	color: #f70
}

.g-side-user-attr li a.a-01 {
	background-position: 0 -120px
}

.g-side-user-attr li a.a-02 {
	background-position: -50px -120px
}

.g-side-user-attr li a.a-03 {
	background-position: -100px -120px
}

.g-side-user-attr li a.a-04 {
	background-position: -150px -120px
}

.g-side-user-attr li a.a-05 {
	background-position: -200px -120px
}

.g-side-user-attr li a.a-06 {
	background-position: -250px -120px
}

.g-side-user-attr li a.a-07 {
	background-position: -300px -120px
}

.g-side-user-attr li.current a {
	display: inline-block
}

.g-side-user-total {
	margin: 10px 0 0 -5px;
	overflow: hidden
}

.g-side-user-total li {
	float: left;
	width: 88px;
	height: 32px;
	border: 1px solid #DDD;
	margin-left: 5px;
	background: #FFF;
	line-height: 32px;
	text-align: center
}

.g-side-user-total li em {
	color: #F60
}

.g-side-user-total li.disable a,.g-side-user-total li.disable em {
	color: #999
}

.g-side-user-account {
	width: 100%;
	margin: 0 auto;
	border: 1px solid #DDD;
	background: #FFF
}

.g-side-user-account th {
	border-bottom: solid 1px #EEE;
	font: 400 14px/60px \5FAE\8F6F\96C5\9ED1;
	color: #666;
	text-align: center
}

.g-side-user-account td {
	height: 30px;
	padding: 0 20px
}

.g-side-user-account .field {
	width: 35%;
	border-bottom: none;
	border-right: solid 1px #EEE;
	padding: 0;
	color: #999;
	text-align: center
}

.g-side-user-account .field a {
	color: #999
}

.g-side-user-account .field a:hover {
	color: #F60
}

.g-side-user-account .border {
	border-bottom: solid 1px #EEE
}

.g-side-account-title {
	width: 100%;
	height: 35px;
	margin: 0 auto;
	font: 400 14px/35px \5FAE\8F6F\96C5\9ED1;
	font-weight: 700
}

.g-side-account-title .more-vip-item {
	float: right;
	color: #2272c8;
	font-size: 12px;
	font-family: \5B8B\4F53;
	font-weight: 100
}

.g-side-account-title .more-vip-item:hover {
	color: #f70
}

.sn-sidebar-member-wrap {
	display: block;
	position: absolute;
	top: 140px;
	right: -400px;
	width: 280px;
	background: url(../images/sidebar-bg.jpg?v=20151010) no-repeat;
	z-index: 3;
	box-shadow: 1px 0 4px #888;
	border: 1px solid #888;
	border-right: 0
}

@media screen and (min-width:0px) {
	.sn-sidebar .sn-sidebar-member-wrap {
		border: 0
	}
}

.ng-sidebar-head {
	height: auto;
	background: 0 0
}

.ng-sidebar-head .userinfo {
	padding: 12px 0 10px 15px
}

.ng-sidebar-notices {
	margin: 0 10px 0 15px;
	padding: 10px 0;
	border-top: 1px dashed #999
}

.ng-sidebar-notices .ng-sidebar-notice {
	overflow: hidden
}

.ng-sidebar-notices .torenxin {
	float: left;
	margin-left: 20px;
	color: #999
}

.ng-sidebar-notices .torenxin:hover {
	color: #f60
}

.ng-sidebar-notices .member-laba {
	display: inline-block;
	float: left;
	position: relative;
	top: 3px;
	margin-right: -15px;
	width: 12px;
	height: 11px;
	background: url(../images/sn-sidebar-member.png?v=20151012) 0 -170px no-repeat
}

.member-white {
	background: no-repeat #fff
}

.member-white .ng-sidebar-head .userinfo dd,.member-white .ng-sidebar-head a {
	color: #333
}

.member-white .ng-sidebar-notices .member-laba {
	color: #333;
	background: url(../images/sn-sidebar-member.png?v=20151012) -12px -170px no-repeat
}

.sn-sidebar .g-cart-checkout-btn b,.sn-sidebar .g-cart-close a,.sn-sidebar .g-cart-cout a,.sn-sidebar .g-cart-no-data .icon {
	background: url(../images/sidebar.png?v=20152525) no-repeat
}

.sn-sidebar .ng-min-cart {
	width: auto;
	height: auto;
	background: #FFF;
	overflow: hidden
}

.sn-sidebar .ng-min-cart .pr {
	position: relative
}

.sn-sidebar .ng-min-cart .red {
	color: red
}

.sn-sidebar .g-cart-item:after,.sn-sidebar .g-cart-td-msg:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.sn-sidebar .g-cart-top {
	padding: 2px 14px 8px
}

.sn-sidebar .g-cart-top h4 {
	font: 400 16px/34px "Microsoft YaHei"
}

.sn-sidebar .g-cart-checkout-btn {
	position: relative;
	display: block;
	background: #F60;
	text-align: center;
	border-radius: 4px;
	overflow: hidden
}

.sn-sidebar .g-cart-checkout-btn:hover {
	background: #F50;
	color: #FFF;
	text-decoration: none
}

.sn-sidebar .g-cart-checkout-btn-disable,.sn-sidebar .g-cart-checkout-btn-disable:hover {
	background: #CCC
}

.sn-sidebar .g-cart-checkout-btn b {
	position: absolute;
	width: 15px;
	height: 15px;
	background-position: -40px -190px
}

.sn-sidebar .g-cart-checkout-btn-disable b {
	background-position: -40px -210px
}

.sn-sidebar .g-cart-top .g-cart-checkout-btn {
	font: 700 18px/46px "Microsoft YaHei";
	color: #FFF
}

.sn-sidebar .g-cart-top .g-cart-checkout-btn b {
	top: 16px;
	right: 80px
}

.sn-sidebar .g-cart-info {
	height: 26px;
	background: 0 0;
	line-height: 26px;
	color: #666;
	overflow: hidden
}

.sn-sidebar .g-cart-info input {
	float: left;
	width: 13px;
	height: 13px;
	margin: 7px 10px 0 0;
	border: 1px solid #707070
}

.sn-sidebar .g-cart-info .check-all {
	margin-right: 5px;
	color: #666;
	text-decoration: underline
}

.sn-sidebar .g-cart-info .check-all:hover {
	color: #FA0
}

.sn-sidebar .ng-min-cart .price em {
	padding-left: 2px;
	font-family: tahoma
}

.sn-sidebar .ng-min-cart .g-cart-info .price {
	font: 700 16px/26px Arial;
	color: #D00;
	vertical-align: middle
}

.sn-sidebar .g-cart-bottom {
	padding: 0;
	border-top: 2px solid #DDD
}

.sn-sidebar .g-cart-bottom .g-cart-info {
	height: 43px;
	padding: 10px 10px 0 12px;
	color: #333;
	line-height: normal;
	border-radius: 4px
}

.sn-sidebar .g-cart-bottom .g-cart-info .price {
	display: inline-block;
	width: 74px;
	height: 20px;
	color: #333;
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
	overflow: hidden
}

.sn-sidebar .g-cart-bottom .g-cart-checkout-btn {
	width: 115px;
	height: 32px;
	background-color: #F90;
	padding-left: 10px;
	border: 1px solid #E68A00;
	color: #FFF;
	text-align: left;
	font: 14px/32px "Microsoft YaHei"
}

.sn-sidebar .g-cart-bottom .g-cart-checkout-btn b {
	top: 9px;
	right: 9px
}

.sn-sidebar .g-cart-list-box {
	position: relative;
	border-top: 1px solid #DDD;
	overflow-y: scroll
}

.sn-sidebar .g-cart-empty {
	border-top: 0
}

.sn-sidebar .g-cart-store-title {
	position: relative;
	padding: 0 0 0 14px;
	border-top: 1px solid #DDD;
	background: #F0F0F0;
	z-index: 1
}

.sn-sidebar .g-cart-store-title input {
	float: left;
	width: 13px;
	height: 13px;
	margin: 8px 10px 0 0;
	border: 1px solid #707070
}

.sn-sidebar .g-cart-store-title .store-info {
	line-height: 28px
}

.sn-sidebar .g-cart-store-title .store-info label {
	float: left;
	color: #666
}

.sn-sidebar .g-cart-store-title .store-info .price {
	padding-right: 10px
}

.sn-sidebar .store-promotion .g-cart-store-title {
	border-top: 2px solid #CCF0C0;
	background: #D9FFCC
}

.sn-sidebar .ng-min-cart .promotion-info {
	height: 28px;
	padding: 2px 3px 6px 0;
	line-height: 28px;
	*height: auto
}

.sn-sidebar .ng-min-cart .promotion-info .icon {
	width: 16px;
	height: 28px;
	margin-right: 6px;
	background: #F60;
	text-align: center;
	color: #FFF;
	border-radius: 2px
}

.sn-sidebar .ng-min-cart .promotion-info .desc {
	float: left;
	width: 140px;
	height: 28px;
	color: #666;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	width\0: 137px
}

.sn-sidebar .ng-min-cart .promotion-info .result {
	padding: 0 5px;
	line-height: 28px;
	background: #63B201;
	color: #FFF;
	border-radius: 2px;
	white-space: nowrap
}

.sn-sidebar .g-cart-td {
	padding: 0 14px
}

.sn-sidebar .g-cart-td:hover .g-cart-cout {
	display: block
}

.sn-sidebar .g-cart-td:hover .g-cart-cout-text {
	display: none
}

.sn-sidebar .g-cart-item {
	position: relative;
	padding: 10px 8px 10px 0;
	border-top: 1px solid #EEE;
	zoom: 1
}

.sn-sidebar .ng-min-cart .fisrt .g-cart-item {
	border-top: 0 none
}

.sn-sidebar .g-cart-td-images-sidebar {
	position: relative;
	width: 62px;
	height: 62px;
	overflow: hidden;
	margin-right: 10px
}

.sn-sidebar .g-cart-checkbox {
	float: left;
	width: 23px;
	margin-top: 21px
}

.sn-sidebar .g-cart-checkbox input {
	width: 13px;
	height: 13px;
	border: 1px solid #707070
}

.sn-sidebar .g-cart-td-images-sidebar a {
	display: block;
	border: 1px solid #eee
}

.sn-sidebar .g-cart-td-images-sidebar img {
	display: block;
	width: 60px;
	height: 60px
}

.sn-sidebar .g-cart-td-msg {
	margin-left: 10px;
	padding-top: 8px;
	zoom: 1
}

.sn-sidebar .g-cart-td-msg p {
	height: 24px;
	margin-bottom: 2px;
	line-height: 24px;
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden
}

.sn-sidebar .g-cart-td-msg p a {
	color: #666
}

.sn-sidebar .g-cart-cout {
	display: none;
	float: left;
	width: 66px;
	height: 18px;
	overflow: hidden
}

.sn-sidebar .g-cart-cout .g-cart-cout-input {
	float: left;
	width: 30px;
	height: 28px;
	border: 1px solid #ddd;
	border-left: 0;
	border-right: 0;
	line-height: 28px;
	text-align: center
}

.sn-sidebar .g-cart-cout a {
	float: left;
	width: 18px;
	height: 18px;
	overflow: hidden
}

.sn-sidebar .g-cart-cout a.g-cart-cout-btnl {
	background-position: 0 -190px
}

.sn-sidebar .g-cart-cout a.g-cart-cout-btnl-disabled {
	background-position: 0 -210px
}

.sn-sidebar .g-cart-cout a.g-cart-cout-btnr {
	background-position: -20px -190px
}

.sn-sidebar .g-cart-cout a.g-cart-cout-btnr-disabled {
	background-position: -20px -210px
}

.sn-sidebar .g-cart-cout-text {
	width: 66px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	overflow: hidden
}

.sn-sidebar .g-cart-close {
	position: absolute;
	right: -12px;
	top: 12px
}

.sn-sidebar .g-cart-close a {
	display: none;
	width: 12px;
	height: 12px;
	background-position: 0 -60px;
	overflow: hidden
}

.sn-sidebar .g-cart-close a:hover {
	background-position: -33px -60px
}

.sn-sidebar .g-cart-item-disable .g-cart-close a,.sn-sidebar .g-cart-suit-disable .g-cart-close a,.sn-sidebar .g-cart-td:hover .g-cart-close a,.sn-sidebar .sn-sidebar .g-cart-td:hover .g-cart-close a {
	display: block
}

.sn-sidebar .g-cart-suit .g-cart-checkbox {
	margin-top: 3px
}

.sn-sidebar .g-cart-suit-name {
	width: 62px;
	height: 18px;
	margin-right: 10px;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden
}

.sn-sidebar .g-cart-suit .g-cart-td-images-sidebar {
	width: auto;
	height: auto;
	padding: 0 0 0 14px;
	margin-right: 0
}

.sn-sidebar .g-cart-suit .g-cart-td-images-sidebar a {
	float: left;
	margin: 10px 0 0 9px
}

.sn-sidebar .g-cart-suit .g-cart-td-msg {
	padding-top: 0
}

.sn-sidebar .g-cart-item-disable .opacity,.sn-sidebar .g-cart-suit-disable .opacity {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .15;
	filter: Alpha(opacity=15)
}

.sn-sidebar .ng-min-cart .no-tip {
	line-height: 30px;
	text-align: center;
	color: #999
}

.sn-sidebar .ng-min-cart .scroll-loading {
	height: 70px;
	background: url(../images/loading.gif) center center no-repeat
}

.sn-sidebar .g-cart-suit .g-cart-td-images {
	width: auto;
	height: auto;
	margin-right: 0;
	padding: 0 0 0 14px
}

.sn-sidebar .g-cart-td-images img {
	display: block;
	width: 60px;
	height: 60px
}

.sn-sidebar .g-cart-td-images {
	position: relative;
	width: 62px;
	height: 62px;
	margin-right: 10px;
	overflow: hidden
}

.sn-sidebar .g-cart-td-images .mini-ico-active {
	background: #d00
}

.sn-sidebar .g-cart-td-images i {
	display: inline-block;
	position: absolute;
	height: 28px;
	padding: 0 3px;
	border-radius: 2px;
	line-height: 28px;
	color: #fff;
	font-family: SimSun;
	font-size: 12px
}

.sn-sidebar .g-cart-td-images a {
	display: block;
	border: 1px solid #eee
}

.sn-sidebar .g-cart-suit .g-cart-td-images a {
	float: left;
	margin: 10px 0 0 9px
}

.sn-sidebar .ng-sidebar-cart-wrapper {
	width: 100%
}

.sn-sidebar .g-cart-no-data {
	position: absolute;
	top: 30%;
	left: 0;
	padding: 0 8px;
	text-align: center;
	color: #BBB
}

.sn-sidebar .g-cart-no-data .icon {
	display: block;
	width: 150px;
	height: 96px;
	margin: 0 auto;
	background-position: 0 -291px
}

.sn-sidebar .g-cart-no-data h5 {
	margin-top: 10px;
	font: 400 14px/1.5 "Microsoft YaHei"
}

.sn-sidebar .g-cart-no-data .desc {
	margin-top: 20px;
	line-height: 26px
}

.sn-sidebar .g-cart-no-data .desc i {
	display: inline-block;
	width: 20px;
	height: 17px;
	border: 1px solid #DDD;
	border-bottom-width: 3px;
	margin: 0 5px;
	background: #FFF;
	font: 700 12px/17px Arial;
	text-align: center;
	color: #666;
	vertical-align: middle;
	border-radius: 2px
}

.sn-sidebar .g-cart-no-data .desc .btn {
	display: inline-block;
	padding: 0 20px;
	line-height: 26px;
	background: #F60;
	margin-left: 5px;
	font: 700 14px/26px "Microsoft YaHei";
	color: #FFF;
	border-radius: 2px
}

.sn-sidebar .g-cart-tipbox {
	position: relative;
	left: 0;
	top: 50%;
	width: 264px;
	*top: 0
}

.sn-sidebar .g-cart-no-data .loading {
	height: 176px;
	background: url(../images/sidebar-loading.gif) center center no-repeat
}

.sn-sidebar .g-cart-no-data .loading .loading-content {
	padding-top: 128px
}

.sn-sidebar .g-cart-ui-tooltip {
	position: absolute;
	border: 1px solid #DDD;
	background: #FFF;
	box-shadow: 0 0 3px #F1F1F1
}

.sn-sidebar .g-cart-ui-tooltip-inner {
	padding: 10px
}

.sn-sidebar .g-cart-ui-tooltip-arrow {
	position: absolute;
	width: 16px;
	height: 16px
}

.sn-sidebar .g-cart-ui-tooltip-top .g-cart-ui-tooltip-arrow {
	left: 50%;
	bottom: -8px;
	margin-left: -8px
}

.sn-sidebar .g-cart-ui-tooltip-right .g-cart-ui-tooltip-arrow {
	top: 50%;
	left: -8px;
	margin-top: -8px
}

.sn-sidebar .g-cart-ui-tooltip-bottom .g-cart-ui-tooltip-arrow {
	left: 50%;
	top: -8px;
	margin-left: -8px
}

.sn-sidebar .g-cart-ui-tooltip-left .g-cart-ui-tooltip-arrow {
	top: 50%;
	right: -8px;
	margin-top: -8px
}

.sn-sidebar .g-cart-ui-tooltip-arrow-back,.sn-sidebar .g-cart-ui-tooltip-arrow-front {
	position: absolute;
	font: 400 16px/1 simsun
}

.sn-sidebar .g-cart-ui-tooltip-arrow-back {
	color: #ddd
}

.sn-sidebar .g-cart-ui-tooltip-top .g-cart-ui-tooltip-arrow-front {
	color: #fff;
	z-index: 2
}

.sn-sidebar .g-cart-ui-tooltip-right .g-cart-ui-tooltip-arrow-front {
	color: #fff;
	z-index: 2;
	right: -1px
}

.sn-sidebar .g-cart-ui-tooltip-bottom .g-cart-ui-tooltip-arrow-front {
	color: #fff;
	z-index: 2;
	top: 1px
}

.sn-sidebar .g-cart-ui-tooltip-left .g-cart-ui-tooltip-arrow-front {
	color: #fff;
	z-index: 2
}

.sn-sidebar .g-cart-ui-tooltip-left .g-cart-ui-tooltip-arrow-back {
	right: -1px
}

.sn-sidebar .g-cart-ui-tooltip-top .g-cart-ui-tooltip-arrow-back {
	top: 1px
}

.sn-sidebar .g-cart-ui-tooltip-inner table {
	margin: 0 auto
}

.sn-sidebar .g-cart-ui-tooltip-inner td {
	padding: 4px 0
}

.sn-sidebar .g-cart-ui-tooltip-inner td .tip-icon {
	vertical-align: middle
}

.sn-sidebar .g-cart-td-images-sidebar i {
	position: absolute;
	padding: 0 3px;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	color: #fff;
	font-family: SimSun;
	border-radius: 2px
}

.sn-sidebar .g-cart-td-images-sidebar .mini-ico-active {
	background: #d00
}

.sn-sidebar .g-cart-td-images-sidebar .mini-ico-unactive {
	background: #6e6e6e
}

.sn-sidebar .g-cart-store .price {
	color: #333;
	font-weight: 400
}

.sn-sidebar .g-cart-store .result .price {
	color: #FFF
}

.recharge-title {
	position: relative;
	height: 45px;
	background: url(../images/czsprite.png) center -94px no-repeat;
	overflow: hidden
}

.recharge-title span {
	display: inline-block;
	width: 100%;
	font: 400 14px "Microsoft YaHei";
	text-shadow: 1px 1px 1px rgba(255,235,97,.7);
	text-align: center;
	line-height: 40px
}

.recharge-title .close {
	position: absolute;
	top: 10px;
	right: 20px;
	font: 400 18px/1 \5B8B\4F53;
	color: #FFF;
	z-index: 10;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s
}

.recharge-title .close:hover {
	color: #F60;
	text-decoration: none;
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg)
}

.recharge-main {
	width: 250px;
	margin: 15px auto 0;
	background: #FFF
}

.recharge-main .cz-btn {
	display: inline-block;
	width: 248px;
	height: 46px;
	margin-top: 7px;
	border: 1px solid #E68a00;
	border-radius: 4px;
	color: #FFF;
	font: 700 18px/46px "Microsoft YaHei";
	text-align: center;
	background: #F90
}

.recharge-main .cz-btn:hover {
	color: #FFF;
	text-decoration: none;
	background: #F80;
	border-color: #E67A00
}

.recharge-main .cz-btn.disable,.recharge-main .cz-btn.disable:hover {
	border-color: #CCC;
	background: #EEE;
	color: #BBB;
	cursor: default
}

.cz-telnum {
	position: relative;
	width: 250px;
	z-index: 1
}

.cz-telnum .placehold {
	position: absolute;
	left: 12px;
	top: 11px;
	line-height: 18px;
	color: #bbb;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	cursor: text;
	z-index: 3;
	_top: 12px
}

.cz-telnum input {
	position: relative;
	width: 226px;
	height: 22px;
	padding: 8px 11px;
	font-size: 14px;
	line-height: 22px;
	color: #333;
	font-family: Arial;
	border: 1px solid #ddd;
	z-index: 1;
	background: #FFF;
	box-sizing: content-box
}

.cz-telnum input.focus,.cz-telnum input:focus {
	border-color: #B8B8B8
}

.cz-telnum input.err {
	border-color: #d00
}

.cz-telnum .mail-list {
	position: absolute;
	top: 10px;
	right: 11px;
	display: block;
	width: 18px;
	height: 20px;
	background: url(../images/czsprite.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
	z-index: 20;
	_top: 11px
}

.cz-telnum .mail-list.on {
	background-position: left -21px
}

.cz-telnum .cz-response {
	position: absolute;
	right: 39px;
	top: 9px;
	color: #bbb;
	font: 400 14px/1.5 "Microsoft YaHei";
	cursor: text;
	z-index: 20;
	*top: 10px;
	_top: 11px
}

.cz-telnum .cz-response.err {
	color: #d00
}

.cz-telnum .his-list li a,.cz-telnum .splittip {
	padding: 0 11px;
	color: #BBB;
	font: 700 18px/38px Arial;
	height: 38px
}

.cz-telnum .his-list,.cz-telnum .splittip {
	position: absolute;
	left: 0;
	top: 40px;
	width: 100%;
	border-top: 1px solid #b8b8b8;
	background: #FFF;
	z-index: 5;
	*top: 41px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.36);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.36);
	box-shadow: 0 0 5px rgba(0,0,0,.36);
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#cccccc, direction=180, strength=4)
}

.cz-telnum .his-list li {
	height: 38px;
	width: 248px;
	border: 1px solid #b8b8b8;
	border-top: 0 none;
	cursor: pointer;
	vertical-align: bottom
}

.cz-telnum .splittip {
	width: 226px;
	border: 1px solid #b8b8b8
}

.cz-telnum .his-list li a {
	position: relative;
	display: block
}

.cz-telnum .his-list li a em {
	position: absolute;
	top: 0;
	right: 10px;
	display: none;
	color: #9F9F9F;
	font: 400 16px/38px Simsun
}

.cz-telnum .his-list li a:hover {
	text-decoration: none;
	background: #FFF
}

.cz-telnum .his-list li a:hover em {
	display: block;
	cursor: pointer
}

.cz-telnum .his-list i {
	color: #d00
}

.cz-price {
	margin-left: -11px
}

.cz-price a {
	display: inline;
	float: left;
	width: 74px;
	height: 38px;
	margin: 10px 0 0 11px;
	border: 1px solid #ddd;
	font: 400 14px/38px "Microsoft YaHei";
	text-align: center;
	transition: border-color .3s;
	-webkit-transition: border-color .3s
}

.cz-price a i {
	display: none
}

.cz-price a.on,.cz-price a:hover {
	position: relative;
	width: 72px;
	height: 36px;
	line-height: 36px;
	border: 2px solid #ff9c00;
	color: #333;
	text-decoration: none
}

.cz-price a.on i {
	position: absolute;
	right: -2px;
	bottom: -2px;
	display: block;
	width: 11px;
	height: 11px;
	font-size: 0;
	line-height: 0;
	background: url(../images/czsprite.png) top right no-repeat
}

.historynum li em {
	color: red
}

.recharge-main .mimprice {
	margin-top: 18px;
	color: #D00;
	font: 400 14px/1.5 "Microsoft YaHei"
}

.recharge-main .mimprice i {
	font-family: tahoma
}

.life-helper {
	width: 100%;
	margin-top: 75px;
	overflow: hidden
}

.life-helper dt {
	font: 700 14px/21px "Microsoft YaHei"
}

.life-helper dd {
	width: 280px;
	margin-top: 15px;
	margin-left: -5px;
	overflow: hidden
}

.life-helper dd a {
	display: inline;
	float: left;
	width: 50px;
	height: 77px;
	margin: 10px 15px 0 20px;
	text-align: center
}

.life-helper dd a span {
	display: inline-block;
	padding-top: 5px;
	line-height: 21px;
	font-family: "Microsoft YaHei";
	cursor: pointer
}

.life-helper dd a:hover span {
	text-decoration: underline
}

.life-helper dd a b {
	display: block;
	width: 50px;
	height: 50px;
	background: url(../images/czsprite.png) no-repeat;
	overflow: hidden;
	cursor: pointer
}

.life-helper dd a.train b {
	background-position: 0 -42px
}

.life-helper dd a.plane b {
	background-position: -51px -42px
}

.life-helper dd a.lifefee b {
	background-position: -102px -42px
}

.life-helper dd a.finance b {
	background-position: -153px -42px
}

.life-helper dd a.freebook b {
	background-position: -204px -42px
}

.life-helper dd a.insurance b {
	background-position: -255px -42px
}