.tab-cont .reg-nav {
	position: relative;
	margin: 50px auto 0;
	width: 870px;
	height: 35px;
	font: 18px "Microsoft YaHei";
	list-style: none;
	border-bottom: 1px solid #ccc
}

.tab-cont .reg-nav .reg-step {
	margin: 0 auto;
	width: 550px;
	_padding-top: 17px;
	color: #666
}

.tab-cont .reg-step li {
	position: relative;
	float: left;
	padding: 0 19px 0;
	line-height: 34px;
	margin-right: 32px
}

.tab-cont .reg-step .current {
	color: #fa0;
	line-height: 34px;
	border-bottom: 2px solid #fa0
}

.icon-1,.icon-2,.icon-3,.icon-4 {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	bottom: 1px;
	*bottom: 0;
	width: 16px;
	height: 18px;
	line-height: 18px;
	margin-right: 4px;
	background: url(../images/cop-bg.png) no-repeat 0 0
}

.tab-cont .reg-step .icon-1 {
	background: url(../images/cop-bg.png) -40px 0 no-repeat
}

.tab-cont .reg-step .current .icon-1 {
	background: url(../images/cop-bg.png) -64px 0 no-repeat
}

.tab-cont .reg-step .icon-2 {
	background: url(../images/cop-bg.png) -40px -24px no-repeat
}

.tab-cont .reg-step .current .icon-2 {
	background: url(../images/cop-bg.png) -64px -24px no-repeat
}

.tab-cont .reg-step .icon-3 {
	background: url(../images/cop-bg.png) -40px -48px no-repeat
}

.tab-cont .reg-step .current .icon-3 {
	background: url(../images/cop-bg.png) -64px -48px no-repeat
}

.tab-cont .acc-form {
	width: 460px;
	margin: 0 auto;
	z-index: 10
}

.reg-txtbox,.code-txtbox,.code-num {
	position: relative;
	height: 48px;
	border: solid 1px #bbb;
	background: #fff
}

.reg-email {
	right: -540px;
	position: absolute;
	width: 100%
}

.phone-num {
	left: 0;
	position: absolute;
	width: 100%
}

.reg-main {
	position: relative;
	margin: 0 auto;
	width: 538px;
	min-height: 460px;
	_height: 460px;
	overflow: hidden;
	padding: 0;
	left: 20px
}

.code-num {
	position: relative;
	height: 48px;
	border: solid 1px #eee;
	border-width: 1px 1px 1px 0;
	background: #fff
}

.reg-code .code-num {
	float: left;
	_font-size: 0;
	width: 229px;
	text-align: center
}

.code-num img {
	width: 70px;
	height: 30px;
	margin-top: 8px;
	line-height: 0
}

.reg-txtbox i,.code-txtbox i {
	display: inline-block;
	float: left;
	width: 34px;
	height: 48px;
	background: url(../images/input-icon.png) no-repeat
}

.reg-txtbox .ms-ico,.code-txtbox .ms-ico {
	position: absolute;
	right: 10px;
	top: 16px;
	background: url(../images/cop-bg.png) no-repeat 0 0;
	width: 16px;
	height: 18px;
	display: block;
	float: right
}

.reg-txtbox .ms-ico-error {
	background-position: 0 0
}

.reg-txtbox .ms-ico-ok,.code-txtbox .ms-ico-ok {
	background-position: -19px 0
}

.reg-txtbox .ico-usename {
	background-position: 0 -148px!important
}

.reg-txtbox .ico-email {
	background-position: 0 -95px!important
}

.reg-txtbox .ico-pwd {
	background-position: 0 -48px!important
}

.reg-txtbox input,.code-txtbox input {
	float: left;
	padding: 15px 5px;
	height: 18px;
	background: #fff;
	color: #333;
	font-size: 14px;
	font-family: SimSun;
	border: 0
}

.reg-txtbox .txt-input {
	width: 410px
}

.reg-code {
	height: 48px;
	_height: 40px
}

.code-txtbox {
	float: left;
	width: 228px
}

.code-txtbox .ico-code {
	background-position: 2px 0!important
}

.code-txtbox .ico-pwd {
	background-position: 0 -48px!important
}

.code-txtbox .txt-input {
	width: 148px
}

.reg-phone-code .code-txtbox {
	width: 299px
}

.reg-phone-code .code-num {
	width: 158px
}

.reg-phone-code .btn-get-code {
	float: left;
	margin: 0;
	width: 158px;
	height: 48px;
	background: #f6f6f6;
	line-height: 48px;
	font-size: 14px;
	color: #333!important;
	text-align: center;
	border: 1px solid #BBB;
	border-width: 1px 1px 1px 0
}

.code-link {
	float: right;
	margin: 0 20px 0 0;
	width: 36px;
	height: 34px;
	line-height: 33px;
	font-size: 12px;
	font-family: SimSun
}

.code-link a {
	color: #2272c8
}

.code-link a:hover {
	color: #f60
}

.changecode {
	position: relative;
	left: 30px;
	bottom: 10px;
	color: #2272c8;
	font-size: 12px
}

.btn-reg {
	width: 100%
}

.reg-main .reg-submit {
	display: block;
	padding: 14px 0;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 20px;
	font-family: "Microsoft YaHei";
	font-weight: 700;
	color: #fff;
	background: #ff9c00;
	border: solid 1px #f88600;
	text-decoration: none
}

.btn-reg a:hover {
	text-decoration: none;
	color: #fff
}

.reg-submit:hover {
	background: #f8b500;
	border: solid 1px #ff9c00
}

.links-text {
	position: relative;
	padding: 15px 0;
	height: 14px;
	line-height: 26px;
	color: #bbb
}

.link-left {
	float: left
}

.link-right {
	float: right
}

.link-right i {
	display: inline-block;
	margin: 0 5px -2px 0;
	_margin: 0 5px -5px 0;
	width: 18px;
	height: 12px;
	background: url(../images/loginSp-ico.png) no-repeat;
	background-position: -56px -48px;
	transition: all .3s
}

.link-right:hover i {
	background-position: -36px -48px
}

.links-text a {
	color: #666
}

.links-text a:hover {
	color: #f60
}

.err-msg {
	margin-top: 10px;
	padding: 10px;
	background: #fff0f0;
	border: solid 1px #f55
}

.err-msg p {
	position: relative;
	margin-left: 20px
}

.err-msg p i {
	position: absolute;
	left: -20px;
	top: 1px
}

.ico-err {
	display: inline-block;
	background: url(../images/tipIcon.png)
}

.ico-err-16 {
	width: 16px;
	height: 28px;
	background-position: -155px -210px
}

.mid-line {
	display: inline-block;
	height: 12px;
	width: 1px;
	background: #bbb;
	margin: 0 10px
}

.reg-form {
	position: absolute;
	width: 460px;
	z-index: 10
}

.cour-form {
	position: relative;
	background: 0
}

.login-txtbox-error {
	border: solid 1px #fe5656
}

.st-ico {
	float: right;
	display: inline-block;
	margin: 16px 10px 0 0;
	width: 16px;
	height: 28px;
	background: url(../images/tipIcon.png)
}

.code-txtbox .st-ico {
	background-position: -155px 0
}

.login-txtbox-error .st-ico {
	background-position: -155px -210px
}

.reg-bor-top .login-bor {
	padding: 0 0 5px;
	line-height: 14px
}

.wrapper .reg .notice {
	height: 14px
}

.reg-form .ui-text-disabled {
	background: #f5f5f5
}

.reg-suc .logo {
	background: url(../images/lion.png) no-repeat;
	display: block;
	width: 120px;
	height: 161px;
	margin: 40px auto 0
}

.reg-suc1 .logo {
	background: url(../images/lion-run.gif) no-repeat
}

.reg-suc .jusang {
	width: 100px;
	height: 124px;
	background: url("../images/jusang.png")
}

.reg-suc .tip {
	margin-top: 12px;
	font: 18px "Microsoft YaHei";
	text-align: center;
	color: #666
}

.reg-suc .reg-back {
	margin-top: 30px;
	font: 14px "Microsoft YaHei";
	color: #666;
	text-align: center
}

.reg-ad-wrapper {
	position: relative;
	margin: 0 auto 20px;
	width: 968px;
	left: 13px;
	height: 100px
}

.reg-ad-wrapper ul li {
	position: relative;
	display: block;
	float: left;
	margin-right: 20px;
	width: 220px;
	height: 100px;
	background: #f4f4f4
}

.page-error {
	position: relative;
	padding: 10px 0 10px 10px;
	width: 448px;
	height: 30px;
	border: 1px solid #f55;
	background-color: #fff0f0
}

.per-input-tip {
	font-size: 12px;
	color: #999;
	height: 35px;
	padding-top: 5px
}

.reg-main .sms-notice,.main-cont .sms-notice {
	position: relative;
	bottom: 22px;
	font-size: 14px;
	height: 15px
}

.bottom-tip {
	font-size: 14px;
	color: #333
}

.main-box .bottom-tip a {
	color: #333;
	font-family: "Microsoft YaHei"
}

.main-box .bottom-tip a:hover,.cop .bottom-tip a:hover {
	text-decoration: underline;
	color: #f60
}

.error-box {
	border: 1px solid #f55;
	background-color: #fff0f0;
	padding: 10px 0 10px 34px;
	position: relative;
	width: 424px
}

.error-box-wrap {
	height: 44px
}

.error {
	width: 3px;
	height: 10px;
	left: 10px;
	padding: 8px 8px 0 8px;
	display: block;
	position: absolute;
	top: 10px;
	font-size: 12px;
	background: url(../images/cop-bg.png) no-repeat 0 0
}

.error-border {
	border: 1px solid #f55
}

.wrapper .simple-header {
	padding: 15px 0 0
}

.wrapper .reglogo {
	display: inline-block;
	height: 17px;
	width: 89px;
	background: url(../images/regLogo.png)
}

.tip-error-color {
	color: #F00!important
}

.br {
	border-right: 2px solid #dadada
}

.email-list li {
	padding: 10px 0 10px 39px;
	height: 14px;
	line-height: 26px;
	font-size: 14px;
	font-family: SimSun;
	cursor: pointer
}

.email-list li:hover {
	background: #ff9c00;
	color: #fff
}

.input-label {
	position: absolute;
	left: 40px;
	top: 15px;
	font-size: 14px;
	font-family: SimSun;
	color: #999;
	background: transparent;
	cursor: text
}

.email-list li.hover {
	background: #ff9c00;
	color: #fff
}

.reg-txtbox .text-email {
	position: relative;
	background: transparent
}

.reg-txtbox .switch-to-phone {
	margin-bottom: 10px
}

.ico-info-16 {
	width: 16px;
	height: 28px;
	background-position: -155px -70px
}

.reg-tip {
	position: relative;
	height: 28px;
	color: #666
}

.auto-label {
	position: absolute;
	left: 0;
	height: 16px
}

.auto-label span {
	float: left;
	margin-left: 5px;
	line-height: 26px;
	color: #666;
	margin-top: 0;
	margin-top: 2px\0;
	*margin-top: 4px;
	_margin-top: 2px
}

.auto-label input {
	float: left;
	margin-top: 2px;
	margin-top: 2px\0;
	*margin-top: -1px;
	*margin-left: -4px;
	_margin-top: -3px
}

.reg-txtbox .reg-switch-tips {
	position: absolute;
	margin-left: 12px;
	color: #999;
	width: 100px;
	height: 48px;
	line-height: 48px;
	right: -106px
}

.red {
	color: red!important
}

.mb10 {
	margin-bottom: 10px
}

.mb-10 {
	_margin-bottom: -45px
}

.pl10 {
	padding-left: 10px
}

.pr10 {
	padding-right: 10px
}

.mb25 {
	margin-bottom: 25px
}

.mt10 {
	margin-top: 10px
}

.mt70 {
	margin-top: 70px!important
}

.mt50 {
	margin-top: 50px!important
}

.mt24 {
	margin-top: 24px!important
}

.pl0 {
	padding-left: 0!important
}

.pb20 {
	padding-bottom: 20px
}

.cleafix {
	clear: both
}

.bnone {
	border: none!important
}

.border_blue {
	border: 1px solid #0af
}

.cop .wrapper .main-cont {
	padding: 0;
	font: 12px "Microsoft YaHei";
	color: #666;
	border: 1px solid #ddd;
	background-color: #fff
}

.cop .wrapper .login-bor {
	text-align: right;
	padding: 0 0 5px
}

.cop .wrapper .login-bor a {
	color: #2272c8;
	cursor: pointer
}

.cop .tab-cont .reg-nav {
	position: relative;
	width: 870px;
	height: 35px;
	font: 18px "Microsoft YaHei";
	list-style: none
}

.cop .tab-cont .reg-nav .reg-step {
	margin: 0 auto;
	width: 738px
}

.cop .tab-cont .reg-step li {
	position: relative;
	float: left;
	padding: 0 19px 0;
	line-height: 34px;
	margin-right: 32px
}

.cop .tab-cont .reg-step .current {
	color: #fa0;
	line-height: 34px;
	border-bottom: 2px solid #fa0
}

.cop .tab-cont .acc-form {
	width: 460px;
	margin: 0 auto;
	z-index: 10
}

.cop .bottom-icon span i,.cop .icon-1,.icon-2,.icon-3,.icon-4,.error,.ms-ico,.s-icon i {
	background: url(../images/cop-bg.png) no-repeat 0 0
}

.cop .icon-1,.cop .icon-2,.cop .icon-3,.cop .icon-4 {
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 28px;
	line-height: 28px;
	margin-right: 4px
}

.cop .tab-cont .reg-step .icon-1 {
	background: url(../images/cop-bg.png) -40px 0 no-repeat
}

.cop .tab-cont .reg-step .current .icon-1 {
	background: url(../images/cop-bg.png) -64px 0 no-repeat
}

.cop .tab-cont .reg-step .icon-2 {
	background: url(../images/cop-bg.png) -40px -24px no-repeat
}

.cop .tab-cont .reg-step .current .icon-2 {
	background: url(../images/cop-bg.png) -64px -24px no-repeat
}

.cop .tab-cont .reg-step .icon-3 {
	background: url(../images/cop-bg.png) -40px -48px no-repeat
}

.cop .tab-cont .reg-step .current .icon-3 {
	background: url(../images/cop-bg.png) -64px -48px no-repeat
}

.cop .tab-cont .reg-step .icon-4 {
	background: url(../images/cop-bg.png) -40px -72px no-repeat
}

.cop .tab-cont .reg-step .current .icon-4 {
	background: url(../images/cop-bg.png) -64px -72px no-repeat
}

.cop .login-txtbox {
	float: left;
	position: relative;
	border: solid 1px #bbb;
	padding: 10px;
	width: 438px;
	height: 18px
}

.cop .login-txtbox input {
	width: 92%;
	height: 20px;
	color: #333;
	font-size: 14px;
	font-family: SimSun;
	border: 0;
	position: absolute;
	background: transparent;
	left: 8px;
	top: 8px;
	vertical-align: center
}

.cop .input-label {
	position: absolute;
	left: 8px;
	top: 11px;
	font-size: 14px;
	font-family: SimSun;
	color: #999;
	background: transparent;
	cursor: text
}

.cop .ipt-tip {
	float: left;
	width: 86px;
	font-size: 14px;
	padding: 10px 0 10px 0;
	text-align: right
}

.cop .tele-num1,.tele-num2,.tele-num3,.tele-num1 .txt-input,.tele-num2 .txt-input,.tele-num3 .txt-input {
	width: 88px!important
}

.cop .tele-num2,.tele-num2 .txt-input {
	width: 198px!important
}

.cop .tele-num2 {
	margin: 0 10px
}

.cop .cont-marg {
	border: 0;
	padding: 0
}

.cop .reg-nav {
	border-bottom: 1px solid #ddd
}

.cop .info-cont {
	width: 556px;
	margin: auto;
	position: relative
}

.cop .info-cont .notice {
	padding: 20px 0 5px 85px
}

.cop .info-cont .notice a {
	color: #2272c8
}

.cop .protocal {
	margin: 0 0 0 85px
}

.cop .protocal a {
	color: #2272c8
}

.cop .check-btn {
	position: relative
}

.cop .protocal .register-btn,.login-alert {
	color: #fff;
	display: block;
	width: 460px;
	text-align: center;
	padding: 10px 0;
	border: 1px solid #f88600;
	background-color: #ff9c00;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	margin: 16px 0 10px
}

.cop .protocal .register-btn {
	margin: 0 0 10px
}

.cop .register-btn:hover,.login-alert:hover {
	text-decoration: none;
	cursor: pointer;
	background-color: #f8b500;
	color: #fff
}

.cop .bottom-tip {
	font-size: 14px;
	color: #333
}

.cop .bottom-tip a {
	color: #333;
	font-family: "Microsoft YaHei"
}

.cop .bottom-tip a:hover {
	cursor: pointer
}

.cop .br {
	border-right: 2px solid #dadada
}

.cop .error-box {
	border: 1px solid #f55;
	background-color: #fff0f0;
	padding: 10px 0 10px 34px;
	position: relative;
	width: 424px;
	height: 30px;
	line-height: 30px;
	margin-left: 86px
}

.cop .error {
	width: 3px;
	height: 10px;
	padding: 8px 8px 0 8px;
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 12px
}

.cop .bottom-icon {
	width: 868px;
	margin: 70px auto 36px
}

.cop .bottom-icon span {
	display: block
}

.cop .bottom-icon span i {
	width: 38px;
	height: 38px;
	display: block;
	float: left;
	background-position: 0 -24px
}

.cop .bottom-icon span em {
	display: block;
	width: 130px;
	float: left;
	margin: 10px 50px 10px 0;
	padding-left: 10px
}

.cop .bottom-icon .for-icon em {
	margin-right: 0
}

.cop .bottom-icon .s-icon i {
	background-position: 0 -64px
}

.cop .bottom-icon .t-icon i {
	background-position: 0 -104px
}

.cop .bottom-icon .for-icon i {
	background-position: 0 -144px
}

.cop .validate-box {
	float: left;
	border: solid 1px #ddd;
	width: 230px;
	height: 38px
}

.cop .wd207 {
	width: 207px!important
}

.cop .wd279 {
	width: 279px!important
}

.cop .valid-img {
	margin: 3px 0 0 78px
}

.cop .changecode {
	position: relative;
	left: 20px;
	bottom: 10px;
	color: #2272c8
}

.cop .ms-ico {
	width: 16px;
	height: 28px;
	display: block;
	float: right
}

.cop .ms-ico-ok {
	background-position: -19px 0
}

.cop .error-border {
	border: 1px solid #f55
}

.cop .login-txtbox .cityboxbtn {
	bottom: 10px;
	width: 410px;
	height: 32px
}

.cop .citySelect .cityboxbtn {
	padding: 6px 38px 0 10px;
	font-size: 14px
}

.cop .citySelect .cityboxbtn b {
	top: 14px
}

.cop .citybox {
	top: 39px!important;
	z-index: 101!important;
	padding-left: 0;
	box-shadow: none
}

.cop .reg-phone-code .btn-get-code {
	margin: 0;
	height: 38px
}

.cop .bggray {
	background-color: #f1f1f1
}

.cop .get-code {
	display: block;
	float: left;
	width: 158px;
	height: 30px;
	text-align: center;
	font-size: 14px;
	padding: 10px 0;
	border: solid 1px #bbb;
	border-left: none
}

.cop .reg-bor-top .login-bor {
	height: 14px;
	line-height: 14px
}

.login-alert {
	width: 70%;
	margin: 24px auto 16px;
	padding: 6px 0
}

.straight-login p {
	text-align: center;
	margin-top: 20px
}

.straight-login span {
	color: #f88600
}

.no-login {
	color: #2272c8;
	display: block;
	text-align: center;
	cursor: pointer
}

.cop-input-tip {
	margin-left: 86px;
	color: #999;
	height: 40px;
	line-height: 25px;
	font-size: 12px
}

.cop-input-tip a {
	color: #2272c8;
	cursor: pointer
}

.cop-tip {
	margin-left: 86px;
	height: 35px;
	padding-top: 5px
}

.cop-tip a {
	color: #2272c8
}

.cop .safe-rank-box {
	margin-bottom: 6px;
	margin-left: 86px
}

.reg-main-two {
	width: 590px!important
}

.reg-main-two .reg-back a {
	color: #666
}

.reg-main-two .btn-reg-two {
	margin: 50px auto 30px
}

.reg-mail-num {
	font-size: 14px;
	color: #666
}

.bottom-banner {
	background: url(../images/bottom-banner.png);
	width: 990px;
	margin: 10px auto;
	height: 124px;
	position: relative
}

.banner-list {
	width: 310px;
	height: 120px;
	float: left;
	position: relative
}

.banner-cont {
	width: 200px;
	height: 100px;
	position: absolute;
	top: 24px;
	left: 130px
}

.banner-cont ul {
	font-size: 14px;
	color: #999;
	width: 210px;
	margin-top: 12px
}

.banner-cont ul em {
	font-weight: bolder;
	padding-right: 4px
}

.banner-cont ul li {
	line-height: 24px
}

.banner-cont .third-list li {
	width: 104px;
	float: left
}

.banner-cont .title-banner-bottom {
	font-size: 18px
}

.title-banner-bottom a {
	color: #2272c8;
	font-size: 12px;
	display: block;
	position: absolute;
	top: 5px;
	right: 24px;
	cursor: pointer
}

.auto-label input {
	float: left;
	margin-top: 2px;
	margin-top: 2px\0;
	*margin-top: -1px;
	*margin-left: -4px;
	_margin-top: -3px
}

.reg-txtbox .reg-switch-tips {
	position: absolute;
	margin-left: 12px;
	color: #666;
	width: 100px;
	height: 48px;
	line-height: 48px
}

.btn-reg-two {
	width: 460px;
	margin: 30px auto
}

.reg-suc .tip-two {
	font-size: 14px;
	color: #666;
	margin-top: 10px;
	text-align: center
}

.yfb-account-pannel {
	display: none;
	position: absolute;
	left: -1px!important;
	width: 458px;
	top: 40px!important;
	background-color: #fff;
	border: 1px solid #bbb;
	z-index: 11;
	cursor: pointer
}

.yfb-account-pannel li {
	line-height: 20px;
	padding: 0 5px
}

.yfb-account-pannel .selected {
	background-color: #ff9a00;
	color: #fff
}

.input-tip .yuyin {
	position: relative
}

.input-tip .yuyin .yuyin-icon {
	width: 16px;
	height: 28px;
	display: block;
	position: absolute;
	bottom: -1px;
	_bottom: 2px;
	left: 85px;
	background: url(../images/yuyin.png)
}

.input-tip .yuyin .yuyin-cont {
	cursor: pointer;
	padding-left: 20px;
	color: #08c;
	font-size: 12px;
	text-decoration: none
}

.hide {
	display: none
}

.noActive span {
	background-position: right -106px;
	color: #999;
	cursor: not-allowed
}

.win-container {
	display: none
}

.win-container .win-main {
	position: relative;
	float: left;
	overflow: hidden;
	padding: 6px
}

.win-container .win-main .win-mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 998;
	width: 9999px;
	height: 9999px;
	background: #000;
	opacity: .3;
	filter: alpha(opacity=30)
}

.win-container .win-main .win-inner {
	position: relative;
	z-index: 999;
	background: #fff
}

.win-container .win-main .title {
	height: 30px;
	border-bottom: 1px solid #CCC;
	background: #EEE
}

.win-container .win-main .title h3 {
	padding-left: 10px;
	height: 30px;
	font-size: 14px;
	line-height: 29px
}

.win-container .win-main .title .close {
	background: url(../images/close.png) no-repeat 0 0;
	position: absolute;
	top: 8px;
	right: 10px;
	display: inline-block;
	overflow: hidden;
	width: 12px;
	height: 12px;
	color: #666;
	text-indent: -999em;
	font: 14px Simsun;
	font-weight: 700;
	cursor: pointer
}

.win-container .win-main .title .close:hover {
	background-position: -15px 0;
	color: #666;
	text-decoration: none
}

.alert2 {
	font-size: 14px;
	display: block;
	margin: 20px auto;
	background: url(../images/alert-bg.png) no-repeat 0 -32px;
	width: 77px;
	padding: 3px 0;
	text-align: center;
	color: #fff;
	font-weight: bold
}

.alert2:hover {
	color: #fff;
	cursor: pointer;
	text-decoration: none
}

.alert-tip {
	position: absolute;
	top: -1px;
	width: 24px;
	height: 24px;
	background: url(../images/alert-bg.png) no-repeat;
	display: block
}

.alert-btn-cont {
	margin-top: 20px;
	position: relative
}

.alert-btn-cont h3 {
	font-size: 14px;
	margin-left: 30px
}

.login-alert {
	color: #fff;
	display: block;
	width: 58%;
	text-align: center;
	padding: 6px 0;
	border: 1px solid #f88600;
	background-color: #ff9c00;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	margin: 20px auto 16px
}

.login-alert:hover {
	text-decoration: none;
	cursor: pointer;
	background-color: #f8b500;
	color: #fff
}

.no-login {
	color: #2272c8;
	display: block;
	text-align: center;
	cursor: pointer
}

.straight-login p {
	text-align: center;
	margin: 20px auto 0;
	width: 74%
}

.straight-login span {
	color: #f88600
}

.reg-switch-tips {
	float: left;
	margin-left: 7px;
	line-height: 36px;
	color: #999
}

.reg-switch-tips a {
	margin-left: 7px
}

.acc-form dl {
	position: relative;
	z-index: 1
}

.reg-switch-wrapper {
	position: relative;
	z-index: 1;
	height: 50px
}

.over-hide {
	overflow: hidden
}

.reg-switch {
	width: 570px;
	top: 0;
	left: -66px
}

.switch-move {
	position: absolute!important
}

.acc-form .auto-email .default-name {
	position: absolute;
	left: 0;
	top: 3px;
	margin-top: 0
}

.relocation {
	text-align: center;
	font-size: 14px;
	color: #999;
	padding-top: 20px
}

.relocation a:hover {
	text-decoration: none;
	cursor: pointer
}